<div class="config__mapping">
  <div nz-row [nzGutter]="[30, 5]">
    <div nz-col [nzMd]='0' [nzLg]='6' class="item__home--left">
      <div class="content__item content__item--border bg__content--default">

        <div>
          <hbt-input-text [(ngModel)]="keySearchCategory"
                          [maxLength]='255'
                          placeholderText="{{'admin.categories.label.categoryType' | translate}}"
                          (ngModelChange)="changeKeySearch($event)"
          >
          </hbt-input-text>
        </div>
        <div style="margin-top: 10px">
          <nz-table #basicTable
                    [nzData]="listConfigMapping"
                    [nzShowPagination]="false"
                    nzBordered
                    [nzPageSize]="10000"
          >
            <thead>
            <tr>
              <th nzWidth="40px" [ngClass]="['text-center']">{{ 'admin.common.stt' | translate }}</th>
              <th>
                {{ 'admin.configurations.configMappings.label.config' | translate }}
                <em class="category__type-btn" nz-icon nzType="plus" nzTheme="outline"
                    nzTooltipTitle="{{'admin.configurations.configMappings.tooltip.add' | translate}}"
                    nzTooltipPlacement="bottom" nz-button nz-tooltip
                    *ngIf="objFunction?.create"
                    (click)="doOpenFormConfigMapping(modeConst.ADD)"
                ></em>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of basicTable.data; let i = index"
                [ngClass]="{'tr__active': this.dataConfigMappingSelect?.configMappingId === data['configMappingId']}"
                (click)="selectConfigMapping(data)">
              <td>{{ i + 1 }}</td>
              <td class="config__title">
                {{ data.name }}
                <em class="category__type-btn" nz-icon nzType="edit" nzTheme="outline"
                    *ngIf="objFunction?.edit && this.dataConfigMappingSelect?.configMappingId === data['configMappingId']"
                    nzTooltipTitle="{{'admin.configurations.configMappings.tooltip.edit' | translate}}"
                    nzTooltipPlacement="bottom" nz-button nz-tooltip (click)="doOpenFormConfigMapping(modeConst.EDIT,data)" ></em>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
    <div nz-col [nzMd]='24' [nzLg]='!isMenu ? 18 : 24'>
      <div class="content__item content__item--border bg__content--default">
        <div class="form-search">
          <form nz-form [formGroup]="form" (keyup.enter)="search()">
            <div nz-row [nzGutter]='[20,15]'>
              <!--   Mã/Tên chức năng   -->
              <div nz-col [nzXs]='12' [nzLg]='12'>
                <hbt-input-text formControlName='keySearch'
                                [maxLength]='255'
                                placeholderText="{{'admin.configurations.mappingValues.label.keySearch' | translate}}"
                                labelText="{{'admin.configurations.mappingValues.label.keySearch' | translate}}"></hbt-input-text>
              </div>
              <div nz-col [nzXs]='12' [nzLg]='12' style="align-content: end;" >
                <hbt-button
                  class="staff__research__btn__search"
                  buttonAvailableStyle="SEARCH"
                  buttonText="{{'common.button.search' | translate}}"
                  (click)="search()"
                ></hbt-button>
                <hbt-button
                  class="staff__research__btn__search"
                  buttonSize="MEDIUM"
                  buttonAvailableStyle="ADD"
                  buttonText="{{'common.button.add' | translate}}"
                  (click)="doOpenForm(Mode.ADD,{dataConfigMappingSelect:this.dataConfigMappingSelect})"
                ></hbt-button>
                <hbt-button buttonSize="MEDIUM" buttonText="{{'common.button.uploadFile' | translate}}"
                            [buttonTextColor]="_variable.$purple_800" (click)="doImportData()"></hbt-button>
              </div>

            </div>
          </form>
        </div>
      </div>

      <div class="search__content--group">
        <hbt-table-wrap [tableConfig]="tableConfig">
          <hbt-table
            (changePageNum)="search($event)"
            [tableConfig]="tableConfig"
            [dataList]="tableData"
          ></hbt-table>
        </hbt-table-wrap>
      </div>

      <ng-template #actionTmpl let-data="data">
        <btn-more-action [model]="[data, {dataConfigMappingSelect}]" [setting]="actionSchema">
        </btn-more-action>
      </ng-template>


      <ng-template #footerTmpl>
        <hbt-button
          buttonAvailableStyle="CANCEL"
          buttonText="{{ 'common.button.cancel' | translate }}"
          (click)="modalRef.destroy()">
        </hbt-button>
        <hbt-button
          buttonAvailableStyle="SAVE"
          buttonText="{{ 'common.button.save' | translate }}"
          (click)="modalRef.getContentComponent().save()">
        </hbt-button>
      </ng-template>


    </div>
  </div>
</div>

<hbt-import-file [showContent]='isImportData'
                 (onCloseModal)='doCloseImport($event)'
                 [importApi]='importApi'
                 [formImport]="formImport"
                 title="{{'admin.configurations.mappingValues.label.import' | translate}}"
                 [downLoadTemplateApi]="downLoadTemplateApi"
                 [fileTemplateName]="fileTemplateName"
                 [doDownloadFileByNameApi]='doDownloadFileByNameApi'
                 (isSubmittedImport)="changeSubmittedImport($event)">
  <div class="formImport" style="margin-bottom: 30px;">
    <form nz-form [formGroup]="formImport">
      <div nz-row [nzGutter]='[20,15]'>
        <!--Từ ngày-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-date-picker
            placeholderText="{{'admin.configurations.mappingValues.table.startDate' | translate}}"
            labelText="{{'admin.configurations.mappingValues.table.startDate' | translate}} <span class='label__required'>*</span>"
            [type]="isSubmittedImport && (formImport?.errors || formImport.controls['startDate']?.errors) ? 'error' : 'default'"
            [showError]="isSubmittedImport && (formImport?.errors || formImport.controls['startDate']?.errors ) != null"
            [errors]="formImport?.errors?.rangeDateError ? formImport?.errors : formImport.controls['startDate']?.errors"
            [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'hrm.staffManager.validate.rangeDate.pareDate' | translate:
        {'startDate': 'admin.configurations.mappingValues.table.startDate' | translate, 'toDate': 'admin.configurations.mappingValues.table.toDate' | translate}}
          ]"
            formControlName="startDate"></hbt-date-picker>
        </div>

        <!--Đến ngày-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-date-picker
            placeholderText="{{'admin.configurations.mappingValues.table.endDate' | translate}}"
            labelText="{{'admin.configurations.mappingValues.table.endDate' | translate}}"
            formControlName="endDate"></hbt-date-picker>
        </div>
      </div>
    </form>
  </div>
</hbt-import-file>
