
<div class="content__item content__item--border bg__content--default">
    <form nz-form [formGroup]="form">
        <div nz-row [nzGutter]='[20,15]'>
            <div nz-col [nzXs]="24" [nzLg]="6">
                <hbt-select [dataSelects]="workCalendarList" keyLabel="name" keyValue="workCalendarId"
                    [showClear]="false"
                    [type]="isSubmitted && form.controls['workCalendarId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['workCalendarId'].errors != null"
                    [errors]="form.controls['workCalendarId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'abs.validate.required' | translate: {'param': 'abs.workCalendar.workCalendarId' | translate }}]"
                    placeholder="--{{'abs.workCalendarPage.workCalendar' | translate}}--"
                    formControlName="workCalendarId" (ngModelChange)="onChangeWorkCalendar()"></hbt-select>
            </div>
            <div nz-col [nzXs]="24" [nzLg]="12" class="pull-left wrap-action-calendar">
                <hbt-button buttonIconType="AWESOME" prefixIcon="far fa-pencil-alt" buttonSize="VERY_LARGE"
                    buttonTextColor="#fff" buttonType="NO_BORDER" [buttonBgColor]="_variable.$purple_800"
                    (click)='doOpenFormEdit(workCalendars)'></hbt-button>
<!--                <hbt-button buttonIconType="AWESOME" prefixIcon="far fa-cogs" buttonSize="VERY_LARGE"-->
<!--                    buttonTextColor="#fff" buttonType="NO_BORDER" [buttonBgColor]="_variable.$purple_800"-->
<!--                    (click)='showModalOrg(footerOrgTmpl)'></hbt-button>-->
              <!-- add -->
              <hbt-button buttonSize='VERY_LARGE' buttonAvailableStyle='ADD'
                          buttonText="{{'abs.workCalendarPage.add' | translate}}" (click)='doOpenForm(modeConst.ADD)'>
              </hbt-button>
              <!-- import -->
              <hbt-button buttonSize='VERY_LARGE' [buttonTextColor]="_variable.$purple_800"
                          buttonText="{{'abs.workCalendarPage.import' | translate}}" (click)="doImportData()"></hbt-button>
            </div>
            <div nz-col [nzXs]="24" [nzLg]="6" class="pull-right">
                <div id="select-year">
                  <hbt-select [dataSelects]="listYear" keyLabel="label" keyValue="value" [showClear]="false"
                              [type]="form.controls['year'].errors ? 'error' : 'default'"
                              [showError]="form.controls['year'].errors != null" [errors]="form.controls['year'].errors"
                              [errorDefs]="[{ errorName: 'required', errorDescription: 'abs.validate.required' | translate: {'param': 'abs.workCalendarDetail.year' | translate }}]"
                              placeholder="--{{'abs.workCalendarPage.year' | translate}}--" formControlName="year"
                              (change)="onChangeYear()"
                  ></hbt-select>
                </div>
            </div>
        </div>
    </form>

    <div nz-row [nzGutter]='[20,15]'>
        <div nz-col [nzXs]="24" [nzLg]="6" *ngFor="let item of listMonth">
            <calendar (triggerSearch)="search()" *ngIf="mapWorkCalendarDetails" [month]="item" [mapWorkCalendarDetails]="mapWorkCalendarDetails" [listWorkdayType]="listWorkdayType">
            </calendar>
        </div>
    </div>
</div>

<ng-template #footerTmpl>
    <hbt-button buttonType="NO_BORDER" buttonSize="LARGE" (click)="modalRef?.destroy()" buttonBgColor="transparent"
        buttonText="{{'common.button.cancel' | translate}}"></hbt-button>
    <hbt-button buttonType="NO_BORDER" buttonSize="LARGE" (click)="modalRef?.getContentComponent().save()"
        buttonAvailableStyle="SAVE" buttonText="{{'common.button.save' | translate}}"></hbt-button>
</ng-template>



<!--</hbt-import-file>-->
<!--    <a class="attach-file" (click)="doDownLoadFile(file); $event.stopPropagation();">{{file.fileName}}</a>-->
<!--  </div>-->
<!--</ng-template>-->


<reject-common-template
  [isReject]="isReject"
  [listRejectId]="listId"
  [rejectId]='rejectId'
  [rejectByListApi]='rejectByListApi'
  (onCloseModal)="doCloseReject($event)">
</reject-common-template>

<!-- Modal don vi ap dung -->
<!--<ng-template #footerOrgTmpl>-->
<!--    <hbt-button buttonType="NO_BORDER" buttonSize="LARGE" (click)="modal?.destroy()" buttonBgColor="transparent"-->
<!--        buttonText="{{'common.button.cancel' | translate}}"></hbt-button>-->
<!--    <hbt-button buttonType="NO_BORDER" buttonSize="LARGE" (click)="modal?.getContentComponent().save()"-->
<!--        buttonAvailableStyle="ADD" buttonText="{{'common.button.save' | translate}}"></hbt-button>-->
<!--</ng-template>-->


<work-calendar-detail-import
  [showContent]='isImportData'
  [workCalendarId]='form.controls["workCalendarId"].value'
  (onCloseModal)='doCloseImport($event)'
>
</work-calendar-detail-import>
