<form nz-form [formGroup]="form" class="ccs-index">
  <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
    <div nz-row class="button__action-left">
      <hbt-button
        class="staff__research__btn__search"
        buttonSize="LARGE"
        style="margin-right: 20px"
        buttonAvailableStyle="ADD"
        buttonText="{{'common.button.add' | translate}}"
        *ngIf="objFunction?.create"
        (click)="doOpenForm(this.modeConst.ADD)"
      ></hbt-button>
      <hbt-button
        buttonSize="MEDIUM"
        buttonType="BORDER"
        (click)="export()">
        <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
      </hbt-button>
    </div>

    <div class="search__page-right">
      <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CRM_STATUS_CERTIFICATE)"
                  [serviceName]="microService.ADMIN"
                  keyLabel="name"
                  keyValue="code"
                  formControlName="statusId"
                  placeholder="{{'crm.customerCertificates.table.status' | translate}}"
      ></hbt-select>
      <hbt-input-text formControlName='keySearch'
                      [maxLength]='255'
                      placeholderText="{{'crm.customerCertificates.label.keySearch' | translate}}"></hbt-input-text>
      <hbt-button
        buttonIconType="AWESOME"
        [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
        buttonSize="VERY_LARGE"
        [buttonTextColor]="_variable.$neutral_100"
        [buttonBorderColor]="_variable.$purple_800"
        [buttonBgColor]="_variable.$purple_800"
        (click)="isShowAdvSearch = !isShowAdvSearch">
      </hbt-button>
    </div>
  </div>
  <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
    <div class="form-search">
      <div nz-row [nzGutter]='[20,15]'>
        <div nz-col [nzXs]="24" [nzLg]="6">
          <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CRM_CHUNG_CHI)"
                      [serviceName]="microService.ADMIN"
                      keyLabel="name"
                      formControlName="certificateId"
                      placeholder="{{'crm.customerCertificates.table.certificateName' | translate}}"
                      labelText="{{'crm.customerCertificates.table.certificateName' | translate}}"
          ></hbt-select>
        </div>
        <div nz-col [nzXs]="24" [nzLg]="6">
          <hbt-input-text formControlName='mobileNumber'
                          [maxLength]='20'
                          placeholderText="{{'crm.customerCertificates.table.phoneNumber' | translate}}"
                          labelText="{{'crm.customerCertificates.table.phoneNumber' | translate}}"></hbt-input-text>
        </div>
        <div nz-col [nzXs]="24" [nzLg]="6">
          <hbt-date-picker
            formControlName="startDate"
            labelText="{{ 'crm.customerCertificates.label.startDate' | translate }}"
            placeholderText="{{ 'crm.customerCertificates.label.startDate' | translate }}"
          ></hbt-date-picker>
        </div>
        <div nz-col [nzXs]="24" [nzLg]="6">
          <hbt-date-picker
            formControlName="endDate"
            labelText="{{ 'crm.customerCertificates.label.endDate' | translate }}"
            placeholderText="{{ 'crm.customerCertificates.label.endDate' | translate }}"
          ></hbt-date-picker>
        </div>
        <div nz-col [nzXs]="24" [nzLg]="24" style="text-align: center">
          <hbt-button
            class="staff__research__btn__search"
            buttonAvailableStyle="SEARCH"
            buttonText="{{'common.button.search' | translate}}"
            (click)="search()"
          ></hbt-button>
        </div>

      </div>
    </div>
  </div>

  <div class='search__content--group' [ngClass]="{'search__content--group-hidden-header': isShowAdvSearch}">
    <hbt-table-wrap>
      <hbt-table
        (changePageNum)="search($event)"
        [(objFilter)]="objFilter"
        (objFilterChange)="search()"
        [tableConfig]="tableConfig" [dataList]="tableData"></hbt-table>
    </hbt-table-wrap>
  </div>

  <ng-template #actionTmpl let-data="data">
    <btn-more-action [model]="[data]" [setting]="actionSchema">
    </btn-more-action>
  </ng-template>

  <ng-template #statusTmpl let-statusCode='statusId'>
    <ng-container *ngFor='let item of statusCodeList'>
      <nz-tag [nzColor]="item.bgColor" [ngStyle]="{'color': item.color, width: '120px', 'text-align': 'center'}"
              *ngIf='statusCode === item.code'>{{ item.name }}
      </nz-tag>
    </ng-container>
  </ng-template>


  <ng-template #footerTmpl>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.saveS' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </ng-template>
</form>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'crm.customerCertificates.label.approve' | translate"
          (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formModal">
      <div nz-row [nzGutter]='[20,15]'>
        <div nz-col [nzXs]="24" [nzLg]="24">
          <hbt-select
            [dataSelects]="listStatus"
            formControlName="statusId"
            labelText="{{'crm.customerCertificates.label.approve' | translate}} <span class='label__required'>*</span>"
            placeholder="{{'crm.customerCertificates.label.approve' | translate}}"
            [type]="isSubmitted && formModal.controls['statusId'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && formModal.controls['statusId'].errors !== null"
            [errors]="formModal.controls['statusId'].errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.customerCertificates.label.approve' | translate }}]">
          </hbt-select>
        </div>
        <div nz-col [nzXs]="24" [nzLg]="24">
          <hbt-input-text formControlName="note" maxLength="1000" isTextAre
                          [defaultInput]="true"
                          placeholderText="{{'crm.customerCertificates.table.note' | translate}}"
                          labelText="{{'crm.customerCertificates.table.note' | translate}}"
          ></hbt-input-text>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-template [nzModalFooter]>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="handleCancel()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.confirm' | translate }}"
      (click)="handleOk()">
    </hbt-button>
  </ng-template>
</nz-modal>
