<div class='save-form-crm'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <!--Họ và tên-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="fullName" maxLength="255"
          [type]="isSubmitted && form.controls['fullName'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['fullName'].errors != null"
          [errors]="form.controls['fullName'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'crm.pytagoResearchs.table.fullName' | translate}}"
          labelText="{{'crm.pytagoResearchs.table.fullName' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Ngày sinh-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'crm.pytagoResearchs.table.dateOfBirth' | translate}}"
          labelText="{{'crm.pytagoResearchs.table.dateOfBirth' | translate}}"
          formControlName="dateOfBirth"></hbt-date-picker>
      </div>

      <!--Họ tên cha/mẹ-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="parentName" maxLength="255"
          [type]="isSubmitted && form.controls['parentName'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['parentName'].errors != null"
          [errors]="form.controls['parentName'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'crm.pytagoResearchs.table.parentName' | translate}}"
          labelText="{{'crm.pytagoResearchs.table.parentName' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Số điện thoại-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="mobileNumber" maxLength="20"
          [type]="isSubmitted && form.controls['mobileNumber'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['mobileNumber'].errors != null"
          [errors]="form.controls['mobileNumber'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
          placeholderText="{{'crm.pytagoResearchs.table.mobileNumber' | translate}}"
          labelText="{{'crm.pytagoResearchs.table.mobileNumber' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Địa chỉ email-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="email" maxLength="255"
          [type]="isSubmitted && form.controls['email'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['email'].errors != null"
          [errors]="form.controls['email'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'crm.pytagoResearchs.table.email' | translate}}"
          labelText="{{'crm.pytagoResearchs.table.email' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Địa chỉ-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="currentAddress" maxLength="255"
          [type]="isSubmitted && form.controls['currentAddress'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['currentAddress'].errors != null"
          [errors]="form.controls['currentAddress'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'crm.pytagoResearchs.table.currentAddress' | translate}}"
          labelText="{{'crm.pytagoResearchs.table.currentAddress' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Loại-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="type" maxLength="9"
          [type]="isSubmitted && form.controls['type'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['type'].errors != null"
          [errors]="form.controls['type'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 9}}]"
          placeholderText="{{'crm.pytagoResearchs.table.type' | translate}}"
          labelText="{{'crm.pytagoResearchs.table.type' | translate}}"
        ></hbt-input-text>
      </div>

      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <hbt-upload
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpeg', 'jpg', 'png', 'pdf', 'doc', 'docx']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          [required]="true"
          (fileListChange)="onFileListChange($event, 'fileList', true)"
          (docIdsDeleteChange)="removeFile($event, 'fileList')"
          [serviceName]='serviceName'
          [showError]="isSubmitted"
        ></hbt-upload>
      </div>

    </div>
  </form>
</div>

