<div class='mts-form'>
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]='[20,15]'>
      <div nz-col [nzXs]="12" [nzLg]="12">
        <employee-data-picker [isExpand]="true"
                              [scope]="scope"
                              labelText="{{'med.mentoringTrainees.label.employee' | translate}} <span class='label__required'>*</span>"
                              placeholder="{{'med.mentoringTrainees.label.employee' | translate}}"
                              formControlName="employeeId"
                              [type]="isSubmitted && form.controls['employeeId']?.errors ? 'error' : 'default'"
                              [showError]="isSubmitted && form.controls['employeeId']?.errors != null"
                              [errors]="form.controls['employeeId']?.errors"
                              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'med.mentoringTrainees.label.employee' | translate }}]"
                              [functionCode]="functionCodeEmployee"></employee-data-picker>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="documentNo" [maxLength]="50"
                        placeholderText="{{'med.mentoringTrainees.table.documentNo' | translate}}"
                        labelText="{{'med.mentoringTrainees.table.documentNo' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Từ ngày-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'med.mentoringTrainees.table.startDate' | translate}}"
          labelText="{{'med.mentoringTrainees.table.startDate' | translate}} <span class='label__required'>*</span>"
          [type]="isSubmitted && form.controls['startDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['startDate'].errors !== null"
          [errors]="form.controls['startDate'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'med.mentoringTrainees.table.startDate' | translate }}]"
          formControlName="startDate"></hbt-date-picker>
      </div>

      <!--Đến ngày-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'med.mentoringTrainees.table.endDate' | translate}}"
          labelText="{{'med.mentoringTrainees.table.endDate' | translate}} <span class='label__required'>*</span>"
          [type]="((isSubmitted && form.controls['endDate'].errors) || form.errors?.rangeDateError) ? 'error' : 'default'"
          [showError]="((isSubmitted && form.controls['endDate'].errors) || form.errors?.rangeDateError) !== null"
          [errors]="form.errors?.rangeDateError ? form.errors : form.controls['endDate']?.errors"
          [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'med.validate.rangeDate.pareDate' | translate:
        {'startDate': 'med.mentoringTrainees.table.startDate' | translate, 'endDate': 'med.mentoringTrainees.table.endDate' | translate}},
        { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'med.mentoringTrainees.table.endDate' | translate }}]"
          formControlName="endDate"></hbt-date-picker>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CDT_CHUONG_TRINH_DAO_TAO)"
                    [serviceName]="microService.ADMIN"
                    keyLabel="name"
                    formControlName="projectId"
                    [type]="isSubmitted && form.controls['projectId']?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['projectId']?.errors != null"
                    [errors]="form.controls['projectId']?.errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'med.mentoringTrainees.table.projectName' | translate }}]"
                    placeholder="{{'med.mentoringTrainees.table.projectName' | translate}}"
                    labelText="{{'med.mentoringTrainees.table.projectName' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CDT_DIA_DIEM_DAO_TAO)"
                    [serviceName]="microService.ADMIN"
                    formControlName="hospitalId"
                    keyLabel="name"
                    [type]="isSubmitted && form.controls['hospitalId']?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['hospitalId']?.errors != null"
                    [errors]="form.controls['hospitalId']?.errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'med.mentoringTrainees.table.hospitalName' | translate }}]"
                    placeholder="{{'med.mentoringTrainees.table.hospitalName' | translate}}"
                    labelText="{{'med.mentoringTrainees.table.hospitalName' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalLessons" [maxLength]="5"
                        appNumberInput
                        placeholderText="{{'med.mentoringTrainees.table.totalLessons' | translate}}"
                        labelText="{{'med.mentoringTrainees.table.totalLessons' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Nội dung đào tạo-->
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-input-text formControlName="content" [maxLength]="255"
                        isTextAre
                        [type]="isSubmitted && form.controls['content']?.errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['content']?.errors != null"
                        [errors]="form.controls['content']?.errors"
                        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'med.mentoringTrainees.table.content' | translate }}]"
                        placeholderText="{{'med.mentoringTrainees.table.content' | translate}}"
                        labelText="{{'med.mentoringTrainees.table.content' | translate}}  <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <ng-container formArrayName="listAttributes">
        <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
          <div nz-col [nzXs]="12" [nzLg]="attributes.get('attributeCode')?.value == 'NOTE' ? 24 : 12">
            <input-attribute-common
              [controlName]="getAttributeControl(idx, 'attributeValue')"
              [dataType]="attributes.get('attributeCode')?.value == 'NOTE' ? 'TEXT' : attributes.get('dataType')?.value"
              [urlLoadData]="attributes.get('urlLoadData')?.value"
              [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
              [errors]="attributes.get('attributeValue')?.errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
              [placeholderText]="attributes.get('attributeName')?.value"
              [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
            >
            </input-attribute-common>
          </div>
        </ng-container>
      </ng-container>

      <div nz-col [nzXs]='24' [nzLg]='24'>
        <hbt-upload
          [maxSize]="20"
          [fileList]="f['files'].value"
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpeg', 'jpg', 'png', 'pdf', 'doc', 'docx', 'jpeg']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          (fileListChange)="onFileListChange($event, 'files', true)"
          (docIdsDeleteChange)="removeFile($event, 'files')"
          [serviceName]='serviceName'
          [disable]="mode === modeConst.VIEW"
        ></hbt-upload>
      </div>

    </div>
  </form>
</div>

