@import "../../../../../core/global-style/variable";

.book__detail {

  width: 60%;
  margin: auto;
  background-color: $bg-form-default;
  padding: 20px;
  border-radius: 10px;

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  .title {
    color: $error-600;
    font-weight: bold;
    font-size: 18px;
  }

  .font-text {
    font-weight: bold;
    font-size: 16px;
  }

  .text-special {
    color: $info-600;
  }


  .list-book {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    background-color: $black-100;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  .available {
    color: $primary-400;
    font-style: italic;
    margin-left: 10px;
  }

  .borrowing {
    color: $error-400;
    font-style: italic;
  }

  .detail {
    text-decoration: underline;
    cursor: pointer;
  }
}
