@import "src/app/core/global-style/variable";

.logo {
  padding: 16px;

  img {
    max-height: 45px;
  }

  em {
    color: $icon-sidebar;
    font-size: 25px;
    cursor: pointer;
  }
}

.menu__input--search {
  padding: 8px 16px;

  ::ng-deep .input__group.search__collapsed--t {
    text-align: center;
  }

  ::ng-deep .input__group--group {
    padding: 8px 10px;
    background: $bg-input-gr;
    color: $input-gr-color;
    border-radius: 8px;
    border-color: $bd-input-gr;
    outline: none;
    box-shadow: none;
    min-height: 40px;

    &:hover, &:focus {
      border-color: $bd-input-gr-hover;
    }

    ::ng-deep .input__text {
      background: transparent;
      font-size: 14px;
      color: $input-gr-color;

      @include placeholder {
        color: $input-gr-placeholder-color;
      }
    }

    .icon__close {
      cursor: pointer;
    }

  }

}

.table-file-setting {
  width: 100%;
  max-width: 100%;

  .text-name {
    color: $info-700;
  }

  .action-edit-shared {
    font-size: 18px;
    cursor: pointer;
  }
}

.table-file-setting-edit {
  .label-text {
    font-size: 16px;
    font-weight: 700;
  }
}

nz-layout {
  height: 100vh;
}

nz-sider {
  background: $bg-sidebar;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* max-width: 100%!important;
   min-width: 300px;
   width: auto!important;*/

  &::-webkit-scrollbar {
    display: none;
  }
}

nz-sider.sidebar__primary--no-mobile {
  position: absolute;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

nz-sider.sidebar__primary.sidebar__primary--mobile {
  position: absolute;
  z-index: 10000;
  height: 100%;
  overflow-y: scroll;
}

nz-sider.sidebar__primary.sidebar__primary--no-active.sidebar__primary--mobile {
  visibility: hidden;
  z-index: -1;
}

nz-breadcrumb {
  height: 56px;
  line-height: 56px;
  background: $bg-breadcrumb-header;
  box-shadow: inset 0px 15px 20px -15px $breadcrumb-box-shadow;
  padding: 0 25px;

  .breadcrumb__items {
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .icon-setting {
    font-size: 23px;
    cursor: pointer;
    color: $page-header-btn-back-color;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  nz-breadcrumb-item a {
    color: $breadcrumb-color;
  }

  nz-breadcrumb-item:last-child a {
    color: $breadcrumb-active-color;
  }

  .icon__home {
    margin-right: 10px;
    font-size: 20px;
  }
}

nz-page-header {
  height: 60px;
  line-height: 60px;
  padding: 0 25px;

  ::ng-deep .ant-page-header-heading {
    height: 100%;

    ::ng-deep .ant-page-header-heading-title {
      color: $page-header-title-color;
      font-size: 20px;
    }
  }
}

.inner-content {
  margin: 0 24px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.inner-content--no-page {
  height: calc(100vh - 74px);
}

.inner-content--page {
  margin: 0 24px;
  height: calc(100vh - 192px);
}

.inner-content--no-page-name {
  margin: 0 24px;
  height: calc(100vh - 132px);
}

.img__false {
  margin-right: 15px;
}

::ng-deep .ant-menu-sub {
  .img__true {
    margin-right: 15px;
  }
}

.ant-menu-inline-collapsed {
  width: 88px;
}

::ng-deep .ant-menu-inline .ant-menu-submenu {
  margin-bottom: 4px;
  border-radius: 8px;
  //padding-bottom: 10px;
}

::ng-deep .ant-layout-sider-collapsed .ant-menu-dark .level__1.ant-menu-submenu-open {
  background: $bg-sidebar-menu-active;
  border-radius: 8px;
}

::ng-deep .ant-menu-dark .level__2.ant-menu-submenu-open {
  border-radius: 8px;
}

::ng-deep .ant-menu-submenu-arrow, ::ng-deep .ant-menu-submenu-expand-icon {
  right: 8px;
}

::ng-deep .ant-menu-inline .ant-menu-submenu-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 8px !important;
  height: auto !important;
  min-height: 48px !important;
  padding-right: 20px;
}

::ng-deep .ant-menu-inline .ant-menu-submenu-open.level__1 > .ant-menu-submenu-title {
  background: $bg-sidebar-menu-active;
  border-radius: 8px;
}

::ng-deep .menu-primary .ant-menu-submenu-open > .ant-menu-submenu-title {

  > span, > i {
    color: $sidebar-submenu-title-color !important;
  }
}

::ng-deep .menu-primary .ant-menu-submenu-open > .ant-menu-submenu-title .icon__open--menu::before {
  content: "\f068";
}

::ng-deep .menu-primary .ant-menu-submenu-title .icon__open--menu::before {
  content: "\f067";
}

.flex-footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.5rem;
}

.menu-item-flex {
  height: 42px !important;
  line-height: 42px;
  margin-bottom: 5px !important;
  margin-top: 0;
  transition: 0.5s;

  a {
    max-width: calc(100% - 45px);
    line-height: 1.2;

    span {
      white-space: pre-wrap;
      display: inline-flex;
      line-height: 1.2;
    }
  }

  .bg__active_top {
    height: 20px;
    width: 20px;
    position: absolute;
    overflow: hidden;
    z-index: 100;
    right: -16px;
    top: -20px;

    &::before {
      content: "";
      display: block;
      width: 180%;
      height: 180%;
      position: absolute;
      border-radius: 50%;
      bottom: 0px;
      right: 0px;
      box-shadow: 5px 8px 0 0 $bg-sidebar-menu-active;
    }
  }

  .bg__active_bot {
    height: 20px;
    width: 20px;
    position: absolute;
    overflow: hidden;
    z-index: 100;
    right: -16px;
    bottom: -20px;

    &::before {
      content: "";
      display: block;
      width: 180%;
      height: 180%;
      position: absolute;
      border-radius: 50%;
      top: 0;
      right: 0;
      box-shadow: 5px -16px 0 0 $bg-sidebar-menu-active;
    }
  }
}

.menu-item-flex:last-child {
  margin-bottom: 0 !important;
}

::ng-deep .ant-menu-dark.ant-menu-submenu-popup {
  display: none;
}

::ng-deep .ant-menu-submenu {

  ::ng-deep .ant-menu-sub {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.ant-layout-sider-collapsed {

  .menu-item a {
    opacity: 0;
    display: none;
  }

  .menu-item-flex {
    display: block;
    text-align: center;

    span {
      white-space: nowrap;
    }
  }

  ::ng-deep .ant-menu-submenu-title {
    text-align: center;
    padding: 0 !important;
  }

}

::ng-deep .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, ::ng-deep .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: $bg-sidebar-menu-active !important;
  border-radius: 8px;
  overflow: visible;

  span {
    color: $bg-sidebar-text-active !important;
  }

  .bg__active_top {
    right: 0;
    transition: 0.5s;
  }

  .bg__active_bot {
    right: 0;
    transition: 0.5s;
  }
}

::ng-deep .ant-menu.ant-menu-dark .level__2 .ant-menu-item-selected {
  background: none !important;
}

::ng-deep .ant-menu.ant-menu-dark .level__2.ant-menu-item-selected {
  background: none !important;
}

::ng-deep .ant-menu.ant-menu-dark, ::ng-deep .ant-menu-dark .ant-menu-sub {
  background: $bg-sidebar !important;
  padding-left: 16px;
  padding-right: 16px;

  .ant-menu-submenu-arrow {
    opacity: 1 !important;
    display: none;
  }

  .ant-menu-submenu-title span {
    line-height: 1.2;
    //display: revert;
    white-space: pre-wrap;
    max-width: 100%;
  }

}

::ng-deep .level__2.ant-menu-submenu-open > .ant-menu ul::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background: $neutral-700;
  top: 0;
  left: 16px;
}

::ng-deep .level__2.ant-menu-submenu-open > .ant-menu ul {
  position: relative;
}

::ng-deep .ant-menu.ant-menu-dark .level__1 > .ant-menu-submenu-title {

  .ant-menu-submenu-arrow {
    display: inline-block;
  }

}

::ng-deep .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-submenu-arrow {
  opacity: 0 !important;
}

::ng-deep .text__search--highlight {
  color: $sidebar-text-search-highlight !important;
}

::ng-deep .ant-menu.ant-menu-dark .ant-menu-item-selected span .text__search--highlight {
  color: $sidebar-text-search-highlight !important;
}

@media screen and (max-width: 992px) {
  .logo {
    text-align: center;
  }
}

::ng-deep .pageNameClass {
  display: flex;

  .backBtnClass .btn-back span {
    color: $page-header-btn-back-color;
  }
}

.backBtnClass {
  cursor: pointer;
  margin-right: 5px;
}

.btnLogoWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnPinClass {
  cursor: pointer;
  margin-bottom: 9px;
  margin-right: 8px;
}

.btnPinClass > span {
  font-size: 16px;
  color: $sidebar-btn-pin-color;
}

.icon-close {
  margin-top: 100%;
  color: black;
  background: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .custom-modal {
  .ant-modal-content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
}

::ng-deep .btn__across-page {
  position: absolute;
  top: 135px;
  right: 27px;
}

::ng-deep .title__across-page {
  position: absolute;
  top: 135px;
  //left: 115px;
  font-family: 'avertaB', sans-serif;
  font-size: 20px;
}

::ng-deep .btn__across-no-page {
  position: absolute;
  top: 75px;
  right: 60px;
}

::ng-deep .title__across-no-page {
  position: absolute;
  top: 75px;
  //left: 115px;
  font-family: 'avertaB', sans-serif;
  font-size: 20px;
}

::ng-deep .btn__row-search {
  padding-top: 15px;
}

::ng-deep .search__content--group hbt-table-wrap > nz-card {
  background: none !important;
}

::ng-deep .btn__wrap-action hbt-button:first-child span {
  margin-left: 0;
}

::ng-deep .search__custom-common {
  display: flex;
  justify-content: space-between;
  background-color: $primary-100;
  position: sticky;
  padding: 8px;
  border-radius: 8px;
  top: 0;
  z-index: 100;

  .button__action-left .ant-btn {
    margin-left: 0 !important;
  }

  .button__action-left {
    display: flex;
    align-items: center;
    min-width: 250px;
    max-width: 400px;
  }

  .search__page-right {
    max-width: 800px;
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;

    hbt-select {
      width: 50%;
      margin-right: 20px;
    }

    hbt-select-check-able {
      width: 50%;
      margin-right: 20px;
    }

    hbt-input-text {
      width: 50%;
    }
  }
}

::ng-deep .add__mr__bt-10 {
  margin-bottom: 10px;
}

::ng-deep .remove__mr__bt-40 {
  margin-bottom: -40px;
}