<form nz-form [formGroup]="form" class="mts-index">
  <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
    <div nz-row class="button__action-left">
      <hbt-button
        style="margin-right: 20px"
        class="staff__research__btn__search"
        buttonSize="LARGE" buttonText="{{'common.button.uploadFile' | translate}}"
        [buttonTextColor]="_variable.$purple_800" (click)="doImportData()"></hbt-button>

      <hbt-button
        class="staff__research__btn__search"
        buttonSize="LARGE"
        [buttonTextColor]="_variable.$neutral_100"
        [buttonBorderColor]="_variable.$purple_800"
        [buttonBgColor]="_variable.$purple_800"
        buttonText="{{'pit.taxDeclareMasters.titleDeclare' | translate}}"
        (click)="openModal()"
        *ngIf="visibleActionsCount < 2"
      ></hbt-button>

      <hbt-button
        style="margin-left: 20px"
        buttonSize="VERY_LARGE"
        buttonType="BORDER"
        (click)="export()"
        *ngIf="visibleActionsCount < 2">
        <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
      </hbt-button>
    </div>

    <div class="search__page-right">
      <hbt-button
        buttonIconType="AWESOME"
        [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
        buttonSize="VERY_LARGE"
        [buttonTextColor]="_variable.$neutral_100"
        [buttonBorderColor]="_variable.$purple_800"
        [buttonBgColor]="_variable.$purple_800"
        (click)="isShowAdvSearch = !isShowAdvSearch"
      >
      </hbt-button>
    </div>
  </div>


  <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
    <div class="form-search">
      <div nz-row [nzGutter]='[20,15]'>
        <!--Từ kỳ-->
        <div nz-col [nzXs]='12' [nzLg]='8'>
          <hbt-date-picker
            mode="month"
            formControlName="fromPeriodDate"
            [type]="isSubmitted && (form.errors || form.controls['fromPeriodDate'].errors) ? 'error' : 'default'"
            [showError]="isSubmitted && (form.errors || form.controls['fromPeriodDate'].errors ) != null"
            [errors]="form.errors?.rangeDateError ? form.errors : form.controls['fromPeriodDate'].errors"
            [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'pit.validate.rangeDate.pareDate' | translate:
        {'fromDate': 'pit.taxCommitments.table.startDate' | translate, 'toDate': 'pit.taxCommitments.table.endDate' | translate}},
             { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'pit.taxCommitments.table.endDate' | translate }}
          ]"

            labelText="{{ 'pit.taxCommitments.table.startDate' | translate }}"
            placeholderText="{{ 'pit.taxCommitments.table.startDate' | translate }}"
          ></hbt-date-picker>
        </div>

        <!--Đến kỳ-->
        <div nz-col [nzXs]='12' [nzLg]='8'>
          <hbt-date-picker
            mode="month"
            formControlName="toPeriodDate"
            labelText="{{ 'pit.taxCommitments.table.endDate' | translate }}"
            placeholderText="{{ 'pit.taxCommitments.table.endDate' | translate }}"
          ></hbt-date-picker>
        </div>

        <!--Trạng thái-->
        <div nz-col [nzXs]="12" [nzLg]="8">
          <hbt-select-check-able
            [dataSelects]="statusCodeList"
            keyValue="code"
            keyLabel="name"
            labelText="{{'pit.items.table.status' | translate}}"
            placeholder="{{'pit.items.table.status' | translate}}"
            formControlName="listStatus">
          </hbt-select-check-able>
        </div>

        <div nz-col [nzXs]="24" [nzLg]="24" style="text-align: center">
          <hbt-button
            class="staff__research__btn__search"
            buttonSize="LARGE"
            buttonAvailableStyle="SEARCH"
            buttonText="{{'common.button.search' | translate}}"
            (click)="search()"
          ></hbt-button>
        </div>
      </div>
    </div>
  </div>

  <div class='search__content--group'>
    <hbt-table-wrap>
      <hbt-table
        (changePageNum)="search($event)"
        [tableConfig]="tableConfig" [dataList]="tableData"></hbt-table>
    </hbt-table-wrap>
  </div>

  <ng-template #actionTmpl let-data="data">
    <btn-more-action-child [model]="[data]" [setting]="actionSchema">
    </btn-more-action-child>
  </ng-template>

  <ng-template #actionTmpl let-data="data">
    <nz-dropdown-menu nz-sider-trigger="click">
      <button nz-button nz-dropdown>
        {{ 'common.button.actions' | translate }} <i nz-icon nzType="down"></i>
      </button>
      <ul nz-menu>
        <ng-container *ngFor="let action of actionSchema.arrAction">
          <!-- Nếu có children thì render submenu -->
          <li *ngIf="action.isShow && action.isShowFn(data)" nz-submenu>
          <span title>
            <i nz-icon [nzType]="action.icon"></i> {{ action.label | translate }}
          </span>
            <ul>
              <li
                *ngFor="let child of action.children"
                nz-menu-item
                (click)="child.function(data)"
                [nzDisabled]="child.disabled(data)"
              >
                <i nz-icon [nzType]="child.icon"></i> {{ child.label | translate }}
              </li>
            </ul>
          </li>

          <!-- Nếu không có children thì render bình thường -->
          <li
            *ngIf="(!action.children || !action.children.length) && action.isShow && action.isShowFn(data)"
            nz-menu-item
            (click)="action.function(data)"
            [nzDisabled]="action.disabled(data)"
          >
            <i nz-icon [nzType]="action.icon"></i> {{ action.label | translate }}
          </li>
        </ng-container>
      </ul>
    </nz-dropdown-menu>
  </ng-template>

  <ng-template #attachFileTmpl let-attachFileList='attachFileList'>
    <div *ngFor="let file of attachFileList">
      <a class="attach-file" (click)="doDownLoadFile(file); $event.stopPropagation();">{{ file.fileName }}</a>
    </div>
  </ng-template>

  <ng-template #footerTmpl>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.save' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </ng-template>

</form>

<hbt-import-file *ngIf="isImportData" [showContent]='isImportData'
                 (onCloseModal)='doCloseImport($event)'
                 [importApi]='importApi'
                 [formImport]="formImport"
                 [nzWidth]="'50%'"
                 [downLoadTemplateApi]="downLoadTemplateApi"
                 title="{{'hrm.salaryManager.salaryReviews.label.importResult' | translate}}"
                 [fileTemplateName]="fileTemplateName"
                 [doDownloadFileByNameApi]='doDownloadFileByNameApi'
                 (isSubmittedImport)="changeSubmittedImport($event)"
>
  <div class="formImport" style="margin-bottom: 30px;">
    <form nz-form [formGroup]="formImport">
      <div nz-row [nzGutter]='[24,24]'>
        <!--Kỳ lương-->
        <div nz-col [nzXs]='24' [nzLg]='24'>
          <hbt-date-picker
            mode="month"
            formControlName="taxPeriodDate"
            [type]="isSubmittedImport && formImport.controls['taxPeriodDate']?.errors ? 'error' : 'default'"
            [showError]="isSubmittedImport && formImport.controls['taxPeriodDate']?.errors != null"
            [errors]="formImport.controls['taxPeriodDate']?.errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'pit.taxDeclareMasters.table.import.taxPeriodDate' | translate }}]"
            (ngModelChange)="onChangeTaxPeriodDate($event)"
            labelText="{{ 'pit.taxDeclareMasters.table.import.taxPeriodDate' | translate }} <span class='label__required'> *</span>"
            placeholderText="{{ 'pit.taxDeclareMasters.table.import.taxPeriodDate' | translate }}"
          ></hbt-date-picker>
        </div>
      </div>
    </form>
  </div>
</hbt-import-file>

<ng-template #statusTmpl let-statusCode='status'>
  <ng-container *ngFor='let item of statusCodeList'>
    <nz-tag [nzColor]="item.bgColor" [ngStyle]="{'color': item.color, width: '130px', 'text-align': 'center'}" *ngIf='statusCode === item.code'>{{item.name}}</nz-tag>
  </ng-container>
</ng-template>