<div class="app-card p-4">
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]="[20, 15]">

      <div nz-col [nzXs]="24" [nzMd]="12">
        <hbt-date-picker
          formControlName="logDate"
          [type]="isSubmitted && form.controls['logDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['logDate'].errors !== null"
          [errors]="form.controls['logDate'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'Vui lòng chọn ngày' }]"
          placeholderText="Chọn ngày"
          labelText="Ngày <span class='label__required'>*</span>">
        </hbt-date-picker>
      </div>
      <!--      <span class='label__required'>*</span>-->

      <div nz-col [nzXs]="24" [nzMd]="12">
        <hbt-select
          formControlName="projectCode"
          [urlLoadData]="getUrlCategory(categoryCode.HRM_LOG_TASK)"
          (dataLoaded)="onProjectLoaded($event)"
          labelText="Dự án đang thực hiện <span class='label__required'>*</span>"
          keyLabel="name"
          keyValue="value"
          [type]="isSubmitted && form.controls['projectCode'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['projectCode'].errors !== null"
          [errors]="form.controls['projectCode'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'Vui lòng chọn dự án' }]">
        </hbt-select>
      </div>

      <div nz-col [nzXs]="24" [nzMd]="12">
        <hbt-input-text
          formControlName="totalHouse"
          [maxNumber]="24"
          labelText="Tổng giờ <span class='label__required'>*</span>">
        </hbt-input-text>
        <div *ngIf="form.get('totalHouse')?.invalid && form.get('totalHouse')?.touched" class="error">
          Vui lòng nhập số hợp lệ
        </div>
      </div>

      <div nz-col [nzXs]="24" [nzMd]="12">
        <hbt-input-text
          formControlName="name"
          [maxLength]="500"
          labelText="Tên công việc <span class='label__required'>*</span>"
          [type]="isSubmitted && form.controls['name'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['name'].errors !== null"
          [errors]="form.controls['name'].errors">
        </hbt-input-text>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="12">
        <hbt-input-text
          formControlName="description"
          [maxLength]="500"
          labelText="Mô tả"
          [type]="isSubmitted && form.controls['name'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['name'].errors !== null"
          [errors]="form.controls['name'].errors">
        </hbt-input-text>
      </div>
      <div nz-col [nzSpan]="24" class="mt-4 text-center">
        <button nz-button nzType="default" class="mr-2" (click)="onCancel()">Huỷ</button>
        <button nz-button nzType="primary" (click)="onConfirm()">Xác nhận</button>
      </div>
    </div>
  </form>
</div>