<div class='save-form-crm'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>

      <!--Phân loại-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CRM_PHAN_LOAI)" keyLabel="name" keyValue="value"
                    formControlName="type"
                    [type]="isSubmitted && form.controls['type']?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['type']?.errors != null"
                    [errors]="form.controls['type']?.errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.customerCareRecords.table.typeName' | translate }}]"
                    placeholder="{{'crm.customerCareRecords.table.typeName' | translate}}"
                    labelText="{{'crm.customerCareRecords.table.typeName' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!--Khách hàng-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="customersInfo?.length ? customersInfo : []" keyLabel="fullName" keyValue="customerId"
          formControlName="customerId"
           (select)="onCustomerSelect($event)"
          [type]="isSubmitted && form.controls['customerId']?.errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['customerId']?.errors != null"
          [errors]="form.controls['customerId']?.errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.customerCareRecords.table.customerName' | translate }}]"
          placeholder="{{'crm.customerCareRecords.table.customerName' | translate}}"
          labelText="{{'crm.customerCareRecords.table.customerName' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!--số điện thoại-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="mobileNumber"  appNumberInput [maxLength]="10"
          [type]="isSubmitted && form.controls['mobileNumber']?.errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['mobileNumber']?.errors != null"
          [errors]="form.controls['mobileNumber']?.errors"
          [errorDefs]="[
            { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.customerCareRecords.table.mobileNumber' | translate }},
            { errorName: 'phoneMobile', errorDescription: 'crm.validate.mobileNumber' | translate}
           ]"
          placeholderText="{{'crm.customerCareRecords.table.mobileNumber' | translate}}"
          labelText="{{'crm.customerCareRecords.table.mobileNumber' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <!--ngày sinh-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'crm.customerCareRecords.table.dateOfBirth' | translate}}"
          labelText="{{'crm.customerCareRecords.table.dateOfBirth' | translate}}"
          formControlName="dateOfBirth"></hbt-date-picker>
      </div>

      <!--Ngày yêu cầu-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'crm.customerCareRecords.table.requestDate' | translate}}"
          labelText="{{'crm.customerCareRecords.table.requestDate' | translate}}"
          formControlName="requestDate"></hbt-date-picker>
      </div>

      <!--id người yêu cầu-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="employeesInfo?.length ? employeesInfo : []" keyLabel="fullName" keyValue="employeeId"
          formControlName="requestedEmpId"
          [type]="isSubmitted && form.controls['requestedEmpId']?.errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['requestedEmpId']?.errors != null"
          [errors]="form.controls['requestedEmpId']?.errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.employeeName' | translate }}]"
          placeholder="{{'crm.customerCareRecords.table.requestedEmpId' | translate}}"
          labelText="{{'crm.customerCareRecords.table.requestedEmpId' | translate}} <span class='label__required'>*</span>"
        >
        </hbt-select>
      </div>

      <!--id nhân viên chăm sóc-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="employeesInfo?.length ? employeesInfo : []" keyLabel="fullName" keyValue="employeeId"
          formControlName="caringEmpId"
          [type]="isSubmitted && form.controls['caringEmpId']?.errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['caringEmpId']?.errors != null"
          [errors]="form.controls['caringEmpId']?.errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.employeeName' | translate }}]"
          placeholder="{{'crm.customerCareRecords.table.caringEmpId' | translate}}"
          labelText="{{'crm.customerCareRecords.table.caringEmpId' | translate}} <span class='label__required'>*</span>"
        >
        </hbt-select>
      </div>
    </div>

    <label class="input__label">
      {{ 'crm.customerCareRecords.label.resultCare' | translate }}
    </label>

    <div nz-row [nzGutter]='[20,15]'>

      <!--Ngày liên hệ-->
      <div nz-col [nzXs]="12" [nzLg]="12" style="display: block">
        <hbt-date-picker
          placeholderText="{{'crm.customerCareRecords.table.contactDate' | translate}}"
          labelText="{{'crm.customerCareRecords.table.contactDate' | translate}}"
          formControlName="contactDate"></hbt-date-picker>
      </div>
    </div>

    <div nz-row [nzGutter]='[20,15]'>

      <!--Trạng thái chăm sóc-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CRM_TRANG_THAI_CHAM_SOC)" keyLabel="name"
                    formControlName="caringStatusId"
                    [type]="isSubmitted && form.controls['caringStatusId']?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['caringStatusId']?.errors != null"
                    [errors]="form.controls['caringStatusId']?.errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.customerCareRecords.table.caringStatusId' | translate }}]"
                    placeholder="{{'crm.customerCareRecords.table.caringStatusId' | translate}}"
                    labelText="{{'crm.customerCareRecords.table.caringStatusId' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>
      <!--Tình trạng-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CRM_TINH_TRANG)" keyLabel="name"
                    formControlName="statusId"
                    [type]="isSubmitted && form.controls['statusId']?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['statusId']?.errors != null"
                    [errors]="form.controls['statusId']?.errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.customerCareRecords.table.statusId' | translate }}]"
                    placeholder="{{'crm.customerCareRecords.table.statusId' | translate}}"
                    labelText="{{'crm.customerCareRecords.table.statusId' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!-- Ghi chú -->
      <div nz-col [nzXs]="12" [nzLg]="24">
        <hbt-input-text formControlName="note" maxLength="255"
                        [type]="isSubmitted && form.controls['note'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['note'].errors != null"
                        [errors]="form.controls['note'].errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                        placeholderText="{{'crm.customerCareRecords.table.note' | translate}}"
                        labelText="{{'crm.customerCareRecords.table.note' | translate}}"
                        [isTextAre]="true"
        ></hbt-input-text>
      </div>

      <ng-container formArrayName="listAttributes">
        <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
          <div nz-col [nzXs]="12" [nzLg]="12">
            <input-attribute-common
              [controlName]="getAttributeControl(idx, 'attributeValue')"
              [dataType]="attributes.get('dataType')?.value"
              [urlLoadData]="attributes.get('urlLoadData')?.value"
              [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
              [errors]="attributes.get('attributeValue')?.errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
              [placeholderText]="attributes.get('attributeName')?.value"
              [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
            >
            </input-attribute-common>
          </div>
        </ng-container>
      </ng-container>

    </div>
  </form>
</div>

