@import "../../../../../../core/global-style/variable";

.rps-form .divider {
  width: 97%;
  height: 2px;
  background-color: $black-300;
  margin: 10px auto;
}

::ng-deep .label__required {
  color: $error-default-color;
}

::ng-deep .rps-form .ant-tabs-tab {
  margin-right: 10px !important;
  border-radius: 5px !important;
  position: relative;
  z-index: 20;
}

::ng-deep .rps-form .ant-tabs-nav {
  padding-top: 10px !important;
}

.text-center {
  text-align: center;
}

.rps-form .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rps-form .title2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}