<div style="max-height: {{isHideBottom ? 450 : 400}}px;" class="user-manual">
  <ng-container *ngFor="let item of arrDocument; let i = index">
    <div (click)="openLink(item)" nz-row>
      <div nz-col nzSpan="24" class="user-manual-item">
        <div class="user-manual-item-order">
          {{i + 1}}
        </div>
        <div class="user-manual-item-content">
          {{item.name}}
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div *ngIf="!isHideBottom" class="user-manual-action" (click)="loadMore()">Xem thêm</div>
