<form nz-form [formGroup]="form" class="dss-index">
  <div class="search__custom-common {{'remove__mr__bt-40'}}">
    <div nz-row class="button__action-left">
      <em nz-icon
          nz-button
          class="menu__item--btn"
          nzTrigger="click"
          nz-dropdown
          [nzDropdownMenu]="menu"
      ><img src="/assets/icon/staff-manager/export_excel.svg" alt="" /></em>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu style="width: 200px; padding: 0">
          <li
            nz-button
            nz-menu-item
            style="padding: 10px 20px"
            (click)="exportTotal()"
          >
            <div class="menu__item">
              <em nz-icon nzType="export" nzTheme="outline" style="margin-right: 10px"></em>
              <span>{{ 'abs.label.exportAll' | translate }}</span>
            </div>
          </li>
          <li
            nz-button
            nz-menu-item
            style="padding: 10px 20px"
            (click)="isVisible = true"
          >
            <div class="menu__item">
              <em nz-icon nzType="export" nzTheme="outline" style="margin-right: 10px"></em>
              <span>{{ 'abs.label.exportOrg' | translate }}</span>
            </div>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>


    <div class="search__page-right">
      <tree-data-picker
        style="flex: 1"
        [isExpand]="true"
        placeholder="{{'abs.label.org' | translate}}"
        formControlName="organizationId"
        [type]="isSubmitted && form.controls['organizationId'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['organizationId'].errors !== null"
        [errors]="form.controls['organizationId'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.label.org'| translate }}]"
        [scope]="scope"
        (ngModelChange)="search()"
      >
      </tree-data-picker>
      <hbt-select
        style="margin-left: 20px"
        [dataSelects]="weekList"
        keyLabel="name"
        formControlName="dateValue"
        [type]="isSubmitted && form.controls['dateValue'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['dateValue'].errors !== null"
        [errors]="form.controls['dateValue'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.dutySchedules.label.week'| translate }}]"
        placeholder="{{'abs.dutySchedules.label.week' | translate}}"
        (ngModelChange)="changeValue($event)"
      ></hbt-select>
    </div>
  </div>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="{{'abs.label.export' | translate}}"
            (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="formModal" class="dss-index">
        <div nz-row [nzGutter]='[20,15]'>
          <div nz-col [nzXs]="24" [nzLg]="24">
            <tree-data-picker
              style="flex: 1"
              [isExpand]="true"
              placeholder="{{'abs.label.org' | translate}}"
              labelText="{{'abs.dutySchedules.label.orgId' | translate}}"
              formControlName="organizationId"
              [type]="isSubmittedModal && formModal.controls['organizationId'].errors ? 'error' : 'default'"
              [showError]="isSubmittedModal && formModal.controls['organizationId'].errors !== null"
              [errors]="formModal.controls['organizationId'].errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.label.org'| translate }}]"
              [scope]="scope"
            >
            </tree-data-picker>
          </div>
          <div nz-col [nzXs]="12" [nzLg]="12">
            <hbt-date-picker
              placeholderText="{{'abs.label.fromDate' | translate}}"
              labelText="{{'abs.label.fromDate' | translate}} <span class='label__required'>*</span>"
              [type]="isSubmittedModal && formModal.controls['fromDate'].errors ? 'error' : 'default'"
              [showError]="isSubmittedModal && formModal.controls['fromDate'].errors  != null"
              [errors]="formModal.controls['fromDate'].errors"
              [errorDefs]="[ { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.label.fromDate' | translate }}]"
              formControlName="fromDate"></hbt-date-picker>
          </div>

          <div nz-col [nzXs]="12" [nzLg]="12">
            <hbt-date-picker
              placeholderText="{{'abs.label.toDate' | translate}}"
              labelText="{{'abs.label.toDate' | translate}} <span class='label__required'>*</span>"
              formControlName="toDate"
              [type]="((isSubmittedModal && formModal.controls['toDate'].errors) || formModal.errors?.rangeDateError) ? 'error' : 'default'"
              [showError]="((isSubmittedModal && formModal.controls['toDate'].errors) || formModal.errors?.rangeDateError) !== null"
              [errors]="formModal.errors?.rangeDateError ? formModal.errors : formModal.controls['toDate'].errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.label.toDate' | translate }},
      { errorName: 'rangeDateError', errorDescription: 'abs.validate.rangeDate.pareDate' | translate:
        {'fromDate': 'abs.label.fromDate' | translate, 'toDate': 'abs.label.toDate' | translate}}
    ]"></hbt-date-picker>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-template [nzModalFooter]>
      <hbt-button
        buttonAvailableStyle="CANCEL"
        buttonText="{{ 'common.button.cancel' | translate }}"
        (click)="handleCancel()">
      </hbt-button>
      <hbt-button
        buttonAvailableStyle="SAVE"
        buttonText="{{'common.button.export' | translate}}"
        (click)="export()">
      </hbt-button>
    </ng-template>
  </nz-modal>
</form>

<ng-container>
  <dss-form
    [dateValue]="form.controls.dateValue.value" [responseSearch]="responseSearch"
    (changedIndex)="search($event)" [organizationId]="form.controls.organizationId.value"
  ></dss-form>
</ng-container>

