<form nz-form [formGroup]="form" class="mts-index">
  <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
    <div nz-row class="button__action-left">
      <hbt-button
        class="staff__research__btn__search"
        buttonSize="LARGE"
        buttonAvailableStyle="ADD"
        style="margin-right: 20px"
        buttonText="{{'hrm.action.synthetic' | translate}}"
        *ngIf="objFunction?.create"
        (click)="makeList()"
      ></hbt-button>
      <hbt-button buttonSize="LARGE" buttonText="{{'hrm.salaryManager.salaryReviews.label.importResult' | translate}}"
                  [buttonTextColor]="_variable.$purple_800" (click)="doImportData()" *ngIf="objFunction?.import"></hbt-button>
      <hbt-button
        style="margin-left: 20px"
        buttonSize="MEDIUM"
        buttonType="BORDER"
        (click)="export()">
        <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
      </hbt-button>
    </div>

    <div class="search__page-right">
      <hbt-select-check-able
        placeholder="{{'hrm.salaryManager.salaryReviews.label.type' | translate}}"
        [urlLoadData]="getUrlCategory('HR_LOAI_XET_NANG_LUONG')"
        [serviceName]="microService.ADMIN"
        keyLabel="name"
        formControlName='types'></hbt-select-check-able>
      <hbt-select
        placeholder="{{'hrm.salaryManager.salaryReviews.label.periodId' | translate}}"
        [urlLoadData]="getUrlCategory('HR_KY_NANG_LUONG')"
        [serviceName]="microService.ADMIN"
        keyLabel="name"
        formControlName='periodId'></hbt-select>
      <hbt-input-text formControlName='keySearch'
                      [maxLength]='255'
                      placeholderText="{{'hrm.salaryManager.salaryReviews.label.keySearch' | translate}}"></hbt-input-text>
      <hbt-button
        buttonIconType="AWESOME"
        [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
        buttonSize="VERY_LARGE"
        [buttonTextColor]="_variable.$neutral_100"
        [buttonBorderColor]="_variable.$purple_800"
        [buttonBgColor]="_variable.$purple_800"
        (click)="isShowAdvSearch = !isShowAdvSearch"
      >
      </hbt-button>
    </div>
  </div>
  <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
    <div class="form-search">
      <div nz-row [nzGutter]='[20,15]'>
        <!--Phân loại-->
        <div nz-col [nzXs]="12" [nzLg]="6">
          <hbt-select-check-able formControlName="status"
                      [dataSelects]="salaryStatus"
                      labelText="{{'hrm.salaryManager.salaryReviews.label.statusId' | translate}}"
                      placeholder="{{'hrm.salaryManager.salaryReviews.label.statusId' | translate}}">
          </hbt-select-check-able>
        </div>

        <!--Người giới thiệu-->
        <div nz-col [nzXs]="12" [nzLg]="6">
          <hbt-select-check-able formControlName="reviewStatus"
                                 [dataSelects]="salaryReviews"
                                 labelText="{{'hrm.salaryManager.salaryReviews.label.reviewStatusId' | translate}}"
                                 placeholder="{{'hrm.salaryManager.salaryReviews.label.reviewStatusId' | translate}}">
          </hbt-select-check-able>
        </div>

        <div nz-col [nzXs]="24" [nzLg]="24" style="text-align: center">
          <hbt-button
            class="staff__research__btn__search"
            buttonSize="LARGE"
            buttonAvailableStyle="SEARCH"
            buttonText="{{'common.button.search' | translate}}"
            (click)="search()"
          ></hbt-button>
        </div>


      </div>
    </div>
  </div>

  <div class='search__content--group' [ngClass]="{'search__content--group-hidden-header': isShowAdvSearch}">
    <hbt-table-wrap>
      <hbt-table
        (changePageNum)="search($event)"
        [tableConfig]="tableConfig" [dataList]="tableData"></hbt-table>
    </hbt-table-wrap>
  </div>

  <ng-template #actionTmpl let-data="data">
    <btn-more-action [model]="[data]" [setting]="actionSchema">
    </btn-more-action>
  </ng-template>

  <hbt-import-file *ngIf="isImportData" [showContent]='isImportData'
                   (onCloseModal)='doCloseImport($event)'
                   [importApi]='importApi'
                   [formImport]="formImport"
                   [downLoadTemplateApi]="downLoadTemplateApi"
                   title="{{'hrm.salaryManager.salaryReviews.label.importResult' | translate}}"
                   [fileTemplateName]="fileTemplateName"
                   [doDownloadFileByNameApi]='doDownloadFileByNameApi'
                   (isSubmittedImport)="changeSubmittedImport($event)">
    <div class="formImport" style="margin-bottom: 30px;">
      <form nz-form [formGroup]="formImport">
        <div nz-row [nzGutter]='[20,15]'>
          <div nz-col [nzXs]='24' [nzLg]='24'>
            <hbt-select
              [type]="isSubmittedImport && formImport.controls['periodId'].errors ? 'error' : 'default'"
              [showError]="isSubmittedImport && formImport.controls['periodId'].errors !== null"
              [errors]="formImport.controls['periodId'].errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.salaryManager.salaryReviews.label.periodId' | translate }}]"
              labelText="{{'hrm.salaryManager.salaryReviews.label.periodId' | translate}} <span class='label__required'>*</span>"
              placeholder="{{'hrm.salaryManager.salaryReviews.label.periodId' | translate}}"
              [urlLoadData]="getUrlCategory('HR_KY_NANG_LUONG')"
              [serviceName]="microService.ADMIN"
              keyLabel="name"
              formControlName='periodId'>
            </hbt-select>
          </div>
          <div nz-col [nzXs]='24' [nzLg]='24'>
            <hbt-upload
              [required]="true"
              [typeFileAvailable]="['docx', 'doc', 'xlsx', 'xls', 'pdf', 'jpg', 'png', 'jpeg', 'svg']"
              [multiple]="true"
              labelText="{{'common.label.attachFile' | translate}}"
              (fileListChange)="onFileListChange($event, 'fileExtends', true, formImport)"
              [showError]="isSubmittedImport"
            >
            </hbt-upload>
          </div>
        </div>
      </form>
    </div>
  </hbt-import-file>

  <ng-template #footerTmpl>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.save' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </ng-template>

</form>
<ng-template #contentTmpl>
  <hbt-select [urlLoadData]="getUrlCategory('HR_KY_NANG_LUONG')"
              [serviceName]="microService.ADMIN"
              keyLabel="name"
              [(ngModel)]="periodId"
              [type]="isSubmitted2 && !periodId ? 'error' : 'default'"
              [showError]="isSubmitted2 && !periodId"
              [errors]="!periodId ? {required: true} : null"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.salaryManager.salaryReviews.label.periodId' | translate }}]"
              placeholder="{{'hrm.salaryManager.salaryReviews.label.periodId' | translate}}"
              labelText="{{'hrm.salaryManager.salaryReviews.label.periodId' | translate}}"
  ></hbt-select>
</ng-template>
<ng-template #contentFooterTmpl>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef2.destroy()">
  </hbt-button>
  <hbt-button
    buttonAvailableStyle="SAVE"
    buttonText="{{ 'hrm.action.synthetic' | translate }}"
    (click)="doMakeList()">
  </hbt-button>
</ng-template>

<ng-template #statusTpl let-statusId="statusId">
  <nz-tag
    [nzColor]="salaryStatusDict[statusId]?.backgroud"
    [ngStyle]="{ color: salaryStatusDict[statusId]?.color }"
  >
    {{ salaryStatusDict[statusId]?.label | translate}}
  </nz-tag>
</ng-template>

<ng-template #reviewStatusTpl let-reviewStatusId="reviewStatusId">
    {{ salaryReviewsDict[reviewStatusId]?.label | translate}}
</ng-template>
