<div class='crm'>
  <!--Form tìm kiếm-->
  <form nz-form [formGroup]='form' (ngSubmit)="search()">
    <div class="search__custom-common remove__mr__bt-40">
      <div nz-row class="button__action-left">
        <hbt-button
          [isDisable]="!form.controls['objType'].value"
          class="staff__research__btn__search"
          buttonSize="LARGE"
          buttonAvailableStyle="ADD"
          style="margin-right: 20px"
          buttonText="{{'crm.cskh.print' | translate}}"
          (click)="doOpenPrint()"
        ></hbt-button>
        <hbt-button buttonSize="LARGE"
                    buttonType="BORDER" (click)="export()">
          <img src="assets/icon/staff-manager/export_excel.svg" alt=""/>
        </hbt-button>
      </div>

      <div class="search__page-right">
        <hbt-select formControlName='objType'
                    [urlLoadData]="getUrlCategory(categoryCode.DOI_TUONG_CSKH_SN)"
                    [serviceName]="microService.ADMIN"
                    (ngModelChange)="objChange($event)"
                    keyLabel="name"
                    placeholder="{{'crm.cskh.objType' | translate }}">
        </hbt-select>
        <hbt-input-text formControlName='keySearch'
                        [maxLength]='255'
                        placeholderText="{{'crm.cskh.keySearch' | translate}}"></hbt-input-text>
        <hbt-button buttonSize="LARGE" buttonAvailableStyle="SEARCH"
                    buttonType="BORDER" (click)="search()">
          <em class="icon__search" nz-icon nzType="search"></em>
        </hbt-button>
      </div>
    </div>
  </form>

  <div class='search__content--group'>
    <hbt-table-wrap [tableConfig]="tableConfig">
      <div>
        <p *ngIf="listId.length > 0" style="margin: 0">{{'common.label.selected' | translate}}
          : {{listId.length}}</p>
      </div>
      <hbt-table
        (changePageNum)='search($event)'
        [(objFilter)]="objFilter"
        (objFilterChange)="search()"
        [tableConfig]='tableConfig' [dataList]="tableData" (amountSelectedRowsChange)="listId = $event"
      ></hbt-table>
    </hbt-table-wrap>
  </div>


  <ng-template #actionTmpl let-data="data">
    <btn-more-action [model]="[data]" [setting]="actionSchema">
    </btn-more-action>
  </ng-template>


  <ng-template #footerTmpl>
    <hbt-button
      buttonAvailableStyle="DEFAULT"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.save' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </ng-template>

  <ng-template #daysUntilBirthdayTmpl let-data="data">
    <div class="text-center {{data.daysUntilBirthday != null && data.daysUntilBirthday < 4 ? 'background-color-error-500 color-white p-1 br-sm' : ''}}">
      {{data.daysUntilBirthday === 0 ? 'Hôm nay' : data.daysUntilBirthday ? 'Còn ' + data.daysUntilBirthday + ' ngày' : ''}}
    </div>
  </ng-template>
</div>

