<div class='save-form-crm'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <div nz-col [nzXs]="24">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CRM_HO_SO_NHAN_VIEN)" keyLabel="name"
                    formControlName="attachmentType"
                    (eventEmit)="selectAttachmentType($event)"
                    [type]="isSubmitted && form.controls['attachmentType']?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['attachmentType']?.errors != null"
                    [errors]="form.controls['attachmentType']?.errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.employees.label.attachmentType' | translate }}]"
                    placeholder="{{'crm.employees.label.attachmentType' | translate}}"
                    labelText="{{'crm.employees.label.attachmentType' | translate}}  <span class='label__required'>*</span>"
        ></hbt-select>
      </div>
      <div nz-col [nzXs]="24">
        <hbt-upload
          [typeFileAvailable]="['jpg', 'jpeg', 'png', 'pdf', 'doc', 'docx']"
          labelText="{{'crm.employees.label.attachment' | translate}}"
          (fileListChange)="onFileListChange($event, 'attachFileList', true)"
          [maxSize]="10"
          [required]="true"
          [showError]="isSubmitted"
        ></hbt-upload>
      </div>
    </div>
  </form>
</div>
<div *nzModalFooter>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef.destroy()">
  </hbt-button>
  <hbt-button
    buttonAvailableStyle="SAVE"
    buttonText="{{ 'common.button.save' | translate }}"
    (click)="save()">
  </hbt-button>
</div>