<div class="app-card p-4">
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]="[20, 15]">

      <div nz-col [nzXs]="24" [nzMd]="12">
        <hbt-date-picker
          formControlName="fromDate"
          [type]="isSubmitted && form.controls['fromDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['fromDate'].errors !== null"
          [errors]="form.controls['fromDate'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'Vui lòng chọn từ ngày' }]"
          placeholderText="Chọn từ ngày"
          labelText="Từ ngày">
        </hbt-date-picker>
      </div>
<!--      <span class='label__required'>*</span>-->
      <div nz-col [nzXs]="24" [nzMd]="12">
        <hbt-date-picker
          formControlName="toDate"
          [type]="isSubmitted && form.controls['toDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['toDate'].errors !== null"
          [errors]="form.controls['toDate'].errors"
          placeholderText="Chọn đến ngày"
          labelText="Đến ngày "
          [errorDefs]="[
              { errorName: 'required', errorDescription: 'Vui lòng chọn ngày' },
              { errorName: 'rangeInvalid', errorDescription: 'Ngày từ phải nhỏ hơn ngày đến' }
          ]">
        </hbt-date-picker>
      </div>

      <div nz-col [nzXs]="24" [nzMd]="12">
        <hbt-select
          #projectSelect
          formControlName="projectCode"
          [urlLoadData]="getUrlCategory(categoryCode.HRM_LOG_TASK)"
          (dataLoaded)="onProjectLoaded($event)"
          labelText="Dự án đang thực hiện"
          keyLabel="name"
          keyValue="value"
          [type]="isSubmitted && form.controls['projectCode'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['projectCode'].errors !== null"
          [errors]="form.controls['projectCode'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'Vui lòng chọn dự án' }]">
        </hbt-select>
      </div>

      <div nz-col [nzXs]="24" [nzMd]="12">
        <hbt-input-text
          formControlName="name"
          [maxLength]="500"
          labelText="Tên công việc"
          [type]="isSubmitted && form.controls['name'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['name'].errors !== null"
          [errors]="form.controls['name'].errors">
        </hbt-input-text>
      </div>

      <div nz-col [nzXs]="24" [nzMd]="12">
        <hbt-input-text
          formControlName="createdBy"
          [maxLength]="255"
          labelText="Người tạo">
        </hbt-input-text>
      </div>
      <div nz-col [nzSpan]="24" class="mt-4 text-center">
        <button nz-button nzType="default" class="mr-2" (click)="onSearch()">Tìm kiếm</button>
        <button nz-button nzType="primary" (click)="onAddNew()">Thêm mới</button>
      </div>
    </div>
  </form>
</div>
<!--*ngIf="listData.length > 0"-->
<div class="app-card p-4 rounded shadow-sm">
  <nz-table [nzData]="listData" nzSize="middle" [nzLoading]="isLoading">
  <thead>
    <tr>
      <th style="width: 60px;text-align: center">STT</th>
      <th style="width: 400px;text-align: center">Dự án</th>
      <th style="width: 150px;text-align: center">Người tạo</th>
      <th style="width: 120px;text-align: center">Ngày</th>
      <th style="width: 400px;text-align: center">Tên công việc</th>
      <th style="width: 120px;text-align: center">Tổng giờ</th>
      <th style="width: 400px;text-align: center">Mô tả</th>
      <th style="width: 120px; text-align: center;">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listData">
      <td class="text-center">{{ item.stt }}</td>
      <td>{{ item.projectCode }}</td>
      <td>{{ item.createdBy }}</td>
      <td class="text-center">{{ item.logDate | date: 'dd/MM/yyyy' }}</td>
      <td>{{ item.name }}</td>
      <td class="text-right">{{ item.totalHouse }}</td>
      <td>{{ item.description }}</td>
      <td class="text-center">
        <div style="display: flex; justify-content: center; align-items: center;">
          <button nz-button nzType="link" (click)="onEdit(item)" style="padding: 0; margin: 0;">
            <img style="width: 20px; display: block;" src="assets/images/edit.svg" alt="edit" />
          </button>

          <button nz-button nzType="link" nzDanger (click)="onDelete(item)" style="padding: 0; margin: 0;">
            <img style="width: 20px; display: block;" src="assets/images/trash.svg" alt="trash" />
          </button>
        </div>
      </td>

    </tr>
    </tbody>
  </nz-table>
</div>

