<!--<div [class]="isNotPageName ? 'btn__across-no-page' : 'btn__across-page'">-->
<!--  <hbt-button buttonSize="MEDIUM" buttonText="{{'common.button.uploadFile' | translate}}"-->
<!--              [buttonTextColor]="_variable.$purple_800" (click)="doImportData()"></hbt-button>-->
<!--  <hbt-button-->
<!--    buttonType="NO_BORDER"-->
<!--    buttonSize="LARGE"-->
<!--    (click)="doOpenForm(modeConst.ADD)"-->
<!--    buttonText="{{ 'common.button.add' | translate }}"-->
<!--    buttonAvailableStyle="ADD">-->
<!--  </hbt-button>-->
<!--</div>-->
<form nz-form [formGroup]="form" class='abs'>

  <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
    <div nz-row class="button__action-left">
      <hbt-button
        buttonSize="LARGE"
        buttonAvailableStyle="SAVE"
        buttonText="{{'abs.label.timekeepingAuto' | translate}}"
        nz-popconfirm
        nzCancelText="{{'abs.table.action.cancel' | translate}}" nzOkType="primary"
        nzPopconfirmTitle="{{'abs.label.timekeepingAutoConfirm' | translate }}"
        nzPopconfirmPlacement="left"
        nzOkText="{{'abs.table.action.yes' | translate}}"
        (nzOnConfirm)="timekeepingAuto()"
      ></hbt-button>
      <hbt-button
        style="margin-left: 20px"
        buttonSize="VERY_LARGE"
        buttonType="BORDER"
        (click)="export()">
        <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
      </hbt-button>
      <!--      -->
      <!--      <hbt-button-->
      <!--        class="staff__research__btn__search"-->
      <!--        buttonSize="LARGE"-->
      <!--        buttonAvailableStyle="ADD"-->
      <!--        buttonText="{{'common.button.add' | translate}}"-->
      <!--        *ngIf="objFunction?.create"-->
      <!--        (click)="doOpenForm(modeConst.ADD)"-->
      <!--      ></hbt-button>-->
      <!--      -->
    </div>

    <div class="search__page-right">
      <!--Từ ngày-->
      <hbt-date-picker
        style="margin-right: 20px"
        mode="date"
        formControlName="startDate"
        placeholderText="{{ 'admin.configurations.parameters.label.startDate' | translate }}"
      ></hbt-date-picker>


      <!--Đến ngày-->
      <hbt-date-picker
        style="margin-right: 20px"
        mode="date"
        formControlName="endDate"
        placeholderText="{{ 'admin.configurations.parameters.label.endDate' | translate }}"
      ></hbt-date-picker>


      <hbt-input-text formControlName='keySearch'
                      [maxLength]='255'
                      placeholderText="{{'hrm.staffManager.categoryManage.empTypes.label.keySearch' | translate}}"></hbt-input-text>
      <hbt-button
        buttonIconType="AWESOME"
        [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
        buttonSize="VERY_LARGE"
        [buttonTextColor]="_variable.$neutral_100"
        [buttonBorderColor]="_variable.$purple_800"
        [buttonBgColor]="_variable.$purple_800"
        (click)="isShowAdvSearch = !isShowAdvSearch"
      >
      </hbt-button>
    </div>
  </div>

  <!--Form tìm kiếm-->
  <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
    <div class="form-search">
      <div nz-row [nzGutter]='[20,15]'>

        <!--Đối tượng-->
        <div nz-col [nzXs]='12' [nzLg]='6'>
          <hbt-select-check-able
            keyLabel="name"
            [urlLoadData]="urlConstantShare.GET_EMP_TYPE"
            [serviceName]="microService.HRM"
            placeholder="{{'common.label.empTypeName' | translate}}"
            labelText="{{'common.label.empTypeName' | translate}}"
            formControlName='empTypeId'
          ></hbt-select-check-able>
        </div>

        <!--Đơn vị-->
        <div nz-col [nzXs]='12' [nzLg]='6'>
          <tree-data-picker
            [functionCode]="functionCode"
            [scope]="scope"
            labelText="{{'common.organization.org' | translate}}"
            placeholder="{{'common.organization.org' | translate}}"
            formControlName='organizationId'
          >
          </tree-data-picker>
        </div>

        <!--Trạng thái làm việc-->
        <div nz-col [nzXs]='12' [nzLg]='6'>
          <hbt-select-check-able formControlName='empStatus'
                                 [urlLoadData]="''"
                                 [serviceName]="''"
                                 placeholder="{{'common.label.statusEmployee' | translate }}"
                                 labelText="{{'common.label.statusEmployee' | translate}}"></hbt-select-check-able>
        </div>
        <div nz-col [nzXs]="24" class="text-center">
          <hbt-button
            buttonSize="MEDIUM"
            buttonAvailableStyle="SEARCH"
            buttonText="{{'common.button.search' | translate}}"
            (click)="search()"
          ></hbt-button>
        </div>
      </div>
      <div nz-row [nzGutter]='[20,15]'>
        <div nz-col [nzXs]='24' [nzLg]='24'>
          <ng-content select='.btn'></ng-content>
        </div>
      </div>
    </div>
  </div>
  <!--End Form tìm kiếm-->

  <!--  <div class='search__content&#45;&#45;group'>-->
  <!--    <hbt-table-wrap>-->
  <!--      <div>-->
  <!--        <p *ngIf="listId.length > 0" style="margin: 0">{{'common.label.selected' | translate}}-->
  <!--          : {{listId.length}}</p>-->
  <!--      </div>-->
  <!--      <hbt-table-->
  <!--        (changePageNum)='search($event)'-->
  <!--        [tableConfig]='tableConfig' [dataList]="tableData" (amountSelectedRowsChange)="listId = $event"-->
  <!--      ></hbt-table>-->
  <!--    </hbt-table-wrap>-->
  <!--  </div>-->


  <div class="search__content--group">
    <p style='font-size: 18px; font-weight: 600'>{{ 'abs.label.timekeeping' | translate }}</p>
    <nz-table
      #basicTable
      [nzData]='searchResult'
      [nzLoading]='loading'
      [nzFrontPagination]='false'
      [nzShowPagination]='searchResult?.length < count'
      [nzTotal]='count'
      [nzPageSize]='pagination.pageSize'
      [(nzPageIndex)]='pagination.pageNumber'
      (nzPageIndexChange)='search($event)'
      nzSize='small'
      class='data-table'
      nzShowPagination
      [nzScroll]="nzScrollWidth > innerWidth ? {x: nzScrollWidth + 'px'} : {}"
      nzBordered
      [nzWidthConfig]="nzWidthConfig">
      <thead>
      <tr>
        <th scope='col' nzLeft class='text-nowrap' nzAlign='center' nzWidth='50px'
            rowSpan='2'>{{ 'abs.label.stt' | translate }}
        </th>
        <th scope='col' nzLeft class='text-nowrap' nzAlign='center' nzWidth='70px'
            rowSpan='2'>{{ 'abs.label.staffCode' | translate }}
        </th>
        <th scope='col' nzLeft class='text-nowrap' nzAlign='center' nzWidth='180px'
            rowSpan='2'>{{ 'abs.label.fullName' | translate }}
        </th>
        <th scope='col' class='text-nowrap' nzAlign='center'
            [colSpan]='colSpan'>{{ 'abs.label.listMonth' | translate }} {{ (startDate1?.value.getMonth() + 1) + "/" + startDate1?.value.getFullYear() }}
        </th>
        <th scope='col' class='text-nowrap' nzAlign='center' nzWidth='100px'
            rowSpan='2'>{{ 'abs.label.employeeType' | translate }}
        </th>
        <th scope='col' class='text-nowrap' nzAlign='center' nzWidth='100px'
            rowSpan='2'>{{ 'abs.label.positionName' | translate }}
        </th>
        <th scope='col' class='text-nowrap' nzAlign='center' nzWidth='250px'
            rowSpan='2'>{{ 'abs.label.organization' | translate }}
        </th>
      </tr>
      <tr>
        <th class='text-nowrap' nzAlign='center' *ngFor='let day of basicTable.data[0]?.dateList'
            [ngStyle]="{'background-color': (day.dayOfWeek == '7' || day.dayOfWeek == '1') ? _variable.$neutral_200 : '' }"
        >
          <span>
          {{ day?.day }}
        </span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let data of basicTable.data; let i = index'>
        <td nzLeft
            nzAlign='center'>{{ validateService.getRowIndex(i, basicTable.nzPageIndex, basicTable.nzPageSize) }}
        </td>
        <td nzLeft nzAign="center">{{ data.employeeCode }}</td>
        <td nzLeft>{{ data.fullName }}</td>
        <td class='text-nowrap' nzAlign='center' *ngFor='let day of basicTable.data[0]?.dateList' (click)="doOpenModal(data,day)"
            [ngStyle]="{
            'background-color': (day.dayOfWeek == '7' || day.dayOfWeek == '1') ? _variable.$neutral_200 : '',
            'pointer-events': (day.dayOfWeek == '7' || day.dayOfWeek == '1') ? 'none' : 'auto',
            'cursor': (day.dayOfWeek == '7' || day.dayOfWeek == '1') ? 'not-allowed' : 'pointer'
            }"
        >
          <span>
            {{ data?.timekeepings?.[day.day] }}
          </span>
        </td>

        <td>{{ data.empTypeName }}</td>
        <td>{{ data.positionName }}</td>
        <td>{{ data.orgName }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>

  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="'Nhập ' + this.translate.instant('abs.timeKeeping.title')"
            (nzOnCancel)="handleCancel()" [nzWidth]="this.getNzWidth()" [formGroup]="formTimekeeping">
    <ng-container *nzModalContent>
      <div nz-row [nzGutter]='[20,15]'>
        <div nz-col [nzXs]="24" [nzLg]="6">
          <hbt-select [urlLoadData]="getUrlCategory(categoryCode.ABS_LOAI_DK_LAM_THEM)"
                      keyLabel="name"
                      formControlName="overtimeTypeId"
                      [type]="isSubmittedModal && formTimekeeping.get('overtimeTypeId')?.errors ? 'error' : 'default'"
                      [showError]="isSubmittedModal && formTimekeeping.get('overtimeTypeId')?.errors != null"
                      [errors]="formTimekeeping.get('overtimeTypeId')?.errors"
                      [errorDefs]="[
                      { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.overtimeRecords.table.overtimeTypeId' | translate }}]"
                      placeholder="{{'abs.overtimeRecords.table.overtimeTypeId' | translate}}"
                      labelText="{{'abs.overtimeRecords.table.overtimeTypeId' | translate}} <span class='label__required'>*</span>"
          ></hbt-select>
        </div>


        <div nz-col [nzXs]="24" [nzLg]="5">
          <hbt-time-picker
            format="HH:mm"
            placeholderText="{{'abs.overtimeRecords.table.startTime' | translate}}"
            labelText="{{'abs.overtimeRecords.table.startTime' | translate}} <span class='label__required'>*</span>"
            formControlName="startTime"
            [type]="isSubmittedModal && (formTimekeeping.get('startTime')?.errors || formTimekeeping.errors?.rangeDateError) ? 'error' : 'default'"
            [showError]="isSubmittedModal && (formTimekeeping.get('startTime')?.errors || formTimekeeping.errors?.rangeDateError) != null"
            [errors]="formTimekeeping.errors?.rangeDateError ? formTimekeeping.errors : formTimekeeping.get('startTime')?.errors"
            [errorDefs]="[
                      { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.overtimeRecords.table.startTime' | translate }},
                         { errorName: 'rangeDateError', errorDescription: 'common.validate.rangeDate.pareDate' | translate:{'fromDate': 'abs.overtimeRecords.table.startTime' | translate, 'toDate': 'abs.overtimeRecords.table.startTime' | translate}}
                      ]"
          ></hbt-time-picker>
        </div>

        <div nz-col [nzXs]="24" [nzLg]="5">
          <hbt-time-picker
            format="HH:mm"
            placeholderText="{{'abs.overtimeRecords.table.endTime' | translate}}"
            labelText="{{'abs.overtimeRecords.table.endTime' | translate}} <span class='label__required'>*</span>"
            formControlName="endTime"
            [type]="isSubmittedModal && formTimekeeping.get('endTime')?.errors ? 'error' : 'default'"
            [showError]="isSubmittedModal && formTimekeeping.get('endTime')?.errors != null"
            [errors]="formTimekeeping.get('endTime')?.errors"
            [errorDefs]="[
                      { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.overtimeRecords.table.endTime' | translate }}]"
          ></hbt-time-picker>
        </div>
        <div nz-col [nzXs]="24" [nzLg]="8">
          <hbt-input-text
            isTextAre
            placeholderText="{{'abs.overtimeRecords.table.content' | translate}}"
            labelText="{{'abs.overtimeRecords.table.content' | translate}} <span class='label__required'>*</span>"
            formControlName="content"
            [type]="isSubmittedModal && formTimekeeping.get('content')?.errors ? 'error' : 'default'"
            [showError]="isSubmittedModal && formTimekeeping.get('content')?.errors != null"
            [errors]="formTimekeeping.get('content')?.errors"
            [errorDefs]="[
                      { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.overtimeRecords.table.content' | translate }}]"
          ></hbt-input-text>
        </div>
      </div>

    </ng-container>
    <ng-template [nzModalFooter]>
      <hbt-button
        buttonAvailableStyle="CANCEL"
        buttonText="{{ 'common.button.cancel' | translate }}"
        (click)="handleCancel()">
      </hbt-button>
      <hbt-button
        buttonAvailableStyle="SAVE"
        buttonText="{{ 'common.button.confirm' | translate }}"
        (click)="handleOk()">
      </hbt-button>
    </ng-template>
  </nz-modal>

  <ng-template #actionTmpl let-data="data">
    <btn-action-by-id
      [disabledEdit]="false"
      [disabledDelete]="false"
      (doViewDetail)="doOpenFormDetail(data)"
      (doEdit)="doOpenFormEdit(data)"
      (doDelete)="deleteItem(data)"
    >
    </btn-action-by-id>
  </ng-template>


  <ng-template #footerTmpl>
    <hbt-button
      buttonAvailableStyle="DEFAULT"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.save' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </ng-template>




  <hbt-import-file [showContent]='isImportData'
                   (onCloseModal)='doCloseImport($event)'
                   [importApi]='importApi'
                   [downLoadTemplateApi]="downLoadTemplateApi"
                   [fileTemplateName]="fileTemplateName"
                   [doDownloadFileByNameApi]='doDownloadFileByNameApi'>
  </hbt-import-file>

  <reject-common-template
    [isReject]="isReject"
    [listRejectId]="listId"
    [rejectId]='rejectId'
    [rejectByListApi]='rejectByListApi'
    (onCloseModal)="doCloseReject($event)">
  </reject-common-template>

  <ng-template #attachFileTmpl let-attachFileList='attachFileList'>
    <div *ngFor="let file of attachFileList">
      <a class="attach-file" (click)="doDownLoadFile(file); $event.stopPropagation();">{{ file.fileName }}</a>
    </div>
  </ng-template>
</form>

