<form nz-form [formGroup]="form" class="assignment-modal">
  <div nz-row [nzGutter]='[20,15]'>
    <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-select [dataSelects]="listType"
                  [type]="isSubmitted && form.controls['leaderType'].errors ? 'error' : 'default'"
                  [showError]="isSubmitted && form.controls['leaderType'].errors !== null"
                  [errors]="form.controls['leaderType'].errors"
                  [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.label.leaderType' | translate }}]"
                  formControlName="leaderType"
                  keyLabel="name"
                  placeholder="{{'kpi.kpiEvaluations.organizations.label.leaderType' | translate}}"
                  labelText="{{'kpi.kpiEvaluations.organizations.label.leaderType' | translate}} <span class='label__required'>*</span>"
      ></hbt-select>
    </div>
    <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="form.controls['leaderType'].value == 1">
      <tree-data-picker
        [isExpand]="true"
        [isMultiSelect]="true"
        labelText="{{'kpi.kpiEvaluations.organizations.label.org' | translate}} <span class='label__required'>*</span>"
        placeholder="{{'kpi.kpiEvaluations.organizations.label.org' | translate}}"
        [type]="isSubmitted && form.controls['leaderIds'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['leaderIds'].errors !== null"
        [errors]="form.controls['leaderIds'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.label.org' | translate }}]"
        formControlName="leaderIds"
        (selectedChange)="getOrgName($event, 'leaderName', 'leaderType')"
      >
      </tree-data-picker>
    </div>
    <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="form.controls['leaderType'].value == 2">
      <hbt-select-check-able formControlName="leaderIds"
                             [urlLoadData]="getUrlCategory(categoryCode.LOAI_HINH_DON_VI)"
                             [serviceName]="microService.ADMIN"
                             keyLabel="name"
                             [type]="isSubmitted && form.controls['leaderIds'].errors ? 'error' : 'default'"
                             [showError]="isSubmitted && form.controls['leaderIds'].errors !== null"
                             [errors]="form.controls['leaderIds'].errors"
                             [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.indicatorConversions.table.unitGroup' | translate }}]"
                             labelText="{{'kpi.indicatorConversions.table.unitGroup' | translate}} <span class='label__required'>*</span>"
                             placeholder="{{'kpi.indicatorConversions.table.unitGroup' | translate}}"
                             (eventEmit)="getUnit($event, 'leaderName', 'leaderType')"
      >
      </hbt-select-check-able>
    </div>
    <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="form.controls['leaderType'].value == 3">
      <employee-data-picker [isExpand]="true"
                            [isMulti]="true"
                            formControlName="leaderIds"
                            [type]="isSubmitted && form.controls['leaderIds'].errors ? 'error' : 'default'"
                            [showError]="isSubmitted && form.controls['leaderIds'].errors != null"
                            [errors]="form.controls['leaderIds'].errors"
                            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.label.personal' | translate }}]"
                            labelText="{{'kpi.kpiEvaluations.organizations.label.personal' | translate}} <span class='label__required'>*</span>"
                            placeholder="{{'kpi.kpiEvaluations.organizations.label.personal' | translate}}"
                            (selectedChange)="getPersonName($event, 'leaderName', 'leaderType')"
      >
      </employee-data-picker>
    </div>
    <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-select [dataSelects]="listType"
                  [type]="isSubmitted && form.controls['collaboratorType'].errors ? 'error' : 'default'"
                  [showError]="isSubmitted && form.controls['collaboratorType'].errors !== null"
                  [errors]="form.controls['collaboratorType'].errors"
                  [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.label.collaboratorType' | translate }}]"
                  formControlName="collaboratorType"
                  keyLabel="name"
                  placeholder="{{'kpi.kpiEvaluations.organizations.label.collaboratorType' | translate}}"
                  labelText="{{'kpi.kpiEvaluations.organizations.label.collaboratorType' | translate}} <span class='label__required'>*</span>"
      ></hbt-select>
    </div>
    <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="form.controls['collaboratorType'].value == 1">
      <tree-data-picker
        [isExpand]="true"
        [isMultiSelect]="true"
        labelText="{{'kpi.kpiEvaluations.organizations.label.org' | translate}} <span class='label__required'>*</span>"
        placeholder="{{'kpi.kpiEvaluations.organizations.label.org' | translate}}"
        [type]="isSubmitted && form.controls['collaboratorIds'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['collaboratorIds'].errors !== null"
        [errors]="form.controls['collaboratorIds'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.label.org' | translate }}]"
        formControlName="collaboratorIds"
        (selectedChange)="getOrgName($event, 'collaboratorName', 'collaboratorType')"
      >
      </tree-data-picker>
    </div>
    <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="form.controls['collaboratorType'].value == 2">
      <hbt-select-check-able formControlName="collaboratorIds"
                             [urlLoadData]="getUrlCategory(categoryCode.LOAI_HINH_DON_VI)"
                             [serviceName]="microService.ADMIN"
                             keyLabel="name"
                             [type]="isSubmitted && form.controls['collaboratorIds'].errors ? 'error' : 'default'"
                             [showError]="isSubmitted && form.controls['collaboratorIds'].errors !== null"
                             [errors]="form.controls['collaboratorIds'].errors"
                             [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.indicatorConversions.table.unitGroup' | translate }}]"
                             labelText="{{'kpi.indicatorConversions.table.unitGroup' | translate}} <span class='label__required'>*</span>"
                             placeholder="{{'kpi.indicatorConversions.table.unitGroup' | translate}}"
                             (eventEmit)="getUnit($event, 'collaboratorName', 'collaboratorType')"
      >
      </hbt-select-check-able>
    </div>
    <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="form.controls['collaboratorType'].value == 3">
      <employee-data-picker [isExpand]="true"
                            [isMulti]="true"
                            formControlName="collaboratorIds"
                            [type]="isSubmitted && form.controls['collaboratorIds'].errors ? 'error' : 'default'"
                            [showError]="isSubmitted && form.controls['collaboratorIds'].errors != null"
                            [errors]="form.controls['collaboratorIds'].errors"
                            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.label.personal' | translate }}]"
                            labelText="{{'kpi.kpiEvaluations.organizations.label.personal' | translate}} <span class='label__required'>*</span>"
                            placeholder="{{'kpi.kpiEvaluations.organizations.label.personal' | translate}}"
                            (selectedChange)="getPersonName($event, 'collaboratorName', 'collaboratorType')"
      >
      </employee-data-picker>
    </div>
    <div nz-col [nzXs]="12" [nzLg]="24">
      <hbt-input-text formControlName="assignmentNote" maxLength="500"
                      placeholderText="{{'kpi.kpiEvaluations.organizations.label.assignmentNote' | translate}}"
                      labelText="{{'kpi.kpiEvaluations.organizations.label.assignmentNote' | translate}}"
                      [isTextAre]="true"
      ></hbt-input-text>
    </div>
  </div>
</form>