<div class='save-form-crm'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <!--Tên ngày học-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="name" maxLength="255"
          [type]="isSubmitted && form.controls['name'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['name'].errors != null"
          [errors]="form.controls['name'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'crm.courseLessons.table.name' | translate}}"
          labelText="{{'crm.courseLessons.table.name' | translate}}"
        ></hbt-input-text>
      </div>

      <!--id khóa học-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="[]"
          formControlName="courseId"
          [type]="isSubmitted && form.controls['courseId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['courseId'].errors != null"
          [errors]="form.controls['courseId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.courseLessons.table.courseId' | translate }}]"
          placeholder="{{'crm.courseLessons.table.courseId' | translate}}"
          labelText="{{'crm.courseLessons.table.courseId' | translate}}"
        ></hbt-select>
      </div>

      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <hbt-upload
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpeg', 'jpg', 'png', 'pdf', 'doc', 'docx']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          [required]="true"
          (fileListChange)="onFileListChange($event, 'fileList', true)"
          (docIdsDeleteChange)="removeFile($event, 'fileList')"
          [serviceName]='serviceName'
          [showError]="isSubmitted"
        ></hbt-upload>
      </div>

    </div>
  </form>
</div>

