<div class="calendar">
    <div class="calendar-header">
        <strong>{{'abs.workCalendarDetail.calendarFormat' | translate}} {{firstDayOfMonth.format('MM, YYYY')}}</strong>
    </div>
    <div class="calendar-body">
        <table class="calendar-table">
            <caption></caption>
            <tbody>
                <tr>
                    <th scope="col" >Mo</th>
                    <th scope="col" >Tu</th>
                    <th scope="col" >We</th>
                    <th scope="col" >Th</th>
                    <th scope="col" >Fr</th>
                    <th scope="col"  style="color: red">Sa</th>
                    <th scope="col"  style="color: red">Su</th>
                </tr>
                <tr *ngFor="let week of listWeek">
                    <td *ngFor="let day of week" [ngClass]="{disabled: day.month() != firstDayOfMonth.month()}" title="{{mapDescriptions[day.format('DD/MM/YYYY')]}}">
                        <div class="display-table day-default {{day.format('dddd')}}
                            {{mapWorkCalendarDetails[day.format('DD/MM/YYYY')] ? mapWorkCalendarDetails[day.format('DD/MM/YYYY')]?.workdayTime: ''}}
                            {{mapWorkCalendarDetails[day.format('DD/MM/YYYY')] ? mapWorkCalendarDetails[day.format('DD/MM/YYYY')]?.workdayTime: ''}}
                            "
                        (click)="openModal(mapWorkCalendarDetails[day.format('DD/MM/YYYY')])"
                        >
                            <div class="table-cell holiday-date">
                                {{day.format('DD')}}
                            </div>
                            <div class="table-cell holiday-item">

                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'Chỉnh sửa ' + this.translateService.instant('abs.workCalendarDetail.title')"
          (nzOnCancel)="handleCancel()" [nzWidth]="'35%'" [formGroup]="formModal">
  <ng-container *nzModalContent>
    <hbt-select
      [urlLoadData]="getUrlCategory(this.categoryCode.LICH_LAM_VIEC)"
      [serviceName]="microService.ADMIN"
      keyValue="value"
      keyLabel="name"
      [type]="isSubmittedModal && formModal.controls['workdayTimeId']?.errors ? 'error' : 'default'"
      [showError]="isSubmittedModal && formModal.controls['workdayTimeId']?.errors != null"
      [errors]="formModal.controls['workdayTimeId']?.errors"
      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate : {'param': 'abs.timeKeeping.title' | translate }}]"
      formControlName="workdayTimeId"
      [labelText]="'Ngày ' + this.selectedData.dateTimekeeping + ' <span class=\'label__required\'>*</span>'"
    ></hbt-select>
  </ng-container>
  <ng-template [nzModalFooter]>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="handleCancel()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.confirm' | translate }}"
      (click)="handleOk()">
    </hbt-button>
  </ng-template>
</nz-modal>
