<div class="config__modal">
  <div class="btn-add">
    <hbt-button
      class="staff__research__btn__search"
      buttonSize="MEDIUM"
      buttonAvailableStyle="ADD"
      buttonText="{{'common.button.add' | translate}}"
      *ngIf="listConfigParameter?.length > 0 && objFunction?.create"
      (click)="openModal(Mode.ADD)"
    ></hbt-button>
  </div>

  <div nz-row [nzGutter]="[30, 5]">
    <div nz-col [nzMd]='6' [nzLg]='6' class="item__home--left">
      <div class="content__item content__item--border bg__content--default">
        <div class="d-flex">
          <span class="config__parameter-header">{{ 'admin.configurations.parameters.label.config' | translate }}</span>
          <!--          <em class="config__parameter-btn" nz-icon nzType="plus" nzTheme="outline"-->
          <!--              nzTooltipTitle="{{'admin.configurations.parameters.button.add' | translate}}"-->
          <!--              nzTooltipPlacement="bottom" nz-button nz-tooltip (click)="doOpenForm(Mode.ADD)"-->
          <!--              *ngIf="objFunction?.create"></em>-->
        </div>
        <ul class="left-bar-item">
          <ng-container *ngFor="let data of listConfigParameter">
            <li [ngClass]="{'item-select': configGroupSelect === data.configParameterId}"
                (click)="selectConfigGroup(data)">
              <div class="d-flex">
                <span class="config__title">{{ data.configGroupName }}</span>
                <em class="config__parameter-btn" nz-icon nzType="edit" nzTheme="outline"
                    *ngIf="configGroupSelect === data.configParameterId && objFunction?.edit"
                    nzTooltipTitle="{{'admin.configurations.parameters.button.edit' | translate}}"
                    nzTooltipPlacement="bottom" nz-button nz-tooltip (click)="doOpenForm(Mode.ADD, data)"></em>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div nz-col [nzMd]='18' [nzLg]='18'>
      <div class="content__item content__item--border bg__content--default">
        <div class="form-search">
          <form nz-form [formGroup]="form" (keyup.enter)="search()">
            <div nz-row [nzGutter]='[20,15]'>
              <div nz-col [nzXs]='12' [nzLg]='12' *ngIf="dataConfigGroup?.configPeriodType != 'DATE'">
                <hbt-date-picker
                  mode="month"
                  formControlName="startDate"
                  labelText="{{ 'admin.configurations.parameters.label.startMonth' | translate }}"
                  placeholderText="{{ 'admin.configurations.parameters.label.startMonth' | translate }}"
                ></hbt-date-picker>
              </div>
              <div nz-col [nzXs]='12' [nzLg]='12' *ngIf="dataConfigGroup?.configPeriodType != 'DATE'">
                <hbt-date-picker
                  mode="month"
                  formControlName="endDate"
                  labelText="{{ 'admin.configurations.parameters.label.endMonth' | translate }}"
                  placeholderText="{{ 'admin.configurations.parameters.label.endMonth' | translate }}"
                ></hbt-date-picker>
              </div>
              <div nz-col [nzXs]='12' [nzLg]='12' *ngIf="dataConfigGroup?.configPeriodType == 'DATE'">
                <hbt-date-picker
                  mode="date"
                  formControlName="startDate"
                  labelText="{{ 'admin.configurations.parameters.label.startDate' | translate }}"
                  placeholderText="{{ 'admin.configurations.parameters.label.startDate' | translate }}"
                ></hbt-date-picker>
              </div>
              <div nz-col [nzXs]='12' [nzLg]='12' *ngIf="dataConfigGroup?.configPeriodType == 'DATE'">
                <hbt-date-picker
                  mode="date"
                  formControlName="endDate"
                  labelText="{{ 'admin.configurations.parameters.label.endDate' | translate }}"
                  placeholderText="{{ 'admin.configurations.parameters.label.endDate' | translate }}"
                ></hbt-date-picker>
              </div>
            </div>
          </form>
        </div>
        <div nz-row class="btn__row-search">
          <div nz-col nzSpan="24">
            <div style="text-align: center">
              <hbt-button
                class="staff__research__btn__search"
                buttonSize="MEDIUM"
                buttonAvailableStyle="SEARCH"
                buttonText="{{'common.button.search' | translate}}"
                (click)="searchData()"
              ></hbt-button>
            </div>
          </div>
        </div>
      </div>
      <div class='search__content--group' *ngIf="dataConfigGroup">
        <hbt-table-wrap [tableConfig]="tableConfig">
          <hbt-table
            #tableComponent
            (changePageNum)="searchData($event)"
            [tableConfig]="tableConfig" [dataList]="tableData"></hbt-table>
        </hbt-table-wrap>
      </div>
    </div>
  </div>
</div>

<ng-template #actionTmpl let-data="data">
  <btn-more-action [model]="[data]" [setting]="actionSchema">
  </btn-more-action>
</ng-template>


<ng-template #timeTmpl let-startDate="startDate" let-endDate="endDate">
  <div *ngIf="endDate !== null">{{
      'admin.configurations.parameters.label.periodTime' | translate : {
        'startDate': startDate, 'endDate': endDate
      }
    }}
  </div>
  <div *ngIf="endDate === null">{{
      'admin.configurations.parameters.label.periodTime' | translate : {
        'startDate': startDate, 'endDate': 'admin.configurations.parameters.label.now' | translate
      }
    }}
  </div>
</ng-template>

<ng-template #footerTmpl>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef.destroy()">
  </hbt-button>
  <hbt-button
    buttonAvailableStyle="SAVE"
    buttonText="{{ 'common.button.saveS' | translate }}"
    (click)="modalRef.getContentComponent().save()">
  </hbt-button>
</ng-template>