<div class="work-plan">
  <div class="right">
    <!--    <span (click)="openSelect()" *ngIf="!isDetail && !isTeacherJob"-->
    <!--          class="select-plan">{{ 'kpi.kpiEvaluations.orgWorkPlanning.label.selectWorkPlan' | translate }}</span>-->
    <!--    <hbt-button buttonType="NO_BORDER" *ngIf="!isDetail || isEvaluate" (click)="isAdjust ? openModal() : save()" buttonAvailableStyle="SAVE"-->
    <!--                buttonText="{{'common.button.save' | translate}}" type='SUBMIT'></hbt-button>-->
  </div>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <nz-table nzBordered [nzData]="[1]" nzSize="small" [nzShowPagination]="false"
                  [nzScroll]="{y: '60vh'}" class="data-table"
                  [nzWidthConfig]="isDetail ? ['5%', '30%', '10%','8%','8%','8%', '15%'] : ['5%', '30%', '10%','8%','8%','8%', '15%', '5%']">
          <thead>
          <tr>
            <th rowSpan="2" nzWidth='5%' class="text-center">STT</th>
            <th rowSpan="2" nzWidth="30%"
                class="text-center">{{ 'kpi.kpiEvaluations.organizations.table.description' | translate }}
              <!--              <span *ngIf="!isAdministrativeJob" class="label__required">*</span>-->
            </th>
            <th rowSpan="2" nzWidth="10%"
                class="text-center">{{ 'kpi.kpiEvaluations.organizations.table.measureUnit2' | translate }}
            </th>
            <th colSpan="3"
                class="text-center">{{ 'kpi.kpiEvaluations.organizations.table.workPlan' | translate }}
            </th>
            <th rowSpan="2" nzWidth='15%' class="text-center">{{ 'kpi.workPlanningTemplates.table.note' | translate }}
            </th>
            <th rowSpan="2" nzWidth="5%" *ngIf="!isDetail"></th>
          </tr>
          <tr>
            <th nzWidth="7%" class="text-center">{{ 'kpi.kpiEvaluations.organizations.table.semester1' | translate }}
            </th>
            <th nzWidth="7" class="text-center">{{ 'kpi.kpiEvaluations.organizations.table.semester2' | translate }}
            </th>
            <th nzWidth="7%" class="text-center">{{ 'kpi.kpiEvaluations.organizations.table.allYear' | translate }}
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container [formArrayName]="FORM_ARRAY_NAME">
            <ng-container *ngFor="let item of formArray.controls; let i = index" [formGroupName]="i">
              <tr>
                <td class="text-center"
                    style="font-weight: bold"> {{ item.get('level').value > 2 ? item.get('level').value > 3 ? (item.get('level').value > 4 ? '-' : '+') : getKeyByIndex(item.get('key').value) : item.get('key').value }}
                </td>
                <td
                  [attr.colspan]="map.get(item.get('key').value) == null || map.get(item.get('key').value) === 0 ? '1' : '6'">
                  <hbt-input-text formControlName="param" class="wpn-input" [maxLength]="2000"
                                  *ngIf="!isDetail && !isDisable(item.get('key').value)"
                                  [isTextAre]="true" [config]="{ rows: 1, autoSize: true }"
                                  placeholderText="{{'kpi.kpiEvaluations.organizations.table.description' | translate}}"
                                  [type]="isSubmitted && item.get('param')?.errors ? 'error' : 'default'"
                                  [showError]="isSubmitted && item.get('param')?.errors !== null"
                                  [errors]="item.get('param')?.errors"
                                  [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.table.description' | translate }}]">
                  </hbt-input-text>
                  <span
                    *ngIf="isDisable(item.get('key').value) || isDetail">{{ item.get('param').value ? item.get('param').value : '-' }}</span>
                </td>
                <ng-container *ngIf="map.get(item.get('key').value) == null || map.get(item.get('key').value) === 0">
                  <td>
                    <hbt-select formControlName="unit" class="wpn-input"
                                *ngIf="!isDetail && !isDisable(item.get('key').value)"
                                dropdownClassName="data-select-pane-custom"
                                keyLabel="name"
                                [dataSelects]="listDataSelect"
                                placeholder="{{'kpi.workPlanningTemplates.table.unit' | translate}}">
                    </hbt-select>
                    <span
                      *ngIf="isDisable(item.get('key').value) || isDetail">{{ item.get('unit').value ? getValueSelect(listDataSelect, item.get('unit').value, value, name) : '-' }}</span>
                  </td>
                  <td>
                    <hbt-input-text formControlName="stepOne" class="wpn-input" [maxLength]="255"
                                    *ngIf="!isDetail"
                                    appNumberic
                                    [num]="11"
                                    [decimals]="5"
                                    placeholderText="{{'kpi.kpiEvaluations.organizations.table.semester1' | translate}}">
                    </hbt-input-text>
                    <span
                      *ngIf="isDetail">{{ item.get('stepOne').value ? item.get('stepOne').value : '-' }}</span>
                  </td>
                  <td>
                    <hbt-input-text formControlName="stepTwo" class="wpn-input" [maxLength]="255"
                                    *ngIf="!isDetail"
                                    [num]="11"
                                    [decimals]="5"
                                    appNumberic
                                    placeholderText="{{'kpi.kpiEvaluations.organizations.table.semester2' | translate}}">
                    </hbt-input-text>
                    <span
                      *ngIf="isDetail">{{ item.get('stepTwo').value ? item.get('stepTwo').value : '-' }}</span>
                  </td>
                  <td>
                    <hbt-input-text formControlName="fullYear" class="wpn-input" [maxLength]="255"
                                    *ngIf="!isDetail"
                                    appNumberic
                                    [num]="11"
                                    [decimals]="5"
                                    placeholderText="{{'kpi.kpiEvaluations.organizations.table.allYear' | translate}}"
                                    [type]="isSubmitted && item.get('fullYear')?.errors ? 'error' : 'default'"
                                    [showError]="isSubmitted && item.get('fullYear')?.errors !== null"
                                    [errors]="item.get('fullYear')?.errors"
                                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.table.allYear' | translate }}]"
                    >
                    </hbt-input-text>
                    <span
                      *ngIf="isDetail">{{ item.get('fullYear').value ? item.get('fullYear').value : '-' }}</span>
                  </td>
                  <td>
                    <hbt-input-text formControlName="note" class="wpn-input"
                                    *ngIf="!isDetail"
                                    [defaultInput]="true"
                                    [type]="isSubmitted && item.get('note')?.errors ? 'error' : 'default'"
                                    [isTextAre]="true" [config]="{ rows: 1, autoSize: true }"
                                    [showError]="isSubmitted && item.get('note')?.errors !== null"
                                    [errors]="item.get('note')?.errors"
                                    [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '255' }},
             { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.workPlanningTemplates.table.note' | translate }}]"
                                    placeholderText="{{'kpi.workPlanningTemplates.table.note' | translate}}">
                    </hbt-input-text>
                    <span
                      *ngIf="isDetail">{{ item.get('note').value ? item.get('note').value : '-' }}</span>
                  </td>
                </ng-container>
                <td class="text-center" *ngIf="!isDetail">
                  <btn-more-action *ngIf="!isDisable(item.get('key').value)" [model]="[item, {key: i}]"
                                   [setting]="actionSchema">
                  </btn-more-action>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </nz-table>
      </div>
    </div>
  </form>
</div>


<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'kpi.kpiEvaluations.orgWorkPlanning.label.selectWorkPlan' | translate"
          (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <div>
      <hbt-select
        [urlLoadData]="urlLoadData"
        [serviceName]="serviceName"
        keyValue="content"
        keyLabel="name"
        [(ngModel)]="valueSelect"
        labelText="{{'kpi.kpiEvaluations.orgWorkPlanning.label.selectWorkPlan' | translate}}"
        placeholder="{{'kpi.kpiEvaluations.orgWorkPlanning.label.selectWorkPlan' | translate}}">
      </hbt-select>
    </div>
  </ng-container>
  <ng-template [nzModalFooter]>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="handleCancel()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.confirm' | translate }}"
      (click)="handleOk()">
    </hbt-button>
  </ng-template>
</nz-modal>


<nz-modal [(nzVisible)]="isVisibleAdjust"
          nzTitle="{{'kpi.kpiEvaluations.organizations.label.adjustReason' | translate}}"
          (nzOnCancel)="handleCancelAdjust()">
  <ng-container *nzModalContent>
    <div>
      <hbt-input-text
        isTextAre
        labelText="{{'kpi.kpiEvaluations.organizations.label.adjustReason' | translate}} <span class='label__required'>*</span>"
        placeholderText="{{'kpi.kpiEvaluations.organizations.label.adjustReason' | translate}}"
        [type]="(valueInput == '' && isSubmittedModal) ? 'error' : 'default'"
        [showError]="(isSubmittedModal && valueInput == '')"
        [errors]="{required: true}"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'kpi.validates.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.label.adjustReason' | translate }}]"
        [(ngModel)]="valueInput"
      ></hbt-input-text>
    </div>
  </ng-container>
  <ng-template [nzModalFooter]>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="handleCancelAdjust()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{'common.button.save' | translate}}"
      (click)="handleOkAdjust()">
    </hbt-button>
  </ng-template>
</nz-modal>