@import "src/app/modules/kpi/data-access/style/style";

.work-plan .right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.work-plan .select-plan {
  color: $info-600;
  font-size: 16px;
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

::ng-deep.work-plan .wpn-input {
  input, .ant-select-selector, textarea {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
    min-height: 31px !important;
  }

  .ant-select-selector {
    height: 31px !important;
  }
}

::ng-deep nz-table.data-table {

  .ant-table-measure-now {
    display: none;
  }
  overflow-x: auto;

  th, td {
    padding: 3px !important;
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: clip !important;
  }

  .text-center {
    text-align: center;
  }

  .text-nowrap {
    white-space: nowrap;
  }

  .text-right {
    text-align: right;
  }

  th {
    background: $bg-table-header;
    color: $table-text-header;
    font-family: avertaB, sans-serif;
  }

  td {
    line-height: 1.15;
  }
}