@import "../../global-style/variable";

::ng-deep.feedbacks {
  &-btn {
    z-index: 99999999;
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    padding: 12px;
    background-color: $purple-700 !important;
    color: $bg-form-default !important;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  &-content {
    &-add {
      .ant-btn {
        width: 100%;
        margin: 0 !important;
      }
    }
  }
}

::ng-deep.feedback-list {
  bottom: 42px;
  position: fixed;
  right: 20px;
  top: auto;
}