@import "src/app/modules/kpi/data-access/style/style";
@import "src/app/core/global-style/variable";

.view-indicator {
  .label-text {
    font-weight: bold;
    font-size: 16px;
  }

  .text {
    font-size: 14px;
    color: $black-700;
  }
}