<div class='crm'>
  <!--Form tìm kiếm-->
  <form nz-form [formGroup]='form' (ngSubmit)="search()">
    <div class="search__custom-common remove__mr__bt-40" *ngIf="!this.data.objType">
      <div nz-row class="button__action-left">
<!--        <hbt-button buttonSize="LARGE"-->
<!--                    buttonType="BORDER" (click)="export()">-->
<!--          <img src="assets/icon/staff-manager/export_excel.svg" alt=""/>-->
<!--        </hbt-button>-->
      </div>

      <div class="search__page-right">
        <hbt-select formControlName='objType'
                    [showClear]="false"
                    [urlLoadData]="getUrlCategory(categoryCode.OBJECT_TYPE_LOG_CRM)"
                    [serviceName]="microService.ADMIN"
                    (ngModelChange)="search(1)"
                    keyLabel="name"
                    placeholder="{{'crm.log-action.objType' | translate }}">
        </hbt-select>
      </div>
    </div>
  </form>

  <div class='search__content--group'>
    <hbt-table-wrap>
      <hbt-table
        (changePageNum)="search($event)"
        [tableConfig]="tableConfig" [dataList]="tableData"></hbt-table>
    </hbt-table-wrap>
    <ng-template #contentChangeTmpl let-data="data">
      <ng-container *ngFor="let change of data.contentChange">
        <span *ngIf="change.keyBefore">{{ change.keyBefore }}: </span>
        <span class="value-before" *ngIf="change.valueBefore">{{ change.valueBefore }}</span>
        <span *ngIf="change.valueBefore && change.valueAfter"> -> </span>
        <span class="value-after" *ngIf="change.valueAfter">{{ change.valueAfter }}</span>
        <br>
      </ng-container>
    </ng-template>
  </div>

</div>

