<form nz-form [formGroup]="form" class="mts-index">
  <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
    <div nz-row class="button__action-left">
      <hbt-button
        class="staff__research__btn__search"
        buttonSize="LARGE"
        buttonAvailableStyle="ADD"
        style="margin-right: 20px"
        buttonText="{{'crm.printCard' | translate}}"
        (click)="doOpenPrint()"
        *ngIf="visibleActionsCount < 2"
      ></hbt-button>
      <hbt-button
        class="staff__research__btn__search"
        buttonSize="LARGE"
        buttonAvailableStyle="ADD"
        style="margin-right: 20px"
        buttonText="{{'common.button.add' | translate}}"
        *ngIf="objFunction?.create"
        (click)="doOpenForm(modeConst.ADD)"
      ></hbt-button>
      <hbt-button buttonSize="LARGE" buttonText="{{'common.button.uploadFile' | translate}}"
                  [buttonTextColor]="_variable.$purple_800" (click)="doImportData()"
                  *ngIf="visibleActionsCount < 2 && objFunction?.import"></hbt-button>
      <hbt-button
        style="margin-left: 20px"
        buttonSize="MEDIUM"
        buttonType="BORDER"
        (click)="export()"
        *ngIf="visibleActionsCount < 2">
        <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
      </hbt-button>
      <btn-more-action *ngIf="visibleActionsCount >= 2" [setting]="actionSchemaHeader" [isBtn]="true">
      </btn-more-action>
    </div>

    <div class="search__page-right">
      <hbt-input-text formControlName='keySearch'
                      [maxLength]='255'
                      placeholderText="{{'common.label.keySearchCustomer' | translate}}"></hbt-input-text>
      <hbt-button
        buttonIconType="AWESOME"
        [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
        buttonSize="VERY_LARGE"
        [buttonTextColor]="_variable.$neutral_100"
        [buttonBorderColor]="_variable.$purple_800"
        [buttonBgColor]="_variable.$purple_800"
        (click)="isShowAdvSearch = !isShowAdvSearch"
      >
      </hbt-button>
    </div>
  </div>
  <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
    <div class="form-search">
      <div nz-row [nzGutter]='[20,15]'>
        <div nz-col [nzXs]='12' [nzLg]='6'>
          <hbt-date-picker
            mode="month"
            formControlName="dateOfBirth"
            placeholderText="{{'crm.employees.table.monthOfBirth' | translate}}"
            labelText="{{'crm.employees.table.monthOfBirth' | translate}} "
          ></hbt-date-picker>
        </div>
        <!--Người giới thiệu-->
        <div nz-col [nzXs]="12" [nzLg]="6">
          <hbt-select formControlName="introducerId"
                      [dataSelects]="employeesInfo?.length ? employeesInfo : []" keyLabel="fullName"
                      keyValue="employeeId"
                      labelText="{{'crm.label.introducerName' | translate}}"
                      placeholder="{{'crm.label.introducerName' | translate}}"
          >
          </hbt-select>
        </div>
        <!--Người chuyển giao-->
        <div nz-col [nzXs]="12" [nzLg]="6">
          <hbt-select formControlName="userTakeCareId"
                      [dataSelects]="employeesInfo?.length ? employeesInfo : []" keyLabel="fullName"
                      keyValue="employeeId"
                      labelText="{{'crm.label.userTakeCareName' | translate}}"
                      placeholder="{{'crm.label.userTakeCareName' | translate}}"
          >
          </hbt-select>
        </div>
        <!--Tình trạng khách hàng-->
        <div nz-col [nzXs]='12' [nzLg]='6'>
          <hbt-select-check-able
            placeholder="{{'crm.label.customerStatus' | translate}}"
            [urlLoadData]="getUrlCategory(categoryCode.CRM_TRANG_THAI_KHACH_HANG)"
            [serviceName]="microService.ADMIN"
            keyLabel="name"
            labelText="{{'crm.label.customerStatus' | translate}}"
            formControlName='status'></hbt-select-check-able>
        </div>

        <div nz-col [nzXs]="24" [nzLg]="24" style="text-align: center">
          <hbt-button
            class="staff__research__btn__search"
            buttonSize="LARGE"
            buttonAvailableStyle="SEARCH"
            buttonText="{{'common.button.search' | translate}}"
            (click)="search()"
          ></hbt-button>
        </div>


      </div>
    </div>
  </div>

  <div class='search__content--group' [ngClass]="{'search__content--group-hidden-header': isShowAdvSearch}">
    <hbt-table-wrap>
      <hbt-table
        (changePageNum)="search($event)"
        [(objFilter)]="objFilter"
        (objFilterChange)="search()"
        [tableConfig]="tableConfig" [dataList]="tableData"></hbt-table>
    </hbt-table-wrap>
  </div>

  <ng-template #actionTmpl let-data="data">
    <btn-more-action [model]="[data]" [setting]="actionSchema">
    </btn-more-action>
  </ng-template>

  <hbt-import-file [showContent]='isImportData'
                   (onCloseModal)='doCloseImport($event)'
                   [importApi]='importApi'
                   [downLoadTemplateApi]="downLoadTemplateApi"
                   [fileTemplateName]="fileTemplateName"
                   [doDownloadFileByNameApi]='doDownloadFileByNameApi'>
  </hbt-import-file>
  <ng-template #attachFileTmpl let-attachFileList='attachFileList'>
    <div *ngFor="let file of attachFileList">
      <a class="attach-file" (click)="doDownLoadFile(file); $event.stopPropagation();">{{ file.fileName }}</a>
    </div>
  </ng-template>

  <ng-template #footerTmpl>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.save' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </ng-template>


</form>


<nz-modal [(nzVisible)]="isVisible" nzTitle="{{'crm.label.addCourse' | translate}}"
          (nzOnCancel)="handleCancel()" [nzWidth]="nzWidth">
  <ng-container *nzModalContent [formGroup]="formImport">
    <div nz-row [nzGutter]='[20,15]'>
      <div nz-col [nzXs]='24' [nzLg]='12'>
        <hbt-select style="margin-top: 0"
                    formControlName="courseId"
                    urlLoadData="/courses/course-list"
                    [serviceName]="serviceName"
                    [type]="isSubmittedModal && formImport.controls['courseId'].errors ? 'error' : 'default'"
                    [showError]="isSubmittedModal && formImport.controls['courseId'].errors !== null"
                    [errors]="formImport.controls['courseId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.courses.label.course' | translate }}]"
                    keyLabel="name"
                    keyValue="courseId"
                    placeholder="{{'crm.courses.label.course' | translate}}"
                    labelText="{{'crm.courses.label.course' | translate}} <span class='label__required'>*</span>"
        >
        </hbt-select>
      </div>
      <div nz-col [nzXs]='24' [nzLg]='12'>
        <hbt-select [isLoadMore]="true"
                    urlLoadData="/customers/pageable"
                    [serviceName]="serviceName"
                    keyValue="customerId"
                    keyLabel="phoneAndName"
                    formControlName="instructorId"
                    [type]="isSubmittedModal && formImport.controls['instructorId'].errors ? 'error' : 'default'"
                    [showError]="isSubmittedModal && formImport.controls['instructorId'].errors !== null"
                    [errors]="formImport.controls['instructorId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.courses.table.tutor' | translate }}]"
                    placeholder="{{'crm.courses.table.tutor' | translate}}"
                    labelText="{{'crm.courses.table.tutor' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>
    </div>
  </ng-container>
  <ng-template [nzModalFooter]>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="handleCancel()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{'common.button.save' | translate}}"
      (click)="handleOk()">
    </hbt-button>
  </ng-template>
</nz-modal>