<div class="chart-header">
  <em class="{{icon}}"></em>
  <div class="chart-header-title"> {{title}} </div>
</div>
<div nz-row class="chart">
<!--  <nz-card *ngIf="type === 'PIE'" [nzExtra]="extraTemplate">-->
<!--    <ng-container *ngFor="let item of listChartTag; index as i">-->
<!--      <div [id]="chartBarId + i" [ngStyle]="(typeValue !== item.value || listDataChart[i]?.length === 0) ? {display: 'none'} : ''"></div>-->
<!--      <ng-container *ngIf="listDataChart[i]?.length === 0 && typeValue === item.value">-->
<!--        <nz-empty></nz-empty>-->
<!--      </ng-container>-->
<!--    </ng-container>-->
<!--  </nz-card>-->
<!--  <ng-template #extraTemplate>-->
<!--    <div style="display: flex;">-->
<!--      <ng-container *ngFor="let item of listChartTag; index as i">-->
<!--        <div (click)="onTagClick(item.value, i)" class="chart__tag" [class.active&#45;&#45;button]="selectedButtons[i]">{{item.label | translate}}</div>-->
<!--      </ng-container>-->
<!--    </div>-->
<!--  </ng-template>-->
  <nz-card *ngIf="type === 'PIE'">
    <div [id]="chartPieId"></div>
  </nz-card>
    <nz-card *ngIf="type === 'BAR'">
      <div [id]="chartBarId"></div>
    </nz-card>
  <nz-card *ngIf="type === 'COLUMN'">
    <div [id]="chartColumnId"></div>
  </nz-card>
  <nz-card *ngIf="type === 'LINE'">
    <div [id]="chartLineId"></div>
  </nz-card>
</div>
