@import "../../../../../../core/global-style/variable";

.config__parameter {
  .item__home--left {
    .config__parameter-header {
      font-weight: bold;
      font-size: 18px;
    }

    .d-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .config__parameter-btn {
      border-radius: 50%;
      padding: 7px;
      background-color: $purple-700;
      color: $bg-form-default;
      cursor: pointer;
      display: inline-block;
    }


    .left-bar-item {
      overflow-y: auto;
      height: 420px;
      padding: 0;
      margin: 20px 0 0 0;

      li {
        height: 40px;
        line-height: 40px;
        padding: 0 10px 0 10px;
        margin-bottom: 10px;
        background-color: $black-100;
        border-radius: 10px;

        &:hover {
          color: $bg-form-default;
          background-color: $primary-300;
        }

        .config__title {
          font-size: 16px;
          user-select: none;
          white-space: nowrap;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .item-select {
        color: $bg-form-default;
        background-color: $primary-400;
      }
    }

  }


}
