<form nz-form [formGroup]="form">
  <div nz-row [nzGutter]="[30,25]" class="position__salary">
    <!--id nhân viên-->
    <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="!hiddenEmp">
      <employee-data-picker [isExpand]="true"
        [functionCode]="functionCode"
        [scope]="scope"
        [status]='mode !== modeConst.ADD ? "ALL" : "ACTIVE"'
        [formMode]="mode"
        formControlName="employeeId"
        [type]="isSubmitted && form.controls['employeeId'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['employeeId'].errors != null"
        [errors]="form.controls['employeeId'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.employeeName' | translate }}]"
        labelText="{{'hrm.staffManager.positionSalaryProcess.table.employeeId' | translate}} <span class='label__required'>*</span>"
      >
      </employee-data-picker>
    </div>

    <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="!hiddenEmp"></div>

    <!--ngày bắt đầu-->
    <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-date-picker
        placeholderText="{{'hrm.staffManager.positionSalaryProcess.table.startDate' | translate}}"
        labelText="{{'hrm.staffManager.positionSalaryProcess.table.startDate' | translate}} <span class='label__required'>*</span>"
        [type]="isSubmitted && form.controls['startDate'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['startDate'].errors != null"
        [errors]="form.controls['startDate'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.positionSalaryProcess.table.startDate' | translate }}]"
        formControlName="startDate"
      ></hbt-date-picker>
    </div>

    <!--ngày kết thúc-->
    <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-date-picker
        placeholderText="{{'hrm.staffManager.positionSalaryProcess.table.endDate' | translate}}"
        labelText="{{'hrm.staffManager.positionSalaryProcess.table.endDate' | translate}}"
        [type]="(form.errors?.rangeDateError || form.controls['endDate'].errors) ? 'error' : 'default'"
        [showError]="(form.errors?.rangeDateError || form.controls['endDate'].errors ) != null"
        [errors]="form.errors?.rangeDateError ? form.errors : form.controls['endDate'].errors"
        [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'hrm.validate.rangeDate.pareDate' | translate:
      {'fromDate': 'hrm.staffManager.positionSalaryProcess.table.startDate' | translate, 'toDate': 'hrm.staffManager.positionSalaryProcess.table.endDate' | translate}},
        ]"
        formControlName="endDate"
      ></hbt-date-picker>
    </div>

    <div nz-col [nzXs]="24" [nzLg]="24">
      <div nz-menu-divider></div>
    </div>

    <ng-container formArrayName="formData">
      <ng-container *ngFor="let positionSalary of listPositionSalary?.controls; let i = index; let first = first" [formGroupName]="i">
        <!--Phân loại-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select
            [urlLoadData]="getUrlCategory(categoryCode.PHAN_LOAI_LUONG_TRUONG)"
            keyLabel="name"
            formControlName="salaryType"
            [type]="isSubmitted && positionSalary.controls['salaryType'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && positionSalary.controls['salaryType'].errors != null"
            [errors]="positionSalary.controls['salaryType'].errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.insuranceSalaryProcess.table.salaryType' | translate }}]"
            placeholder="{{'hrm.staffManager.insuranceSalaryProcess.table.salaryType' | translate}}"
            labelText="{{'hrm.staffManager.insuranceSalaryProcess.table.salaryType' | translate}} <span class='label__required'>*</span>"
            (ngModelChange)="changeSalaryType(i, $event)"
          ></hbt-select>
        </div>

        <!--Chức danh nn-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select
            [dataSelects]="positionSalary.controls['listJobs'].value"
            keyLabel="name"
            keyValue="jobId"
            formControlName="jobId"
            [type]="isSubmitted && positionSalary.controls['jobId'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && positionSalary.controls['jobId'].errors != null"
            [errors]="positionSalary.controls['jobId'].errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.positionSalaryProcess.table.jobName' | translate }}]"
            placeholder="{{'hrm.staffManager.positionSalaryProcess.table.jobName' | translate}}"
            labelText="{{'hrm.staffManager.positionSalaryProcess.table.jobName' | translate}} <span class='label__required'>*</span>"
          ></hbt-select>
        </div>

        <!--Nhóm-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select
            [dataSelects]="listSalaryRank"
            keyLabel="name"
            keyValue="salaryRankId"
            formControlName="salaryRankId"
            [type]="isSubmitted && positionSalary.controls['salaryRankId'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && positionSalary.controls['salaryRankId'].errors != null"
            [errors]="positionSalary.controls['salaryRankId'].errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.insuranceSalaryProcess.table.salaryRankId' | translate }}]"
            placeholder="{{'hrm.staffManager.positionSalaryProcess.table.salaryRankId' | translate}}"
            labelText="{{'hrm.staffManager.positionSalaryProcess.table.salaryRankId' | translate}} <span class='label__required'>*</span>"
            (ngModelChange)="changeSalaryRank(i, $event)"
          ></hbt-select>
        </div>

        <!--id bậc lương-->
        <div nz-col [nzXs]="12" [nzLg]="7">
          <hbt-select
            [dataSelects]="positionSalary.controls['listSalaryGrades'].value"
            keyLabel="name"
            keyValue="salaryGradeId"
            formControlName="salaryGradeId"
            [type]="isSubmitted && positionSalary.controls['salaryGradeId'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && positionSalary.controls['salaryGradeId'].errors != null"
            [errors]="positionSalary.controls['salaryGradeId'].errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.positionSalaryProcess.table.salaryGradeId' | translate }}]"
            placeholder="{{'hrm.staffManager.positionSalaryProcess.table.salaryGradeId' | translate}}"
            labelText="{{'hrm.staffManager.positionSalaryProcess.table.salaryGradeId' | translate}} <span class='label__required'>*</span>"
          ></hbt-select>
        </div>

        <!--Tỷ lệ-->
        <div nz-col [nzXs]="12" [nzLg]="5">
          <hbt-select
            [urlLoadData]="getUrlCategory(categoryCode.HR_TY_LE_LUONG_TRUONG)"
            keyLabel="name"
            keyValue="name"
            formControlName="percent"
            [type]="isSubmitted && positionSalary.controls['percent'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && positionSalary.controls['percent'].errors != null"
            [errors]="positionSalary.controls['percent'].errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.insuranceSalaryProcess.table.percent' | translate }}]"
            placeholder="{{'hrm.staffManager.insuranceSalaryProcess.table.percent' | translate}}"
            labelText="{{'hrm.staffManager.insuranceSalaryProcess.table.percent' | translate}} <span class='label__required'>*</span>"
          ></hbt-select>
        </div>

        <div nz-col [nzXs]="24" [nzLg]="24" style="text-align: right" *ngIf="mode !== modeConst.VIEW" class="position__salary-action">
          <hbt-button
            *ngIf="i === (listPositionSalary?.length - 1)"
            (click)="addPositionSalary()"
            nz-tooltip
            nzTooltipPlacement="top"
            nzTooltipTitle="{{'hrm.staffManager.positionSalaryProcess.table.addNew' | translate}}"
            buttonIconType="AWESOME" prefixIcon="far fa-plus-circle"
            buttonSize="MEDIUM"
            [buttonBgColor]="_variable.$purple_800" buttonType="NO_BORDER">
          </hbt-button>

          <hbt-button
            *ngIf="listPositionSalary?.length > 1"
            (click)="removePositionSalary(i)"
            nz-tooltip
            nzTooltipPlacement="top"
            nzTooltipTitle="{{'hrm.staffManager.positionSalaryProcess.table.cancel' | translate}}"
            buttonIconType="AWESOME" prefixIcon="far fa-trash-alt"
            buttonSize="MEDIUM"
            buttonTextColor="#FA0B0B" buttonType="NO_BORDER">
          </hbt-button>
        </div>

        <div nz-col [nzXs]="24" [nzLg]="24" *ngIf="listPositionSalary.length > 1 && i !== (listPositionSalary.length -1)">
          <div nz-menu-divider></div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container formArrayName="listAttributes">
      <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
        <div nz-col [nzXs]="12" [nzLg]="12">
          <input-attribute-common
            [controlName]="getAttributeControl(idx, 'attributeValue')"
            [dataType]="attributes.get('dataType')?.value"
            [urlLoadData]="attributes.get('urlLoadData')?.value"
            [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
            [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
            [errors]="attributes.get('attributeValue')?.errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
            [placeholderText]="attributes.get('attributeName')?.value"
            [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
          >
          </input-attribute-common>
        </div>
      </ng-container>
    </ng-container>

    <!-- File đính kèm -->
    <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
      <hbt-upload
        [fileList]="f['files'].value"
        [(docIdsDelete)]="docIdsDelete"
        [typeFileAvailable]="['jpeg', 'jpg', 'png', 'pdf', 'doc', 'docx']"
        [multiple]="true"
        labelText="{{'common.label.attachFile' | translate}}"
        (fileListChange)="onFileListChange($event, 'files', true)"
        (docIdsDeleteChange)="removeFile($event, 'files')"
        [serviceName]='microService.HRM'
        [showError]="isSubmitted"
        [maxSize]="3"
        [disable]="mode === modeConst.VIEW"
      ></hbt-upload>
    </div>
  </div>
</form>
