<div class='scores-form'>
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]='[20,15]'>
      <div nz-col [nzXs]='24' [nzLg]='24'>
        <nz-table nzBordered [nzData]="[1]" nzSize="small" [nzShowPagination]="false">
          <thead>
          <tr>
            <th nzWidth='10%' class="text-center">STT</th>
            <th nzWidth="30%" rowSpan="2"
                class="text-center">{{ 'crm.courses.label.content' | translate }}
            </th>
            <th nzWidth="20%" rowSpan="2"
                class="text-center">{{ 'crm.courses.label.status' | translate }}
            </th>
            <th nzWidth="10%"
                class="text-center">{{ 'crm.courses.label.score' | translate }}
            </th>
            <th nzWidth="30%" rowSpan="2"
                class="text-center">{{ 'crm.courses.label.comment' | translate }}
            </th>
          </tr>
          <tr>
            <th nzWidth='10%' class="text-center">{{ 'crm.courses.label.totalScore' | translate }}</th>
            <th nzWidth="10%"
                class="text-center">{{ getTotalScore() }}
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container [formArrayName]="FORM_ARRAY_NAME">
            <ng-container *ngFor="let item of scores.controls; let i = index" [formGroupName]="i">
              <tr>
                <td style="text-align: center; font-weight: bold; width: 10%">
                  {{ (i + 1) }}
                </td>
                <td style="width: 30%;">
                 <span class="wrap"> {{ item.get('name').value ?? '-' }} </span>
                </td>
                <td style="width: 20%;">
                  <hbt-select
                    [urlLoadData]="getUrlCategory(categoryCode.CRM_TRANG_THAI_TGIA_HOC)"
                    [serviceName]="microService.ADMIN"
                    keyLabel="name"
                    formControlName="statusId"
                    placeholder="{{'crm.courses.label.status' | translate}}"
                  ></hbt-select>
                </td>
                <td style="width: 10%;">
                  <hbt-input-text formControlName="point" [maxLength]="6"
                                  appNumberic
                                  [num]="3"
                                  [decimals]="2"
                                  placeholderText="{{'crm.courses.label.score' | translate}}"
                                  [disable]="mode == modeConst.VIEW"
                                  [type]="item.get('point')?.errors ? 'error' : 'default'"
                                  [showError]="item.get('point')?.errors !== null"
                                  [errors]="item.get('point')?.errors"
                                  [errorDefs]="[{ errorName: 'max', errorDescription: 'common.validate.maxValue' | translate: {'maxValue': 100 }}]"
                  >
                  </hbt-input-text>
                </td>
                <td style="width: 30%;">
                  <hbt-input-text formControlName="note" [maxLength]="255"
                                  isTextAre
                                  placeholderText="{{'crm.courses.label.comment' | translate}}"
                                  [disable]="mode == modeConst.VIEW">
                  </hbt-input-text>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </nz-table>
      </div>
    </div>
  </form>
</div>