@import "src/app/modules/hrm/data-access/style/style";


.text-center {
  text-align: center;
}

.label__required {
  color: $error-default-color;
}


.scores-form .wrap{
  white-space: normal !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
}

.scores-form table {
  table-layout: fixed !important;
  width: 100%;
}