<form nz-form [formGroup]="form">
  <div class="app-row" nz-row [nzGutter]='[20,15]'>
    <div nz-col nzXs="24" *ngIf="mode === modeConst.EDIT" style="margin-bottom: 0 !important;">
      <p class="feedback-title">{{ issue.content }}</p>
      <p class="feedback-meta">{{ issue.createdTime }} • {{ issue.statusName }} <span *ngIf="issue.typeName">• {{ issue.typeName }} </span></p>
      <hr />

      <div class="message-list" *ngIf="messages.length > 0">
        <div *ngFor="let msg of messages"
             [ngClass]="{'message': true, 'user': msg.isMe, 'staff': !msg.isMe}">
          <div class="text">{{ msg.content }}</div>
          <div class="time">{{ msg.createdTime }}</div>
        </div>
      </div>
      <hr *ngIf="messages.length > 0" />
    </div>
    <div nz-col nzXs="24" *ngIf="mode === modeConst.ADD">
      <hbt-select [urlLoadData]="getUrlCategory(categoryCode.LOAI_PHAN_ANH)"
                  [showAddCategory]="false"
                  keyLabel="name"
                  formControlName="type"
                  placeholder="{{'admin.feedbacks.type' | translate}}"
      ></hbt-select>
    </div>
    <div nz-col nzXs="24">
      <hbt-input-text formControlName="content" maxLength="1000" isTextAre
                      [config]="{ rows: 5, autoSize: true }" [defaultInput]="true"
                      [type]="isSubmitted && form.controls['content'].errors ? 'error' : 'default'"
                      [showError]="isSubmitted && form.controls['content'].errors !== null"
                      [errors]="form.controls['content'].errors"
                      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': mode === modeConst.EDIT ? 'Nội dung trao đổi' : 'Phản ánh' | translate}},
                        { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '1000' }}]"
                      placeholderText="{{mode === modeConst.EDIT ? 'Nhập nội dung trao đổi' : 'Nhập phản ánh của bạn' | translate}}">
      </hbt-input-text>
    </div>
    <div nz-col nzXs="24" style="position: relative">
      <hbt-upload class="icon-upload"
                  [(docIdsDelete)]="docIdsDelete"
                  [disable]="mode === modeConst.EDIT"
                  [typeFileAvailable]="['jpeg', 'jpg', 'png', 'pdf']"
                  [multiple]="true"
                  typeUpload="icon"
                  icon="paper-clip"
                  (fileListChange)="onFileListChange($event, 'attachments', true)"
                  (docIdsDeleteChange)="removeFile($event, 'attachments')"
                  [serviceName]='serviceName'
                  [showError]="isSubmitted"
      ></hbt-upload>
    </div>
  </div>
</form>

