<div class='crm'>
  <!--Form tìm kiếm-->
  <form nz-form [formGroup]='form' (ngSubmit)="search()">
    <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
      <div nz-row class="button__action-left">
        <hbt-button
          class="staff__research__btn__search"
          buttonSize="LARGE"
          buttonAvailableStyle="ADD"
          style="margin-right: 20px"
          buttonText="{{'common.button.add' | translate}}"
          (click)="doOpenForm(modeConst.ADD)"
        ></hbt-button>
        <hbt-button
          style="margin-left: 20px"
          buttonSize="MEDIUM"
          buttonType="BORDER"
          (click)="export()">
          <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
        </hbt-button>
      </div>

      <div class="search__page-right">
        <hbt-input-text formControlName='keySearch'
                        [maxLength]='255'
                        placeholderText="{{'crm.orders.keySearch' | translate}}"></hbt-input-text>
        <hbt-button
          buttonIconType="AWESOME"
          [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
          buttonSize="VERY_LARGE"
          [buttonTextColor]="_variable.$neutral_100"
          [buttonBorderColor]="_variable.$purple_800"
          [buttonBgColor]="_variable.$purple_800"
          (click)="isShowAdvSearch = !isShowAdvSearch"
        >
        </hbt-button>
      </div>
    </div>
    <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
      <div class="form-search">
        <div nz-row [nzGutter]='[20,15]'>

          <div nz-col [nzXs]='12' [nzLg]='6'>
            <hbt-select [isLoadMore]="true"
                        urlLoadData="/employees"
                        [serviceName]="serviceName"
                        keyValue="employeeId"
                        keyLabel="fullName"
                        formControlName="saleStaffId"
                        placeholder="{{'crm.orders.label.employeeId' | translate}}"
                        labelText="{{'crm.orders.label.employeeId' | translate}}"
            ></hbt-select>
          </div>
          <div nz-col [nzXs]='12' [nzLg]='6'>
            <hbt-select formControlName='customerId'
                                   [isLoadMore]="true"
                                   urlLoadData="/customers/pageable"
                                   [serviceName]="serviceName"
                                   keyValue="customerId"
                                   keyLabel="fullName"
                                   placeholder="{{'crm.orders.table.customerId' | translate }}"
                                   labelText="{{'crm.orders.table.customerId' | translate}}">
            </hbt-select>
          </div>


          <div nz-col [nzXs]="24" [nzLg]="24" style="text-align: center">
            <hbt-button
              class="staff__research__btn__search"
              buttonSize="LARGE"
              buttonAvailableStyle="SEARCH"
              buttonText="{{'common.button.search' | translate}}"
              (click)="search()"
            ></hbt-button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!--End Form tìm kiếm-->

  <div class='search__content--group'>
    <hbt-table-wrap>
      <div>
        <p *ngIf="listId.length > 0" style="margin: 0">{{ 'common.label.selected' | translate }}
          : {{ listId.length }}</p>
      </div>
      <hbt-table
        (onDblClick)="onClickItem($event)"
        (changePageNum)='search($event)'
        [(objFilter)]="objFilter"
        (objFilterChange)="search()"
        [tableConfig]='tableConfig' [dataList]="tableData" (amountSelectedRowsChange)="listId = $event"
      ></hbt-table>
    </hbt-table-wrap>
  </div>


  <ng-template #actionTmpl let-data="data">
    <btn-more-action [model]="[data]" [setting]="actionSchema">
    </btn-more-action>
  </ng-template>


  <ng-template #footerTmpl>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.save' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </ng-template>

</div>

