@import "variable";

.input__group {

  div.input__label {
    color: $input-label-color;
    font-size: 14px;
    font-family: avertaB, sans-serif;
    margin-bottom: 4px;

    ::ng-deep .label__required {
      color: $error-default-color;
    }
  }

  .input__message {
    font-size: 12px;
    margin-top: 8px;
    color: $input-label-color;

    em {
      margin-right: 8px;
    }

    .text__message {
      font-family: avertaL, sans-serif;
    }
  }

  .input__message--warning {

    em, span {
      color: $bg-warning-default;
    }
  }

  .input__message--error {

    em, span {
      color: $error-default-color;
    }
  }

  .input__message--success {

    em, span {
      color: $bg-success-default;
    }
  }

  .input__text {
    font-size: 14px;
    color: $input-body-color;
    outline: none;
    box-shadow: none;
    resize: none;

    @include placeholder {
      color: $input-placeholder-color;
      font-size: 14px;
    }

    &:active, &:focus {
      &:enabled {
        @include placeholder {
          color: $bd-default;
        }
      }
    }
  }

  .ant-input-number {
    width: 100%;
    ::ng-deep.ant-input-number-input {
      height: 22px;
      padding: 0;
    }
  }

  ::ng-deep .remove__icon .ant-input-number-handler-wrap {
    display: none;
  }
}

//Input no icon
.input__group.input__group--no-icon {

  .input__text {
    border: 1px solid;
    padding: 10px 0 10px 8px;
    border-radius: 8px;
  }

  //Default
  .input__text--default {
    border-color: $bd-default;

    &:hover, &:focus {
      border-color: $bd-default-hover;
    }

    &:disabled {

      &:hover, &:focus {
        border-color: $bd-default-disabled-hover;
      }
    }
  }

  //Warning
  .input__text--warning {
    border-color: $bd-warning;

    &:hover, &:focus {
      border-color: $bd-warning-hover;
    }

    &:disabled {
      background: $bg-warning-disabled;

      &:hover, &:focus {
        border-color: $bd-warning-disabled-hover;
      }
    }
  }

  //Error
  .input__text--error {
    border-color: $bd-error;

    &:hover, &:focus {
      border-color: $bd-error-hover;
    }

    &:disabled {
      background: $bg-error-disabled;

      &:hover, &:focus {
        border-color: $bd-error-disabled-hover;
      }
    }
  }

  //Success
  .input__text--success {
    border-color: $bd-success;

    &:hover, &:focus {
      border-color: $bd-success-hover;
    }

    &:disabled {
      background: $bg-success-disabled;

      &:hover, &:focus {
        border-color: $bd-success-disabled-hover;
      }
    }
  }
}

//Input icon
.input__group.input__group--icon {

  .input__group--group {
    border: 1px solid;
    padding: 10px 0 10px 8px;
    border-radius: 8px;
    outline: none;
    box-shadow: none;
    align-items: center;

    ::ng-deep i {
      color: $input-body-color;
      font-size: 14px;
      margin-right: 5px;
    }

    ::ng-deep em {
      color: $input-body-color;
      font-size: 14px;
      margin-right: 5px;
    }
  }

  //Default
  .input__group--group--default {
    border-color: $bd-default;

    &:hover, &:focus {
      border-color: $bd-default-hover;
    }

    &:disabled {
      background: $bg-default-disabled;

      &:hover, &:focus {
        border-color: $bd-default-disabled-hover;
      }
    }
  }

  //Warning
  .input__group--group--warning {
    border-color: $bd-warning;

    &:hover, &:focus {
      border-color: $bd-warning-hover;
    }

    &:disabled {
      background: $bg-warning-disabled;

      &:hover, &:focus {
        border-color: $bd-warning-disabled-hover;
      }
    }
  }

  //Error
  .input__group--group--error {
    border-color: $bd-error;

    &:hover, &:focus {
      border-color: $bd-error-hover;
    }

    &:disabled {
      background: $bg-error-disabled;

      &:hover, &:focus {
        border-color: $bd-error-hover;
      }
    }
  }

  //Success
  .input__group--group--success {
    border-color: $bd-success;

    &:hover, &:focus {
      border-color: $bg-success-default;
    }

    &:disabled {
      background: $bg-success-disabled;

      &:hover, &:focus {
        border-color: $bd-success-disabled-hover;
      }
    }
  }
}

::ng-deep .ant-upload.ant-upload-drag {
  border: 1px dashed $bd-default !important;
  background-color: white;

  &:hover, &:focus {
    border-color: $bg-default !important;
  }
}

.select__group.select__group--compact {

  ::ng-deep .ant-select-selector {
    border: none;
    height: 22px !important;

    ::ng-deep .ant-select-selection-search-input, ::ng-deep .ant-select-selection-item {
      height: 22px;
      line-height: 22px;
    }
  }

  @include placeholder {
    color: $input-placeholder-color;
    font-size: 14px;
  }
}

.input__group--compacts--flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.group__action--form-array {
  display: flex;
}

::ng-deep .select__group--compact.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
  box-shadow: none;
  outline: 0;
}

::ng-deep .ant-input-suffix {
  margin-left: 4px;
  margin-right: 4px;
}

.max-length-input {
  display: flex;
  justify-content: flex-end;
}