@import "~ngx-toastr/toastr";
@import "variable";

.toast-container {
  .ngx-toastr {
    min-height: 48px;
    padding: 14px 16px;
    border-radius: 4px;
    border-left-width: 8px;
    border-left-style: solid;
    background-color: white;
    border-color: $info-600;
    color: $neutral-900;

    &:hover {
    }
  }


  .toast-success {
    background-color: white;
    //border-color: #06a561;
    border-color: $success-600;
    //color: #14142b;
    color: $neutral-900;
  }

  .toast-info {
    background-color: white;
    //border-color: #2196f3;
    border-color: $info-600;
    //color: #2196f3;
    color: $info-600;
  }

  .toast-warning {
    background-color: white;
    //border-color: #ffc122;
    border-color: $warning-500;
    //color: #14142b;
    color: $neutral-900;
  }

  .toast-error {
    background-color: white;
    //border-color: #fa0b0b;
    border-color: $error-500;
    //color: #14142b;
    color: $neutral-900;
  }

  .toast-close-button {
    font-size: inherit;
    //text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 $black-50;

    &:hover {
      color: inherit;
      opacity: 0.6;
    }
  }
}

.toast-content {
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    //color: #14142b;
    color: $neutral-900;
  }
}

.content-success {
  border-left: 6px solid $success-700;
  border-radius: 4px;
  //color: #14142B
  color: $neutral-900
}

.content-error {
  //border-left: 6px solid #fa0b0b;
  border-left: 6px solid $error-500;
  border-radius: 4px;
  //color: #14142B;
  color: $neutral-900;
}

.content-warning {
  //border-left: 6px solid #ffc122;
  border-left: 6px solid $warning-500;
  border-radius: 4px;
  //color: #14142B;
  color: $neutral-900;
}
