@import "variable";

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  border: $bg-scrollbar-bg;
  background-color: $bg-scrollbar-bg;
}

*::-webkit-scrollbar-thumb {
  background-color: $bg-scrollbar-color;
  border: $bg-scrollbar-icon;
  border-radius: 5px;
  cursor: pointer;
}
