<div class="family-relationship">
  <div nz-row [nzGutter]='[20,15]' *ngIf="showFamilyInfo()">
    <ng-container *ngFor="let family of familyRelationShipInfo">
      <div nz-col [nzXs]="24" [nzLg]="family.colsSpan*12">
        <hbt-text-label [labelText]="family.label" [labelValue]="family.value"></hbt-text-label>
      </div>
    </ng-container>
  </div>

  <div style="margin-top: 20px">
    <hbt-button (click)="viewDetail()"
                buttonText="{{isDetail ? ('hrm.staffManager.label.hideDetail' | translate) : ('hrm.staffManager.label.viewDetail' | translate)}}"
                [suffixIcon]="isDetail ? 'up' : 'down'"></hbt-button>
  </div>

  <div class='search__content--group' *ngIf="isDetail">
    <div *ngIf="objFunction?.view">
      <div class="title-table">{{ 'hrm.staffManager.label.listFamilyRelationship' | translate }}
        <em *ngIf="objFunction?.create" nz-button nz-icon nzType="plus-square" nzTheme="outline" class="btn-create"
            nz-tooltip
            nzTooltipTitle="{{'common.button.add' | translate}}"
            nzTooltipPlacement="left"
            (click)="doOpenFormCustom('familyRelationships')"></em></div>
      <hbt-table-wrap>
        <hbt-table
          (changePageNum)="search($event, 'familyRelationships')"
          [tableConfig]="tableConfig" [dataList]="tableDataFrs"></hbt-table>
      </hbt-table-wrap>
    </div>
  </div>

</div>

<ng-template #actionTmpl let-data="data">
  <btn-more-action [model]="[data]" [setting]="actionSchema">
  </btn-more-action>
</ng-template>

<ng-template #footerTmpl>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef.destroy()">
  </hbt-button>
  <hbt-button
    buttonAvailableStyle="SAVE"
    buttonText="{{ 'common.button.saveS' | translate }}"
    (click)="modalRef.getContentComponent().save()">
  </hbt-button>
</ng-template>


