<form nz-form [formGroup]="form">
  <div nz-row [nzGutter]='[20,15]'>
    <!--id nhân viên-->
    <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="!hiddenEmp">
      <employee-data-picker [isExpand]="true"
        [functionCode]="functionCode"
        [scope]="scope"
        [status]='mode !== modeConst.ADD ? "ALL" : "ACTIVE"'
        [formMode]="mode"
        [disable]="mode !== modeConst.ADD"
        formControlName="employeeId"
        [type]="isSubmitted && form.controls['employeeId'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['employeeId'].errors != null"
        [errors]="form.controls['employeeId'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.employeeName' | translate }}]"
        labelText="{{'hrm.staffManager.educationPromotions.table.employeeId' | translate}} <span class='label__required'>*</span>"
      >
      </employee-data-picker>
    </div>

    <!--hoc hàm-->
    <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-select
        [urlLoadData]="getUrlCategory(categoryCode.HOC_HAM)"
        keyLabel="name"
        formControlName="promotionRankId"
        [type]="isSubmitted && form.controls['promotionRankId'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['promotionRankId'].errors != null"
        [errors]="form.controls['promotionRankId'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.educationPromotions.table.promotionRankName' | translate }}]"
        placeholder="{{'hrm.staffManager.educationPromotions.table.promotionRankName' | translate}}"
        labelText="{{'hrm.staffManager.educationPromotions.table.promotionRankName' | translate}} <span class='label__required'>*</span>"
      ></hbt-select>
    </div>

    <!--Năm phong tặng-->
    <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-date-picker
        mode="year"
        format="YYYY"
        placeholderText="{{'hrm.staffManager.educationPromotions.table.issuedYear' | translate}}"
        labelText="{{'hrm.staffManager.educationPromotions.table.issuedYear' | translate}} <span class='label__required'>*</span>"
        formControlName="issuedYear"
        [type]="isSubmitted && form.controls['issuedYear'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['issuedYear'].errors != null"
        [errors]="form.controls['issuedYear'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.educationPromotions.table.issuedYear' | translate }}]"
      ></hbt-date-picker>
    </div>
  </div>
</form>
