<div class="award-info">
  <div nz-row [nzGutter]='[20,15]' *ngIf="showPersonalInfo()">
    <ng-container *ngFor="let awardInfo of awardInfo">
      <div nz-col [nzXs]="24" [nzLg]="awardInfo.colsSpan*6">
        <hbt-text-label [labelText]="awardInfo.label" [labelValue]="awardInfo.value"></hbt-text-label>
      </div>
    </ng-container>
  </div>

  <div style="margin-top: 20px">
    <hbt-button (click)="viewDetail()"
                buttonText="{{ (isDetail ? 'hrm.staffManager.label.hideDetail' : 'hrm.staffManager.label.viewDetail') | translate }}"
                [suffixIcon]="isDetail ? 'up' : 'down'"></hbt-button>
  </div>

  <div class='search__content--group' *ngIf="isDetail">
    <div *ngIf="objFunctionEvaluationResult?.view">
      <div class="title-table">{{ 'hrm.staffManager.staffResearch.pageName.evaluationResultInfo' | translate }}
        <em *ngIf="objFunctionEvaluationResult?.create" nz-button nz-icon nzType="plus-square" nzTheme="outline"
            nz-tooltip
            nzTooltipTitle="{{'common.button.add' | translate}}"
            nzTooltipPlacement="left"
            class="btn-create" (click)="doOpenFormCustom('evaluation')"></em></div>
      <hbt-table-wrap>
        <hbt-table
          (changePageNum)="search($event, 'evaluation')"
          [tableConfig]="tableConfigEvaluationResult" [dataList]="tableDataEvaluationResult"></hbt-table>
      </hbt-table-wrap>
    </div>
    <div *ngIf="objFunctionAwardProcess?.view">
      <div class="title-table">{{ 'hrm.staffManager.staffResearch.pageName.awardProcessInfo' | translate }}
        <em *ngIf="objFunctionAwardProcess?.create" nz-button nz-icon nzType="plus-square" nzTheme="outline"
            nz-tooltip
            nzTooltipTitle="{{'common.button.add' | translate}}"
            nzTooltipPlacement="left"
            class="btn-create" (click)="doOpenFormCustom('award')"></em></div>
      <hbt-table-wrap>
        <hbt-table
          (changePageNum)="search($event, 'award')"
          [tableConfig]="tableConfig" [dataList]="tableData"></hbt-table>
      </hbt-table-wrap>
    </div>
    <div *ngIf="objFunctionDisciplineProcess?.view">
      <div class="title-table">{{ 'hrm.staffManager.staffResearch.pageName.disciplineProcessInfo' | translate }}
        <em *ngIf="objFunctionDisciplineProcess?.create" nz-button nz-icon nzType="plus-square" nzTheme="outline"
            nz-tooltip
            nzTooltipTitle="{{'common.button.add' | translate}}"
            nzTooltipPlacement="left"
            class="btn-create" (click)="doOpenFormCustom('discipline')"></em></div>
      <hbt-table-wrap>
        <hbt-table
          (changePageNum)="search($event, 'discipline')"
          [tableConfig]="tableConfigDisciplineProcess" [dataList]="tableDataDiscipline"></hbt-table>
      </hbt-table-wrap>
    </div>
  </div>
</div>
<ng-template #actionTmpl let-data="data">
  <btn-more-action [model]="[data]" [setting]="actionSchema">
  </btn-more-action>
</ng-template>

<ng-template #footerTmpl>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef.destroy()">
  </hbt-button>
  <hbt-button
    buttonAvailableStyle="SAVE"
    buttonText="{{ 'common.button.saveS' | translate }}"
    (click)="modalRef.getContentComponent().save()">
  </hbt-button>
</ng-template>