<div class="als-form">
  <div nz-row [nzGutter]="[20,15]">
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.employeeCode' | translate}}
      </div>
      <div>
          {{data.employeeCode}}
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.fullName' | translate}}
      </div>
      <div>
        {{data.employeeName}}
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.positionName' | translate}}
      </div>
      <div>
        {{data.jobName}}
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.orgName' | translate}}
      </div>
      <div>
        {{data.organizationName}}
      </div>
    </div>

    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.startDate' | translate}}
      </div>
      <div>
        {{data.startDate}}
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.endDate' | translate}}
      </div>
      <div>
        {{data.endDate}}
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.seniority' | translate}}
      </div>
      <div>
        {{data.seniority}}
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.sickLeaveMonths' | translate}}
      </div>
      <div>
        {{data.sicknessMonths}}
      </div>
    </div>

    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.unpaidLeaveMonths' | translate}}
      </div>
      <div>
        {{data.unpaidMonths}}
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.workAccidentMonths' | translate}}
      </div>
      <div>
        {{data.accidentMonths}}
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.bonusDays' | translate}}
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.remainDaysLastYear' | translate}}
      </div>
      <div>
        {{data.remainLastYearDays}}
      </div>
    </div>

    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.annualDays' | translate}}
      </div>
      <div>
        {{data.annualDays}}
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.usedLastYearDays' | translate}}
      </div>
      <div>
        {{data.usedLastYearDays}}
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.usedDays' | translate}}
      </div>
      <div>
        {{data.usedDays}}
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzLg]="6" class="flex-end">
      <div class="input__label">
        {{'abs.annualLeaves.table.remainDays' | translate}}
      </div>
      <div>
        {{data.remainDays}}
      </div>
    </div>
  </div>
</div>