@import "../../../../../../core/global-style/variable";
.als-form .input__label{
  color: $input-label-color;
  font-weight: bold;
  font-size: 14px;
}

.als-form .flex-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}