@import "../../../../core/global-style/variable";

body {
  height: 100vh;
}

.bg__login {
  //background-image: url("/assets/img/bg-login-reduce.jpg");
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 25vh;
  box-sizing: border-box;
}

.login {
  width: 30%;
  background: $bg-form-default;
  padding: 30px 42px;
  margin-left: 75px;
  border-radius: 30px;
}

@media (max-width: 992px) {
  .login {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}


.loading-btn {
  margin-left: 20px;
}

.login__title {
  text-align: center;
  margin: 0 0 10px 0 !important;
  font-weight: 800;
}

.login__flex {
  display: flex;
  justify-content: space-between;
  color: $black-500;
  margin-top: 10px;
  padding: 0 10px 0 10px;

  div {
    cursor: pointer;
  }

  div:hover {
    text-decoration: underline;
    color: $black-900;
  }
}


:host ::ng-deep .ant-input {
  height: 60px !important;
  border-radius: 20px !important;
  background: $black-100 !important;
  border: none !important;
  padding: 0 20px !important;
}


::ng-deep .login-input .ant-input:focus {
  border-color: $black-100 !important;
}


::ng-deep .input__message {
  color: $error-500 !important;
}

.login__btn {
  width: 100%;
  margin: 25px 0 10px 0;
  color: $bg-form-default;
  height: 45px;
  border-radius: 15px;
  background: linear-gradient(to right, $purple-500, $purple-700);
}

.pass-eye {
  position: absolute;
  top: 26px;
  right: 20px;
  font-size: 16px;
  cursor: pointer;
}

::ng-deep .bg__login .ant-btn {
  border: none;
}


.login__text--center {
  text-align: center;
  color: $black-600;
}

.login__flex--icon {
  display: flex;
  justify-content: center;
}

.login__icon1 {
  font-size: 24px;
  margin: 10px;
  padding: 7px;
  border-radius: 50%;
  background: $orange-600;
  color: $bg-form-default;
  cursor: pointer;
}

.login__icon2 {
  font-size: 24px;
  padding: 7px;
  border-radius: 50%;
  margin: 10px;
  background: $info-600;
  color: $bg-form-default;
  cursor: pointer;
}

.login__icon1:hover {
  background: $purple-600;
}

.login__icon2:hover {
  background: $purple-600;
}
