<div class='mat'>

  <div class='search__content--group search__content--group-hidden-header'>
    <hbt-table-wrap [extra]="false">
      <hbt-table
        [tableConfig]='tableConfig' [dataList]="tableData"
      ></hbt-table>
    </hbt-table-wrap>
  </div>


  <ng-template #actionTmpl let-data="data">
    <button class="delete-btn" (click)="updateUnitPrice(data, contentTmpl)">
      <i class="fas fa-edit"></i>
    </button>
  </ng-template>

  <ng-template #unitPriceTmpl let-data="data" let-rowIndex="rowIndex">
    {{(data.unitPrice ?? 0)}}
  </ng-template>

  <ng-template #amountTmpl let-data="data" let-rowIndex="rowIndex">
    {{(data.quantity ?? 0) * (data.unitPrice ?? 0)}}
  </ng-template>

</div>
<ng-template #footerTmpl let-params>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef.destroy()">
  </hbt-button>
  <hbt-button
    buttonAvailableStyle="SAVE"
    buttonText="{{ 'common.button.saveS' | translate }}"
    (click)="saveUnitPrice(params.data)">
  </hbt-button>
</ng-template>

<ng-template #contentTmpl let-params>
  <div nz-row [nzGutter]="[20,15]">
    <!--mã kho-->
    <div nz-col [nzXs]="24" [nzLg]="24">
      <hbt-input-text [(ngModel)]="params.data.unitPrice" minNumber="0"
                      appNumberic
                      [num]="20"
                      [decimals]="2"
                      [isFormatterCurrency]="true"
                      [integerPart]="14"
                      [decimalPart]="2"
                      [inputType]="'number'"
                      [showFlexEnd]="true"
                      placeholderText="{{'mat.matWarehouses.equipment.unitPrice' | translate}}"
                      labelText="{{'mat.matWarehouses.equipment.unitPrice' | translate}}"
      ></hbt-input-text>
<!--                      [type]="isSubmitted && form.controls['code'].errors ? 'error' : 'default'"-->
<!--                      [showError]="isSubmitted && form.controls['code'].errors != null"-->
<!--                      [errors]="form.controls['code'].errors"-->
<!--                      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matWarehouses.equipment.unitPrice' | translate }},-->
<!--          { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 50}}]"-->
    </div>
  </div>

</ng-template>

