@import "src/app/modules/kpi/data-access/style/style";

.org-evaluation-level1 {
  .flex {
    display: flex;
    justify-content: right;
    align-items: center;

    .text {
      font-size: 18px;
      color: $primary-500;
      cursor: pointer;
      text-decoration: underline;
      margin-right: 10px;
    }
  }

  .click-text {
    color: $primary-400;
    cursor: pointer;
  }

  .parent-text {
    color: $primary-500;
    cursor: pointer;
  }

}

.text-center {
  text-align: center;
}

::ng-deep .org-evaluation-level1 nz-table-inner-scroll {
  th {
    background: $bg-table-header;
    color: $table-text-header;
    font-family: avertaB, sans-serif;
  }
}

::ng-deep.org-evaluation-level1 .eca-input {
  input, .ant-select-selector, textarea {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
    text-align: right !important;
    min-height: 31px !important;
  }

  .ant-select-selector {
    height: 31px !important;
  }
}