@import "src/app/modules/kpi/data-access/style/style";

#save-form-mat {
  height: calc(100vh - 192px);
  overflow-y: auto;
  padding-top: 0;
}

::ng-deep {
  hbt-scroll-tabs {
    .tab--wrap {
      background: $bg-form-default;
      position: sticky;
      z-index: 999;
      top: 0;
    }
  }
}

.mws-title {
  font-size: 16px;
  font-weight: bold;
  color: $input-body-color;
}