<div [ngClass]="{'app-card' : isPage}">
  <div class="content" *ngIf="isPage">
    <hbt-button buttonType="NO_BORDER" (click)="save()" buttonAvailableStyle="SAVE"
                buttonText="{{'common.button.save' | translate}}" type='SUBMIT'></hbt-button>
  </div>
  <form nz-form [formGroup]="form">
    <div class="app-row" nz-row [nzGutter]='[20,15]'>
      <div nz-col [nzXs]='24' [nzLg]='12' *ngIf="dataConfig?.configPeriodType != 'DATE'">
        <hbt-date-picker
          formControlName="startDate"
          mode="month"
          [type]="isSubmitted && form.controls['startDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['startDate'].errors !== null"
          [errors]="form.controls['startDate'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.configurations.parameters.label.startMonth' | translate }}]"
          labelText="{{ 'admin.configurations.parameters.label.startMonth' | translate }} <span class='label__required'>*</span>"
          placeholderText="{{ 'admin.configurations.parameters.label.startMonth' | translate }}"
        ></hbt-date-picker>
      </div>
      <div nz-col [nzXs]='24' [nzLg]='12' *ngIf="dataConfig?.configPeriodType != 'DATE'">
        <hbt-date-picker
          formControlName="endDate"
          mode="month"
          [type]="(form.controls['endDate'].errors || form.errors?.rangeDateError) ? 'error' : 'default'"
          [showError]="(form.controls['endDate'].errors || form.errors?.rangeDateError) !== null"
          [errors]="form.errors?.rangeDateError ? form.errors : form.controls['endDate'].errors"
          [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'hrm.validate.rangeDate.pareDateMore' | translate:{'fromDate': 'admin.configurations.parameters.label.startMonth' | translate, 'toDate': 'admin.configurations.parameters.label.endMonth' | translate}}]"
          labelText="{{ 'admin.configurations.parameters.label.endMonth' | translate }}"
          placeholderText="{{ 'admin.configurations.parameters.label.endMonth' | translate }}"
        ></hbt-date-picker>
      </div>
      <div nz-col [nzXs]='24' [nzLg]='12' *ngIf="dataConfig?.configPeriodType == 'DATE'">
        <hbt-date-picker
          formControlName="startDate"
          mode="date"
          [type]="isSubmitted && form.controls['startDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['startDate'].errors !== null"
          [errors]="form.controls['startDate'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.configurations.parameters.label.startDate' | translate }}]"
          labelText="{{ 'admin.configurations.parameters.label.startDate' | translate }} <span class='label__required'>*</span>"
          placeholderText="{{ 'admin.configurations.parameters.label.startDate' | translate }}"
        ></hbt-date-picker>
      </div>
      <div nz-col [nzXs]='24' [nzLg]='12' *ngIf="dataConfig?.configPeriodType == 'DATE'">
        <hbt-date-picker
          formControlName="endDate"
          mode="date"
          [type]="(form.controls['endDate'].errors || form.errors?.rangeDateError) ? 'error' : 'default'"
          [showError]="(form.controls['endDate'].errors || form.errors?.rangeDateError) !== null"
          [errors]="form.errors?.rangeDateError ? form.errors : form.controls['endDate']?.errors"
          [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'hrm.validate.rangeDate.pareDateMore' | translate:{'fromDate': 'admin.configurations.parameters.label.startDate' | translate, 'toDate': 'admin.configurations.parameters.label.endDate' | translate}}]"
          labelText="{{ 'admin.configurations.parameters.label.endDate' | translate }}"
          placeholderText="{{ 'admin.configurations.parameters.label.endDate' | translate }}"
        ></hbt-date-picker>
      </div>
      <ng-container formArrayName="columns">
        <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
          <div nz-col [nzXs]="attributes.get('dataType')?.value?.toUpperCase() === 'TEXT' ? 24 : 12" [nzLg]="attributes.get('dataType')?.value.toUpperCase() === 'TEXT' ? 24 : 12">
            <input-attribute-common
              [controlName]="getAttributeControl(idx, 'configValue')"
              [dataType]="attributes.get('dataType')?.value"
              [urlLoadData]="attributes.get('urlLoadData')?.value"
              [type]="isSubmitted && attributes.get('configValue')?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && attributes.get('configValue')?.errors != null"
              [errors]="attributes.get('configValue')?.errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('configName')?.value | translate }}]"
              [placeholderText]="attributes.get('configName')?.value"
              [labelText]="getLabelText(attributes.get('configName')?.value, attributes.get('isRequired')?.value)"
            >
            </input-attribute-common>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </form>
</div>
