<div class='save-form-mat'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[20,15]">
      <!--Mã vật tư-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="code" maxLength="50"
          [type]="isSubmitted && form.controls['code'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['code'].errors != null"
          [errors]="form.controls['code'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matEquipments.table.code' | translate }},
          { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 50}}]"
          placeholderText="{{'mat.matEquipments.table.code' | translate}}"
          labelText="{{'mat.matEquipments.table.code' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <!--Loại vật tư-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.EQUIPMENT_TYPE)"
                    keyLabel="name"
                    keyValue="value"
                    formControlName="equipmentTypeId"
                    [type]="isSubmitted && form.controls['equipmentTypeId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['equipmentTypeId'].errors != null"
                    [errors]="form.controls['equipmentTypeId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matEquipments.table.equipmentTypeId' | translate }}]"
                    placeholder="{{'mat.matEquipments.table.equipmentTypeId' | translate}}"
                    labelText="{{'mat.matEquipments.table.equipmentTypeId' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!--Kiểu loại vật tư-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.EQUIPMENT_GROUP)"
                    keyLabel="name"
                    keyValue="value"
                    formControlName="equipmentGroupId"
                    [type]="isSubmitted && form.controls['equipmentGroupId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['equipmentGroupId'].errors != null"
                    [errors]="form.controls['equipmentGroupId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matEquipments.table.equipmentGroupId' | translate }}]"
                    placeholder="{{'mat.matEquipments.table.equipmentGroupId' | translate}}"
                    labelText="{{'mat.matEquipments.table.equipmentGroupId' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!--tên vật tư-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="name" maxLength="255"
          [type]="isSubmitted && form.controls['name'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['name'].errors != null"
          [errors]="form.controls['name'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matEquipments.table.name' | translate }},
          { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'mat.matEquipments.table.name' | translate}}"
          labelText="{{'mat.matEquipments.table.name' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <!--Mô tả chi tiết-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="description" isTextAre
                        maxLength="500"
                        placeholderText="{{'mat.matEquipments.table.description' | translate}}"
                        labelText="{{'mat.matEquipments.table.description' | translate}}"
        ></hbt-input-text>
      </div>

      <!--id đơn vị tính-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.EQUIPMENT_UNIT)"
                    keyLabel="name"
                    keyValue="value"
                    formControlName="equipmentUnitId"
                    [type]="isSubmitted && form.controls['equipmentUnitId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['equipmentUnitId'].errors != null"
                    [errors]="form.controls['equipmentUnitId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matEquipments.table.equipmentUnitId' | translate }},
                    { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matEquipments.table.equipmentUnitId' | translate }}]"
                    placeholder="{{'mat.matEquipments.table.equipmentUnitId' | translate}}"
                    labelText="{{'mat.matEquipments.table.equipmentUnitId' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!--số ngày cảnh báo-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="warningDays" maxLength="19"
          appNumberic
          [num]="5"
          [inputType]="'number'"
          [type]="isSubmitted && form.controls['warningDays'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['warningDays'].errors != null"
          [errors]="form.controls['warningDays'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 19}}]"
          placeholderText="{{'mat.matEquipments.table.warningDays' | translate}}"
          labelText="{{'mat.matEquipments.table.warningDays' | translate}}"
        ></hbt-input-text>
      </div>

      <!--cờ quản lý serial-->
      <div nz-col [nzXs]="12" [nzLg]="12" style="display: flex; flex-direction: column">
        <span class="title__switch">{{'mat.matEquipments.table.isSerialChecking' | translate}}</span>
        <nz-switch
          formControlName="isSerialChecking"
        ></nz-switch>
      </div>

      <!--số hiệu-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="serialNo" maxLength="255"
          [type]="isSubmitted && form.controls['serialNo'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['serialNo'].errors != null"
          [errors]="form.controls['serialNo'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'mat.matEquipments.table.serialNo' | translate}}"
          labelText="{{'mat.matEquipments.table.serialNo' | translate}}"
        ></hbt-input-text>
      </div>

      <!--đơn giá-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="unitPrice" maxLength="19"
          appNumberic
          [num]="20"
          [decimals]="2"
          [isFormatterCurrency]="true"
          [integerPart]="14"
          [decimalPart]="2"
          [inputType]="'number'"
          [showFlexEnd]="true"
          [type]="isSubmitted && form.controls['unitPrice'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['unitPrice'].errors != null"
          [errors]="form.controls['unitPrice'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matEquipments.table.unitPrice' | translate }},
          { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 19}}]"
          placeholderText="{{'mat.matEquipments.table.unitPrice' | translate}}"
          labelText="{{'mat.matEquipments.table.unitPrice' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <!--vị trí-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="location" maxLength="255"
          [type]="isSubmitted && form.controls['location'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['location'].errors != null"
          [errors]="form.controls['location'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'mat.matEquipments.table.location' | translate}}"
          labelText="{{'mat.matEquipments.table.location' | translate}}"
        ></hbt-input-text>
      </div>

      <!--ghi chú-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="note" isTextAre
          maxLength="500"
          placeholderText="{{'mat.matEquipments.table.note' | translate}}"
          labelText="{{'mat.matEquipments.table.note' | translate}}"
        ></hbt-input-text>
      </div>

    </div>
  </form>
</div>

