<div class='mat'>

  <div class='search__content--group search__content--group-hidden-header'>
    <hbt-table-wrap [extra]="false">
      <hbt-table
        [tableConfig]='tableConfig' [dataList]="tableData"
      ></hbt-table>
    </hbt-table-wrap>
  </div>

  <ng-template #quantityTmpl let-data="data" let-rowIndex="rowIndex">
    <span *ngIf="isDisabled">
      {{(data.quantity ?? 0).toLocaleString('en-US')}}
    </span>
    <hbt-input-text minNumber="0" *ngIf="!isDisabled" [isFormatterCurrency]="true" inputType="number"
                    placeholderText="{{'mat.matIncomingShipments.listEquipments.table.quantity' | translate}}"
                    [(ngModel)]="data.quantity">
    </hbt-input-text>
  </ng-template>

  <ng-template #unitPriceTmpl let-data="data" let-rowIndex="rowIndex">
    <span *ngIf="isDisabled">
      {{(data.unitPrice ?? 0).toLocaleString('en-US')}}
    </span>
    <hbt-input-text minNumber="0" *ngIf="!isDisabled"
                    appNumberic
                    [num]="20"
                    [decimals]="2"
                    [isFormatterCurrency]="true"
                    [integerPart]="14"
                    [decimalPart]="2"
                    [inputType]="'number'"
                    [showFlexEnd]="true"
                    placeholderText="{{'mat.matIncomingShipments.listEquipments.table.unitPrice' | translate}}"
                    [(ngModel)]="data.unitPrice">
    </hbt-input-text>
  </ng-template>

  <ng-template #amountTmpl let-data="data" let-rowIndex="rowIndex">
    {{((data.quantity ?? 0) * (data.unitPrice ?? 0)).toLocaleString('en-US')}}
  </ng-template>


  <ng-template #actionTmpl let-data="data">
    <button class="delete-btn" (click)="deleteItem(data)">
      <i class="fa fa-trash"></i>
    </button>
  </ng-template>
</div>

