<div class='mat'>

  <div class='search__content--group search__content--group-hidden-header'>
    <hbt-table-wrap [extra]="false">
      <hbt-table
        [tableConfig]='tableConfig' [dataList]="tableData"
      ></hbt-table>
    </hbt-table-wrap>
  </div>


  <ng-template #actionTmpl let-data="data">
    <button class="delete-btn" (click)="deleteItem(data)">
      <i class="fa fa-trash"></i>
    </button>
  </ng-template>

  <ng-template #isManagerTmpl let-data="data">
    <label nz-checkbox [(ngModel)]="data.isManager" (ngModelChange)="changeManager($event, data)"></label>
  </ng-template>

  <ng-template #incomingApproveTmpl let-data="data">
    <label nz-checkbox [(ngModel)]="data.hasApproveImport"></label>
  </ng-template>

  <ng-template #transferringApproveTmpl let-data="data">
    <label nz-checkbox [(ngModel)]="data.hasApproveTransfer"></label>
  </ng-template>

  <ng-template #outgoingApproveTmpl let-data="data">
    <label nz-checkbox [(ngModel)]="data.hasApproveExport"></label>
  </ng-template>

  <ng-template #adjustmentApproveTmpl let-data="data">
    <label nz-checkbox [(ngModel)]="data.hasApproveAdjustment"></label>
  </ng-template>
</div>

