<form nz-form [formGroup]="form" class="iss-index">
  <div class="lms">
    <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
      <div nz-row class="button__action-left" style="max-width: 600px !important;">
        <hbt-button
          buttonSize="LARGE"
          buttonAvailableStyle="SAVE"
          buttonText="{{'icn.employeeChanges.label.makeList' | translate}}"
          (click)="onMakeList()"
        ></hbt-button>
        <hbt-button
          style="margin-left: 20px"
          buttonSize="LARGE"
          buttonType="BORDER"
          (click)="export()">
          <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
        </hbt-button>
        <hbt-button
          (click)="onApproveAll()"
          style="margin-left: 20px"
          buttonSize='LARGE'
          buttonAvailableStyle='APPROVE'
          buttonText="{{'icn.employeeChanges.label.approve' | translate}}"
        ></hbt-button>
        <hbt-button
          (click)="onUndoApproveAll()"
          style="margin-left: 20px"
          buttonSize='LARGE'
          buttonAvailableStyle='APPROVE'
          buttonText="{{'icn.employeeChanges.label.undoApprove' | translate}}"
        ></hbt-button>
      </div>

      <div class="search__page-right">
        <hbt-button
          buttonIconType="AWESOME"
          [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
          buttonSize="VERY_LARGE"
          [buttonTextColor]="_variable.$neutral_100"
          [buttonBorderColor]="_variable.$purple_800"
          [buttonBgColor]="_variable.$purple_800"
          (click)="isShowAdvSearch = !isShowAdvSearch"
        >
        </hbt-button>
      </div>
    </div>
    <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
      <div class="form-search">
        <div nz-row [nzGutter]='[20,15]'>
          <div nz-col [nzXs]="24" [nzLg]="8">
            <tree-data-picker
              formControlName="orgId"
              [isExpand]="true"
              [functionCode]="functionCode"
              [scope]="scope"
              placeholder="{{'icn.employeeChanges.label.orgId' | translate}}"
              labelText="{{'icn.employeeChanges.label.orgId' | translate}}"
            >

            </tree-data-picker>
          </div>
          <div nz-col [nzXs]="24" [nzLg]="8">
            <hbt-date-picker
              formControlName="periodDate"
              mode="month"
              format="MM/YYYY"
              [type]="isSubmitted && form.controls['periodDate']?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && form.controls['periodDate']?.errors != null"
              [errors]="form.controls['periodDate']?.errors"
              [errorDefs]="[
            { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
              placeholderText="{{'icn.employeeChanges.label.periodDate' | translate}}"
              labelText="{{'icn.employeeChanges.label.periodDate' | translate}} <span class='label__required'>*</span>"

            >

            </hbt-date-picker>
          </div>
          <div nz-col [nzXs]="24" [nzLg]="8">
            <hbt-input-text
              formControlName="keySearch"
              [type]="isSubmitted && form.controls['keySearch']?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && form.controls['keySearch']?.errors != null"
              [errors]="form.controls['keySearch']?.errors"
              [errorDefs]="[
            { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
              placeholderText="{{'icn.employeeChanges.label.keySearch' | translate}}"
              labelText="{{'icn.employeeChanges.label.keySearch' | translate}}"

            >

            </hbt-input-text>
          </div>

          <div nz-col [nzXs]="24" [nzLg]="8">
            <hbt-select
              formControlName="changeType"
              [urlLoadData]="getUrlCategory(CATEGORY_CODE.LOAI_THAY_DOI)"
              [serviceName]="MICRO_SERVICE.ADMIN"
              keyValue="value"
              keyLabel="name"
              [type]="isSubmitted && form.controls['changeType']?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && form.controls['changeType']?.errors != null"
              [errors]="form.controls['changeType']?.errors"
              [errorDefs]="[
            { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
              placeholder="{{'icn.employeeChanges.label.changeType' | translate}}"
              labelText="{{'icn.employeeChanges.label.changeType' | translate}}"

            >

            </hbt-select>
          </div>
          <div nz-col [nzXs]="24" [nzLg]="8">
            <hbt-select
              formControlName="contributionType"
              [urlLoadData]="getUrlCategory(CATEGORY_CODE.TRANG_THAI_TRICH_NOP)"
              [serviceName]="MICRO_SERVICE.ADMIN"
              keyValue="value"
              keyLabel="name"
              [type]="isSubmitted && form.controls['contributionType']?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && form.controls['contributionType']?.errors != null"
              [errors]="form.controls['contributionType']?.errors"
              [errorDefs]="[
            { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
              placeholder="{{'icn.employeeChanges.label.contributionType' | translate}}"
              labelText="{{'icn.employeeChanges.label.contributionType' | translate}}"

            >

            </hbt-select>
          </div>

          <div nz-col [nzXs]="24" [nzLg]="8">
            <hbt-select
              formControlName="status"
              [urlLoadData]="getUrlCategory(CATEGORY_CODE.TRANG_THAI_RA_SOAT_DU_LIEU)"
              [serviceName]="MICRO_SERVICE.ADMIN"
              keyValue="value"
              keyLabel="name"
              [type]="isSubmitted && form.controls['status']?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && form.controls['status']?.errors != null"
              [errors]="form.controls['status']?.errors"
              [errorDefs]="[
            { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
              placeholder="{{'icn.employeeChanges.label.status' | translate}}"
              labelText="{{'icn.employeeChanges.label.status' | translate}}"

            >

            </hbt-select>
          </div>
          <div nz-col [nzXs]="24" [nzLg]="24" style="text-align: center">
            <hbt-button
              class="staff__research__btn__search"
              buttonSize="LARGE"
              buttonAvailableStyle="SEARCH"
              buttonText="{{'common.button.search' | translate}}"
              (click)="search()"
            ></hbt-button>
          </div>


        </div>
      </div>
    </div>

    <div class="search__content--group">
      <hbt-table-wrap>
        <div>
          <p *ngIf="listId.length > 0" style="margin: 0">
            {{ 'common.label.selected' | translate }} : {{ listId.length }}
          </p>
        </div>
        <hbt-table
          (changePageNum)="search($event)"
          [tableConfig]="tableConfig"
          [dataList]="tableData"
          (amountSelectedRowsChange)="listId = $event"
        ></hbt-table>
      </hbt-table-wrap>
    </div>

    <ng-template #actionTmpl let-data="data">
      <btn-more-action [model]="[data]" [setting]="actionSchema">
      </btn-more-action>
    </ng-template>

    <ng-template #footerTmpl>
      <hbt-button
        buttonAvailableStyle="CANCEL"
        buttonText="{{ 'common.button.cancel' | translate }}"
        (click)="modalRef.destroy()">
      </hbt-button>
      <hbt-button
        buttonAvailableStyle="SAVE"
        buttonText="{{ 'common.button.saveS' | translate }}"
        (click)="modalRef.getContentComponent().save()">
      </hbt-button>
    </ng-template>

    <hbt-import-file
      [showContent]="isImportData"
      (onCloseModal)="doCloseImport($event)"
      [importApi]="importApi"
      [downLoadTemplateApi]="downLoadTemplateApi"
      [fileTemplateName]="fileTemplateName"
      [doDownloadFileByNameApi]="doDownloadFileByNameApi"
    >
    </hbt-import-file>

    <reject-common-template
      [isReject]="isReject"
      [listRejectId]="listId"
      [rejectId]="rejectId"
      [rejectByListApi]="rejectByListApi"
      (onCloseModal)="doCloseReject($event)"
    >
    </reject-common-template>

    <ng-template #attachFileTmpl let-attachFileList="attachFileList">
      <div *ngFor="let file of attachFileList">
        <a class="attach-file" (click)="doDownLoadFile(file); $event.stopPropagation()">{{ file.fileName }}</a>
      </div>
    </ng-template>
  </div>
</form>

