<div>
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]='[20,15]'>
      <!--Nhân viên-->
      <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="!hiddenEmp">
        <employee-data-picker [isExpand]="true"
          [functionCode]="functionCode"
          [scope]="scope"
          [status]='mode !== modeConst.ADD ? "ALL" : "ACTIVE"'
          [formMode]="mode"
          [disable]="mode !== modeConst.ADD"
          formControlName="employeeId"
          [type]="isSubmitted && form.controls['employeeId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['employeeId'].errors != null"
          [errors]="form.controls['employeeId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.employeeName' | translate }}]"
          labelText="{{'common.label.employeeName' | translate}}  <span class='label__required'>*</span>"
        >
        </employee-data-picker>
      </div>

      <!--từ ngày-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'hrm.staffManager.staffResearch.allowanceHis.table.fromDate' | translate}}"
          labelText="{{'hrm.staffManager.staffResearch.allowanceHis.table.fromDate' | translate}} <span class='label__required'>*</span>"
          [type]="isSubmitted && form.controls['startDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['startDate'].errors  != null"
          [errors]="form.controls['startDate'].errors"
          [errorDefs]="[ { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.staffResearch.allowanceHis.table.fromDate' | translate }}]"
          formControlName="startDate"></hbt-date-picker>
      </div>

      <!--đến ngày-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'hrm.staffManager.staffResearch.allowanceHis.table.toDate' | translate}}"
          labelText="{{'hrm.staffManager.staffResearch.allowanceHis.table.toDate' | translate}}"
          formControlName="endDate"
          [type]="(form.controls['endDate'].errors || form.errors?.rangeDateError) ? 'error' : 'default'"
          [showError]="(form.controls['endDate'].errors || form.errors?.rangeDateError) !== null"
          [errors]="form.errors?.rangeDateError ? form.errors : form.controls['endDate'].errors"
          [errorDefs]="[
      { errorName: 'rangeDateError', errorDescription: 'hrm.validate.rangeDate.pareDate' | translate:
        {'fromDate': 'hrm.staffManager.staffResearch.allowanceHis.table.fromDate' | translate, 'toDate': 'hrm.staffManager.staffResearch.allowanceHis.table.toDate' | translate}}
    ]"></hbt-date-picker>
      </div>

      <!--loại phụ cấp-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select
          [urlLoadData]="getUrlCategory(categoryCode.LOAI_PHU_CAP)"
          [serviceName]="microService.ADMIN"
          keyLabel="name"
          formControlName="allowanceTypeId"
          [type]="isSubmitted && form.controls['allowanceTypeId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['allowanceTypeId'].errors != null"
          [errors]="form.controls['allowanceTypeId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.staffResearch.allowanceHis.table.allowanceTypeName' | translate }}]"
          placeholder="{{'hrm.staffManager.staffResearch.allowanceHis.table.allowanceTypeName' | translate}}"
          labelText="{{'hrm.staffManager.staffResearch.allowanceHis.table.allowanceTypeName' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!--mức hưởng-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text
          formControlName="amount"
          [isFormatterCurrency]="true"
          [integerPart]="12"
          [decimalPart]="2"
          [inputType]="'number'"
          [showFlexEnd]="false"
          [type]="isSubmitted && form.controls['amount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['amount'].errors != null"
          [errors]="form.controls['amount'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.staffResearch.allowanceHis.table.amountMoney' | translate }},
          { errorName: 'min', errorDescription: 'common.validate.minValue' | translate: {'minValue': 0}},
          ]"
          placeholderText="{{'hrm.staffManager.staffResearch.allowanceHis.table.amountMoney' | translate}}"
          labelText="{{'hrm.staffManager.staffResearch.allowanceHis.table.amountMoney' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <!--số quyết định-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text
          formControlName="documentNo" maxLength="50"
          [type]="isSubmitted && form.controls['documentNo'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['documentNo'].errors != null"
          [errors]="form.controls['documentNo'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.staffResearch.allowanceHis.table.documentNo' | translate }}]"
          placeholderText="{{'hrm.staffManager.staffResearch.allowanceHis.table.documentNo' | translate}}"
          labelText="{{'hrm.staffManager.staffResearch.allowanceHis.table.documentNo' | translate}}"
        ></hbt-input-text>
      </div>

      <!--ngày ký quyết định-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'hrm.staffManager.staffResearch.allowanceHis.table.documentSignedDate' | translate}}"
          labelText="{{'hrm.staffManager.staffResearch.allowanceHis.table.documentSignedDate' | translate}}"
          formControlName="documentSignedDate"></hbt-date-picker>
      </div>

      <ng-container formArrayName="listAttributes">
        <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
          <div nz-col [nzXs]="12" [nzLg]="12">
            <input-attribute-common
              [controlName]="getAttributeControl(idx, 'attributeValue')"
              [dataType]="attributes.get('dataType')?.value"
              [urlLoadData]="attributes.get('urlLoadData')?.value"
              [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
              [errors]="attributes.get('attributeValue')?.errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
              [placeholderText]="attributes.get('attributeName')?.value"
              [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
            >
            </input-attribute-common>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </form>
</div>

