
<form nz-form [formGroup]="form" class="mts-index">
  <div class='hrm'>
    <div class="search__custom-common remove__mr__bt-40 ">
      <div nz-row class="button__action-left">
        <hbt-button
          class="staff__research__btn__search"
          buttonSize="LARGE"
          buttonAvailableStyle="ADD"
          style="margin-right: 20px"
          buttonText="{{'common.button.add' | translate}}"
          *ngIf="objFunction?.create"
          (click)="doOpenForm(modeConst.ADD)"
        ></hbt-button>

        <hbt-button buttonSize="LARGE"
                    class="staff__research__btn__search"
                    buttonText="{{'common.button.uploadFile' | translate}}"
                    [buttonTextColor]="_variable.$purple_800" (click)="doImportData()"></hbt-button>
        <hbt-button
          style="margin-left: 20px"
          buttonSize="MEDIUM"
          buttonType="BORDER"
          (click)="export()">
          <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
        </hbt-button>
      </div>

      <div class="search__page-right">
          <hbt-select
            [urlLoadData]="getUrlCategory(categoryCode.HRM_DOT_KHAM_SUC_KHOE)"
            [serviceName]="microService.ADMIN"
            keyLabel="name"
            keyValue="value"
            placeholder="{{'hrm.healthRecords.label.examinationPeriod' | translate }}"
            formControlName="examinationPeriodId"
          ></hbt-select>

          <hbt-input-text formControlName='employeeCode' maxLength='200'
                          placeholderText="{{'common.label.employeeCode' | translate}}"></hbt-input-text>

      </div>
    </div>

    <div class='search__content--group'>
      <hbt-table-wrap  [tableConfig]="tableConfig">
        <hbt-table
          (changePageNum)="search($event)"
          [tableConfig]="tableConfig" [dataList]="tableData"></hbt-table>
      </hbt-table-wrap>
    </div>

    <ng-template #actionTmpl let-data="data">
      <btn-more-action [model]="[data]" [setting]="actionSchema">
      </btn-more-action>
    </ng-template>

    <ng-template #footerTmpl>
      <hbt-button
        buttonAvailableStyle="CANCEL"
        buttonText="{{ 'common.button.cancel' | translate }}"
        (click)="modalRef.destroy()">
      </hbt-button>
      <hbt-button
        buttonAvailableStyle="SAVE"
        buttonText="{{ 'common.button.save' | translate }}"
        (click)="modalRef.getContentComponent().save()">
      </hbt-button>
    </ng-template>




  </div>
</form>

<hbt-import-file
  [showContent]="isImportData"
  (onCloseModal)="doCloseImport($event)"
  [importApi]="importApi"
  [formImport]="formImport"
  [downLoadTemplateApi]="downLoadTemplateApi"
  title="{{'hrm.healthRecords.label.importResult' | translate}}"
  [fileTemplateName]="fileTemplateName"
  [doDownloadFileByNameApi]="doDownloadFileByNameApi"
  (isSubmittedImport)="changeSubmittedImport($event)"
>
  <div class="formImport" style="margin-bottom: 30px;">
    <form nz-form [formGroup]="formImport">
      <div nz-row [nzGutter]='[20,15]'>
        <div nz-col [nzXs]='24' [nzLg]='24'>
          <hbt-select
            [type]="isSubmittedImport && formImport.controls['examinationPeriodId'].errors ? 'error' : 'default'"
            [showError]="isSubmittedImport && formImport.controls['examinationPeriodId'].errors !== null"
            [errors]="formImport.controls['examinationPeriodId'].errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.healthRecords.label.examinationPeriod' | translate }}]"
            labelText="{{'hrm.healthRecords.label.examinationPeriod' | translate}} <span class='label__required'>*</span>"
            placeholder="{{'hrm.healthRecords.label.examinationPeriod' | translate}}"
            [urlLoadData]="getUrlCategory(categoryCode.HRM_DOT_KHAM_SUC_KHOE)"
            [serviceName]="microService.ADMIN"
            keyLabel="name"
            keyValue="value"
            formControlName='examinationPeriodId'>
          </hbt-select>
        </div>
      </div>
    </form>
  </div>
</hbt-import-file>

<reject-common-template
  [isReject]="isReject"
  [listRejectId]="listId"
  [rejectId]="rejectId"
  [rejectByListApi]="rejectByListApi"
  (onCloseModal)="doCloseReject($event)"
>
</reject-common-template>

