.dmr-index {
  .item {
    div {
      background-color: white;
      min-height: 500px;
      margin: 5px;
      border-radius: 5px;
    }
  }
  .item-warning {
    div {
      background-color: white;
      margin: 5px;
      border-radius: 5px;
    }
  }
}