<div class='save-form-abs'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <!--id nhân viên-->
      <div nz-col [nzXs]="10" [nzLg]="10">
        <employee-data-picker [isExpand]="true"
          formControlName="employeeId"
          (ngModelChange)="onCustomerSelect($event)"
          [type]="isSubmitted && form.controls['employeeId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['employeeId'].errors != null"
          [errors]="form.controls['employeeId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.employeeName' | translate }}]"
          labelText="{{'abs.requests.label.employeeName' | translate}} <span class='label__required'>*</span>"
        >
        </employee-data-picker>
      </div>

      <div nz-col [nzXs]="10" [nzLg]="10">
        <hbt-input-text
                        disable
                        maxLength="500"
                        placeholderText="{{'abs.requests.table.remainDays' | translate}}"
                        labelText="{{'abs.requests.table.remainDays' | translate}} "
                        [type]="isSubmitted && form.controls['reason']?.errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['reason']?.errors != null"
                        [errors]="form.controls['reason']?.errors"
                        [errorDefs]="[
            { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.requests.table.reason' | translate }}]"

        ></hbt-input-text>
      </div>

      </div>
      <!-- Danh sách loại đơn -->
      <div nz-col [nzXs]="24" [nzLg]="24">
        <ng-container formArrayName="listAbsRequest">
          <ng-container *ngFor="let reason of reasons.controls; let i = index; let first = first">
            <div nz-row [nzGutter]='[20,15]' class="direct__managers" [formGroupName]="i">
              <div nz-col [nzXs]="24" [nzLg]="6">
                  <hbt-select [dataSelects]="listReason"
                    keyLabel="name"
                    keyValue="reasonTypeId"
                    formControlName="reasonTypeId"
                    [type]="isSubmitted && reason.get('reasonTypeId')?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && reason.get('reasonLeaveId')?.errors != null"
                    [errors]="reason.get('reasonLeaveId')?.errors"
                    [errorDefs]="[
                      { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.requests.table.reasonTypeId' | translate }}]"
                    placeholder="{{'abs.requests.table.reasonTypeId' | translate}}"
                    labelText="{{'abs.requests.table.reasonTypeId' | translate}} <span class='label__required'>*</span>"
                  ></hbt-select>
              </div>
              <div nz-col [nzXs]="24" [nzLg]="6">
                  <hbt-date-time-work
                    placeholderText="{{'abs.requests.table.startTime' | translate}}"
                    labelText="{{'abs.requests.table.startTime' | translate}} <span class='label__required'>*</span>"
                    formControlName="startTime"
                    [type]="isSubmitted && reason.get('startTime')?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && reason.get('startTime')?.errors != null"
                    [errors]="reason.get('startTime')?.errors"
                    [errorDefs]="[
                      { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.requests.table.startTime' | translate }}]"
                  ></hbt-date-time-work>
              </div>
              <div nz-col [nzXs]="24" [nzLg]="6">
                  <hbt-date-time-work
                    [isStartTime]="false"
                    placeholderText="{{'abs.requests.table.endTime' | translate}}"
                    labelText="{{'abs.requests.table.endTime' | translate}} <span class='label__required'>*</span>"
                    formControlName="endTime"
                    [type]="isSubmitted && reason.get('endTime')?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && reason.get('endTime')?.errors != null"
                    [errors]="reason.get('endTime')?.errors"
                    [errorDefs]="[
                      { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.requests.table.endTime' | translate }}]"
                  ></hbt-date-time-work>
              </div>
              <div nz-col [nzXs]="24" [nzLg]="6" class="area-action" *ngIf="mode !== Mode.VIEW">
                <em nz-button nz-icon nzType="plus-circle" nzTheme="outline"
                    nz-tooltip
                    nzTooltipTitle="{{'common.button.add' | translate}}"
                    nzTooltipPlacement="left"
                    class="btn-create"
                    (click)="addReason()"></em>
                <em nz-button nz-icon nzType="delete" nzTheme="outline"
                    nz-tooltip
                    nzTooltipTitle="{{'common.button.delete' | translate}}"
                    nzTooltipPlacement="right"
                    class="btn-removed"
                    (click)="removeReason(i)"></em>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    <div nz-col [nzXs]="24" [nzLg]="24">
        <!--Lý do nghỉ chi tiết-->
        <div nz-col [nzXs]="20" [nzLg]="20">
            <hbt-input-text formControlName="reason" isTextAre
                            maxLength="500"
                            placeholderText="{{'abs.requests.table.reason' | translate}}"
                            labelText="{{'abs.requests.table.reason' | translate}} <span class='label__required'>*</span>"
                            [type]="isSubmitted && form.controls['reason']?.errors ? 'error' : 'default'"
                            [showError]="isSubmitted && form.controls['reason']?.errors != null"
                            [errors]="form.controls['reason']?.errors"
                            [errorDefs]="[
            { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.requests.table.reason' | translate }}]"

            ></hbt-input-text>
        </div>
        <!--ghi chú-->
        <div nz-col [nzXs]="20" [nzLg]="20">
          <hbt-input-text formControlName="note" isTextAre
            maxLength="500"
            placeholderText="{{'abs.requests.table.note' | translate}}"
            labelText="{{'abs.requests.table.note' | translate}}"
            [type]="isSubmitted && form.controls['note']?.errors ? 'error' : 'default'"
            [showError]="isSubmitted && form.controls['note']?.errors != null"
            [errors]="form.controls['note']?.errors"
            [errorDefs]="[
            { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.requests.table.note' | translate }}]"

          ></hbt-input-text>
        </div>

      <div nz-col [nzXs]='20' [nzLg]='20' class="input__group">
        <hbt-upload
          [required]="false"
          [fileList]="f['fileRequest'].value"
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpeg', 'jpg', 'png', 'pdf', 'doc', 'docx']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          (fileListChange)="onFileListChange($event, 'fileRequest', true)"
          (docIdsDeleteChange)="removeFile($event, 'files')"
          [showError]="isSubmitted"
          [maxSize]="3"
          [disable]="mode === modeConst.VIEW"
          [serviceName]='serviceName'
          [isDownloadFileWithNoSecurity]="true"
        >
        </hbt-upload>
      </div>

    </div>
  </form>
</div>

