@import "src/app/core/global-style/variable";

.area-action{
  display: flex;
  align-items: end;
}
.area-action-supporters{
  display: flex;
  align-items: center;
}

.btn-create {
  color: $bg-checkbox-inner;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  margin-left: 30px;
}
.btn-removed{
  color: $bg-btn-cancel;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  margin-left: 30px;
}

.area-action{
  align-items: center;
  margin-top: 10px;
}