<div class='save-form-lms'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[20,15]">
      <!--id khóa thực tập-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="[]"
          formControlName="internshipSessionId"
          [type]="isSubmitted && form.controls['internshipSessionId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['internshipSessionId'].errors != null"
          [errors]="form.controls['internshipSessionId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'lms.internshipSessionDetails.table.internshipSessionId' | translate }}]"
          placeholder="{{'lms.internshipSessionDetails.table.internshipSessionId' | translate}}"
          labelText="{{'lms.internshipSessionDetails.table.internshipSessionId' | translate}}"
        ></hbt-select>
      </div>

      <!--Chuyên ngành thực tập-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="[]"
          formControlName="majorId"
          [type]="isSubmitted && form.controls['majorId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['majorId'].errors != null"
          [errors]="form.controls['majorId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'lms.internshipSessionDetails.table.majorId' | translate }}]"
          placeholder="{{'lms.internshipSessionDetails.table.majorId' | translate}}"
          labelText="{{'lms.internshipSessionDetails.table.majorId' | translate}}"
        ></hbt-select>
      </div>

      <!--Số lượng sinh viên thực tập-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="numOfStutdents" maxLength="10"
          [type]="isSubmitted && form.controls['numOfStutdents'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['numOfStutdents'].errors != null"
          [errors]="form.controls['numOfStutdents'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'lms.internshipSessionDetails.table.numOfStutdents' | translate}}"
          labelText="{{'lms.internshipSessionDetails.table.numOfStutdents' | translate}}"
        ></hbt-input-text>
      </div>

      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <hbt-upload
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpg', 'png', 'pdf', 'doc', 'docx']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          [required]="true"
          (fileListChange)="onFileListChange($event, 'fileList', true)"
          (docIdsDeleteChange)="removeFile($event, 'fileList')"
          [serviceName]='serviceName'
          [showError]="isSubmitted"
        ></hbt-upload>
      </div>

    </div>
  </form>
</div>

