<div class='change-list'>
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]='[20,15]'>
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.ICN_LOAI_DS_TRICH_NOP)"
                    [serviceName]="microService.ADMIN"
                    keyLabel="name"
                    keyValue="code"
                    formControlName="type"
                    placeholder="{{'icn.icnContribution.calculate.search.type' | translate}}"
                    labelText="{{'icn.icnContribution.calculate.search.type' | translate}} <span class='label__required'>*</span>"
                    [type]="isSubmitted && form.controls['type'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['type'].errors !== null"
                    [errors]="form.controls['type'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'icn.icnContribution.calculate.search.type' | translate }}]"
        ></hbt-select>
      </div>
      <div nz-col [nzXs]="24" [nzLg]="12">
        <hbt-input-text formControlName="reason" [maxLength]="1000" isTextAre
                        placeholderText="{{'icn.icnContribution.calculate.model.reason' | translate}}"
                        labelText="{{'icn.icnContribution.calculate.model.reason' | translate}}"
        ></hbt-input-text>
      </div>
    </div>
  </form>
</div>