<div class='save-form-crm'>
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]="[20,15]">
      <!--Phí giới thiệu-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="referralFee" maxLength="11"
          [type]="isSubmitted && form.controls['referralFee'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['referralFee'].errors != null"
          [errors]="form.controls['referralFee'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'crm.orderPayables.table.referralFee' | translate}}"
          labelText="{{'crm.orderPayables.table.referralFee' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Phí chăm sóc-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="careFee" maxLength="11"
          [type]="isSubmitted && form.controls['careFee'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['careFee'].errors != null"
          [errors]="form.controls['careFee'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'crm.orderPayables.table.careFee' | translate}}"
          labelText="{{'crm.orderPayables.table.careFee' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Quỹ phúc lợi-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="welfareFee" maxLength="11"
          [type]="isSubmitted && form.controls['welfareFee'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['welfareFee'].errors != null"
          [errors]="form.controls['welfareFee'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'crm.orderPayables.table.welfareFee' | translate}}"
          labelText="{{'crm.orderPayables.table.welfareFee' | translate}}"
        ></hbt-input-text>
      </div>

    </div>
  </form>
</div>

