<form nz-form [formGroup]="form" class="view-org-parent">
  <div nz-row [nzGutter]='[20,15]'>
    <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-select formControlName="orgParentId"
                  [dataSelects]="listOrg"
                  keyLabel="organizationName"
                  keyValue="organizationId"
                  [type]="isSubmitted && form.controls['orgParentId'].errors ? 'error' : 'default'"
                  [showError]="isSubmitted && form.controls['orgParentId'].errors !== null"
                  [errors]="form.controls['orgParentId'].errors"
                  [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.label.org' | translate }}]"
                  labelText="{{'kpi.kpiEvaluations.organizations.label.org' | translate}} <span class='label__required'>*</span>"
                  placeholder="{{'kpi.kpiEvaluations.organizations.label.org' | translate}}"
      >
      </hbt-select>
    </div>
    <div nz-col [nzXs]="24" [nzLg]="24">
      <hbt-table-wrap [tableConfig]="tableConfig" [extra]="false">
        <hbt-table
          (changePageNum)="search($event)" [showExtra]="false"
          [tableConfig]="tableConfig" [dataList]="tableData">
        </hbt-table>
      </hbt-table-wrap>
    </div>
  </div>
</form>