<div class='save-form-hrm'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[20,15]">
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-text-label
          labelText="{{'hrm.salaryManager.salaryReviews.label.employeeCode' | translate}}"
          labelValue="{{form.controls['employeeCode'].value}}"
        ></hbt-text-label>
      </div>
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-text-label
          labelText="{{'hrm.salaryManager.salaryReviews.label.fullName' | translate}}"
          labelValue="{{form.controls['fullName'].value}}"
        ></hbt-text-label>
      </div>
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="r0TimekeepingMonths" inputType="number" minNumber="1" [maxNumber]="5000"
                        [type]="isSubmitted && form.controls['r0TimekeepingMonths'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['r0TimekeepingMonths'].errors != null"
                        [errors]="form.controls['r0TimekeepingMonths'].errors"
                        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.salaryManager.salaryReviews.label.r0TimekeepingMonths2' | translate }}]"
                        placeholderText="{{'hrm.salaryManager.salaryReviews.label.r0TimekeepingMonths2' | translate}}"
                        labelText="{{'hrm.salaryManager.salaryReviews.label.r0TimekeepingMonths2' | translate}}"
        ></hbt-input-text>
      </div>
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          [type]="isSubmitted && form.controls['proposedApplyDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['proposedApplyDate'].errors != null"
          [errors]="form.controls['proposedApplyDate'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.salaryManager.salaryReviews.label.proposedApplyDate2' | translate }}]"
          placeholderText="{{'hrm.salaryManager.salaryReviews.label.proposedApplyDate2' | translate}}"
          formControlName="proposedApplyDate"
          labelText="{{'hrm.salaryManager.salaryReviews.label.proposedApplyDate2' | translate}} <span class='label__required'>*</span>"
        >
        </hbt-date-picker>
      </div>
      <!--Ngạch lương hiện hưởng-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="salaryReviews"
          formControlName="reviewStatusId"
          [type]="isSubmitted && form.controls['reviewStatusId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['reviewStatusId'].errors != null"
          [errors]="form.controls['reviewStatusId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.salaryManager.salaryReviews.label.reviewStatusId' | translate }}]"
          placeholder="{{'hrm.salaryManager.salaryReviews.label.reviewStatusId' | translate}}"
          labelText="{{'hrm.salaryManager.salaryReviews.label.reviewStatusId' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!--Chức danh-->
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-input-text formControlName="note" maxLength="1000" isTextAre
          [type]="isSubmitted && form.controls['note'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['note'].errors != null"
          [errors]="form.controls['note'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 1000}}]"
          placeholderText="{{'hrm.salaryManager.salaryReviews.label.note' | translate}}"
          labelText="{{'hrm.salaryManager.salaryReviews.label.note' | translate}}"
        ></hbt-input-text>
      </div>

    </div>
  </form>
</div>

