<app-src-index
  [moduleName]="moduleName"
  [functionCode]="functionCode"
  [fileExportName]="fileExportName"
  [urlSearchApi]="urlConstant.SEARCH_FORM.BASIC_FORM"
  [urlExportApi]="urlConstant.EXPORT_REPORT.EMPLOYEES"
  [tableHeaders]="tableHeaders"
  [formConfig]="formConfig"
  [formConfigCustom]="formConfigCustom"
  [isShowBtnAdd]="false"
  [isShowBtnAddCustom]="true"
  [showBtnDelete]="false"
  [isShowBtnImport]="true"
  [formImport]="formImport"
  [isShowInput]="true"
  [urlImportTemplateApi]="urlConstant.EMPLOYEE.IMPORT_TEMPLATE"
  [urlImportApi]="urlConstant.EMPLOYEE.IMPORT"
></app-src-index>