<div class='admin'>
  <form nz-form [formGroup]='form' (ngSubmit)="search()">
    <div class="search__custom-common remove__mr__bt-40">
      <div nz-row class="button__action-left">
        <hbt-button
          buttonType="NO_BORDER"
          buttonSize="LARGE"
          style="margin-right: 20px"
          (click)="doOpenForm(modeConst.ADD)"
          buttonText="{{ 'common.button.add' | translate }}"
          buttonAvailableStyle="ADD">
        </hbt-button>
      </div>
      <div class="search__page-right">
        <hbt-input-text formControlName="keySearch"
                        placeholderText="{{'admin.configurations.warningConfigs.label.keySearch' | translate}}">
        </hbt-input-text>
      </div>
    </div>
  </form>
  <div class='search__content--group'>
    <hbt-table-wrap>
      <div>
        <p *ngIf="listId.length > 0" style="margin: 0">{{'common.label.selected' | translate}}
          : {{listId.length}}</p>
      </div>
      <hbt-table
        (changePageNum)='search($event)'
        [tableConfig]='tableConfig' [dataList]="tableData" (amountSelectedRowsChange)="listId = $event"
      ></hbt-table>
    </hbt-table-wrap>
  </div>

  <ng-template #actionTmpl let-data="data">
    <btn-action-by-id
      [disabledEdit]="false"
      [disabledDelete]="false"
      (doViewDetail)="doOpenFormDetail(data)"
      (doEdit)="doOpenFormEdit(data)"
      (doDelete)="deleteItem(data)"
    >
    </btn-action-by-id>
  </ng-template>

  <ng-template #footerTmpl>
    <hbt-button
      buttonAvailableStyle="DEFAULT"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.save' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </ng-template>

  <hbt-import-file [showContent]='isImportData'
                   (onCloseModal)='doCloseImport($event)'
                   [importApi]='importApi'
                   [downLoadTemplateApi]="downLoadTemplateApi"
                   [fileTemplateName]="fileTemplateName"
                   [doDownloadFileByNameApi]='doDownloadFileByNameApi'>
  </hbt-import-file>

  <reject-common-template
    [isReject]="isReject"
    [listRejectId]="listId"
    [rejectId]='rejectId'
    [rejectByListApi]='rejectByListApi'
    (onCloseModal)="doCloseReject($event)">
  </reject-common-template>

  <ng-template #attachFileTmpl let-attachFileList='attachFileList'>
    <div *ngFor="let file of attachFileList">
      <a class="attach-file" (click)="doDownLoadFile(file); $event.stopPropagation();">{{file.fileName}}</a>
    </div>
  </ng-template>
</div>

