<div class='save-form-icn'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[30,30]">
      <!--kỳ trích nộp-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'icn.insuranceContributions.table.periodDate' | translate}}"
          labelText="{{'icn.insuranceContributions.table.periodDate' | translate}}"
          formControlName="periodDate"></hbt-date-picker>
      </div>

      <!--id nhân viên-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <employee-data-picker status='WORKING'
          formControlName="employeeId"
          [type]="isSubmitted && form.controls['employeeId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['employeeId'].errors != null"
          [errors]="form.controls['employeeId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.employeeName' | translate }}]"
          labelText="{{'icn.insuranceContributions.table.employeeId' | translate}} "
        >
        </employee-data-picker>
      </div>

      <!--Đối tượng-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="[]"
          formControlName="empTypeCode"
          [type]="isSubmitted && form.controls['empTypeCode'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['empTypeCode'].errors != null"
          [errors]="form.controls['empTypeCode'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'icn.insuranceContributions.table.empTypeCode' | translate }}]"
          placeholder="{{'icn.insuranceContributions.table.empTypeCode' | translate}}"
          labelText="{{'icn.insuranceContributions.table.empTypeCode' | translate}}"
        ></hbt-select>
      </div>

      <!--Loại lao động (trực tiếp, gián tiếp)-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="labourType" maxLength="200"
          [type]="isSubmitted && form.controls['labourType'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['labourType'].errors != null"
          [errors]="form.controls['labourType'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 200}}]"
          placeholderText="{{'icn.insuranceContributions.table.labourType' | translate}}"
          labelText="{{'icn.insuranceContributions.table.labourType' | translate}}"
        ></hbt-input-text>
      </div>

      <!--id chức danh-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="[]"
          formControlName="jobId"
          [type]="isSubmitted && form.controls['jobId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['jobId'].errors != null"
          [errors]="form.controls['jobId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'icn.insuranceContributions.table.jobId' | translate }}]"
          placeholder="{{'icn.insuranceContributions.table.jobId' | translate}}"
          labelText="{{'icn.insuranceContributions.table.jobId' | translate}}"
        ></hbt-select>
      </div>

      <!--id đơn vị-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <tree-data-picker

          labelText="{{'icn.insuranceContributions.table.orgId' | translate}}"
          [type]="isSubmitted && form.controls['orgId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['orgId'].errors != null"
          [errors]="form.controls['orgId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.organization.org' | translate }}]"
          formControlName="orgId"
        >
        </tree-data-picker>
      </div>

      <!--Lương cấp bậc - lương theo hợp đồng-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="contractSalary" maxLength="10"
          [type]="isSubmitted && form.controls['contractSalary'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['contractSalary'].errors != null"
          [errors]="form.controls['contractSalary'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.contractSalary' | translate}}"
          labelText="{{'icn.insuranceContributions.table.contractSalary' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Lương chênh lệch bảo lưu-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="reserveSalary" maxLength="10"
          [type]="isSubmitted && form.controls['reserveSalary'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['reserveSalary'].errors != null"
          [errors]="form.controls['reserveSalary'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.reserveSalary' | translate}}"
          labelText="{{'icn.insuranceContributions.table.reserveSalary' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Lương phụ cấp chức vụ-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="posAllowanceSalary" maxLength="10"
          [type]="isSubmitted && form.controls['posAllowanceSalary'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['posAllowanceSalary'].errors != null"
          [errors]="form.controls['posAllowanceSalary'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.posAllowanceSalary' | translate}}"
          labelText="{{'icn.insuranceContributions.table.posAllowanceSalary' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Lương phụ cấp thâm niên vượt khung-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="senioritySalary" maxLength="10"
          [type]="isSubmitted && form.controls['senioritySalary'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['senioritySalary'].errors != null"
          [errors]="form.controls['senioritySalary'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.senioritySalary' | translate}}"
          labelText="{{'icn.insuranceContributions.table.senioritySalary' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Phụ cấp thâm niên nghề-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="posSenioritySalary" maxLength="10"
          [type]="isSubmitted && form.controls['posSenioritySalary'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['posSenioritySalary'].errors != null"
          [errors]="form.controls['posSenioritySalary'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.posSenioritySalary' | translate}}"
          labelText="{{'icn.insuranceContributions.table.posSenioritySalary' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Tổng lương làm căn cứ trích nộp-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalSalary" maxLength="10"
          [type]="isSubmitted && form.controls['totalSalary'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['totalSalary'].errors != null"
          [errors]="form.controls['totalSalary'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.totalSalary' | translate}}"
          labelText="{{'icn.insuranceContributions.table.totalSalary' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Số đóng BHXH bắt buộc cá nhân-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="perSocialAmount" maxLength="10"
          [type]="isSubmitted && form.controls['perSocialAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['perSocialAmount'].errors != null"
          [errors]="form.controls['perSocialAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.perSocialAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.perSocialAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Số đóng BHXH bắt buộc đơn vị-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="unitSocialAmount" maxLength="10"
          [type]="isSubmitted && form.controls['unitSocialAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['unitSocialAmount'].errors != null"
          [errors]="form.controls['unitSocialAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.unitSocialAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.unitSocialAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Số đóng BHYT cá nhân-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="perMedicalAmount" maxLength="10"
          [type]="isSubmitted && form.controls['perMedicalAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['perMedicalAmount'].errors != null"
          [errors]="form.controls['perMedicalAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.perMedicalAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.perMedicalAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Số đóng BHYT đơn vị-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="unitMedicalAmount" maxLength="10"
          [type]="isSubmitted && form.controls['unitMedicalAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['unitMedicalAmount'].errors != null"
          [errors]="form.controls['unitMedicalAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.unitMedicalAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.unitMedicalAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Số đóng BHTN cá nhân-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="perUnempAmount" maxLength="10"
          [type]="isSubmitted && form.controls['perUnempAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['perUnempAmount'].errors != null"
          [errors]="form.controls['perUnempAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.perUnempAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.perUnempAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Số dóng BHTN đơn vị-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="unitUnempAmount" maxLength="10"
          [type]="isSubmitted && form.controls['unitUnempAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['unitUnempAmount'].errors != null"
          [errors]="form.controls['unitUnempAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.unitUnempAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.unitUnempAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Số đóng KPCĐ-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="unitUnionAmount" maxLength="10"
          [type]="isSubmitted && form.controls['unitUnionAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['unitUnionAmount'].errors != null"
          [errors]="form.controls['unitUnionAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.unitUnionAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.unitUnionAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Số phân bổ của công đoàn cơ sở-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="baseUnionAmount" maxLength="10"
          [type]="isSubmitted && form.controls['baseUnionAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['baseUnionAmount'].errors != null"
          [errors]="form.controls['baseUnionAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.baseUnionAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.baseUnionAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Số phân bổ của công đoàn cấp trên-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="superiorUnionAmount" maxLength="10"
          [type]="isSubmitted && form.controls['superiorUnionAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['superiorUnionAmount'].errors != null"
          [errors]="form.controls['superiorUnionAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.superiorUnionAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.superiorUnionAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Số phân bổ của công đoàn bộ quốc phòng-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="modUnionAmount" maxLength="10"
          [type]="isSubmitted && form.controls['modUnionAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['modUnionAmount'].errors != null"
          [errors]="form.controls['modUnionAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.modUnionAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.modUnionAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--lý do-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="reason" maxLength="255"
          [type]="isSubmitted && form.controls['reason'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['reason'].errors != null"
          [errors]="form.controls['reason'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'icn.insuranceContributions.table.reason' | translate}}"
          labelText="{{'icn.insuranceContributions.table.reason' | translate}}"
        ></hbt-input-text>
      </div>

      <!--ghi chú-->
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-input-text formControlName="note" isTextAre
          maxLength="1000"
          placeholderText="{{'icn.insuranceContributions.table.note' | translate}}"
          labelText="{{'icn.insuranceContributions.table.note' | translate}}"
        ></hbt-input-text>
      </div>

      <!--hệ số lương bảo hiểm-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="insuranceFactor" maxLength="5"
          [type]="isSubmitted && form.controls['insuranceFactor'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['insuranceFactor'].errors != null"
          [errors]="form.controls['insuranceFactor'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 5}}]"
          placeholderText="{{'icn.insuranceContributions.table.insuranceFactor' | translate}}"
          labelText="{{'icn.insuranceContributions.table.insuranceFactor' | translate}}"
        ></hbt-input-text>
      </div>

      <!--mức lương cơ sở-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="insuranceBaseSalary" maxLength="10"
          [type]="isSubmitted && form.controls['insuranceBaseSalary'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['insuranceBaseSalary'].errors != null"
          [errors]="form.controls['insuranceBaseSalary'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.insuranceBaseSalary' | translate}}"
          labelText="{{'icn.insuranceContributions.table.insuranceBaseSalary' | translate}}"
        ></hbt-input-text>
      </div>

      <!--hệ số chênh lệch bảo lưu-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="reserveFactor" maxLength="5"
          [type]="isSubmitted && form.controls['reserveFactor'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['reserveFactor'].errors != null"
          [errors]="form.controls['reserveFactor'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 5}}]"
          placeholderText="{{'icn.insuranceContributions.table.reserveFactor' | translate}}"
          labelText="{{'icn.insuranceContributions.table.reserveFactor' | translate}}"
        ></hbt-input-text>
      </div>

      <!--hệ số PCCV-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="allowanceFactor" maxLength="5"
          [type]="isSubmitted && form.controls['allowanceFactor'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['allowanceFactor'].errors != null"
          [errors]="form.controls['allowanceFactor'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 5}}]"
          placeholderText="{{'icn.insuranceContributions.table.allowanceFactor' | translate}}"
          labelText="{{'icn.insuranceContributions.table.allowanceFactor' | translate}}"
        ></hbt-input-text>
      </div>

      <!--% thâm niên vượt khung-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="seniorityPercent" maxLength="5"
          [type]="isSubmitted && form.controls['seniorityPercent'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['seniorityPercent'].errors != null"
          [errors]="form.controls['seniorityPercent'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 5}}]"
          placeholderText="{{'icn.insuranceContributions.table.seniorityPercent' | translate}}"
          labelText="{{'icn.insuranceContributions.table.seniorityPercent' | translate}}"
        ></hbt-input-text>
      </div>

      <!--% thâm niên nghề-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="posSeniorityPercent" maxLength="5"
          [type]="isSubmitted && form.controls['posSeniorityPercent'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['posSeniorityPercent'].errors != null"
          [errors]="form.controls['posSeniorityPercent'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 5}}]"
          placeholderText="{{'icn.insuranceContributions.table.posSeniorityPercent' | translate}}"
          labelText="{{'icn.insuranceContributions.table.posSeniorityPercent' | translate}}"
        ></hbt-input-text>
      </div>

      <!--số công trích nộp bảo hiểm-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="insuranceTimekeeping" maxLength="5"
          [type]="isSubmitted && form.controls['insuranceTimekeeping'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['insuranceTimekeeping'].errors != null"
          [errors]="form.controls['insuranceTimekeeping'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 5}}]"
          placeholderText="{{'icn.insuranceContributions.table.insuranceTimekeeping' | translate}}"
          labelText="{{'icn.insuranceContributions.table.insuranceTimekeeping' | translate}}"
        ></hbt-input-text>
      </div>

      <!--số công nghỉ không được tính trích nộp bảo hiểm-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="leaveTimekeeping" maxLength="5"
          [type]="isSubmitted && form.controls['leaveTimekeeping'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['leaveTimekeeping'].errors != null"
          [errors]="form.controls['leaveTimekeeping'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 5}}]"
          placeholderText="{{'icn.insuranceContributions.table.leaveTimekeeping' | translate}}"
          labelText="{{'icn.insuranceContributions.table.leaveTimekeeping' | translate}}"
        ></hbt-input-text>
      </div>

      <!--lý do nghỉ-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="leaveReason" maxLength="255"
          [type]="isSubmitted && form.controls['leaveReason'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['leaveReason'].errors != null"
          [errors]="form.controls['leaveReason'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'icn.insuranceContributions.table.leaveReason' | translate}}"
          labelText="{{'icn.insuranceContributions.table.leaveReason' | translate}}"
        ></hbt-input-text>
      </div>

      <!--số công nghỉ thai sản-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="maternityTimekeeping" maxLength="5"
          [type]="isSubmitted && form.controls['maternityTimekeeping'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['maternityTimekeeping'].errors != null"
          [errors]="form.controls['maternityTimekeeping'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 5}}]"
          placeholderText="{{'icn.insuranceContributions.table.maternityTimekeeping' | translate}}"
          labelText="{{'icn.insuranceContributions.table.maternityTimekeeping' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Nơi tham gia BHXH-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="insuranceAgency" maxLength="255"
          [type]="isSubmitted && form.controls['insuranceAgency'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['insuranceAgency'].errors != null"
          [errors]="form.controls['insuranceAgency'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'icn.insuranceContributions.table.insuranceAgency' | translate}}"
          labelText="{{'icn.insuranceContributions.table.insuranceAgency' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Loại danh sách-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="type" maxLength="13"
          [type]="isSubmitted && form.controls['type'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['type'].errors != null"
          [errors]="form.controls['type'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 13}}]"
          placeholderText="{{'icn.insuranceContributions.table.type' | translate}}"
          labelText="{{'icn.insuranceContributions.table.type' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Lý do từ chối-->
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-input-text formControlName="rejectReason" isTextAre
          maxLength="500"
          placeholderText="{{'icn.insuranceContributions.table.rejectReason' | translate}}"
          labelText="{{'icn.insuranceContributions.table.rejectReason' | translate}}"
        ></hbt-input-text>
      </div>

      <!--tổng số tiền trích nộp-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalAmount" maxLength="10"
          [type]="isSubmitted && form.controls['totalAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['totalAmount'].errors != null"
          [errors]="form.controls['totalAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.totalAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.totalAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--kỳ truy thu-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'icn.insuranceContributions.table.retroForPeriodDate' | translate}}"
          labelText="{{'icn.insuranceContributions.table.retroForPeriodDate' | translate}}"
          formControlName="retroForPeriodDate"></hbt-date-picker>
      </div>

      <!--phân bổ quỹ hưu trí, tử tuất-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="retirementSocialAmount" maxLength="10"
          [type]="isSubmitted && form.controls['retirementSocialAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['retirementSocialAmount'].errors != null"
          [errors]="form.controls['retirementSocialAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.retirementSocialAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.retirementSocialAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--phân bổ quỹ ốm đau - bệnh tật-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="sicknessSocialAmount" maxLength="10"
          [type]="isSubmitted && form.controls['sicknessSocialAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['sicknessSocialAmount'].errors != null"
          [errors]="form.controls['sicknessSocialAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.sicknessSocialAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.sicknessSocialAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--phân bổ quỹ tai nạn lao động-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="accidentSocialAmount" maxLength="10"
          [type]="isSubmitted && form.controls['accidentSocialAmount'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['accidentSocialAmount'].errors != null"
          [errors]="form.controls['accidentSocialAmount'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'icn.insuranceContributions.table.accidentSocialAmount' | translate}}"
          labelText="{{'icn.insuranceContributions.table.accidentSocialAmount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Đơn vị hạch toán (nếu là nhân viên thuộc thị trường thì sẽ là đơn vị trước khi đi thị trường)-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <tree-data-picker

          labelText="{{'icn.insuranceContributions.table.debitOrgId' | translate}}"
          [type]="isSubmitted && form.controls['debitOrgId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['debitOrgId'].errors != null"
          [errors]="form.controls['debitOrgId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.organization.org' | translate }}]"
          formControlName="debitOrgId"
        >
        </tree-data-picker>
      </div>

      <!--Thời gian HĐLĐ gian HĐLĐ trong tháng tại VCC-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'icn.insuranceContributions.table.fromDate' | translate}}"
          labelText="{{'icn.insuranceContributions.table.fromDate' | translate}}"
          [type]="isSubmitted && (form.errors || form.controls['fromDate'].errors) ? 'error' : 'default'"
          [showError]="isSubmitted && (form.errors || form.controls['fromDate'].errors ) != null"
          [errors]="form.errors?.rangeDateError ? form.errors : form.controls['fromDate'].errors"
          [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'staffManager.validate.rangeDate.pareDate' | translate:
        {'fromDate': 'icn.insuranceContributions.table.fromDate' | translate, 'toDate': 'icn.insuranceContributions.table.toDate' | translate}},
             { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'icn.insuranceContributions.table.fromDate' | translate }}
          ]"
          formControlName="fromDate"></hbt-date-picker>
      </div>

      <!--Thời gian kết thúc HĐLĐ trong tháng tại VCC-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'icn.insuranceContributions.table.endDate' | translate}}"
          labelText="{{'icn.insuranceContributions.table.endDate' | translate}}"
          formControlName="endDate"></hbt-date-picker>
      </div>

      <!--id bản ghi truy thu/truy lĩnh-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="[]"
          formControlName="insuranceRetractionId"
          [type]="isSubmitted && form.controls['insuranceRetractionId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['insuranceRetractionId'].errors != null"
          [errors]="form.controls['insuranceRetractionId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'icn.insuranceContributions.table.insuranceRetractionId' | translate }}]"
          placeholder="{{'icn.insuranceContributions.table.insuranceRetractionId' | translate}}"
          labelText="{{'icn.insuranceContributions.table.insuranceRetractionId' | translate}}"
        ></hbt-select>
      </div>

      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <hbt-upload
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpg', 'png', 'pdf', 'doc', 'docx']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          [required]="true"
          (fileListChange)="onFileListChange($event, 'fileList', true)"
          (docIdsDeleteChange)="removeFile($event, 'fileList')"
          [serviceName]='serviceName'
          [showError]="isSubmitted"
        ></hbt-upload>
      </div>

    </div>
  </form>
</div>

