@import "src/app/core/global-style/variable";
::ng-deep .ant-table-pagination.ant-pagination {
  width: 100%;
  text-align: right;
  display: block;
  height: 32px;
  align-content: center;

  .ant-pagination-total-text {
    clear: both;
    float: left;
  }
}

::ng-deep .table-filter {
  margin-left: 5px;
  align-self: anchor-center;
}

::ng-deep .hbt-table-tr-filter {
  input {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

::ng-deep nz-table.data-table {

  .ant-table-measure-now {
    display: none;
  }
  overflow-x: auto;

  th, td {
    padding: 3px !important;
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: clip !important;
  }

  .text-center {
    text-align: center;
  }

  .text-nowrap {
    white-space: nowrap;
  }

  .text-right {
    text-align: right;
  }

  th {
    background: $bg-table-header;
    color: $table-text-header;
    font-family: avertaB, sans-serif;
  }

  td {
    line-height: 1.15;
  }
}

.dot_paginate {
  color: $black-50;
  text-indent: 0.13em;
  opacity: 1;
  transition: all .2s;
  letter-spacing: 2px;
}

.svg-arrow {
  font-size: 12px;
  letter-spacing: -1px;
  opacity: 1;
  transition: all .2s;
}

::ng-deep .data-table .ant-table-body::-webkit-scrollbar {
  height: 10px;
}

.wrapper-paginate-item-right {
  display: flex;

  .input_custom_paginate {
    width: 60px;
    display: inline-block;
    margin: 0 15px;
    height: 32px;
    color: #4E4B66;
    color: $neutral-700;
    position: relative;
    border-radius: 8px;
    border: 1px solid $neutral-300;

    &:hover {
      border: 1px solid $purple-700;
    }

    &:focus {
      border: 1px solid $purple-700;
    }

    &:focus-visible {
      border: 1px solid $purple-700;
      outline: none;
    }
  }

  .ic-paginate_update {
    position: absolute;
    right: 0;
    height: 32px;
  }

  .mt-6-2 {
    margin-top: -6px;
  }
}

.mb-4 {
  margin-bottom: 2.5px;
}

::ng-deep .custom__next-right {
  padding-top: 4px;
  padding-left: 3px;
}

.custom__td-title {
  font-size: 18px;
  font-family: 'avertaB', sans-serif;
}

::ng-deep .nz-table-hide-scrollbar {
  overflow: hidden !important;
  margin-right: 9px !important;
}

::ng-deep .ant-table-expanded-row-fixed {
  margin: 0 !important;
}