<div id="personal-information" scrollSpy>
  <div nz-row [nzGutter]="[0, 20]" class="personal__information-panel">
    <div nz-col nzSpan="24">
      <div class="content__item content__item--border bg__content--default">
        <app-header-info [data]="employeesInfo"></app-header-info>
      </div>
    </div>
    <div nz-col nzSpan="24">
      <div class="content__item content__item--border bg__content--default">
        <hbt-scroll-tabs [isShowInfoChange]="true" [sticky]="true" [tabs]="scrollTabs"></hbt-scroll-tabs>
        <hbt-collapse #collapse [panels]="panels" [extra]="extra"></hbt-collapse>
        <ng-template #extra let-panel>
          <div class="extra__action">
            <hbt-input-text
              *ngIf="(constant.ACTION_PANEL.SEARCH|checkExtraMode:panel) && (constant.ACTION_PANEL.SEARCH|checkPanelPermission:panel)"
              (click)="$event.stopPropagation();"
              (input)="onSearchChange(panel, $event?.target['value'])"
              [ngModel]=""
              [showFlexEnd]="false"
              prefixIcon="search"
            ></hbt-input-text>
            <hbt-button
              *ngIf="(constant.ACTION_PANEL.EDIT|checkExtraMode:panel) && (constant.ACTION_PANEL.EDIT|checkPanelPermission:panel)"
              (click)="$event.stopPropagation(); openEditModal(panel,constant.ACTION_PANEL.EDIT)"
              class="ant__collapse__extra"
              [buttonBgColor]="_variable.$purple_200" [buttonTextColor]="_variable.$purple_800" [buttonBorderColor]="_variable.$purple_800"
              prefixIcon="far fa-pencil-alt" buttonIconType="AWESOME" buttonSize="MEDIUM"
            ></hbt-button>
            <hbt-button
              *ngIf="(constant.ACTION_PANEL.VIEW|checkExtraMode:panel) && (constant.ACTION_PANEL.VIEW|checkPanelPermission:panel)"
              (click)="$event.stopPropagation(); openEditModal(panel,constant.ACTION_PANEL.VIEW)"
              class="ant__collapse__extra"
              [buttonBgColor]="_variable.$purple_200" [buttonTextColor]="_variable.$purple_800" [buttonBorderColor]="_variable.$purple_800"
              prefixIcon="fas fa-eye" buttonIconType="AWESOME" buttonSize="MEDIUM"
            ></hbt-button>
            <hbt-button
              *ngIf="(constant.ACTION_PANEL.ADD|checkExtraMode:panel) && (constant.ACTION_PANEL.ADD|checkPanelPermission:panel)"
              (click)="$event.stopPropagation(); openAddModal(panel, constant.ACTION_PANEL.ADD)"
              class="ant__collapse__extra" [buttonBgColor]="_variable.$purple_200"
              [buttonTextColor]="_variable.$purple_800" [buttonBorderColor]="_variable.$purple_800" prefixIcon="fas fa-plus"
              buttonIconType="AWESOME" buttonSize="MEDIUM"
            ></hbt-button>
          </div>
        </ng-template>
        <ng-template #footerTmpl>
          <hbt-button
            buttonType="NO_BORDER"
            buttonAvailableStyle="CANCEL"
            buttonText="{{'common.button.cancel' | translate}}"
            (click)="modal.destroy()"
          ></hbt-button>
          <hbt-button
            [isDisable]="this.modal?.getContentComponent().isDisabledSaveBtn"
            buttonType="NO_BORDER"
            buttonAvailableStyle="SAVE"
            buttonText="{{'common.button.save' | translate}}"
            (click)="modal.getContentComponent().save()"
          ></hbt-button>
        </ng-template>
      </div>
    </div>
  </div>
</div>

