<div class="oes-form">
  <div [class]="isNotPageName ? 'btn__across-no-page' : 'btn__across-page'">
    <hbt-button buttonType="NO_BORDER" *ngIf="!isDetail || isEvaluate" (click)="isAdjust ? openModal() : save()"
                buttonAvailableStyle="SAVE"
                buttonText="{{'common.button.save' | translate}}" type='SUBMIT'></hbt-button>
    <hbt-button
      buttonAvailableStyle="DEFAULT"
      buttonText="{{ 'common.button.back' | translate }}"
      (click)="back()">
    </hbt-button>
  </div>
  <nz-tabset class="oes-form-tab" [nzType]="'card'" [nzSize]="'large'" [nzSelectedIndex]="1">
    <nz-tab nzTitle="{{'kpi.kpiEvaluations.organizations.label.title' | translate}}">
      <ng-container *ngTemplateOutlet="eesForm"></ng-container>
    </nz-tab>
    <nz-tab *ngIf="isShowOrgParent" nzTitle="{{'kpi.button.viewOrgParent' | translate}}">
      <div class="org-parent-content">
        <app-view-org-parent
          [data]="{
            orgId: route.snapshot.queryParams.organizationId,
            evaluationPeriodId: route.snapshot.queryParams.evaluationPeriodId,
            empManagerId: null
          }"
          [mode]="modeConst.ADD"
        ></app-view-org-parent>
      </div>
    </nz-tab>
  </nz-tabset>

  <ng-template #eesForm>
    <div class='save-form-kpi' id="oes-form" scrollSpy>
      <div class="content__item content__item--border bg__content--default">
        <form nz-form [formGroup]="form">
          <div nz-row [nzGutter]='[20,15]'>
            <!--id đơn vị-->
            <div nz-col [nzXs]="24" [nzLg]="8">
              <!--              <tree-data-picker-->
              <!--                [disable]="true"-->
              <!--                *ngIf="!isDetail"-->
              <!--                [isExpand]="true"-->
              <!--                labelText="{{'kpi.kpiEvaluations.organizations.label.org' | translate}}"-->
              <!--                placeholder="{{'kpi.kpiEvaluations.organizations.label.org' | translate}}"-->
              <!--                formControlName="organizationId"-->
              <!--                [scope]="scope">-->
              <!--              </tree-data-picker>-->
              <div>
                <label class="label-text">{{ 'kpi.kpiEvaluations.organizations.label.org' | translate }}</label>
                <div class="text-head">{{ form.get('orgName')?.value }}</div>
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzLg]="8">
              <employee-data-picker [isExpand]="true"
                                    *ngIf="!isDetail"
                                    [disable]="isDetail"
                                    [isSearchAfterAction]="true"
                                    [dataSelect]="dataSelect"
                                    formControlName="empManagerId"
                                    [type]="isSubmitted && form.controls['empManagerId'].errors ? 'error' : 'default'"
                                    [showError]="isSubmitted && form.controls['empManagerId'].errors != null"
                                    [errors]="form.controls['empManagerId'].errors"
                                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.label.empManager' | translate }}]"
                                    labelText="{{'kpi.kpiEvaluations.organizations.label.empManager' | translate}} <span class='label__required'>*</span>"
                                    placeholder="{{'kpi.kpiEvaluations.organizations.label.empManager' | translate}}"
              >
              </employee-data-picker>
              <div *ngIf="isDetail">
                <label class="label-text">{{ 'kpi.kpiEvaluations.organizations.label.empManager' | translate }}</label>
                <div class="text-head">{{ form.get('empManagerName')?.value }}</div>
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzLg]="8" style="display: flex; align-items: end">
<!--            <span class="text" *ngIf="pathLevel > 1 && !isDetail"-->
<!--                  (click)="showOrgParent()">{{ 'kpi.button.viewOrgParent' | translate }}</span>-->
              <ng-container *ngIf="employeeCode != form.controls['empManagerCode']?.value">
                <hbt-button
                  *ngIf="objFunction.approve && status == 'CHO_PHE_DUYET'"
                  buttonSize="LARGE"
                  buttonAvailableStyle="APPROVE"
                  buttonText="{{'common.button.approve' | translate}}"
                  (click)="updateApprove('OK')"
                ></hbt-button>
                <hbt-button
                  *ngIf="objFunction.approve && status == 'CHO_PHE_DUYET'"
                  buttonSize="LARGE"
                  buttonAvailableStyle="REJECT"
                  buttonText="{{'common.button.rejectApprove' | translate}}"
                  (click)="updateApprove('NOT-OK')"
                ></hbt-button>
              </ng-container>
            </div>
          </div>
        </form>
      </div>
      <div class="content__item content__item--border bg__content--default remove-margin-collapse">
        <div nz-col [nzXs]='24' [nzLg]='24'>
          <hbt-scroll-tabs [isShowInfoChange]="true" [sticky]="true" [tabs]="scrollTabs"></hbt-scroll-tabs>
          <hbt-collapse #collapse [panels]="panels"></hbt-collapse>
          <!--      <nz-tabset [nzType]="'card'" [nzSize]="'large'">-->
          <!--        <nz-tab nzTitle="{{'kpi.kpiEvaluations.organizations.label.evaluationCriteria' | translate}}">-->
          <!--          <app-evaluation-criteria [formParent]="form" [(isSubmittedParent)]="isSubmitted"></app-evaluation-criteria>-->
          <!--        </nz-tab>-->
          <!--        <nz-tab nzTitle="{{'kpi.kpiEvaluations.organizations.label.workPlan' | translate}}">-->
          <!--          <app-work-plan [formParent]="form" [(isSubmittedParent)]="isSubmitted"></app-work-plan>-->
          <!--        </nz-tab>-->
          <!--      </nz-tabset>-->
        </div>
      </div>

      <ng-template #footerTmpl>
        <hbt-button
          buttonAvailableStyle="CANCEL"
          buttonText="{{ 'common.button.cancel' | translate }}"
          (click)="modalRef.destroy()">
        </hbt-button>
      </ng-template>

      <nz-modal [(nzVisible)]="isVisibleAdjust"
                nzTitle="{{'kpi.kpiEvaluations.organizations.label.adjustReason' | translate}}"
                (nzOnCancel)="handleCancelAdjust()">
        <ng-container *nzModalContent>
          <div>
            <hbt-input-text
              isTextAre
              labelText="{{'kpi.kpiEvaluations.organizations.label.adjustReason' | translate}} <span class='label__required'>*</span>"
              placeholderText="{{'kpi.kpiEvaluations.organizations.label.adjustReason' | translate}}"
              [type]="(valueInputAdjust == '' && isSubmittedModal) ? 'error' : 'default'"
              [showError]="(isSubmittedModal && valueInputAdjust == '')"
              [errors]="{required: true}"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'kpi.validates.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.label.adjustReason' | translate }}]"
              [(ngModel)]="valueInputAdjust"
            ></hbt-input-text>
          </div>
        </ng-container>
        <ng-template [nzModalFooter]>
          <hbt-button
            buttonAvailableStyle="CANCEL"
            buttonText="{{ 'common.button.cancel' | translate }}"
            (click)="handleCancelAdjust()">
          </hbt-button>
          <hbt-button
            buttonAvailableStyle="SAVE"
            buttonText="{{'common.button.save' | translate}}"
            (click)="handleOkAdjust()">
          </hbt-button>
        </ng-template>
      </nz-modal>
    </div>
  </ng-template>
</div>