<div [ngClass]="{'app-card' : isPage}">
  <div class="content" *ngIf="isPage">
    <hbt-button buttonType="NO_BORDER" (click)="save()" buttonAvailableStyle="SAVE"
                buttonText="{{'common.button.save' | translate}}" type='SUBMIT'></hbt-button>
  </div>
  <form nz-form [formGroup]="form">
    <div class="app-row" nz-row [nzGutter]='[20,15]'>
      <div nz-col nzXs="24" nzLg="12">
        <hbt-input-text formControlName="code" [maxLength]="50"
                        [type]="isSubmitted && form.controls['code'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['code'].errors !== null"
                        [errors]="form.controls['code'].errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '255' }},
                          { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.common.code' | translate }}
                        ]"
                        placeholderText="{{'admin.common.code' | translate}}"
                        labelText="{{'admin.common.code' | translate}} <span class='label__required'>*</span>">
        </hbt-input-text>
      </div>

      <div nz-col nzXs="24" nzLg="12">
        <hbt-input-text formControlName="name" [maxLength]="255"
                        [defaultInput]="true"
                        [type]="isSubmitted && form.controls['name'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['name'].errors !== null"
                        [errors]="form.controls['name'].errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '255' }},
                          { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.configurations.attributes.table.name' | translate }}
                        ]"
                        placeholderText="{{'admin.configurations.attributes.table.name' | translate}}"
                        labelText="{{'admin.configurations.attributes.table.name' | translate}} <span class='label__required'>*</span>">
        </hbt-input-text>
      </div>

      <div nz-col nzXs="24" nzLg="12">
        <hbt-select formControlName="isAutoIncrease"
                    [urlLoadData]="getUrlCategory(categoryCode.CHOOSE_YES_NO)"
                    keyValue="value"
                    keyLabel="name"
                    [type]="isSubmitted && form.controls['isAutoIncrease'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['isAutoIncrease'].errors !== null"
                    [errors]="form.controls['isAutoIncrease'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.common.isAutoIncrease' | translate }}]"
                    labelText="{{'admin.common.isAutoIncrease' | translate}}"
                    placeholder="{{'admin.common.isAutoIncrease' | translate}}"
        >
        </hbt-select>
      </div>

      <div nz-col nzXs="24" nzLg="12">
        <hbt-input-text formControlName="orderNumber"
                        [maxNumber]="5"
                        appNumberInput
                        appNumberic
                        [num]="5"
                        [type]="isSubmitted && form.controls['orderNumber'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['orderNumber'].errors !== null"
                        [errors]="form.controls['orderNumber'].errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '255' }},
                          { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.common.stt' | translate }}
                        ]"
                        placeholderText="{{'admin.common.stt' | translate}}"
                        labelText="{{'admin.common.stt' | translate}}">
        </hbt-input-text>
      </div>

      <div nz-col nzXs="24" nzLg="24">
        <nz-table
          nzBordered
          [nzData]="[1]"
          [nzShowPagination]="false"
        >
          <thead>
          <tr>
            <th nzWidth='18%'>{{ 'admin.configurations.attributes.table.dataCode' | translate }} <span
              class='label__required'>*</span></th>
            <th nzWidth='18%'>{{ 'admin.configurations.attributes.table.dataName' | translate }} <span
              class='label__required'>*</span></th>
            <th nzWidth='18%'>{{ 'admin.configurations.attributes.table.dataType' | translate }} <span
              class='label__required'>*</span></th>
            <th nzWidth='18%'>{{ 'admin.configurations.attributes.table.isRequired' | translate }} <span
              class='label__required'>*</span></th>
            <th nzWidth='23%'>{{ 'admin.configurations.attributes.table.urlApi' | translate }}</th>
            <th nzWidth='5%'></th>
          </tr>
          </thead>
          <tbody>
          <ng-container [formArrayName]="FORM_ARRAY_NAME">
            <ng-container *ngFor="let attribute of attributes.controls; let i = index" [formGroupName]="i">
              <tr>
                <td>
                  <hbt-input-text formControlName="code" [maxLength]="255"
                                  [type]="isSubmitted && attribute.get('code')?.errors ? 'error' : 'default'"
                                  [showError]="isSubmitted && attribute.get('code')?.errors !== null"
                                  [errors]="attribute.get('code')?.errors"
                                  [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '255' }},
                                  { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.configurations.attributes.table.dataCode' | translate }}]"
                                  placeholderText="{{'admin.configurations.attributes.table.dataCode' | translate}}"
                                  (ngModelChange)="changeAttributes(i)"
                  >

                  </hbt-input-text>
                </td>
                <td>
                  <hbt-input-text formControlName="name" [maxLength]="255"
                                  [type]="isSubmitted && attribute.get('name')?.errors ? 'error' : 'default'"
                                  [showError]="isSubmitted && attribute.get('name')?.errors !== null"
                                  [errors]="attribute.get('name')?.errors"
                                  [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '255' }},
                                  { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.configurations.attributes.table.dataName' | translate }}]"
                                  placeholderText="{{'admin.configurations.attributes.table.dataName' | translate}}"
                                  (ngModelChange)="changeAttributes(i)"
                  >

                  </hbt-input-text>
                </td>
                <td>
                  <hbt-select formControlName="dataType"
                              [dataSelects]="listType"
                              [type]="isSubmitted && attribute.get('dataType')?.errors ? 'error' : 'default'"
                              [showError]="isSubmitted && attribute.get('dataType')?.errors !== null"
                              [errors]="attribute.get('dataType')?.errors"
                              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.configurations.attributes.table.dataType' | translate }}]"
                              placeholder="{{'admin.configurations.attributes.table.dataType' | translate}}"
                              (ngModelChange)="changeAttributes(i)"
                  >
                  </hbt-select>
                </td>
                <td>
                  <hbt-select formControlName="isRequired"
                              [dataSelects]="listRequired"
                              [type]="isSubmitted && attribute.get('isRequired')?.errors ? 'error' : 'default'"
                              [showError]="isSubmitted && attribute.get('isRequired')?.errors !== null"
                              [errors]="attribute.get('isRequired')?.errors"
                              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.configurations.attributes.table.isRequired' | translate }}]"
                              placeholder="{{'admin.configurations.attributes.table.isRequired' | translate}}"
                              (ngModelChange)="changeAttributes(i)"
                  >
                  </hbt-select>
                </td>
                <td>
                  <hbt-input-text formControlName="urlApi"
                                  [defaultInput]="true"
                                  placeholderText="{{'admin.configurations.attributes.table.urlApi' | translate}}"
                                  (ngModelChange)="changeAttributes(i)"
                  >

                  </hbt-input-text>
                </td>
                <td class="text-center">
                  <em class="menu__item--btn1" nz-icon nzType="plus-circle" nzTheme="outline"
                      nzTooltipTitle="{{'common.title.add' | translate}}" (click)="addNewAttributes()"
                      nzTooltipPlacement="left" nz-button nz-tooltip></em>
                  <em class="menu__item--btn" nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="{{'common.title.delete' | translate}}"
                      nzTooltipPlacement="right" nz-button nz-tooltip (click)="onDeleteAttributesClick(i)"></em></td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </nz-table>
      </div>
    </div>
  </form>
</div>
