@import "../../../../../../core/global-style/variable";

::ng-deep .courses-form .ant-tabs-tab {
  margin-right: 10px !important;
  border-radius: 5px !important;
  position: relative;
  z-index: 20;
}

::ng-deep .courses-form .ant-tabs-nav {
  padding-top: 10px !important;
}

::ng-deep .courses-form .ant-card {
  margin-top: -30px;
}

::ng-deep .label__required {
  color: $error-default-color;
}

.text-center {
  text-align: center;
}

.courses-form .import{
  font-size: 16px;
  color: $primary-500;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 10px;
}