<div class='ets-form'>
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]="[20,15]">
      <!--Đối tượng-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select  [urlLoadData]="getUrlCategory(categoryCode.LMS_DOI_TUONG_NGOAI)"
                     [serviceName]="microService.ADMIN"
                     keyLabel="name"
                    formControlName="typeId"
                    [type]="isSubmitted && form.controls['typeId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['typeId'].errors != null"
                    [errors]="form.controls['typeId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'lms.externalTrainings.table.typeId' | translate }}]"
                    placeholder="{{'lms.externalTrainings.table.typeId' | translate}}"
                    labelText="{{'lms.externalTrainings.table.typeId' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!--Họ và tên-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="fullName" [maxLength]="200"
                        placeholderText="{{'lms.externalTrainings.table.fullName' | translate}}"
                        [type]="isSubmitted && form.controls['fullName'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['fullName'].errors != null"
                        [errors]="form.controls['fullName'].errors"
                        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'lms.externalTrainings.table.fullName' | translate }}]"
                        labelText="{{'lms.externalTrainings.table.fullName' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <!--Giới tính-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.GIOI_TINH)"
                    [serviceName]="microService.ADMIN"
                    keyLabel="name"
                    formControlName="genderId"
                    [type]="isSubmitted && form.controls['genderId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['genderId'].errors != null"
                    [errors]="form.controls['genderId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'lms.externalTrainings.table.genderId' | translate }}]"
                    placeholder="{{'lms.externalTrainings.table.genderId' | translate}}"
                    labelText="{{'lms.externalTrainings.table.genderId' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!--Năm sinh-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker formControlName="yearOfBirth"
                         mode="year"
                         [type]="isSubmitted && form.controls['yearOfBirth'].errors ? 'error' : 'default'"
                         [showError]="isSubmitted && form.controls['yearOfBirth'].errors != null"
                         [errors]="form.controls['yearOfBirth'].errors"
                         [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'lms.externalTrainings.table.yearOfBirth' | translate }},
                         { errorName: 'maxDateNow', errorDescription: 'lms.validate.maxDateNow' | translate: {'param': 'lms.externalTrainings.table.yearOfBirth' | translate }}]"
                         placeholderText="{{'lms.externalTrainings.table.yearOfBirth' | translate}}"
                         labelText="{{'lms.externalTrainings.table.yearOfBirth' | translate}} <span class='label__required'>*</span>"
        ></hbt-date-picker>
      </div>

      <!--Số điện thoại-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="mobileNumber" [maxLength]="20"
                        appNumberInput
                        placeholderText="{{'lms.externalTrainings.table.mobileNumber' | translate}}"
                        labelText="{{'lms.externalTrainings.table.mobileNumber' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Căn cước công dân-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text
          formControlName="personalIdNo" [maxLength]="20"
          appNumberInput
          placeholderText="{{'lms.externalTrainings.table.personalIdNo' | translate}}"
          labelText="{{'lms.externalTrainings.table.personalIdNo' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Địa chỉ-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="address" [maxLength]="255"
                        placeholderText="{{'lms.externalTrainings.table.address' | translate}}"
                        labelText="{{'lms.externalTrainings.table.address' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Đơn vị công tác-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="organizationAddress" [maxLength]="255"
                        placeholderText="{{'lms.externalTrainings.table.organizationAddress' | translate}}"
                        labelText="{{'lms.externalTrainings.table.organizationAddress' | translate}} <span class='label__required'>*</span>"
                        [type]="isSubmitted && form.controls['organizationAddress'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['organizationAddress'].errors != null"
                        [errors]="form.controls['organizationAddress'].errors"
                        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'lms.externalTrainings.table.organizationAddress' | translate }}]"
        ></hbt-input-text>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12" class="flex">
        <hbt-date-picker
          style="width: 40%"
          placeholderText="{{'lms.trainingProcess.table.startDate' | translate}}"
          labelText="{{'lms.trainingProcess.table.date' | translate}} <span class='label__required'>*</span>"
          [type]="isSubmitted && form.controls['startDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['startDate'].errors !== null"
          [errors]="form.controls['startDate'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'lms.trainingProcess.table.startDate' | translate }}]"
          formControlName="startDate"></hbt-date-picker>
        <div class="text-date">đến</div>
        <hbt-date-picker
          style="width: 40%"
          placeholderText="{{'lms.trainingProcess.table.endDate' | translate}}"
          [type]="(form.errors?.rangeDateError) ? 'error' : 'default'"
          [showError]="(form.errors?.rangeDateError) !== null"
          [errors]="form.errors"
          [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'med.validate.rangeDate.pareDate' | translate:
        {'startDate': 'lms.trainingProcess.table.startDate' | translate, 'endDate': 'lms.trainingProcess.table.endDate' | translate}}]"
          formControlName="endDate"></hbt-date-picker>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.LMS_HINH_THUC_DAO_TAO)"
                    [serviceName]="microService.ADMIN"
                    keyLabel="name"
                    formControlName="trainningTypeId"
                    [type]="isSubmitted && form.controls['trainningTypeId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['trainningTypeId'].errors != null"
                    [errors]="form.controls['trainningTypeId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'lms.externalTrainings.table.trainningTypeId' | translate }}]"
                    placeholder="{{'lms.externalTrainings.table.trainningTypeId' | translate}}"
                    labelText="{{'lms.externalTrainings.table.trainningTypeId' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.LMS_CHUYEN_NGANH_NGOAI_VIEN)"
                    [serviceName]="microService.ADMIN"
                    keyLabel="name"
                    formControlName="trainingMajorId"
                    [type]="isSubmitted && form.controls['trainingMajorId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['trainingMajorId'].errors != null"
                    [errors]="form.controls['trainingMajorId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'lms.externalTrainings.table.trainingMajorId' | translate }}]"
                    placeholder="{{'lms.externalTrainings.table.trainingMajorId' | translate}}"
                    labelText="{{'lms.externalTrainings.table.trainingMajorId' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="content" [maxLength]="2000"
                        [isTextAre] = "true"
                        [config]="{ rows: 2, autoSize: true }"
                        placeholderText="{{'lms.externalTrainings.table.content' | translate}}"
                        labelText="{{'lms.externalTrainings.table.content' | translate}}"
        ></hbt-input-text>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="12">
        <tree-data-picker
          [isExpand]="true"
          [functionCode]="functionCode"
          [scope]="scope"
          formControlName="organizationId"
          labelText="{{'lms.externalTrainings.table.organizationId' | translate}}"
          placeholder="{{'lms.externalTrainings.table.organizationId' | translate}}"
        ></tree-data-picker>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <employee-data-picker [isExpand]="true"
                              [scope]="scope"
                              labelText="{{'lms.externalTrainings.table.mentorId' | translate}}"
                              placeholder="{{'lms.externalTrainings.table.mentorId' | translate}}"
                              formControlName="mentorId"
                              [functionCode]="functionCodeEmployee"></employee-data-picker>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="admissionResults" [maxLength]="255"
                        placeholderText="{{'lms.externalTrainings.table.admissionResults' | translate}}"
                        labelText="{{'lms.externalTrainings.table.admissionResults' | translate}}"
        ></hbt-input-text>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="graduatedResults" [maxLength]="255"
                        placeholderText="{{'lms.externalTrainings.table.graduatedResults' | translate}}"
                        labelText="{{'lms.externalTrainings.table.graduatedResults' | translate}}"
        ></hbt-input-text>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="certificateNo" [maxLength]="200"
                        placeholderText="{{'lms.externalTrainings.table.certificateNo' | translate}}"
                        labelText="{{'lms.externalTrainings.table.certificateNo' | translate}}"
        ></hbt-input-text>
      </div>
      <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-date-picker
        placeholderText="{{'lms.externalTrainings.table.certificateDate' | translate}}"
        labelText="{{'lms.externalTrainings.table.certificateDate' | translate}}"
        formControlName="certificateDate"></hbt-date-picker>
      </div>
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="numberOfLessons" [maxLength]="4"
                        appNumberInput
                        placeholderText="{{'lms.externalTrainings.table.numberOfLessons' | translate}}"
                        labelText="{{'lms.externalTrainings.table.numberOfLessons' | translate}}"
        ></hbt-input-text>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.LMS_TINH_TRANG_HOC_PHI)"
                    [serviceName]="microService.ADMIN"
                    keyLabel="name"
                    formControlName="tuitionFeeStatusId"
                    [type]="isSubmitted && form.controls['tuitionFeeStatusId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['tuitionFeeStatusId'].errors != null"
                    [errors]="form.controls['tuitionFeeStatusId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'lms.externalTrainings.table.tuitionFeeStatusId' | translate }}]"
                    placeholder="{{'lms.externalTrainings.table.tuitionFeeStatusId' | translate}}"
                    labelText="{{'lms.externalTrainings.table.tuitionFeeStatusId' | translate}}"
        ></hbt-select>
      </div>

      <ng-container formArrayName="listAttributes">
        <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
          <div nz-col [nzXs]="12" [nzLg]="attributes.get('attributeCode')?.value == 'NOTE' ? 24 : 12">
            <input-attribute-common
              [controlName]="getAttributeControl(idx, 'attributeValue')"
              [dataType]="attributes.get('attributeCode')?.value == 'NOTE' ? 'TEXT' : attributes.get('dataType')?.value"
              [urlLoadData]="attributes.get('urlLoadData')?.value"
              [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
              [errors]="attributes.get('attributeValue')?.errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
              [placeholderText]="attributes.get('attributeName')?.value"
              [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
            >
            </input-attribute-common>
          </div>
        </ng-container>
      </ng-container>

    </div>
  </form>
</div>

