<div class='save-form-abs'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <!--id nhân viên-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <employee-data-picker status='WORKING'
          formControlName="employeeId"
          [type]="isSubmitted && form.controls['employeeId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['employeeId'].errors != null"
          [errors]="form.controls['employeeId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.employeeName' | translate }}]"
          labelText="{{'abs.timekeepings.table.employeeId' | translate}} "
        >
        </employee-data-picker>
      </div>

      <!--ngày chấm công-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'abs.timekeepings.table.dateTimekeeping' | translate}}"
          labelText="{{'abs.timekeepings.table.dateTimekeeping' | translate}}"
          formControlName="dateTimekeeping"></hbt-date-picker>
      </div>

      <!--id ký hiệu chấm công-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="[]"
          formControlName="workdayTypeId"
          [type]="isSubmitted && form.controls['workdayTypeId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['workdayTypeId'].errors != null"
          [errors]="form.controls['workdayTypeId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.timekeepings.table.workdayTypeId' | translate }}]"
          placeholder="{{'abs.timekeepings.table.workdayTypeId' | translate}}"
          labelText="{{'abs.timekeepings.table.workdayTypeId' | translate}}"
        ></hbt-select>
      </div>

      <!--số giờ chấm công-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalHours" maxLength="10"
          [type]="isSubmitted && form.controls['totalHours'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['totalHours'].errors != null"
          [errors]="form.controls['totalHours'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'abs.timekeepings.table.totalHours' | translate}}"
          labelText="{{'abs.timekeepings.table.totalHours' | translate}}"
        ></hbt-input-text>
      </div>

      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <hbt-upload
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpeg', 'jpg', 'png', 'pdf', 'doc', 'docx']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          [required]="true"
          (fileListChange)="onFileListChange($event, 'fileList', true)"
          (docIdsDeleteChange)="removeFile($event, 'fileList')"
          [serviceName]='serviceName'
          [showError]="isSubmitted"
        ></hbt-upload>
      </div>

    </div>
  </form>
</div>

