.edy__card {
  padding-top: 20px;
  display: flex;
  .edy__card-left {
    width: 260px;

    img {
      width: 240px;
      height: 300px;
      border-radius: 4px;
    }
  }

  .edy__card-right {
    padding: 0 5px;
    font-size: 16px;
  }
}