<div class='save-form-pit'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[30,30]">
      <!--kỳ tính thuế-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'pit.taxDeclareMasters.table.taxPeriodDate' | translate}}"
          labelText="{{'pit.taxDeclareMasters.table.taxPeriodDate' | translate}}"
          formControlName="taxPeriodDate"></hbt-date-picker>
      </div>

      <!--tổng thu nhập chịu thuế-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalIncomeTaxable" [maxLength]="20"
          [type]="isSubmitted && form.controls['totalIncomeTaxable'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['totalIncomeTaxable'].errors != null"
          [errors]="form.controls['totalIncomeTaxable'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
          placeholderText="{{'pit.taxDeclareMasters.table.totalIncomeTaxable' | translate}}"
          labelText="{{'pit.taxDeclareMasters.table.totalIncomeTaxable' | translate}}"
        ></hbt-input-text>
      </div>

      <!--tổng thu nhập miễn thuế-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalIncomeFreeTax" [maxLength]="20"
          [type]="isSubmitted && form.controls['totalIncomeFreeTax'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['totalIncomeFreeTax'].errors != null"
          [errors]="form.controls['totalIncomeFreeTax'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
          placeholderText="{{'pit.taxDeclareMasters.table.totalIncomeFreeTax' | translate}}"
          labelText="{{'pit.taxDeclareMasters.table.totalIncomeFreeTax' | translate}}"
        ></hbt-input-text>
      </div>

      <!--tổng khấu trừ bhxh-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalInsuranceDeduction" [maxLength]="20"
          [type]="isSubmitted && form.controls['totalInsuranceDeduction'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['totalInsuranceDeduction'].errors != null"
          [errors]="form.controls['totalInsuranceDeduction'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
          placeholderText="{{'pit.taxDeclareMasters.table.totalInsuranceDeduction' | translate}}"
          labelText="{{'pit.taxDeclareMasters.table.totalInsuranceDeduction' | translate}}"
        ></hbt-input-text>
      </div>

      <!--tổng khấu trừ khác-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalOtherDeduction" [maxLength]="20"
          [type]="isSubmitted && form.controls['totalOtherDeduction'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['totalOtherDeduction'].errors != null"
          [errors]="form.controls['totalOtherDeduction'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
          placeholderText="{{'pit.taxDeclareMasters.table.totalOtherDeduction' | translate}}"
          labelText="{{'pit.taxDeclareMasters.table.totalOtherDeduction' | translate}}"
        ></hbt-input-text>
      </div>

      <!--tổng thuế kê khai phải nộp-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalIncomeTax" [maxLength]="20"
          [type]="isSubmitted && form.controls['totalIncomeTax'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['totalIncomeTax'].errors != null"
          [errors]="form.controls['totalIncomeTax'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
          placeholderText="{{'pit.taxDeclareMasters.table.totalIncomeTax' | translate}}"
          labelText="{{'pit.taxDeclareMasters.table.totalIncomeTax' | translate}}"
        ></hbt-input-text>
      </div>

      <!--tổng thuế đã thu-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalTaxCollected" [maxLength]="20"
          [type]="isSubmitted && form.controls['totalTaxCollected'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['totalTaxCollected'].errors != null"
          [errors]="form.controls['totalTaxCollected'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
          placeholderText="{{'pit.taxDeclareMasters.table.totalTaxCollected' | translate}}"
          labelText="{{'pit.taxDeclareMasters.table.totalTaxCollected' | translate}}"
        ></hbt-input-text>
      </div>

      <!--tổng số thuế còn phải nộp-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalTaxPayable" [maxLength]="20"
          [type]="isSubmitted && form.controls['totalTaxPayable'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['totalTaxPayable'].errors != null"
          [errors]="form.controls['totalTaxPayable'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
          placeholderText="{{'pit.taxDeclareMasters.table.totalTaxPayable' | translate}}"
          labelText="{{'pit.taxDeclareMasters.table.totalTaxPayable' | translate}}"
        ></hbt-input-text>
      </div>

      <!--tổng số thuế truy thu kỳ trước-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalMonthRetroTax" [maxLength]="20"
          [type]="isSubmitted && form.controls['totalMonthRetroTax'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['totalMonthRetroTax'].errors != null"
          [errors]="form.controls['totalMonthRetroTax'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
          placeholderText="{{'pit.taxDeclareMasters.table.totalMonthRetroTax' | translate}}"
          labelText="{{'pit.taxDeclareMasters.table.totalMonthRetroTax' | translate}}"
        ></hbt-input-text>
      </div>

      <!--tổng số người nộp thuế trong tháng-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="totalTaxpayers" [maxLength]="10"
          [type]="isSubmitted && form.controls['totalTaxpayers'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['totalTaxpayers'].errors != null"
          [errors]="form.controls['totalTaxpayers'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
          placeholderText="{{'pit.taxDeclareMasters.table.totalTaxpayers' | translate}}"
          labelText="{{'pit.taxDeclareMasters.table.totalTaxpayers' | translate}}"
        ></hbt-input-text>
      </div>

      <!---->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="inputType" [maxLength]="9"
          [type]="isSubmitted && form.controls['inputType'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['inputType'].errors != null"
          [errors]="form.controls['inputType'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 9}}]"
          placeholderText="{{'pit.taxDeclareMasters.table.inputType' | translate}}"
          labelText="{{'pit.taxDeclareMasters.table.inputType' | translate}}"
        ></hbt-input-text>
      </div>

      <!--danh sách khoản thu nhập trong tháng-->
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-select [dataSelects]="[]"
          formControlName="incomeItemMasterIds"
          [type]="isSubmitted && form.controls['incomeItemMasterIds'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['incomeItemMasterIds'].errors != null"
          [errors]="form.controls['incomeItemMasterIds'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'pit.taxDeclareMasters.table.incomeItemMasterIds' | translate }}]"
          placeholder="{{'pit.taxDeclareMasters.table.incomeItemMasterIds' | translate}}"
          labelText="{{'pit.taxDeclareMasters.table.incomeItemMasterIds' | translate}}"
        ></hbt-select>
      </div>

      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <hbt-upload
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpg', 'png', 'pdf', 'doc', 'docx']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          [required]="true"
          (fileListChange)="onFileListChange($event, 'fileList', true)"
          (docIdsDeleteChange)="removeFile($event, 'fileList')"
          [serviceName]='serviceName'
          [showError]="isSubmitted"
        ></hbt-upload>
      </div>

    </div>
  </form>
</div>

