<div [ngClass]="{'app-card' : isPage}">
  <form nz-form [formGroup]="form">
    <div class="app-row" nz-row [nzGutter]='[20,15]'>
      <div nz-col nzXs="24" nzLg="24">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.LOAI_PHAN_ANH)"
                    [showAddCategory]="false"
                    keyLabel="name"
                    formControlName="type"
                    labelText="{{'admin.feedbacks.type' | translate}}"
                    placeholder="{{'admin.feedbacks.type' | translate}}"
        ></hbt-select>
      </div>
      <div nz-col nzXs="24" nzLg="24">
        <hbt-select
          [showAddCategory]="false"
          [dataSelects]="listStatus"
          formControlName='status'
          keyLabel="name"
          keyValue="value"
          labelText="{{'admin.feedbacks.status' | translate}} <span class='label__required'>*</span>"
          placeholder="{{'admin.feedbacks.status' | translate}}"
          [type]="isSubmitted && form.controls['status'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['status'].errors !== null"
          [errors]="form.controls['status'].errors"
          [errorDefs]="[
            { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.feedbacks.status' | translate }}
          ]">
        </hbt-select>
      </div>

      <div nz-col nzXs="24" nzLg="24">
        <hbt-input-text formControlName="content"
                        [isTextAre]="true"
                        [maxLength]="1000"
                        [defaultInput]="true"
                        placeholderText="{{'admin.feedbacks.processContent' | translate}}"
                        labelText="{{'admin.feedbacks.processContent' | translate}}">
        </hbt-input-text>
      </div>

      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <hbt-upload
          [fileList]="f['files'].value"
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpeg', 'jpg', 'png', 'pdf']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          (fileListChange)="onFileListChange($event, 'files', true)"
          (docIdsDeleteChange)="removeFile($event, 'files')"
          [serviceName]='microService.ADMIN'
          [disable]="true"
        ></hbt-upload>
      </div>
    </div>
  </form>
</div>
