<div>
  <nz-tabset [nzType]="'card'" [nzSize]="'large'" (nzSelectedIndexChange)="selectedIndexChange($event)" >
    <nz-tab nzTitle="{{'icn.icnContribution.calculate.employeeInfo.titleGeneralInformation' | translate}}">
      <div class="personal-info">
        <div nz-row [nzGutter]="[20,15]">
          <ng-container *ngFor="let perInfo of basicInfo?.details">
            <div nz-col [nzXs]="24" [nzLg]="perInfo.colsSpan*6">
              <hbt-text-label [labelText]="perInfo.label" [labelValue]="perInfo.value"></hbt-text-label>
            </div>
          </ng-container>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="{{'icn.icnContribution.calculate.employeeInfo.titleWorkInformation' | translate}}">
      <app-work-info
        *ngIf="indexTab === 1"
        [employeeId]="employeeId.toString()"
      >

      </app-work-info>
    </nz-tab>
    <nz-tab nzTitle="{{'icn.icnContribution.calculate.employeeInfo.titleContractInformation' | translate}}">
      <app-contract-info
        *ngIf="indexTab === 2"
        [employeeId]="employeeId.toString()"
      >

      </app-contract-info>
    </nz-tab>
    <nz-tab nzTitle="{{'icn.icnContribution.calculate.employeeInfo.titleInsuranceCoefficientInformation' | translate}}">
      <app-ic-info
        *ngIf="indexTab === 3"
        [employeeId]="employeeId.toString()"
      >

      </app-ic-info>
    </nz-tab>
    <nz-tab nzTitle="{{'icn.icnContribution.calculate.employeeInfo.titleAllowanceInformation' | translate}}">
      <app-allowance-info
        *ngIf="indexTab === 4"
        [employeeId]="employeeId.toString()"
      >

      </app-allowance-info>
    </nz-tab>
    <nz-tab nzTitle="{{'icn.icnContribution.calculate.employeeInfo.titleDependentInformation' | translate}}">
      <app-dependent-info
        *ngIf="indexTab === 5"
        [employeeId]="employeeId.toString()"
      >

      </app-dependent-info>
    </nz-tab>
  </nz-tabset>
</div>