@import "src/app/modules/kpi/data-access/style/style";

.evaluation-criteria .flex {
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 0;

  .text {
    font-size: 18px;
    color: $primary-500;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 10px;
  }
}

::ng-deep .evaluation-criteria nz-table-inner-scroll {
  th {
    background: $bg-table-header;
    color: $table-text-header;
    font-family: avertaB, sans-serif;
  }
}

.text-center {
  text-align: center;
}

::ng-deep.evaluation-criteria .eca-input {
  input, .ant-select-selector, textarea {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
    min-height: 31px !important;
    text-align: right !important;
  }

  .ant-select-selector {
    height: 31px !important;
  }
}