<div class='save-form-kpi'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[20,15]">
      <!--Năm-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker formControlName="year"
                         mode="year"
                         format="yyyy"
                         [type]="isSubmitted && form.controls['year'].errors ? 'error' : 'default'"
                         [showError]="isSubmitted && form.controls['year'].errors != null"
                         [errors]="form.controls['year'].errors"
                         [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 10}}]"
                         placeholderText="{{'kpi.orgConfigs.table.year' | translate}}"
                         labelText="{{'kpi.orgConfigs.table.year' | translate}} <span class='label__required'>*</span>"
        ></hbt-date-picker>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <tree-data-picker
          [isExpand]="true"
          labelText="{{'kpi.orgConfigs.table.organization' | translate}} <span class='label__required'>*</span>"
          placeholder="{{'kpi.orgConfigs.table.organization' | translate}}"
          formControlName="organizationId"
          [scope]="scope">
        </tree-data-picker>
      </div>
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select formControlName="orgTypeId"
                    [urlLoadData]="getUrlCategory(categoryCode.LOAI_HINH_DON_VI)"
                    [serviceName]="microService.ADMIN"
                    keyLabel="name"
                    [type]="isSubmitted && form.controls['orgTypeId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['orgTypeId'].errors !== null"
                    [errors]="form.controls['orgTypeId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.indicatorConversions.table.unitGroup' | translate }}]"
                    labelText="{{'kpi.indicatorConversions.table.unitGroup' | translate}}"
                    placeholder="{{'kpi.indicatorConversions.table.unitGroup' | translate}}"
        >
        </hbt-select>
      </div>

      <ng-container formArrayName="listAttributes">
        <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
          <div nz-col [nzXs]="12" [nzLg]="12">
            <input-attribute-common
              [controlName]="getAttributeControl(idx, 'attributeValue')"
              [dataType]="attributes.get('dataType')?.value"
              [urlLoadData]="attributes.get('urlLoadData')?.value"
              [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
              [errors]="attributes.get('attributeValue')?.errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
              [placeholderText]="attributes.get('attributeName')?.value"
              [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
            >
            </input-attribute-common>
          </div>
        </ng-container>
      </ng-container>

      <!--ghi chú-->
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-input-text formControlName="note" isTextAre
                        maxLength="500"
                        placeholderText="{{'kpi.orgConfigs.table.note' | translate}}"
                        labelText="{{'kpi.orgConfigs.table.note' | translate}}"
        ></hbt-input-text>
      </div>


    </div>
  </form>
</div>

