@import "../../../../../core/global-style/variable";

.item__home {
  margin-bottom: 10px;
}

::ng-deep .ant-card-meta-title {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
}

.card__item {
  text-align: center;
  background: $light-green-300;
  width: 100%;
}

::ng-deep .book-category .staff__research__btn__search .ant-btn {
  margin-top: 27px !important;
}

::ng-deep .ant-card-body {
  padding: 10px 2px;
}

::ng-deep .ant-card-meta-title {
  font-family: 'avertaB', sans-serif;
  font-size: 18px;
}

::ng-deep .ant-card-meta-description {
  margin-top: -10px;
  font-size: 16px;
  font-family: 'avertaB', sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__home {
  margin-bottom: 20px;
}

.group__total--table {
  display: flex;
  align-items: center;
  font-size: 16px;
}

