<div class='save-form-mat' [ngClass]="{'app-card' : isPage}">
  <div class="btn__across-no-page" *ngIf="isPage" style="margin-right: 20px">
    <hbt-button buttonType="NO_BORDER" *ngIf="mode !== modeConst.VIEW" (click)="save()" buttonAvailableStyle="SAVE"
                buttonText="{{'common.button.save' | translate}}" type='SUBMIT'></hbt-button>
    <hbt-button
      buttonAvailableStyle="DEFAULT"
      buttonText="{{ 'common.button.back' | translate }}"
      (click)="back()">
    </hbt-button>
  </div>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[20,15]">
      <!--id kho-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="listWarehouse"
                    keyValue="warehouseId"
                    keyLabel="name"
                    formControlName="warehouseId"
                    [type]="isSubmitted && form.controls['warehouseId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['warehouseId'].errors != null"
                    [errors]="form.controls['warehouseId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.warehouseId' | translate }}]"
                    placeholder="{{'mat.matIncomingShipments.table.warehouseId' | translate}}"
                    labelText="{{'mat.matIncomingShipments.table.warehouseId' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!--ngày nhập kho-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'mat.matIncomingShipments.table.incomingDate' | translate}}"
          labelText="{{'mat.matIncomingShipments.table.incomingDate' | translate}} <span class='label__required'>*</span>"
          [type]="isSubmitted && form.controls['incomingDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['incomingDate'].errors != null"
          [errors]="form.controls['incomingDate'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.incomingDate' | translate }}]"
          formControlName="incomingDate"></hbt-date-picker>
      </div>

      <!--số phiếu nhập kho-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="pickingNo" maxLength="50"
                        [disable]="true"
                        [type]="isSubmitted && form.controls['pickingNo'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['pickingNo'].errors != null"
                        [errors]="form.controls['pickingNo'].errors"
                        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.pickingNo' | translate }}]"
                        placeholderText="{{'mat.matIncomingShipments.table.pickingNo' | translate}}"
                        labelText="{{'mat.matIncomingShipments.table.pickingNo' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <!--id người nhập kho-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <employee-data-picker status='WORKING'
                              formControlName="pickingEmployeeId"
                              [type]="isSubmitted && form.controls['pickingEmployeeId'].errors ? 'error' : 'default'"
                              [showError]="isSubmitted && form.controls['pickingEmployeeId'].errors != null"
                              [errors]="form.controls['pickingEmployeeId'].errors"
                              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.pickingEmployeeId' | translate }}]"
                              labelText="{{'mat.matIncomingShipments.table.pickingEmployeeId' | translate}} <span class='label__required'>*</span>"
                              placeholder="{{'mat.matIncomingShipments.table.pickingEmployeeId' | translate}}"
        >
        </employee-data-picker>
      </div>

      <ng-container *ngIf="f['type'].value !== 'DIEU_CHUYEN'">
        <!--id người lập phiếu (mặc định bằng user tạo)-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <employee-data-picker status='WORKING'
                                formControlName="authorId"
                                [type]="isSubmitted && form.controls['authorId'].errors ? 'error' : 'default'"
                                [showError]="isSubmitted && form.controls['authorId'].errors != null"
                                [errors]="form.controls['authorId'].errors"
                                [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.authorId' | translate }}]"
                                labelText="{{'mat.matIncomingShipments.table.authorId' | translate}} <span class='label__required'>*</span>"
                                placeholder="{{'mat.matIncomingShipments.table.authorId' | translate}}"
          >
          </employee-data-picker>
        </div>

        <!--Đối tác-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="partnerName" maxLength="255"
                          [type]="isSubmitted && form.controls['partnerName'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['partnerName'].errors != null"
                          [errors]="form.controls['partnerName'].errors"
                          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                          placeholderText="{{'mat.matIncomingShipments.table.partnerName' | translate}}"
                          labelText="{{'mat.matIncomingShipments.table.partnerName' | translate}}"
          ></hbt-input-text>
        </div>

        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="contractNo" maxLength="50"
                          [type]="isSubmitted && form.controls['contractNo'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['contractNo'].errors != null"
                          [errors]="form.controls['contractNo'].errors"
                          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.contractId' | translate }}]"
                          placeholderText="{{'mat.matIncomingShipments.table.contractId' | translate}}"
                          labelText="{{'mat.matIncomingShipments.table.contractId' | translate}} <span class='label__required'>*</span>"
          ></hbt-input-text>
        </div>

        <!--Số tiền hợp đồng-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="contractAmount" maxLength="23" [isFormatterCurrency]="true" inputType="number"
                          appNumberic
                          [num]="20"
                          [decimals]="2"
                          [type]="isSubmitted && form.controls['contractAmount'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['contractAmount'].errors != null"
                          [errors]="form.controls['contractAmount'].errors"
                          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.contractAmount' | translate }}]"
                          placeholderText="{{'mat.matIncomingShipments.table.contractAmount' | translate}}"
                          labelText="{{'mat.matIncomingShipments.table.contractAmount' | translate}} <span class='label__required'>*</span>"
          ></hbt-input-text>
        </div>

        <!--hóa đơn mua sắm (khóa ngoại đến bảng wb_bill)-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text
            formControlName="invoiceId" maxLength="50"
            [type]="isSubmitted && form.controls['invoiceId'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && form.controls['invoiceId'].errors != null"
            [errors]="form.controls['invoiceId'].errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.invoiceId' | translate }}]"
            placeholderText="{{'mat.matIncomingShipments.table.invoiceId' | translate}}"
            labelText="{{'mat.matIncomingShipments.table.invoiceId' | translate}}"
          ></hbt-input-text>
        </div>

        <!--người giao hàng-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="shippedBy" maxLength="255"
                          [type]="isSubmitted && form.controls['shippedBy'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['shippedBy'].errors != null"
                          [errors]="form.controls['shippedBy'].errors"
                          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                          placeholderText="{{'mat.matIncomingShipments.table.shippedBy' | translate}}"
                          labelText="{{'mat.matIncomingShipments.table.shippedBy' | translate}}"
          ></hbt-input-text>
        </div>
      </ng-container>

      <ng-container *ngIf="f['type'].value === 'DIEU_CHUYEN'">
        <!--mô tả-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="outgoingTransferPickingNo" maxLength="255"
                          [type]="isSubmitted && form.controls['outgoingTransferPickingNo'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['outgoingTransferPickingNo'].errors != null"
                          [errors]="form.controls['outgoingTransferPickingNo'].errors"
                          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                          placeholderText="{{'mat.matIncomingShipments.table.outgoingTransferPickingNo' | translate}}"
                          labelText="{{'mat.matIncomingShipments.table.outgoingTransferPickingNo' | translate}}"
          ></hbt-input-text>
        </div>
        <!--mô tả-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select [dataSelects]="listWarehouse"
                      keyValue="warehouseId"
                      keyLabel="name"
                      formControlName="outgoingWarehouseId"
                      [type]="isSubmitted && form.controls['outgoingWarehouseId'].errors ? 'error' : 'default'"
                      [showError]="isSubmitted && form.controls['outgoingWarehouseId'].errors != null"
                      [errors]="form.controls['outgoingWarehouseId'].errors"
                      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.outgoingWarehouseId' | translate }}]"
                      placeholder="{{'mat.matIncomingShipments.table.outgoingWarehouseId' | translate}}"
                      labelText="{{'mat.matIncomingShipments.table.outgoingWarehouseId' | translate}} <span class='label__required'>*</span>"
          ></hbt-select>
        </div>
      </ng-container>

        <!--người giao hàng-->
        <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="f['type'].value == 'DIEU_CHUYEN'">
          <hbt-input-text formControlName="shippedBy" maxLength="255"
                          [type]="isSubmitted && form.controls['shippedBy'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['shippedBy'].errors != null"
                          [errors]="form.controls['shippedBy'].errors"
                          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                          placeholderText="{{'mat.matIncomingShipments.table.shippedBy' | translate}}"
                          labelText="{{'mat.matIncomingShipments.table.shippedBy' | translate}}"
          ></hbt-input-text>
        </div>

        <!--mô tả-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="note" maxLength="255"
                          [type]="isSubmitted && form.controls['note'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['note'].errors != null"
                          [errors]="form.controls['note'].errors"
                          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                          placeholderText="{{'mat.matIncomingShipments.table.note' | translate}}"
                          labelText="{{'mat.matIncomingShipments.table.note' | translate}}"
          ></hbt-input-text>
        </div>

        <!--Loại phiếu nhập-->
        <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="mode === modeConst.VIEW && form.get('statusId').value !== 'PHE_DUYET'">
          <hbt-select [serviceName]="microService.ADMIN"
                      [urlLoadData]="getUrlCategory(categoryCode.MAT_INCOMING_SHIPMENTS_TYPE)"
                      keyLabel="name"
                      formControlName="type"
                      [type]="isSubmitted && form.controls['type'].errors ? 'error' : 'default'"
                      [showError]="isSubmitted && form.controls['type'].errors != null"
                      [errors]="form.controls['type'].errors"
                      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.type' | translate }}]"
                      placeholder="{{'mat.matIncomingShipments.table.type' | translate}}"
                      labelText="{{'mat.matIncomingShipments.table.type' | translate}}"
          ></hbt-select>
        </div>

        <ng-container *ngIf="mode === modeConst.VIEW && form.get('statusId').value == 'PHE_DUYET'">

          <!--Loại phiếu nhập-->
          <div nz-col [nzXs]="12" [nzLg]="12">
            <hbt-input-text formControlName="approvedName" maxLength="11"
                            [type]="isSubmitted && form.controls['approvedName'].errors ? 'error' : 'default'"
                            [showError]="isSubmitted && form.controls['approvedName'].errors != null"
                            [errors]="form.controls['approvedName'].errors"
                            [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 11}}]"
                            placeholderText="{{'mat.matIncomingShipments.table.approvedName' | translate}}"
                            labelText="{{'mat.matIncomingShipments.table.approvedName' | translate}}"
            ></hbt-input-text>
          </div>
          <div nz-col [nzXs]="12" [nzLg]="12">
            <hbt-select [serviceName]="microService.ADMIN"
                        [urlLoadData]="getUrlCategory(categoryCode.MAT_INCOMING_SHIPMENTS_TYPE)"
                        keyLabel="name"
                        formControlName="type"
                        [type]="isSubmitted && form.controls['type'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['type'].errors != null"
                        [errors]="form.controls['type'].errors"
                        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.type' | translate }}]"
                        placeholder="{{'mat.matIncomingShipments.table.type' | translate}}"
                        labelText="{{'mat.matIncomingShipments.table.type' | translate}}"
            ></hbt-select>
          </div>
        </ng-container>
        <ng-container *ngIf="mode === modeConst.VIEW">
          <!--ngày phê duyệt-->
          <div nz-col [nzXs]="12" [nzLg]="12">
            <hbt-date-picker
              placeholderText="{{'mat.matIncomingShipments.table.approvedTime' | translate}}"
              labelText="{{'mat.matIncomingShipments.table.approvedTime' | translate}}"
              [type]="isSubmitted && form.controls['approvedTime'].errors ? 'error' : 'default'"
              [showError]="isSubmitted && form.controls['approvedTime'].errors != null"
              [errors]="form.controls['approvedTime'].errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.approvedTime' | translate }}]"
              formControlName="approvedTime"></hbt-date-picker>
          </div>
        </ng-container>

        <!--trạng thái-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select [serviceName]="microService.ADMIN"
                      [urlLoadData]="getUrlCategory(categoryCode.MAT_STATUS)"
                      keyLabel="name"
                      formControlName="statusId"
                      [type]="isSubmitted && form.controls['statusId'].errors ? 'error' : 'default'"
                      [showError]="isSubmitted && form.controls['statusId'].errors != null"
                      [errors]="form.controls['statusId'].errors"
                      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.statusId' | translate }}]"
                      placeholder="{{'mat.matIncomingShipments.table.statusId' | translate}}"
                      labelText="{{'mat.matIncomingShipments.table.statusId' | translate}}"
          ></hbt-select>
        </div>

        <!--Ghi chú phê duyệt-->
        <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="form.get('statusId').value == 'TU_CHOI'">
          <hbt-input-text formControlName="approvedNote" isTextAre
                          maxLength="500"
                          placeholderText="{{'mat.matIncomingShipments.table.approvedNote' | translate}}"
                          labelText="{{'mat.matIncomingShipments.table.approvedNote' | translate}}"
          ></hbt-input-text>
        </div>

      <div nz-col [nzXs]='12' [nzLg]='12' class="input__group">
        <hbt-upload
          [disable]="mode === modeConst.VIEW"
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpg', 'png', 'pdf', 'doc', 'docx']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          [fileList]="f['files'].value"
          (fileListChange)="onFileListChange($event, 'files', true)"
          (docIdsDeleteChange)="removeFile($event, 'files')"
          [serviceName]='serviceName'
          [showError]="isSubmitted"
        ></hbt-upload>
      </div>
      <div nz-col [nzXs]='24' [nzLg]='24' class="mis-title" *ngIf="mode !== modeConst.VIEW || isChecked">
        {{ 'mat.matIncomingShipments.table.transfer' | translate }} <span class="ml-2" nz-checkbox [(ngModel)]="isChecked" [disabled]="mode === modeConst.VIEW"
                                                                          [ngModelOptions]="{standalone: true}"
                                                                          (ngModelChange)="changeCheck($event)"></span>
      </div>
      <ng-container *ngIf="isChecked">
        <!--id kho điều chuyển đến (trường hợp điều chuyển luôn)-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select [dataSelects]="listWarehouseTransfer"
                      keyValue="warehouseId"
                      keyLabel="name"
                      formControlName="transferWarehouseId"
                      [type]="isSubmitted && form.controls['transferWarehouseId'].errors ? 'error' : 'default'"
                      [showError]="isSubmitted && form.controls['transferWarehouseId'].errors != null"
                      [errors]="form.controls['transferWarehouseId'].errors"
                      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.transferWarehouseId' | translate }}]"
                      placeholder="{{'mat.matIncomingShipments.table.transferWarehouseId' | translate}}"
                      labelText="{{'mat.matIncomingShipments.table.transferWarehouseId' | translate}} <span class='label__required'>*</span>"
          ></hbt-select>
        </div>

        <!--ngày điều chuyển-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-date-picker
            placeholderText="{{'mat.matIncomingShipments.table.transferredDate' | translate}}"
            labelText="{{'mat.matIncomingShipments.table.transferredDate' | translate}} <span class='label__required'>*</span>"
            [type]="(isSubmitted && form.controls['transferredDate'].errors) || form.errors ? 'error' : 'default'"
            [showError]="((isSubmitted && form.controls['transferredDate'].errors != null) || form.errors != null)"
            [errors]="form.errors?.rangeDateError ? form.errors : form.controls['transferredDate'].errors"
            [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'mat.validate.rangeDate.pareDate' | translate:
        {'fromDate': 'mat.matIncomingShipments.table.incomingDate' | translate, 'toDate': 'mat.matIncomingShipments.table.transferredDate' | translate}},
             { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.incomingDate' | translate }},
          ]"
            formControlName="transferredDate"></hbt-date-picker>
        </div>

        <!--Số phiếu điều chuyển-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="transferPickingNo" maxLength="50"
                          [disable]="true"
                          [type]="isSubmitted && form.controls['transferPickingNo'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['transferPickingNo'].errors != null"
                          [errors]="form.controls['transferPickingNo'].errors"
                          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.transferPickingNo' | translate }}]"
                          placeholderText="{{'mat.matIncomingShipments.table.transferPickingNo' | translate}}"
                          labelText="{{'mat.matIncomingShipments.table.transferPickingNo' | translate}} <span class='label__required'>*</span>"
          ></hbt-input-text>
        </div>

        <!--người nhận ở kho điều chuyển-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <employee-data-picker status='WORKING'
                                formControlName="authorId"
                                [type]="isSubmitted && form.controls['receiverId'].errors ? 'error' : 'default'"
                                [showError]="isSubmitted && form.controls['receiverId'].errors != null"
                                [errors]="form.controls['receiverId'].errors"
                                [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matIncomingShipments.table.receiverId' | translate }}]"
                                labelText="{{'mat.matIncomingShipments.table.receiverId' | translate}} <span class='label__required'>*</span>"
                                placeholder="{{'mat.matIncomingShipments.table.receiverId' | translate}}"
          >
          </employee-data-picker>
        </div>
      </ng-container>
    </div>
    <div nz-row [nzGutter]="[20,15]">
      <div nz-col [nzXs]='12' [nzLg]='12' class="mis-title">
        {{ 'mat.matIncomingShipments.table.listEquipmentIds' | translate }}
      </div>
      <div nz-col [nzXs]='12' [nzLg]='4' *ngIf="mode !== modeConst.VIEW">
        <hbt-button buttonSize="LARGE"
                    class="staff__research__btn__search"
                    buttonText="{{'common.button.uploadFile' | translate}}"
                    [buttonTextColor]="_variable.$purple_800" (click)="doImportData()"></hbt-button>
      </div>
      <div nz-col [nzXs]='12' [nzLg]='8' *ngIf="mode !== modeConst.VIEW">
        <hbt-data-picker
          [disable]="!form.controls['warehouseId'].value"
          formControlName="listEquipmentIds"
          keyLabel="name"
          keyValue="equipmentId"
          [style]="'width: 95%'"
          [urlLoadData]="urlLoadData"
          [serviceName]="serviceName"
          [formMode]="mode"
          [isMulti]="true"
          labelSearch="{{'mat.matOutgoingShipments.listEquipments.table.code' | translate}}"
          [tableSetting]="[{label: 'mat.matOutgoingShipments.listEquipments.table.code' | translate, value: 'code'}, {label: 'mat.matOutgoingShipments.listEquipments.table.name' | translate, value: 'name'}]"
          [type]="isSubmitted && form.controls['listEquipmentIds'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['listEquipmentIds'].errors != null"
          [errors]="form.controls['listEquipmentIds'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matOutgoingShipments.table.listEquipmentIds' | translate }}]"
          placeholder="{{'mat.matOutgoingShipments.table.listEquipmentIds' | translate}}"
          (selectedChange)="selectEquipments($event)"
        >
        </hbt-data-picker>
      </div>
      <div nz-col [nzXs]='24' [nzLg]='24'>
        <app-mis-equipment-list [isDisabled]="mode === modeConst.VIEW" (listEquipmentIdsChange)="listEquipmentIdsChange($event)"></app-mis-equipment-list>
      </div>
    </div>
  </form>
</div>


<hbt-import-file
  [inputParam]="{ warehouseId: this.f['warehouseId'].value, isIncrease: f['type'].value === 'TANG' ? 'Y' : 'N' }"
  [isGetData]="true"
  (getData)="updateList($event)"
  [showContent]="isImportData"
  (onCloseModal)="doCloseImport()"
  [importApi]="importApi"
  [downLoadTemplateApi]="downLoadTemplateApi"
  [fileTemplateName]="fileTemplateName"
  [doDownloadFileByNameApi]="doDownloadFileByNameApi"
>
</hbt-import-file>