<div class="personal-info">
  <div nz-row [nzGutter]='[20,15]' *ngIf="showPersonalInfo()">
    <ng-container *ngFor="let perInfo of personalInfo">
      <div nz-col [nzXs]="24" [nzLg]="perInfo.colsSpan*6">
        <hbt-text-label [labelText]="perInfo.label" [labelValue]="perInfo.value"></hbt-text-label>
      </div>
    </ng-container>
  </div>

  <div style="margin-top: 20px">
    <hbt-button (click)="viewDetail()"
                buttonText="{{isDetail ? ('hrm.staffManager.label.hideDetail' | translate) : ('hrm.staffManager.label.viewDetail' | translate)}}"
                [suffixIcon]="isDetail ? 'up' : 'down'"></hbt-button>
  </div>

  <div class='search__content--group' *ngIf="isDetail">
    <div *ngIf="objFunction?.view">
      <div class="title-table">{{ 'hrm.staffManager.staffResearch.pageName.identityInfo' | translate }}
        <em *ngIf="objFunction?.create" nz-button nz-icon nzType="plus-square" nzTheme="outline" class="btn-create"
            nz-tooltip
            nzTooltipTitle="{{'common.button.add' | translate}}"
            nzTooltipPlacement="left"
            (click)="doOpenFormCustom('identity')"></em>
      </div>
      <hbt-table-wrap>
        <hbt-table
          (changePageNum)="search($event, 'identity')"
          [tableConfig]="tableConfig" [dataList]="tableDataIdentity"></hbt-table>
      </hbt-table-wrap>
    </div>
    <div *ngIf="objFunctionBankAccount?.view">
      <div class="title-table">{{ 'hrm.staffManager.label.bankInfo' | translate }}
        <em *ngIf="objFunctionBankAccount?.create" nz-button nz-icon nzType="plus-square" nzTheme="outline"
            nz-tooltip
            nzTooltipTitle="{{'common.button.add' | translate}}"
            nzTooltipPlacement="left"
            class="btn-create" (click)="doOpenFormCustom('bankAccount')"></em>
      </div>
      <hbt-table-wrap>
        <hbt-table
          (changePageNum)="search($event, 'bankAccount')"
          [tableConfig]="tableConfigAccount" [dataList]="tableDataBank"></hbt-table>
      </hbt-table-wrap>
    </div>
    <div *ngIf="objFunctionWorkHistory?.view">
      <div class="title-table">{{ 'hrm.staffManager.label.workProcessHistory' | translate }}
        <em *ngIf="objFunctionWorkHistory?.create" nz-button nz-icon nzType="plus-square" nzTheme="outline"
            nz-tooltip
            nzTooltipTitle="{{'common.button.add' | translate}}"
            nzTooltipPlacement="left"
            class="btn-create" (click)="doOpenFormCustom('workHistory')"></em>
      </div>
      <hbt-table-wrap>
        <hbt-table
          (changePageNum)="search($event, 'workHistory')"
          [tableConfig]="tableConfigWorkProcess" [dataList]="tableDataWorkHistory"></hbt-table>
      </hbt-table-wrap>
    </div>
  </div>
</div>
<ng-template #actionTmpl let-data="data">
  <btn-more-action [model]="[data]" [setting]="actionSchema">
  </btn-more-action>
</ng-template>


<ng-template #footerTmpl>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef.destroy()">
  </hbt-button>
  <hbt-button
    buttonAvailableStyle="SAVE"
    buttonText="{{ 'common.button.saveS' | translate }}"
    (click)="modalRef.getContentComponent().save()">
  </hbt-button>
</ng-template>