@import "../../../data-access/style/style";
@import "../../../../../core/global-style/variable";

.book-info {
  margin-top: 16px;
}

.input__form-tags {
  width: 100% !important;
}

.book-edition-add {
  margin-left: 25px;
  text-decoration: underline;
  cursor: pointer;
  color: $primary-400;
}

.book-info {
  .list-book {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    background-color: $neutral-100;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  .available {
    color: $primary-400;
    font-style: italic;
    margin-left: 10px;
  }

  .borrowing {
    color: $error-400;
    font-style: italic;
  }

  .detail {
    text-decoration: underline;
    cursor: pointer;
  }

  .btn-edit {
    cursor: pointer;
    padding: 10px;
    background: $bg-form-default;
    border-radius: 10px;
    border: 1px solid $page-header-btn-back-color;
  }
}

