<form nz-form [formGroup]="form" class="ece-form">
  <div nz-row [nzGutter]='[20,15]'>
    <!--id nhân viên-->
    <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="!hiddenEmp">
      <employee-data-picker [isExpand]="true"
        [functionCode]="functionCode"
        [scope]="scope"
        [status]='mode !== modeConst.ADD ? "ALL" : "ACTIVE"'
        [formMode]="mode"
        [disable]="mode !== modeConst.ADD"
        formControlName="employeeId"
        [type]="isSubmitted && form.controls['employeeId'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['employeeId'].errors != null"
        [errors]="form.controls['employeeId'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.employeeName' | translate }}]"
        labelText="{{'hrm.staffManager.educationCertificates.table.employeeId' | translate}} <span class='label__required'>*</span>"
      >
      </employee-data-picker>
    </div>

    <!--Loại chứng chỉ-->
    <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-select
        [dataSelects]="listCertificatesTypeGroup"
        keyLabel="name"
        formControlName="certificateTypeId"
        [type]="isSubmitted && form.controls['certificateTypeId'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['certificateTypeId'].errors != null"
        [errors]="form.controls['certificateTypeId'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.educationCertificates.table.certificateTypeId' | translate }}]"
        placeholder="{{'hrm.staffManager.educationCertificates.table.certificateTypeId' | translate}}"
        labelText="{{'hrm.staffManager.educationCertificates.table.certificateTypeId' | translate}} <span class='label__required'>*</span>"
      ></hbt-select>
    </div>

    <div nz-col [nzXs]="12" [nzLg]="12">
      <div nz-row>
        <div nz-col [nzXs]="24" nzLg="{{(configShowForm.certificateName || configShowForm.certificateResult) ? 12 : 24}}"
             *ngIf="configShowForm.certificateId">
          <hbt-select
            [dataSelects]="listCertificates"
            keyLabel="name"
            formControlName="certificateId"
            [type]="isSubmitted && form.controls['certificateId'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && form.controls['certificateId'].errors != null"
            [errors]="form.controls['certificateId'].errors"
            [errorDefs]="[
              { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.educationCertificates.table.certificateId' | translate }}
            ]"
            [placeholder]="labelCertificate"
            labelText="{{ labelCertificate }} <span class='label__required'>*</span>"
            (eventEmit)="changeCertificate($event)"
          ></hbt-select>
        </div>
        <div nz-col [nzXs]="24" nzLg="{{configShowForm.certificateId ? 12 : 24}}" *ngIf="configShowForm.certificateName"
             [ngStyle]="{'padding-left': configShowForm.certificateId ? '5px': '0'}" class="flex">
          <hbt-input-text
            style="width: 100%"
            formControlName="certificateName" maxLength="255"
            [type]="isSubmitted && form.controls['certificateName'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && form.controls['certificateName'].errors != null"
            [errors]="form.controls['certificateName'].errors"
            [errorDefs]="[
              { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}},
              { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.educationCertificates.table.certificateName' | translate }}
            ]"
            placeholderText="{{'hrm.staffManager.educationCertificates.table.certificateName' | translate}}"
          ></hbt-input-text>
        </div>
        <div nz-col [nzXs]="24" [nzLg]="12" *ngIf="configShowForm.certificateResult"
             [ngStyle]="{'padding-left': configShowForm.certificateResult ? '5px': '0'}">
          <hbt-select
            *ngIf="!isInputTextResult"
            [dataSelects]="listCertificateResult"
            keyLabel="name"
            keyValue="name"
            formControlName="result"
            [type]="isSubmitted && form.controls['result'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && form.controls['result'].errors != null"
            [errors]="form.controls['result'].errors"
            [errorDefs]="[
              { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.educationCertificates.table.certificateResult' | translate }}
            ]"
            placeholder="{{'hrm.staffManager.educationCertificates.table.certificateResult' | translate}}"
            labelText="{{'hrm.staffManager.educationCertificates.table.certificateResult' | translate}} <span class='label__required'>*</span>"
          ></hbt-select>
          <hbt-input-text
            *ngIf="isInputTextResult"
            formControlName="result"
            maxLength="255"
            [type]="isSubmitted && form.controls['result'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && form.controls['result'].errors != null"
            [errors]="form.controls['result'].errors"
            [errorDefs]="[
              { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.educationCertificates.table.certificateResult' | translate }}
            ]"
            placeholderText="{{'hrm.staffManager.educationCertificates.table.certificateResult' | translate}}"
            labelText="{{'hrm.staffManager.educationCertificates.table.certificateResult' | translate}} <span class='label__required'>*</span>"
          ></hbt-input-text>
        </div>
      </div>
    </div>

    <!--Nơi cấp-->
    <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-input-text
        formControlName="issuedPlace" maxLength="255"
        [type]="isSubmitted && form.controls['issuedPlace'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['issuedPlace'].errors != null"
        [errors]="form.controls['issuedPlace'].errors"
        [errorDefs]="[
          { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}},
          { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.educationCertificates.table.issuedPlace' | translate }}
        ]"
        placeholderText="{{'hrm.staffManager.educationCertificates.table.issuedPlace' | translate}}"
        labelText="{{'hrm.staffManager.educationCertificates.table.issuedPlace' | translate}} <span class='label__required'>*</span>"
      ></hbt-input-text>
    </div>

    <!--ngày cấp-->
    <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-date-picker
        [type]="isSubmitted && (form.controls['issuedDate'].errors || form.errors?.rangeDateError) ? 'error' : 'default'"
        [showError]="isSubmitted && (form.controls['issuedDate'].errors || form.errors?.rangeDateError) != null"
        [errors]="form.errors?.rangeDateError ? form.errors : form.controls['issuedDate'].errors"
        [errorDefs]="[
          { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'hrm.staffManager.educationCertificates.table.issuedDate' | translate }}
        ]"
        placeholderText="{{'hrm.staffManager.educationCertificates.table.issuedDate' | translate}}"
        labelText="{{'hrm.staffManager.educationCertificates.table.issuedDate' | translate}} <span class='label__required'>*</span>"
        formControlName="issuedDate"

      ></hbt-date-picker>
    </div>

    <!--ngày hết hạn-->
    <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-date-picker
        [type]="(form.controls['expiredDate'].errors || form.errors?.rangeDateError) ? 'error' : 'default'"
        [showError]="(form.controls['expiredDate'].errors || form.errors?.rangeDateError) !== null"
        [errors]="form.errors?.rangeDateError ? form.errors : form.controls['expiredDate']?.errors"
        [errorDefs]="[
          { errorName: 'rangeDateError', errorDescription: 'hrm.validate.rangeDate.pareDate' | translate:
          {'fromDate': 'hrm.staffManager.educationCertificates.table.issuedDate' | translate, 'toDate': 'hrm.staffManager.educationCertificates.table.expiredDate' | translate}},
        ]"
        placeholderText="{{'hrm.staffManager.educationCertificates.table.expiredDate' | translate}}"
        labelText="{{'hrm.staffManager.educationCertificates.table.expiredDate' | translate}}"
        formControlName="expiredDate"
      ></hbt-date-picker>
    </div>

    <ng-container formArrayName="listAttributes">
      <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
        <div nz-col [nzXs]="12" [nzLg]="12">
          <input-attribute-common
            [controlName]="getAttributeControl(idx, 'attributeValue')"
            [dataType]="attributes.get('dataType')?.value"
            [urlLoadData]="attributes.get('urlLoadData')?.value"
            [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
            [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
            [errors]="attributes.get('attributeValue')?.errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
            [placeholderText]="attributes.get('attributeName')?.value"
            [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
          >
          </input-attribute-common>
        </div>
      </ng-container>
    </ng-container>

    <!-- File đính kèm -->
    <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
      <hbt-upload
        [fileList]="f['files'].value"
        [(docIdsDelete)]="docIdsDelete"
        [typeFileAvailable]="['pdf']"
        [multiple]="true"
        labelText="{{'common.label.attachFile' | translate}}"
        (fileListChange)="onFileListChange($event, 'files', true)"
        (docIdsDeleteChange)="removeFile($event, 'files')"
        [serviceName]='microService.HRM'
        [showError]="isSubmitted"
        [maxSize]="3"
        [disable]="mode === modeConst.VIEW"
      ></hbt-upload>
    </div>

  </div>
</form>