<div class='save-form-crm'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <!--Loại thanh toán (category_type = 'CRM_LOAI_THANH_TOAN')-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CRM_LOAI_THANH_TOAN)" keyLabel="name"
                    formControlName="paymentType" (ngModelChange)="changePaymentType($event)"
                    (select)="selectPaymentType($event)"
                    [type]="isSubmitted && form.controls['paymentType'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['paymentType'].errors != null"
                    [errors]="form.controls['paymentType'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.orders.payments.label.paymentType' | translate }}]"
                    placeholder="{{'crm.orders.payments.label.paymentType' | translate}}"
                    labelText="{{'crm.orders.payments.label.paymentType' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!--ngày thanh toán-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'crm.orders.payments.label.paymentDate' | translate}}"
          labelText="{{'crm.orders.payments.label.paymentDate' | translate}} <span class='label__required'>*</span>"
          [type]="isSubmitted && form.controls['paymentDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['paymentDate'].errors != null"
          [errors]="form.controls['paymentDate'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.orders.payments.label.paymentDate' | translate }}]"
          formControlName="paymentDate"></hbt-date-picker>
      </div>

      <!--số tiền thanh toán-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="amount" [maxLength]="20" [inputType]="'number'" [isFormatterCurrency]="true"
                        [type]="isSubmitted && form.controls['amount'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['amount'].errors != null"
                        [errors]="form.controls['amount'].errors"
                        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.orders.payments.label.amount' | translate }},
                        { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
                        placeholderText="{{'crm.orders.payments.label.amount' | translate}}"
                        labelText="{{'crm.orders.payments.label.amount' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="paymentsMethods" [showClear]="false"
                    formControlName="paymentMethod"
                    (ngModelChange)="changePaymentMethod($event)"
                    [type]="isSubmitted && form.controls['paymentMethod'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['paymentMethod'].errors != null"
                    [errors]="form.controls['paymentMethod'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.orders.payments.label.paymentMethod' | translate }}]"
                    placeholder="{{'crm.orders.payments.label.paymentMethod' | translate}}"
                    labelText="{{'crm.orders.payments.label.paymentMethod' | translate}} "
        ></hbt-select>
      </div>

      <ng-container *ngIf="form.controls['paymentMethod'].value === 'CHUYEN_KHOAN'">
        <!--số tài khoản nhận-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="accountNo" maxLength="20"
                          [type]="isSubmitted && form.controls['accountNo'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['accountNo'].errors != null"
                          [errors]="form.controls['accountNo'].errors"
                          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.orders.payments.label.accountNo' | translate }},
                          { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
                          placeholderText="{{'crm.orders.payments.label.accountNo' | translate}}"
                          labelText="{{'crm.orders.payments.label.accountNo' | translate}} <span class='label__required'>*</span>"
          ></hbt-input-text>
        </div>

        <!--tên ngân hàng nhận-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="bankName" maxLength="255"
                          [type]="isSubmitted && form.controls['bankName'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['bankName'].errors != null"
                          [errors]="form.controls['bankName'].errors"
                          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.orders.payments.label.bankName' | translate }},
                          { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                          placeholderText="{{'crm.orders.payments.label.bankName' | translate}}"
                          labelText="{{'crm.orders.payments.label.bankName' | translate}} <span class='label__required'>*</span>"
          ></hbt-input-text>
        </div>

        <!--Phí giao dịch ngân hàng-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="bankFee" maxLength="20" [inputType]="'number'" [isFormatterCurrency]="true"
                          [type]="isSubmitted && form.controls['bankFee'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['bankFee'].errors != null"
                          [errors]="form.controls['bankFee'].errors"
                          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
                          placeholderText="{{'crm.orders.payments.label.bankFee' | translate}}"
                          labelText="{{'crm.orders.payments.label.bankFee' | translate}}"
          ></hbt-input-text>
        </div>
      </ng-container>

      <!--nhân viên thực hiện-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [isLoadMore]="true"
                    urlLoadData="/customers/pageable"
                    [serviceName]="serviceName"
                    keyValue="customerId"
                    keyLabel="phoneAndName"
                    formControlName="caregiverId"
                    (select)="selectEmployee($event)"
                    [type]="isSubmitted && form.controls['caregiverId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['caregiverId'].errors != null"
                    [errors]="form.controls['caregiverId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.orders.payments.label.employeeId' | translate }}]"
                    placeholder="{{'crm.orders.payments.label.employeeId' | translate}}"
                    labelText="{{'crm.orders.payments.label.employeeId' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12"  >
        <hbt-select [isLoadMore]="true"
                    urlLoadData="/customers/pageable"
                    [serviceName]="serviceName"
                    keyValue="customerId"
                    keyLabel="phoneAndName"
                    formControlName="introducerId"
                    (eventEmit)="emitCustomer($event)"
                    [type]="isSubmitted && form.controls['introducerId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['introducerId'].errors != null"
                    [errors]="form.controls['introducerId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.orders.payments.label.customer' | translate }}]"
                    placeholder="{{'crm.orders.payments.label.customer' | translate}}"
                    labelText="{{'crm.orders.payments.label.customer' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>


      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [isLoadMore]="true"
                    urlLoadData="/customers/pageable"
                    [serviceName]="serviceName"
                    keyValue="customerId"
                    keyLabel="phoneAndName"
                    formControlName="welfareRecipientId"
                    placeholder="{{'crm.orders.payments.label.welfareRecipientId' | translate}}"
                    labelText="{{'crm.orders.payments.label.welfareRecipientId' | translate}}"
        ></hbt-select>
      </div>

      <!--ghi chú-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="note" maxLength="255"
                        [type]="isSubmitted && form.controls['note'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['note'].errors != null"
                        [errors]="form.controls['note'].errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                        placeholderText="{{'crm.orders.payments.label.note' | translate}}"
                        labelText="{{'crm.orders.payments.label.note' | translate}}"
        ></hbt-input-text>
      </div>

      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <hbt-upload
          [disable]="mode === modeConst.VIEW"
          [(docIdsDelete)]="docIdsDelete"
          [fileList]="f['attachFileList'].value"
          [typeFileAvailable]="['jpg', 'jpeg', 'png', 'pdf', 'doc', 'docx']"
          [multiple]="true"
          [maxSize]="10"
          labelText="{{'common.label.attachFile' | translate}}"
          (fileListChange)="onFileListChange($event, 'attachFileList', true)"
          (docIdsDeleteChange)="removeFile($event)"
          [serviceName]='serviceName'
          [showError]="isSubmitted"
        ></hbt-upload>
      </div>

    </div>
  </form>
</div>
<div *nzModalFooter>
  <ng-container *ngIf="this.mode !== modeConst.VIEW">
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.save' | translate }}"
      (click)="save()">
    </hbt-button>
  </ng-container>
</div>
