<div nz-row [nzGutter]="[20, 0]" style="align-items: center; justify-content: space-between" *ngIf="data">
  <div nz-col [nzXs]="24" [nzLg]="19" class="brief__des--items brief__des--items--right">
    <div nz-row [nzGutter]='[20,15]' style="padding-bottom: 16px">
      <div nz-col [nzXs]="24" [nzLg]="24" class="brief__des--item">
        <span class="title">{{ data?.employeeCode + ' - ' + data?.fullName }}</span><i
        class="sub-title">{{ data?.email ? ' (' + data?.email + ')' : '' }}</i><span
        class="download-info" (click)="export()">{{ 'hrm.staffManager.label.download' | translate }}</span>
      </div>
      <div nz-col [nzXs]="24" [nzLg]="24" class="brief__des--item">
        <span class="position-title">{{ data?.positionTitle }}</span></div>
      <ng-container *ngFor="let header of dataHeader">
        <div nz-col [nzXs]="24" [nzLg]="8" class="brief__des--item">
          <div><span nz-icon [nzType]="getIcon(header?.code)" nzTheme="outline" [title]="header?.label"
                     class="icon-header"></span>{{ header?.value }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div nz-col [nzXs]="24" [nzLg]="5" class="brief__des--items brief__des--items--avatar">
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate">
      <ng-template #indicatorTemplate class="flex">
        <hbt-button *ngIf="isBtnConfirm" class="btn-confirm"
                    [buttonText]="'hrm.staffManager.label.confirmUpdate' | translate"
                    buttonAvailableStyle="ADD" (click)="doOpenConirm()"></hbt-button>
        <div class="avt-flex">
          <figure class="mb__figure figure__avt">
            <em *ngIf="avtIsLoading" class="icon__loading--avt" nz-icon nzType="loading"></em>
            <img *ngIf="!avtIsLoading" src="{{avtBase64}}" alt="">
            <nz-upload
              [nzBeforeUpload]="beforeUpload"
              [nzLimit]="1"
              [nzShowUploadList]="false"
              [nzCustomRequest]="handleUpload"
              nzName="fileAvatar"
              class="avatar__change1"
              nzAccept="image/png,image/jpeg"
            >
              <hbt-button
                class="icon__upload--avt"
                buttonType="ONLY_ICON"
                buttonIconType="AWESOME"
                prefixIcon="far fa-pencil-alt"
              ></hbt-button>
            </nz-upload>
            <div *ngIf="isHasAvatar" class="avatar__change1 avatar__change--delete">
              <hbt-button
                nz-popconfirm nzPopconfirmTitle="{{'hrm.staffManager.avatar.confirmDelete' | translate}}"
                nzCancelText="{{'hrm.staffManager.table.action.cancel' | translate}}"
                nzOkType="primary"
                nzOkText="{{'hrm.staffManager.table.action.yes' | translate}}"
                (nzOnConfirm)="deleteAvt()"
                nzPopconfirmPlacement="top" class="icon__upload--avt" buttonType="ONLY_ICON" buttonIconType="AWESOME"
                prefixIcon="fal fa-trash-alt"
              ></hbt-button>
            </div>
            <div *ngIf="showTmp" class="avatar__change1 avatar__change--save">
              <hbt-button
                (click)="saveAvt()"
                class="icon__upload--avt"
                buttonType="ONLY_ICON"
                buttonIconType="AWESOME"
                prefixIcon="fas fa-save"
              ></hbt-button>
            </div>
          </figure>
        </div>
        <div>
          <nz-tag *ngIf="data?.status == 1" class="status" nzColor="blue">{{ data?.statusName }}</nz-tag>
          <nz-tag *ngIf="data?.status == 2" class="status" nzColor="gold">{{ data?.statusName }}</nz-tag>
          <nz-tag *ngIf="data?.status == 3 || data?.status == 4" class="status" nzColor="red">{{ data?.statusName }}</nz-tag>
        </div>
      </ng-template>
    </nz-spin>
  </div>
</div>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'hrm.staffManager.label.confirmUpdate' | translate"
          (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <div>{{ ('hrm.staffManager.label.staffCode' | translate) + ': ' + data?.employeeCode }}</div>
    <div>{{ ('hrm.staffManager.label.employeeName' | translate) + ': ' + data?.fullName }}</div>
    <div>{{ ('hrm.staffManager.label.updateInfo' | translate) + ': ' + dataEmployee?.content }}</div>
    <div>{{ ('hrm.staffManager.label.expireDate' | translate) + ': ' + (dataEmployee?.expiredDate !== undefined ? dataEmployee?.expiredDate : '') }}</div>
  </ng-container>
  <ng-template [nzModalFooter]>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="handleCancel()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.confirm' | translate }}"
      (click)="handleOk()">
    </hbt-button>
  </ng-template>
</nz-modal>



