<app-src-index
  [moduleName]="moduleName"
  [functionCode]="functionCode"
  [fileExportName]="fileExportName"
  [urlSearchApi]="urlConstant.SEARCH_FORM.IDENTITY"
  [tableHeaders]="tableHeaders"
  [formConfig]="formConfig"
  [key]="'personalIdentityId'"
  [isShowBtnImport]="true"
  [formImport]="formImport"
  [isShowInput]="true"
>
  <ng-template #formHrm let-isSubmittedImport='isSubmittedImport'>
    <div nz-col [nzXs]='24' [nzLg]='24' style="padding: 7.5px 10px;">
      <hbt-select
        [urlLoadData]="getUrlCategory(categoryCode.LOAI_GIAY_TO)"
        keyLabel="name"
        [type]="isSubmittedImport && formImport.controls['identityTypeId'].errors ? 'error' : 'default'"
        [showError]="isSubmittedImport && formImport.controls['identityTypeId'].errors !== null"
        [errors]="formImport.controls['identityTypeId'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'hrm.validate.required' | translate: {'param': 'hrm.staffManager.table.documentType' | translate }}]"
        placeholder="{{'hrm.staffManager.table.documentType' | translate}}"
        labelText="{{'hrm.staffManager.table.documentType' | translate}} <span class='label__required'>*</span>"
        [formControl]='formImport.controls["identityTypeId"]'
      ></hbt-select>
    </div>
  </ng-template>
</app-src-index>