@import "src/app/core/global-style/variable";

.ant-card {
  border: none;
}

::ng-deep .book-index .staff__research__btn__search .ant-btn {
  margin-top: 27px !important;
}

::ng-deep .ant-card-meta-title {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
}

::ng-deep .book-index .book-img {
  width: 100%;
  height: 330px;
}

::ng-deep .ant-card-body {
  padding: 10px 2px;
}

::ng-deep .ant-card-meta-title {
  font-family: 'avertaB', sans-serif;
  font-size: 18px;
}

::ng-deep .ant-card-meta-description {
  margin-top: -10px;
  font-size: 16px;
  font-family: 'avertaB', sans-serif;
}


.item__home {
  margin-bottom: 20px;
}

.group__total--table {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

