<div class="feedbacks-content">
  <div nz-row [nzGutter]="[30,15]">
    <div nz-col [nzXs]="24">
      <hbt-button class="feedbacks-content-add"
                  buttonAvailableStyle="SEARCH"
                  buttonText="{{ 'Gửi phản ánh mới' | translate }}"
                  (click)="openForm()">
      </hbt-button>
    </div>
    <div class="issues">
      <div nz-col [nzXs]="24" class="issue-item" *ngFor="let issue of listFeedback">
        <button class="issue-info" (click)="openFormDetail(issue)">
          <p class="issue-title">{{ issue.content }}</p>
          <span class="issue-meta">{{ issue.createdTime }} • {{ issue.statusName }} <span *ngIf="issue.typeName">• {{ issue.typeName }} </span></span>
        </button>
        <button class="delete-btn" (click)="deleteIssue(issue)">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #footerTpl>
  <div class="feedbacks-content-footer">
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.send' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </div>
</ng-template>