@import "../../../global-style/variable";

::ng-deep.feedback-form {
  bottom: 42px;
  position: fixed;
  right: 20px;
  top: auto;
  .ant-modal-body {
    padding: 5px 24px;
  }
}

.feedback-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $black-200;
  padding: 8px 0;
}

.issues {
  width: 100%;
  overflow-y: auto;
  max-height: 30em;
}

.issue-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  font-family: Arial, sans-serif;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 4%; /* căn giữa */
    width: 92%;
    border-bottom: 1px solid $black-200; /* điều chỉnh màu và độ dày */
  }
}

.issue-title {
  font-weight: 600;
  margin: 0;
  font-size: 13px;
  color: $black-800;
}

.issue-meta {
  font-size: 12px;
  color: $black-500;
}

.issue-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  align-items: flex-start;
}

.delete-btn {
  background: none;
  border: none;
  color: $error-500;
  cursor: pointer;
  font-size: 18px;
}

.delete-btn:hover {
  color: $error-600;
}