@import "src/app/modules/kpi/data-access/style/style";
.menu__item--btn {
  font-size: 16px;
  padding: 3px;
  color: $error-500;

  &:hover {
    cursor: pointer;
  }
}

.menu__item--btn1 {
  font-size: 16px;
  padding: 3px;
  color: $bg-default;

  &:hover {
    cursor: pointer;
  }
}

.text-center {
  text-align: center;
}

.label__required {
  color: $error-default-color;
}

::ng-deep.wpn-input {
  input, .ant-select-selector, textarea {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
    min-height: 31px !important;
  }
  .ant-select-selector {
    height: 31px !important;
  }
}

::ng-deep.wpn-input-parent {
  textarea {
    font-weight: bold;
  }
}
::ng-deep.wpn-input-child {
  textarea {
    font-style: italic;
  }
}


::ng-deep nz-table.data-table {

  .ant-table-measure-now {
    display: none;
  }
  overflow-x: auto;

  th, td {
    padding: 3px !important;
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: clip !important;
  }

  .text-center {
    text-align: center;
  }

  .text-nowrap {
    white-space: nowrap;
  }

  .text-right {
    text-align: right;
  }

  th {
    background: $bg-table-header;
    color: $table-text-header;
    font-family: avertaB, sans-serif;
  }

  td {
    line-height: 1.15;
  }
}