<div class='arrears-pre-medical'>
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]='[20,15]'>
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-select [dataSelects]="listInputType"
                    formControlName="inputType"
                    placeholder="{{'icn.icnContribution.calculate.model.inputType' | translate}}"
                    labelText="{{'icn.icnContribution.calculate.model.inputType' | translate}}"
        ></hbt-select>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="24" *ngIf="isImport">
        <hbt-import-file [isPopup]='false'
                         [importApi]='importApi'
                         [downLoadTemplateApi]="downLoadTemplateApi"
                         [fileTemplateName]="fileTemplateName"
                         (onCloseModal)='doCloseImport($event)'
                         [doDownloadFileByNameApi]='doDownloadFileByNameApi'>
        </hbt-import-file>
      </div>
      <ng-container *ngIf="!isImport">
        <div nz-col [nzXs]="24" [nzLg]="24">
          <hbt-input-text formControlName='keySearch'
                          [maxLength]='255'
                          labelText="{{'icn.icnContribution.calculate.search.keySearch' | translate}} <span class='label__required'>*</span>"
                          placeholderText="{{'icn.icnContribution.calculate.search.keySearch' | translate}}"
                          [type]="isSubmitted && form.controls['keySearch'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['keySearch'].errors !== null"
                          [errors]="form.controls['keySearch'].errors"
                          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'icn.icnContribution.calculate.search.keySearch' | translate }}]"
          ></hbt-input-text>
        </div>
        <div nz-col [nzXs]="24" [nzLg]="24">
          <hbt-date-picker
            mode="month"
            placeholderText="{{'icn.icnContribution.calculate.arrearsPrePeriod.fromPeriodDate' | translate}}"
            labelText="{{'icn.icnContribution.calculate.arrearsPrePeriod.fromPeriodDate' | translate}} <span class='label__required'>*</span>"
            formControlName="fromPeriodDate"
            [type]="isSubmitted && form.controls['fromPeriodDate'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && form.controls['fromPeriodDate'].errors !== null"
            [errors]="form.controls['fromPeriodDate'].errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'icn.icnContribution.calculate.arrearsPrePeriod.fromPeriodDate' | translate }}]"
          ></hbt-date-picker>
        </div>

        <div nz-col [nzXs]="24" [nzLg]="24">
          <hbt-date-picker
            mode="month"
            placeholderText="{{'icn.icnContribution.calculate.arrearsPrePeriod.toPeriodDate' | translate}}"
            labelText="{{'icn.icnContribution.calculate.arrearsPrePeriod.toPeriodDate' | translate}} <span class='label__required'>*</span>"
            formControlName="toPeriodDate"
            [type]="((isSubmitted && form.controls['toPeriodDate'].errors) || form.errors?.rangeDateError) ? 'error' : 'default'"
            [showError]="((isSubmitted && form.controls['toPeriodDate'].errors) || form.errors?.rangeDateError) !== null"
            [errors]="form.errors?.rangeDateError ? form.errors : form.controls['toPeriodDate'].errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'icn.icnContribution.calculate.arrearsPrePeriod.toPeriodDate' | translate }},
      { errorName: 'rangeDateError', errorDescription: 'common.validate.rangeDate.pareDate' | translate:
        {'fromDate': 'icn.icnContribution.calculate.arrearsPrePeriod.fromPeriodDate' | translate, 'toDate': 'icn.icnContribution.calculate.arrearsPrePeriod.toPeriodDate' | translate}}
    ]"></hbt-date-picker>
        </div>
        <div nz-col [nzXs]="24" [nzLg]="24">
          <hbt-select [dataSelects]="listType"
                      formControlName="isIndividuals"
                      placeholder="{{'icn.icnContribution.calculate.arrearsPrePeriod.isIndividuals' | translate}}"
                      labelText="{{'icn.icnContribution.calculate.arrearsPrePeriod.isIndividuals' | translate}}"
          ></hbt-select>
        </div>
        <div nz-col [nzXs]="24" [nzLg]="24">
          <hbt-select [dataSelects]="listType"
                      formControlName="isUnitPayed"
                      placeholder="{{'icn.icnContribution.calculate.arrearsPrePeriod.isUnitPayed' | translate}}"
                      labelText="{{'icn.icnContribution.calculate.arrearsPrePeriod.isUnitPayed' | translate}}"
          ></hbt-select>
        </div>
      </ng-container>
    </div>
  </form>
  <ng-container *ngIf="!isImport">
    <div class="modal-footer-custom">
      <hbt-button
        buttonAvailableStyle="CANCEL"
        buttonText="{{ 'common.button.cancel' | translate }}"
        (click)="modalRef.destroy()">
      </hbt-button>
      <hbt-button
        buttonAvailableStyle="SAVE"
        buttonText="{{ 'common.button.saveS' | translate }}"
        (click)="save()">
      </hbt-button>
    </div>
  </ng-container>
</div>