<div class='dsm-form' style="margin-top: 70px">
  <div class="head-table">
    <div class="head-text">Kết quả tìm kiếm</div>
    <div>
      <hbt-button buttonType="NO_BORDER" (click)="save()" buttonAvailableStyle="SAVE"
                  buttonText="{{'common.button.save' | translate}}" type='SUBMIT'></hbt-button>
    </div>
  </div>
  <div *ngIf="responseSearch?.listData" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <nz-table [nzBordered]="true" [nzData]="[1]" nzSize="small"
                  [nzScroll]="{ x: '1000px', y: '60vh' }"
                  [nzWidthConfig]="nzWidthConfig"
        >
          <thead>
          <tr>
            <th rowSpan="2" nzLeft class="text-center">{{ 'abs.dutySchedules.label.day' | translate }}
            </th>
            <ng-container *ngFor="let data of responseSearch?.listData">
              <th colSpan="2" class="text-center">{{ data.organizationName }}
              </th>
            </ng-container>
          </tr>
          <tr>
            <ng-container *ngFor="let data of responseSearch?.listData">
              <ng-container *ngFor="let position of positionList">
                <th class="text-center">{{ position.name }}
                </th>
              </ng-container>
            </ng-container>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let date of dates">
            <tr>
              <td style="text-align: center; font-weight: bold; width: 50px" nzLeft>
                {{ date }}
              </td>
              <ng-container *ngFor="let data of responseSearch?.listData; let i = index">
                <ng-container *ngFor="let position of positionList">
                  <td
                    (click)="dataValues.get('employee-' + date + '-' + data.organizationId + '-' + position.value).isFirst = false">
                    <employee-data-picker
                      *ngIf="dataValues.get('employee-' + date + '-' + data.organizationId + '-' + position.value) &&
                      !dataValues.get('employee-' + date + '-' + data.organizationId + '-' + position.value).isFirst"
                      [isExpand]="true"
                      [isMulti]="true"
                      [isLoadData]="false"
                      [isChoose]="true"
                      [isSearchAfterAction]="true"
                      [isIcon]="true"
                      [dataSelect]="dataValues.get('employee-' + date + '-' + data.organizationId + '-' + position.value).dataSelect"
                      [(ngModel)]="dataValues.get('employee-' + date + '-' + data.organizationId + '-' + position.value).employeeIds"
                    >
                    </employee-data-picker>
                    <ng-container *ngIf="dataValues.get('employee-' + date + '-' + data.organizationId + '-' + position.value) &&
                      dataValues.get('employee-' + date + '-' + data.organizationId + '-' + position.value).isFirst">
                      <div>
                        {{ getLabelData(dataValues.get('employee-' + date + '-' + data.organizationId + '-' + position.value).dataSelect) }}
                      </div>
                    </ng-container>
                  </td>
                </ng-container>
              </ng-container>
            </tr>
          </ng-container>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>

