@import "src/app/modules/kpi/data-access/style/style";

.dsm-form .head-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dsm-form .head-text {
  font-size: 20px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

::ng-deep .dsm-form nz-table-inner-scroll {
  th {
    background: $bg-table-header;
    color: $table-text-header;
    font-family: avertaB, sans-serif;
  }
}