<div class='save-form-crm'>
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]='[20,15]'>
      <!--Tên chương trình học-->
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-input-text formControlName="title" [maxLength]="255"
                        [disable] = "mode == modeConst.VIEW"
                        [type]="isSubmitted && form.controls['title'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['title'].errors != null"
                        [errors]="form.controls['title'].errors"
                        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.trainingPrograms.table.title' | translate }}]"
                        placeholderText="{{'crm.trainingPrograms.table.title' | translate}}"
                        labelText="{{'crm.trainingPrograms.table.title' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <ng-container formArrayName="listAttributes">
        <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
          <div nz-col [nzXs]="12" [nzLg]="12">
            <input-attribute-common
              [controlName]="getAttributeControl(idx, 'attributeValue')"
              [dataType]="attributes.get('dataType')?.value"
              [urlLoadData]="attributes.get('urlLoadData')?.value"
              [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
              [errors]="attributes.get('attributeValue')?.errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
              [placeholderText]="attributes.get('attributeName')?.value"
              [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
            >
            </input-attribute-common>
          </div>
        </ng-container>
      </ng-container>


      <div nz-col [nzXs]='24' [nzLg]='24'>
        <nz-table nzBordered [nzData]="[1]" nzSize="small" [nzShowPagination]="false">
          <thead>
          <tr>
            <th rowSpan="2" nzWidth='10%' class="text-center">Ngày</th>
            <th rowSpan="2" nzWidth="80%"
                class="text-center">{{ 'crm.trainingPrograms.table.content' | translate }}
              <span class='label__required'>*</span>
            </th>
            <th rowSpan="2" nzWidth="10%" *ngIf="mode !== modeConst.VIEW"></th>
          </tr>
          </thead>
          <tbody>
          <ng-container [formArrayName]="FORM_ARRAY_NAME">
            <ng-container *ngFor="let item of courses.controls; let i = index" [formGroupName]="i">
              <tr>
                <td style="text-align: center; font-weight: bold; width: 10%">
                  {{ 'Ngày ' + (i + 1) }}
                </td>
                <td style="width: 80%; text-align: center">
                  <hbt-input-text formControlName="content" [maxLength]="255"
                                  placeholderText="{{'crm.trainingPrograms.table.content' | translate}}"
                                  [isTextAre]="true" [config]="{ rows: 3 }"
                                  [disable]="mode == modeConst.VIEW"
                                  [type]="(isSubmitted || isSubmitted2) && item.get('content')?.errors ? 'error' : 'default'"
                                  [showError]="(isSubmitted || isSubmitted2) && item.get('content')?.errors !== null"
                                  [errors]="item.get('content')?.errors"
                                  [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.trainingPrograms.table.content' | translate }}]">
                  </hbt-input-text>
                </td>
                <td style="width: 10%" class="text-center" *ngIf="mode !== modeConst.VIEW">
                  <btn-more-action [model]="[{key: i}]" [setting]="actionSchema">
                  </btn-more-action>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </nz-table>
      </div>
    </div>
  </form>
</div>

