@import "src/app/core/global-style/variable";

::ng-deep .app-loading-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999 !important;

  @keyframes play60 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -3600px 0px;
    }
  }

  .spine__icon {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background-repeat: no-repeat;
    z-index: 99999 !important;
  }

  .spine__icon.play {
    animation-name: play60;
    animation-iteration-count: infinite;
  }

  .block-loading {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .backdrop-loading--content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background-color: $black-300;
    opacity: 0.2;
  }

}


