<form nz-form [formGroup]="form" class="iss-index">
  <div class="lms">
    <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
      <div nz-row class="button__action-left">
        <hbt-button
          buttonSize="LARGE"
          buttonAvailableStyle="SAVE"
          buttonText="{{'icn.insuranceRetractions.label.makeList' | translate}}"
          (click)="onMakeList()"
        ></hbt-button>
        <hbt-button
          style="margin-left: 20px"
          buttonSize="MEDIUM"
          buttonType="BORDER"
          (click)="export()">
          <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
        </hbt-button>
      </div>

      <div class="search__page-right">
        <hbt-button
          buttonIconType="AWESOME"
          [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
          buttonSize="VERY_LARGE"
          [buttonTextColor]="_variable.$neutral_100"
          [buttonBorderColor]="_variable.$purple_800"
          [buttonBgColor]="_variable.$purple_800"
          (click)="isShowAdvSearch = !isShowAdvSearch"
        >
        </hbt-button>
      </div>
    </div>
    <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
      <div class="form-search">
        <div nz-row [nzGutter]='[20,15]'>
          <div nz-col [nzXs]="24" [nzLg]="8">
            <tree-data-picker
              formControlName="orgId"
              [isExpand]="true"
              [functionCode]="functionCode"
              [scope]="scope"
              [type]="isSubmitted && form.controls['orgId']?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && form.controls['orgId']?.errors != null"
              [errors]="form.controls['orgId']?.errors"
              [errorDefs]="[

              { errorName: 'duplicate', errorDescription: 'common.validate.duplicate' | translate: {'param': 'med.mentoringTrainers.validate.duplicateEmployeeRole' | translate }}
            ]"
              placeholder="{{'icn.insuranceRetractions.label.orgId' | translate}}"
              labelText="{{'icn.insuranceRetractions.label.orgId' | translate}}"

            >

            </tree-data-picker>
          </div>
          <div nz-col [nzXs]="24" [nzLg]="8">
            <hbt-date-picker
              formControlName="periodDate"
              mode="month"
              format="MM/YYYY"
              [type]="isSubmitted && form.controls['periodDate']?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && form.controls['periodDate']?.errors != null"
              [errors]="form.controls['periodDate']?.errors"
              [errorDefs]="[
            { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
              placeholderText="{{'icn.insuranceRetractions.label.periodDate' | translate}}"
              labelText="{{'icn.insuranceRetractions.label.periodDate' | translate}}"

            >

            </hbt-date-picker>
          </div>
          <div nz-col [nzXs]="24" [nzLg]="8">
            <hbt-input-text
              formControlName="keySearch"
              [type]="isSubmitted && form.controls['keySearch']?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && form.controls['keySearch']?.errors != null"
              [errors]="form.controls['keySearch']?.errors"
              [errorDefs]="[
            { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
              placeholderText="{{'icn.insuranceRetractions.label.keySearch' | translate}}"
              labelText="{{'icn.insuranceRetractions.label.keySearch' | translate}}"

            >

            </hbt-input-text>
          </div>

          <div nz-col [nzXs]="24" [nzLg]="8">
            <hbt-select-check-able
              formControlName="listEmpTypeCode"
              [urlLoadData]="urlLoadEmpTypeList"
              [serviceName]="MICRO_SERVICE.HRM"
              keyLabel="name"
              keyValue="code"
              placeholder="{{'icn.insuranceRetractions.label.empTypeCode' | translate}}"
              labelText="{{'icn.insuranceRetractions.label.empTypeCode' | translate}}"

            >

            </hbt-select-check-able>
          </div>
          <div nz-col [nzXs]="24" [nzLg]="8">
            <hbt-select-check-able
              formControlName="listType"
              [urlLoadData]="getUrlCategory(CATEGORY_CODE.LOAI_DS_TRICH_NOP)"
              [serviceName]="MICRO_SERVICE.ADMIN"
              keyLabel="name"
              placeholder="{{'icn.insuranceRetractions.label.type' | translate}}"
              labelText="{{'icn.insuranceRetractions.label.type' | translate}}"

            >

            </hbt-select-check-able>
          </div>
          <!--Thời gian đến-->
          <div nz-col [nzXs]="24" [nzLg]="8">
            <hbt-select-check-able
              formControlName="listStatus"
              [dataSelects]="listStatus"
              placeholder="{{'icn.insuranceRetractions.label.status' | translate}}"
              labelText="{{'icn.insuranceRetractions.label.status' | translate}}"

            >

            </hbt-select-check-able>
          </div>
          <div nz-col [nzXs]="24" [nzLg]="24" style="text-align: center">
            <hbt-button
              class="staff__research__btn__search"
              buttonSize="LARGE"
              buttonAvailableStyle="SEARCH"
              buttonText="{{'common.button.search' | translate}}"
              (click)="search()"
            ></hbt-button>
          </div>


        </div>
      </div>
    </div>

    <div class="search__content--group">
      <hbt-table-wrap>
        <hbt-table
          (changePageNum)="search($event)" [showExtra]="false"
          [tableConfig]="tableConfig"
          [dataList]="tableData"
        ></hbt-table>
      </hbt-table-wrap>
    </div>


    <ng-template #footerTmpl>
      <hbt-button
        buttonAvailableStyle="CANCEL"
        buttonText="{{ 'common.button.cancel' | translate }}"
        (click)="modalRef.destroy()">
      </hbt-button>
      <hbt-button
        buttonAvailableStyle="SAVE"
        buttonText="{{ 'common.button.saveS' | translate }}"
        (click)="modalRef.getContentComponent().onSubmit()">
      </hbt-button>
    </ng-template>

    <hbt-import-file
      [showContent]="isImportData"
      (onCloseModal)="doCloseImport($event)"
      [importApi]="importApi"
      [downLoadTemplateApi]="downLoadTemplateApi"
      [fileTemplateName]="fileTemplateName"
      [doDownloadFileByNameApi]="doDownloadFileByNameApi"
    >
    </hbt-import-file>
  </div>
</form>

