<form nz-form [formGroup]="form" class="resource-index">
  <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
    <div nz-row class="button__action-left">
    </div>
    <div class="search__page-right">
      <hbt-input-text formControlName='keySearch'
                      [maxLength]='255'
                      placeholderText="{{'hrm.employeeDirectory.keySearch' | translate}}"></hbt-input-text>
      <hbt-button
        buttonIconType="AWESOME"
        [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
        buttonSize="VERY_LARGE"
        [buttonTextColor]="_variable.$neutral_100"
        [buttonBorderColor]="_variable.$purple_800"
        [buttonBgColor]="_variable.$purple_800"
        (click)="isShowAdvSearch = !isShowAdvSearch"
      >
      </hbt-button>
    </div>
  </div>
  <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
    <div class="form-search">
      <div nz-row [nzGutter]='[20,15]'>
        <!-- Đơn vị -->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <tree-data-picker
            [isExpand]="true"
            formControlName="organizationId"
            [scope]="scope"
            [functionCode]="functionCode"
            labelText="{{'hrm.staffManager.label.organization' | translate}}"
            placeholder="{{'hrm.staffManager.label.organization' | translate}}"
          >
          </tree-data-picker>
        </div>

        <!-- Chức danh -->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select-check-able
            [urlLoadData]="urlConstantShare.GET_JOBS"
            [serviceName]="microService.HRM"
            keyLabel="name"
            keyValue="jobId"
            placeholder="{{'hrm.staffManager.label.positionName' | translate}}"
            labelText="{{'hrm.staffManager.label.positionName' | translate}}"
            formControlName="listPositionId"
          ></hbt-select-check-able>
        </div>
      </div>
    </div>
    <div nz-row class="btn__row-search">
      <div nz-col nzSpan="24">
        <div style="text-align: center">
          <hbt-button
            class="staff__research__btn__search"
            buttonSize="MEDIUM"
            buttonAvailableStyle="SEARCH"
            buttonText="{{'common.button.search' | translate}}"
            (click)="search()"
          ></hbt-button>
          <hbt-button
            buttonSize="MEDIUM"
            buttonType="BORDER"
            (click)="export()">
            <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
          </hbt-button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="search__content--group" [ngClass]="{'search__content--group-hidden-header': isShowAdvSearch}">
  <hbt-table-wrap>
    <hbt-table
      (changePageNum)="search($event)"
      [tableConfig]="tableConfig"
      [dataList]="tableData"
    ></hbt-table>
  </hbt-table-wrap>
</div>

<ng-template #actionTmpl let-data="data">
  <i nz-icon nzType="eye"
     nzTheme="outline"
     nz-tooltip
     nzTooltipTitle="{{'common.button.detail' | translate}}"
     nzTooltipPlacement="left"
     class="btn__detail"
     (click)="doViewDetail(data)"
  ></i>
</ng-template>

<ng-template #footerTmpl>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef.destroy()">
  </hbt-button>
  <hbt-button
    buttonAvailableStyle="SAVE"
    buttonText="{{ 'common.button.save' | translate }}"
    (click)="modalRef.getContentComponent().save()">
  </hbt-button>
</ng-template>