<div class='save-form-crm'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <!--Mã sản phẩm-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="code" maxLength="50"
          [type]="isSubmitted && form.controls['code'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['code'].errors != null"
          [errors]="form.controls['code'].errors"
          [errorDefs]="[
            { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.products.table.code' | translate }},
            { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 50}},
            { errorName: 'specialChars', errorDescription: 'common.validate.specialChars' | translate: {'param': 'crm.products.table.code' | translate }}
          ]"
          placeholderText="{{'crm.products.table.code' | translate}}"
          labelText="{{'crm.products.table.code' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <!--tên sản phẩm-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="name" maxLength="255"
          [type]="isSubmitted && form.controls['name'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['name'].errors != null"
          [errors]="form.controls['name'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.products.table.name' | translate }},
          { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'crm.products.table.name' | translate}}"
          labelText="{{'crm.products.table.name' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <!--Nhóm sản phẩm-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CRM_NHOM_SAN_PHAM)" keyLabel="name"
                    formControlName="categoryId"
                    [type]="isSubmitted && form.controls['categoryId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['categoryId'].errors != null"
                    [errors]="form.controls['categoryId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.products.table.categoryId' | translate }}]"
                    placeholder="{{'crm.products.table.categoryId' | translate}}"
                    labelText="{{'crm.products.table.categoryId' | translate}}"
        ></hbt-select>
      </div>

      <!--đơn vị tính (category_type = 'CRM_DON_VI_TINH')-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CRM_DVT_SAN_PHAM)" keyLabel="name"
          formControlName="unitId"
          [type]="isSubmitted && form.controls['unitId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['unitId'].errors != null"
          [errors]="form.controls['unitId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.products.table.unitId' | translate }}]"
          placeholder="{{'crm.products.table.unitId' | translate}}"
          labelText="{{'crm.products.table.unitId' | translate}}"
        ></hbt-select>
      </div>

      <!--đơn giá-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="unitPrice" maxLength="20"
          appNumberic
          [num]="20"
          [decimals]="2"
          [isFormatterCurrency]="true"
          [integerPart]="14"
          [decimalPart]="2"
          [inputType]="'number'"
          [showFlexEnd]="false"
          [type]="isSubmitted && form.controls['unitPrice'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['unitPrice'].errors != null"
          [errors]="form.controls['unitPrice'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 20}}]"
          placeholderText="{{'crm.products.table.unitPrice' | translate}}"
          labelText="{{'crm.products.table.unitPrice' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Trạng thái-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CRM_TRANG_THAI_SAN_PHAM)" keyLabel="name"
                    formControlName="statusId"
                    [type]="isSubmitted && form.controls['statusId'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['statusId'].errors != null"
                    [errors]="form.controls['statusId'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.products.table.statusId' | translate }}]"
                    placeholder="{{'crm.products.table.statusId' | translate}}"
                    labelText="{{'crm.products.table.statusId' | translate}}"
        ></hbt-select>
      </div>

      <ng-container formArrayName="listAttributes">
        <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
          <div nz-col [nzXs]="12" [nzLg]="12">
            <input-attribute-common
              [controlName]="getAttributeControl(idx, 'attributeValue')"
              [dataType]="attributes.get('dataType')?.value"
              [urlLoadData]="attributes.get('urlLoadData')?.value"
              [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
              [errors]="attributes.get('attributeValue')?.errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
              [placeholderText]="attributes.get('attributeName')?.value"
              [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
            >
            </input-attribute-common>
          </div>
        </ng-container>
      </ng-container>

    </div>
  </form>
</div>

