<div class="policy-info">
  <div nz-row [nzGutter]='[20,15]' *ngIf="showPersonalInfo()">
    <ng-container *ngFor="let polInfo of policyInfo">
      <div nz-col [nzXs]="24" [nzLg]="polInfo.colsSpan*6">
        <hbt-text-label [labelText]="polInfo.label" [labelValue]="polInfo.value"></hbt-text-label>
      </div>
    </ng-container>
  </div>
  <div style="margin-top: 20px">
    <hbt-button (click)="viewDetail()"
                buttonText="{{isDetail ? ('hrm.staffManager.label.hideDetail' | translate) : ('hrm.staffManager.label.viewDetail' | translate)}}"
                [suffixIcon]="isDetail ? 'up' : 'down'"></hbt-button>
  </div>
  <div class='search__content--group' *ngIf="isDetail">
    <div *ngIf="objFunctionParticipation?.view">
      <div class="title-table">{{ 'hrm.staffManager.staffResearch.pageName.participation' | translate }}
        <em *ngIf="objFunctionParticipation?.create" nz-button nz-icon nzType="plus-square" nzTheme="outline"
            nz-tooltip
            nzTooltipTitle="{{'common.button.add' | translate}}"
            nzTooltipPlacement="left"
            class="btn-create"
            (click)="doOpenFormCustom('participation')"></em></div>
      <hbt-table-wrap>
        <hbt-table
          (changePageNum)="search($event, 'participation')"
          [tableConfig]="tableConfig" [dataList]="tableData"></hbt-table>
      </hbt-table-wrap>
    </div>
  </div>
</div>
<ng-template #actionTmpl let-data="data">
  <btn-more-action [model]="[data]" [setting]="actionSchema">
  </btn-more-action>
</ng-template>

<ng-template #footerTmpl>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef.destroy()">
  </hbt-button>
  <hbt-button
    buttonAvailableStyle="SAVE"
    buttonText="{{ 'common.button.saveS' | translate }}"
    (click)="modalRef.getContentComponent().save()">
  </hbt-button>
</ng-template>