<div class='save-form-icn'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[30,30]">
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-input-text
          placeholderText="{{'icn.insuranceRetractions.label.keySearch' | translate}}"
          labelText="{{'icn.insuranceRetractions.label.keySearch' | translate}}"
          formControlName="keySearch"></hbt-input-text>
      </div>
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-date-picker
          formControlName="startDate"
          mode="month"
          [type]="isSubmitted && form.controls['startDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['startDate'].errors !== null"
          [errors]="form.controls['startDate'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'icn.insuranceRetractions.label.startDate' | translate }}]"
          labelText="{{ 'icn.insuranceRetractions.label.startDate' | translate }} <span class='label__required'>*</span>"
          placeholderText="{{ 'icn.insuranceRetractions.label.startDate' | translate }}"
        ></hbt-date-picker>
      </div>

    </div>
    <div nz-col [nzXs]='24' [nzLg]='24'>
      <hbt-date-picker
        formControlName="endDate"
        mode="month"
        [type]="isSubmitted && (form.controls['endDate'].errors || form.errors?.rangeDateError) ? 'error' : 'default'"
        [showError]="isSubmitted && (form.controls['endDate'].errors || form.errors?.rangeDateError) !== null"
        [errors]="form.errors?.rangeDateError ? form.errors : form.controls['endDate'].errors"
        [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'hrm.validate.rangeDate.pareDateMore' | translate:{'fromDate': 'icn.insuranceRetractions.label.startDate' | translate, 'toDate': 'icn.insuranceRetractions.label.endDate' | translate}}]"
        labelText="{{ 'icn.insuranceRetractions.label.endDate' | translate }} <span class='label__required'>*</span>"
        placeholderText="{{ 'icn.insuranceRetractions.label.endDate' | translate }}"
      ></hbt-date-picker>
    </div>
  </form>
</div>

