@import "../../../../core/global-style/variable";

.bg__password {
  background-image: url("/assets/img/bg-login-reduce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: bottom right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title__password {
  text-align: center;
  color: $info-900;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto-Regular, sans-serif;
  margin-bottom: 25px;
}

.modal__password {
  width: 25%;
  background: $bg-form-default;
  padding: 20px 30px;
  border-radius: 15px;
}

.form-group {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $black-600;
  position: relative;
}

.captcha-group {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: right;

  span {
    font-size: 24px !important;
    font-weight: 900;
    font-family: Roboto-Regular, sans-serif;
    user-select: none;
    margin-right: 20px;
  }

  i {
    display: inline-block;
    margin-right: 5px;
    font-size: 24px;
    cursor: pointer;
    color: $black-600;
  }

  i:hover {
    color: $info-800;
  }
}

.form-group label {
  margin-right: 5px;
  font-size: 16px;
  color: $black-600;
  cursor: pointer;
}

.form-group:focus-within .label__icon {
  color: $purple-700 !important;
}

:host ::ng-deep .ant-input {
  padding: 5px !important;
  border: none !important;
  font-size: 14px !important;
  border-radius: 0 !important;
  background: transparent !important;
  height: 30px !important;
}

hbt-input-text {
  width: 100% !important;
}

.form-group:focus-within .focus-input::before {
  width: 100%;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  bottom: -2px;
  left: 0;
  width: 0;
  background: linear-gradient(to right, $purple-500 0%, $purple-700 50%, $purple-800 100%);
  transition: width 0.5s ease;
}

.form-group input:focus::placeholder {
  color: transparent;
}

.form-group input::placeholder {
  color: $black-600;
}

.form-group input:focus {
  outline: none;
}


.password__btn {
  width: 100%;
  margin: 25px 0 10px 0;
  color: $bg-form-default;
  height: 45px;
  border-radius: 30px;
  background: $purple-600;
}

.back__btn {
  width: 100%;
  margin: 10px 0 10px 0;
  color: $bg-form-default;
  height: 45px;
  border-radius: 30px;
  background: $black-500;
}

::ng-deep .ant-btn {
  border: none;
}


.require__alert i {
  color: $error-700;
  font-size: 14px;
  cursor: pointer;
  z-index: 999;
  position: relative;
}

::ng-deep .ant-popover-title {
  font-weight: bold;
  color: $success-800;
  background: $success-100;
  font-size: 18px;
}

::ng-deep .ant-popover {
  margin-left: 30px;
}


.form-group:focus-within .fa-lock {
  color: $purple-600 !important;
}
