<div class="bg__password">
  <div class="modal__password">
    <div class="title__password">{{ 'common.user.changePassword2' | translate }}</div>
    <form nz-form [formGroup]="form">
      <div nz-row [nzGutter]='[15,15]'>
        <div nz-col [nzXs]="24" class="form-group">
          <label class="label__icon"><i class="far fa-user"></i></label>
          <hbt-input-text formControlName="loginName" class="email__input"
                          (keydown)="preventSpace($event)"
                          placeholderText="{{'common.user.accountName' | translate}}" autofocus
          ></hbt-input-text>
          <span class="focus-input"></span>
          <div class="require__alert" *ngIf="isSubmitted && f['loginName'].errors">
            <i class="fas fa-exclamation-circle" nzTooltipTitle="{{'common.user.required' | translate}}"
               nzTooltipPlacement="left" nz-tooltip></i>
          </div>
        </div>
        <div nz-col [nzXs]="24" class="form-group">
          <label (click)="onLabelClick1()"><i *ngIf="isFocus1" class="fa fa-eye"></i><i *ngIf="!isFocus1"
                                                                                        class="fa fa-eye-slash"></i></label>
          <hbt-input-text formControlName="oldPassword"
                          [defaultInput]="true"
                          (keydown)="preventSpace($event)"
                          [inputType]="isFocus1 ? 'text':'password'"
                          placeholderText="{{'common.user.oldPassword' | translate}}"
                          (ngModelChange)="onInputChange1($event)"></hbt-input-text>
          <span class="focus-input"></span>
          <div class="require__alert" *ngIf="isSubmitted && f['oldPassword'].errors">
            <i class="fas fa-exclamation-circle" nzTooltipTitle="{{'common.user.required' | translate}}"
               nzTooltipPlacement="left" nz-tooltip></i>
          </div>
        </div>
        <div nz-col [nzXs]="24" class="form-group">
          <label (click)="onLabelClick2()"><i *ngIf="isFocus2" class="fa fa-eye"></i><i *ngIf="!isFocus2"
                                                                                        class="fa fa-eye-slash"></i></label>
          <hbt-input-text formControlName="password" [inputType]="isFocus2 ? 'text':'password'"
                          [maxLength]="50"
                          (keydown)="preventSpace($event)"
                          [defaultInput]="true"
                          placeholderText="{{'common.user.newPassword' | translate}}"
                          (ngModelChange)="onInputChange2($event)"
                          nz-popover [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click"
                          nzPopoverPlacement="right"
                          nzPopoverTitle="{{'common.user.passwordRule' | translate}}"></hbt-input-text>
          <span class="focus-input"></span>
          <div class="require__alert" *ngIf="isSubmitted && f['password'].errors">
            <i class="fas fa-exclamation-circle" nzTooltipTitle="{{'common.user.required' | translate}}"
               nzTooltipPlacement="left" nz-tooltip></i>
          </div>
        </div>
        <div nz-col [nzXs]="24" class="form-group">
          <label (click)="onLabelClick3()"><i *ngIf="isFocus3" class="fa fa-eye"></i><i *ngIf="!isFocus3"
                                                                                        class="fa fa-eye-slash"></i></label>
          <hbt-input-text formControlName="retypePassword" [inputType]="isFocus3 ? 'text':'password'"
                          [maxLength]="50"
                          (keydown)="preventSpace($event)"
                          [defaultInput]="true"
                          placeholderText="{{'common.user.retypePassword' | translate}}"
                          (ngModelChange)="onInputChange3($event)"></hbt-input-text>
          <span class="focus-input"></span>
          <div class="require__alert" *ngIf="isSubmitted && f['retypePassword'].errors">
            <i class="fas fa-exclamation-circle" nzTooltipTitle="{{'common.user.required' | translate}}"
               nzTooltipPlacement="left" nz-tooltip></i>
          </div>
        </div>
        <div nz-col [nzXs]="14" class="form-group">
          <label><i class="fas fa-lock"></i></label>
          <hbt-input-text formControlName="captcha"
                          placeholderText="{{'common.user.captcha' | translate}}"></hbt-input-text>
          <span class="focus-input"></span>
          <div class="require__alert" *ngIf="isSubmitted && f['captcha'].errors">
            <i class="fas fa-exclamation-circle" nzTooltipTitle="{{'common.user.required' | translate}}"
               nzTooltipPlacement="left" nz-tooltip></i>
          </div>
        </div>
        <div nz-col [nzXs]="10" class="captcha-group">
          <span>{{ captcha }}</span>
          <i class="fas fa-sync-alt" title="{{'common.user.rollCaptcha' | translate}}"
             (click)="generateRandomString()"></i>
        </div>
      </div>
      <button class="password__btn" nz-button (click)="submitForm()">{{ 'common.user.changePassword2' | translate }}
      </button>
      <button class="back__btn" nz-button (click)="back()">{{ 'common.button.back2' | translate }}
      </button>
    </form>
  </div>
</div>


<ng-template #contentTemplate>
  <div innerHTML="{{ 'common.user.content' | translate }}"></div>
</ng-template>
