<div class='save-form-abs'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[20,15]">
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-date-picker
          placeholderText="{{'abs.attendanceHistories.label.dateTimekeeping' | translate}}"
          labelText="{{'abs.attendanceHistories.label.dateTimekeeping' | translate}} <span class='label__required'>*</span>"
          formControlName="dateTimekeeping"
          [type]="isSubmitted && form.controls['dateTimekeeping']?.errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['dateTimekeeping']?.errors != null"
          [errors]="form.controls['dateTimekeeping']?.errors"
          [errorDefs]="[
            { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.attendanceHistories.table.dateTimekeeping' | translate }}]"

        ></hbt-date-picker>
      </div>

      <!--Thời gian điều chỉnh checkin-->
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-time-picker
          format="HH:mm"
          placeholderText="{{'abs.attendanceHistories.table.validCheckInTime' | translate}}"
          labelText="{{'abs.attendanceHistories.table.validCheckInTime' | translate}} <span class='label__required'>*</span>"
          formControlName="validCheckInTime"
          [type]="isSubmitted && form.controls['validCheckInTime']?.errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['validCheckInTime']?.errors != null"
          [errors]="form.controls['validCheckInTime']?.errors"
          [errorDefs]="[
            { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.attendanceHistories.table.validCheckInTime' | translate }}]"
        ></hbt-time-picker>
      </div>

      <!--Thời gian điều chỉnh checkout-->
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-time-picker
          format="HH:mm"
          placeholderText="{{'abs.attendanceHistories.table.validCheckOutTime' | translate}}"
          labelText="{{'abs.attendanceHistories.table.validCheckOutTime' | translate}} <span class='label__required'>*</span>"
          formControlName="validCheckOutTime"
          [type]="isSubmitted && (form.controls['validCheckOutTime']?.errors || form.errors?.rangeDateError) ? 'error' : 'default'"
          [showError]="isSubmitted && (form.controls['validCheckOutTime']?.errors || form.errors?.rangeDateError) != null"
          [errors]= "form.errors?.rangeDateError ? form.errors : form.controls['validCheckOutTime']?.errors"
          [errorDefs]="[
            { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.attendanceHistories.table.validCheckOutTime' | translate }},
                { errorName: 'rangeDateError', errorDescription: 'common.validate.rangeDate.pareDate' | translate:{'fromDate': 'abs.attendanceHistories.table.validCheckInTime' | translate, 'toDate': 'abs.attendanceHistories.table.validCheckOutTime' | translate}}

          ]"
        ></hbt-time-picker>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.ABS_LY_DO_DC_CHAM_CONG)"
                    keyLabel="name"
                    keyValue="value"
                    formControlName="reasonId"
                    placeholder="{{'abs.attendanceHistories.table.reason' | translate}}"
                    labelText="{{'abs.attendanceHistories.table.reason' | translate}} <span class='label__required'>*</span>"
                    [type]="isSubmitted && form.controls['reasonId']?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['reasonId']?.errors != null"
                    [errors]="form.controls['reasonId']?.errors"
                    [errorDefs]="[
            { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.attendanceHistories.table.reason' | translate }}]"
 ></hbt-select>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-input-text formControlName="reasonDetail" isTextAre
                        maxLength="500"
                        placeholderText="{{'abs.attendanceHistories.table.reasonDetail' | translate}}"
                        labelText="{{'abs.attendanceHistories.table.reasonDetail' | translate}}"
        ></hbt-input-text>
      </div>


    </div>
  </form>
</div>

