<div class='save-form-admin'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[20,15]">
      <!--Đường dẫn page-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="url" maxLength="255"
          [type]="isSubmitted && form.controls['url'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['url'].errors != null"
          [errors]="form.controls['url'].errors"
          [errorDefs]="[
            { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}},
           { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.configPages.table.url' | translate }}]"
          placeholderText="{{'admin.configPages.table.url' | translate}}"
          labelText="{{'admin.configPages.table.url' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>


      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select formControlName="type"
                        [dataSelects]="listConfigPageType"
                        keyLabel="label"
                        keyValue="value"
                        [type]="isSubmitted && form.controls['type'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['type'].errors != null"
                        [errors]="form.controls['type'].errors"
                        [errorDefs]="[
                        { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.configPages.table.type' | translate }}]"
                        placeholder="{{'admin.configPages.table.type' | translate}}"
                        labelText="{{'admin.configPages.table.type' | translate}} <span class='label__required'>*</span>"
        ></hbt-select>
      </div>

      <!--Danh sách mã báo cáo-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text
          formControlName="reportCodes"
          [type]="isSubmitted && form.controls['reportCodes'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['reportCodes'].errors != null"
          [errors]="form.controls['reportCodes'].errors"
          [errorDefs]="[
          { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}},
         ]"
          placeholderText="{{'admin.configPages.table.reportCodes' | translate}}"
          labelText="{{'admin.configPages.table.reportCodes' | translate}} "
        ></hbt-input-text>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">

      </div>

      <ng-container formArrayName="listAttributes">
        <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
          <div nz-col [nzXs]="12" [nzLg]="12">
            <input-attribute-common
              [controlName]="getAttributeControl(idx, 'attributeValue')"
              [dataType]="attributes.get('dataType')?.value"
              [urlLoadData]="attributes.get('urlLoadData')?.value"
              [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
              [errors]="attributes.get('attributeValue')?.errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
              [placeholderText]="attributes.get('attributeName')?.value"
              [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
            >
            </input-attribute-common>
          </div>
        </ng-container>
      </ng-container>




    </div>
  </form>
</div>

