@import "src/app/core/global-style/variable";

.title__switch {
  margin-left: 10px;
  font-size: 14px;
  font-family: 'avertaB', sans-serif;
  color: $input-label-color;
}

.switch__category {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.hide-when-type-out {
  display: none;
}

.btn__action-position {
  display: flex;
  margin-top: 35px !important;

  ::ng-deep hbt-button button {
    margin-left: 0 !important;
  }
}
