<div class='save-form-abs'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <!--id lịch làm việc-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="[]"
          formControlName="workCalendarId"
          [type]="isSubmitted && form.controls['workCalendarId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['workCalendarId'].errors != null"
          [errors]="form.controls['workCalendarId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.workCalendarDetails.table.workCalendarId' | translate }}]"
          placeholder="{{'abs.workCalendarDetails.table.workCalendarId' | translate}}"
          labelText="{{'abs.workCalendarDetails.table.workCalendarId' | translate}}"
        ></hbt-select>
      </div>

      <!--ngày -->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'abs.workCalendarDetails.table.dateTimekeeping' | translate}}"
          labelText="{{'abs.workCalendarDetails.table.dateTimekeeping' | translate}}"
          formControlName="dateTimekeeping"></hbt-date-picker>
      </div>

      <!--lịch nghỉ - làm việc-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [dataSelects]="[]"
          formControlName="workdayTimeId"
          [type]="isSubmitted && form.controls['workdayTimeId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['workdayTimeId'].errors != null"
          [errors]="form.controls['workdayTimeId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.workCalendarDetails.table.workdayTimeId' | translate }}]"
          placeholder="{{'abs.workCalendarDetails.table.workdayTimeId' | translate}}"
          labelText="{{'abs.workCalendarDetails.table.workdayTimeId' | translate}}"
        ></hbt-select>
      </div>

      <!--mô tả-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="description" maxLength="200"
          [type]="isSubmitted && form.controls['description'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['description'].errors != null"
          [errors]="form.controls['description'].errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 200}}]"
          placeholderText="{{'abs.workCalendarDetails.table.description' | translate}}"
          labelText="{{'abs.workCalendarDetails.table.description' | translate}}"
        ></hbt-input-text>
      </div>

      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <hbt-upload
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpeg', 'jpg', 'png', 'pdf', 'doc', 'docx']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          [required]="true"
          (fileListChange)="onFileListChange($event, 'fileList', true)"
          (docIdsDeleteChange)="removeFile($event, 'fileList')"
          [serviceName]='serviceName'
          [showError]="isSubmitted"
        ></hbt-upload>
      </div>

    </div>
  </form>
</div>

