<form nz-form [formGroup]="form">
  <div nz-row [nzGutter]='[20,15]'>
    <!--  Nhân viên  -->
    <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="!hiddenEmp">
      <employee-data-picker [isExpand]="true"
        [functionCode]="functionCode"
        [scope]="scope"
        [status]='mode !== modeConst.ADD ? "ALL" : "ACTIVE"'
        [formMode]="mode"
        [disable]="mode !== modeConst.ADD"
        formControlName="employeeId"
        [type]="isSubmitted && form.controls['employeeId'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['employeeId'].errors != null"
        [errors]="form.controls['employeeId'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.employeeName' | translate }}]"
        labelText="{{'hrm.staffManager.workedHistories.employeeId' | translate}} <span class='label__required'>*</span>"
      >
      </employee-data-picker>
    </div>

    <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="!hiddenEmp">
      <hbt-input-text
        appNumberic
        labelText=""
      >

      </hbt-input-text>
    </div>

    <div nz-col [nzXs]="12" [nzLg]="12">
      <hbt-select
        [dataSelects]="listEmpTypes"
        keyLabel="name"
        keyValue="empTypeId"
        formControlName="empTypeId"
        labelText="{{'hrm.staffManager.contractHisInfo.label.attributes.employeeType' | translate}} <span class='label__required'>*</span>"
        placeholder="{{'hrm.staffManager.contractHisInfo.label.attributes.employeeType' | translate}}"
        [type]="isSubmitted && form.controls['empTypeId']?.errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['empTypeId']?.errors !== null"
        [errors]="form.controls['empTypeId']?.errors"
        [errorDefs]="[{errorName: 'required', errorDescription: 'hrm.validate.required' | translate:{'param': 'hrm.staffManager.contractHisInfo.label.attributes.employeeType' | translate} }]"
      ></hbt-select>
    </div>

    <!--  Phân loại HĐ  -->
    <ng-container *ngIf="isShowSelectContract">
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select
          [urlLoadData]="getUrlCategory(categoryCode.PHAN_LOAI_HOP_DONG)"
          [serviceName]="microService.ADMIN"
          keyLabel="name"
          formControlName="classifyCode"
          labelText="{{'hrm.staffManager.contractHisInfo.label.attributes.classifyCode' | translate}} <span class='label__required'>*</span>"
          placeholder="{{'hrm.staffManager.contractHisInfo.label.attributes.classifyCode' | translate}}"
          [type]="isSubmitted && form.controls['classifyCode']?.errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['classifyCode']?.errors !== null"
          [errors]="form.controls['classifyCode']?.errors"
          [errorDefs]="[{errorName: 'required', errorDescription: 'hrm.validate.required' | translate:{'param': 'hrm.staffManager.contractHisInfo.label.attributes.classifyCode' | translate} }]"
        ></hbt-select>
      </div>

      <!--  Loại hợp đồng  -->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select
          [dataSelects]="listContractType"
          keyLabel="name"
          keyValue="contractTypeId"
          formControlName="contractTypeId"
          labelText="{{'hrm.staffManager.contractHisInfo.label.attributes.contractType' | translate}} <span class='label__required'>*</span>"
          placeholder="{{'hrm.staffManager.contractHisInfo.label.attributes.contractType' | translate}}"
          [type]="isSubmitted && form.controls['contractTypeId']?.errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['contractTypeId']?.errors !== null"
          [errors]="form.controls['contractTypeId']?.errors"
          [errorDefs]="[{errorName: 'required', errorDescription: 'hrm.validate.required' | translate:{'param': 'hrm.staffManager.contractHisInfo.label.attributes.contractType' | translate} }]"
          (ngModelChange)="changeContractType($event)"
        ></hbt-select>
      </div>
    </ng-container>

    <!-- Từ ngày -->
    <div nz-col [nzXs]="24" [nzLg]="12">
      <hbt-date-picker
        labelText="{{'hrm.staffManager.contractHisInfo.label.attributes.fromDate' | translate}}  <span class='label__required'>*</span>"
        placeholderText="{{'hrm.staffManager.contractHisInfo.label.attributes.fromDate' | translate}}"
        formControlName="startDate"
        [type]="isSubmitted && form.controls['startDate'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['startDate'].errors !== null"
        [errors]="form.controls['startDate'].errors"
        [errorDefs]="[
          { errorName: 'required', errorDescription: 'hrm.validate.required' | translate: {'param':'hrm.staffManager.contractHisInfo.label.attributes.fromDate' | translate }}
        ]"
      ></hbt-date-picker>
    </div>

    <!-- Đến ngày -->
    <div nz-col [nzXs]="24" [nzLg]="12">
      <hbt-date-picker
        [labelText]="getLabelText('hrm.staffManager.contractHisInfo.label.attributes.toDate', isRequiredEndDate)"
        placeholderText="{{'hrm.staffManager.contractHisInfo.label.attributes.toDate' | translate}}"
        formControlName="endDate"
        [type]="(isSubmitted && form.controls['endDate'].errors || form.errors?.rangeDateError) ? 'error' : 'default'"
        [showError]="(isSubmitted && form.controls['endDate'].errors || form.errors?.rangeDateError) !== null"
        [errors]="form.errors?.rangeDateError ? form.errors : form.controls['endDate'].errors"
        [errorDefs]="[
          { errorName: 'required', errorDescription: 'hrm.validate.required' | translate: {'param':'hrm.staffManager.contractHisInfo.label.attributes.toDate' | translate }},
          { errorName: 'rangeDateError', errorDescription: 'hrm.validate.rangeDate.pareDate' | translate:
      {'fromDate': 'hrm.staffManager.contractHisInfo.label.attributes.fromDate' | translate, 'toDate': 'hrm.staffManager.contractHisInfo.label.attributes.toDate' | translate}}
        ]"
      ></hbt-date-picker>
    </div>

    <!-- Số quyết định -->
    <div nz-col [nzXs]="24" [nzLg]="12">
      <hbt-input-text
        formControlName="documentNo"
        [maxLength]="50"
        labelText="{{'hrm.staffManager.contractHisInfo.label.attributes.contractNumber' | translate}}"
        placeholderText="{{'hrm.staffManager.contractHisInfo.label.attributes.contractNumber' | translate}}"
        [type]="isSubmitted && form.controls['documentNo'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['documentNo'].errors !== null"
        [errors]="form.controls['documentNo'].errors"
        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'hrm.validate.maxLength' | translate: {'nuerLength': '50' }}]"
      ></hbt-input-text>
    </div>

    <!-- Ngày ký QĐ -->
    <div nz-col [nzXs]="24" [nzLg]="12">
      <hbt-date-picker
        formControlName="documentSignedDate"
        labelText="{{'hrm.staffManager.contractHisInfo.label.attributes.signedDate' | translate}}"
        placeholderText="{{'hrm.staffManager.contractHisInfo.label.attributes.signedDate' | translate}}"
        [type]="isSubmitted && form.controls['documentSignedDate'].errors ? 'error' : 'default'"
        [showError]="isSubmitted && form.controls['documentSignedDate'].errors !== null"
        [errors]="form.controls['documentSignedDate'].errors"
        [errorDefs]="[{ errorName: 'required', errorDescription: 'hrm.validate.required'}]"
      ></hbt-date-picker>
    </div>

    <ng-container formArrayName="listAttributes">
      <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
        <div nz-col [nzXs]="12" [nzLg]="12">
          <input-attribute-common
            [controlName]="getAttributeControl(idx, 'attributeValue')"
            [dataType]="attributes.get('dataType')?.value"
            [urlLoadData]="attributes.get('urlLoadData')?.value"
            [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
            [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
            [errors]="attributes.get('attributeValue')?.errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
            [placeholderText]="attributes.get('attributeName')?.value"
            [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
          >
          </input-attribute-common>
        </div>
      </ng-container>
    </ng-container>

    <!-- File đính kèm -->
    <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
      <hbt-upload
        [fileList]="f['files'].value"
        [(docIdsDelete)]="docIdsDelete"
        [typeFileAvailable]="['jpeg', 'jpg', 'png', 'pdf', 'doc', 'docx']"
        [multiple]="true"
        labelText="{{'common.label.attachFile' | translate}}"
        (fileListChange)="onFileListChange($event, 'files', true)"
        (docIdsDeleteChange)="removeFile($event, 'files')"
        [serviceName]='microService.HRM'
        [showError]="isSubmitted"
        [maxSize]="3"
        [disable]="mode === modeConst.VIEW"
      ></hbt-upload>
    </div>
  </div>
</form>
