@import "src/app/core/global-style/variable";

::ng-deep .work-info .ant-btn {
  margin-left: 0 !important;
  border-radius: 10px !important;
  color: black !important;
}

::ng-deep .work-info .ant-card-head {
  margin-top: -20px !important;
}

.work-info .title-table {
  margin: 30px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.work-info .btn-create{
  margin-left: auto;
  color: $bg-checkbox-inner;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}