<p class="header__model">{{'common.label.categoryType' | translate}}: {{categoryType?.name}}</p>
<div [ngClass]="{'app-card' : isPage}">
  <form nz-form [formGroup]="form">
    <div class="app-row" nz-row [nzGutter]='[20,15]'>
      <div nz-col [nzXs]="24" [nzLg]="12">
        <hbt-input-text formControlName="code" [maxLength]="50" uppercase (blur)="blur('code')"
                        [type]="isSubmitted && form.controls['code'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['code'].errors !== null"
                        [errors]="form.controls['code'].errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '50' }},
                        { errorName: 'code', errorDescription: 'common.validate.code' | translate },
                        { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.code' | translate }}]"
                        placeholderText="{{'common.label.code' | translate}}"
                        labelText="{{'common.label.code' | translate}}">
        </hbt-input-text>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="12">
        <hbt-input-text formControlName="name"
                        [maxLength]="255"
                        [defaultInput]="true"
                        [type]="isSubmitted && form.controls['name'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['name'].errors != null"
                        [errors]="form.controls['name'].errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '100' }},
                        { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.name' | translate }}]"
                        placeholderText="{{'common.label.name' | translate}}"
                        labelText="{{'common.label.name' | translate}} <span class='label__required'>*</span>">
        </hbt-input-text>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="12">
        <hbt-input-text formControlName="value"
                        [maxLength]="50"
                        [disable]="isDisabledValue"
                        [type]="isSubmitted && form.controls['value'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['value'].errors !== null"
                        [errors]="form.controls['value'].errors"
                        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.categories.label.value' | translate }}]"
                        placeholderText="{{'common.label.value' | translate}}"
                        [labelText]="getLabelText('admin.categories.label.value', !isDisabledValue)">
        </hbt-input-text>
      </div>

      <div nz-col [nzXs]="24" [nzLg]="12">
        <hbt-input-text formControlName="orderNumber"
                        appNumberic
                        [num]="5"
                        [type]="isSubmitted && form.controls['orderNumber'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['orderNumber'].errors != null"
                        [errors]="form.controls['orderNumber'].errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '100' }},
                        { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.stt' | translate }}]"
                        placeholderText="{{'common.label.stt' | translate}}"
                        labelText="{{'common.label.stt' | translate}}">
        </hbt-input-text>
      </div>

      <ng-container formArrayName="listAttributes">
        <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
          <div nz-col [nzXs]="12" [nzLg]="12">
            <input-attribute-common
              [controlName]="getAttributeControl(idx, 'attributeValue')"
              [dataType]="attributes.get('dataType')?.value"
              [urlLoadData]="attributes.get('urlLoadData')?.value"
              [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
              [errors]="attributes.get('attributeValue')?.errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
              [placeholderText]="attributes.get('attributeName')?.value"
              [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
            >
            </input-attribute-common>
          </div>
        </ng-container>
      </ng-container>

    </div>
  </form>
</div>
