<div class='search__content--group positions__page'>
  <hbt-table-wrap>
    <hbt-table
      (changePageNum)="search($event)"
      [tableConfig]="tableConfig"
      [dataList]="tableData"
      [showRangeTotal]="false"
    ></hbt-table>
  </hbt-table-wrap>
</div>

<ng-template #actionTmpl let-data="data">
  <ng-container *ngIf="!isHasChildOrg">
    <btn-more-action [model]="[data, {organizationId, listJobType}]" [setting]="actionSchema"></btn-more-action>
  </ng-container>
</ng-template>

<ng-template #footerTmpl>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef.destroy()">
  </hbt-button>
  <hbt-button
    buttonAvailableStyle="SAVE"
    buttonText="{{ 'common.button.save' | translate }}"
    (click)="modalRef.getContentComponent().save()">
  </hbt-button>
</ng-template>