<!--<div [class]="isNotPageName ? 'btn__across-no-page' : 'btn__across-page'">-->
<!--  <hbt-button buttonSize="MEDIUM" buttonText="{{'common.button.uploadFile' | translate}}"-->
<!--              [buttonTextColor]="_variable.$purple_800" (click)="doImportData()"></hbt-button>-->
<!--  <hbt-button-->
<!--    buttonType="NO_BORDER"-->
<!--    buttonSize="LARGE"-->
<!--    (click)="doOpenForm(modeConst.ADD)"-->
<!--    buttonText="{{ 'common.button.add' | translate }}"-->
<!--    buttonAvailableStyle="ADD">-->
<!--  </hbt-button>-->
<!--</div>-->
<form nz-form [formGroup]="form" class='abs'>
  <div class="search__custom-common remove__mr__bt-40">
    <div nz-row class="button__action-left">
      <hbt-button
        class="staff__research__btn__search"
        buttonSize="LARGE"
        buttonAvailableStyle="ADD"
        buttonText="{{'common.button.add' | translate}}"
        *ngIf="!objFunction?.create"
        (click)="doOpenForm(modeConst.ADD)"
      ></hbt-button>
    </div>
    <div class="search__page-right">
      <hbt-input-text formControlName='keySearch'
                      [maxLength]='255'
                      placeholderText="{{'hrm.staffManager.categoryManage.empTypes.label.keySearch' | translate}}"></hbt-input-text>
    </div>
  </div>

  <div class='search__content--group'>
    <hbt-table-wrap>
      <div>
        <p *ngIf="listId.length > 0" style="margin: 0">{{'common.label.selected' | translate}}
          : {{listId.length}}</p>
      </div>
      <hbt-table
        (changePageNum)='search($event)'
        [tableConfig]='tableConfig' [dataList]="tableData" (amountSelectedRowsChange)="listId = $event"
      ></hbt-table>
    </hbt-table-wrap>
  </div>


  <ng-template #actionTmpl let-data="data">
    <btn-action-by-id
      (doViewDetail)="doOpenFormDetail(data)"
      (doEdit)="doOpenFormEdit(data)"
      (doDelete)="deleteItem(data)"
    >
    </btn-action-by-id>
  </ng-template>


  <ng-template #footerTmpl>
    <hbt-button
      buttonAvailableStyle="DEFAULT"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="ADD"
      buttonText="{{ 'common.button.save' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </ng-template>

  <hbt-import-file [showContent]='isImportData'
                   (onCloseModal)='doCloseImport($event)'
                   [importApi]='importApi'
                   [downLoadTemplateApi]="downLoadTemplateApi"
                   [fileTemplateName]="fileTemplateName"
                   [doDownloadFileByNameApi]='doDownloadFileByNameApi'>
  </hbt-import-file>

  <reject-common-template
    [isReject]="isReject"
    [listRejectId]="listId"
    [rejectId]='rejectId'
    [rejectByListApi]='rejectByListApi'
    (onCloseModal)="doCloseReject($event)">
  </reject-common-template>

  <ng-template #attachFileTmpl let-attachFileList='attachFileList'>
    <div *ngFor="let file of attachFileList">
      <a class="attach-file" (click)="doDownLoadFile(file); $event.stopPropagation();">{{file.fileName}}</a>
    </div>
  </ng-template>
</form>

