<form nz-form [formGroup]="form" class="mts-index">
  <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
    <div nz-row class="button__action-left">
      <hbt-button buttonSize="LARGE" buttonText="{{'common.button.uploadFile' | translate}}"
                  [buttonTextColor]="_variable.$purple_800" (click)="doImportData()" *ngIf="visibleActionsCount < 2"
      ></hbt-button>
      <hbt-button
        style="margin-left: 20px"
        buttonSize="VERY_LARGE"
        buttonType="BORDER"
        (click)="export()"
        *ngIf="visibleActionsCount < 2">
        <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
      </hbt-button>
      <btn-more-action *ngIf="visibleActionsCount >= 2" [setting]="actionSchemaHeader" [isBtn]="true">
      </btn-more-action>
    </div>
    <div class="search__page-right">
<!--      <hbt-input-text formControlName='keySearch'-->
<!--                      [maxLength]='255'-->
<!--                      placeholderText="{{'common.label.keySearchEmpCodeAndName' | translate}}"></hbt-input-text>-->
      <hbt-button
        buttonIconType="AWESOME"
        [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
        buttonSize="VERY_LARGE"
        [buttonTextColor]="_variable.$neutral_100"
        [buttonBorderColor]="_variable.$purple_800"
        [buttonBgColor]="_variable.$purple_800"
        (click)="isShowAdvSearch = !isShowAdvSearch"
      >
      </hbt-button>
    </div>
  </div>
  <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
    <div class="form-search">
      <div nz-row [nzGutter]='[20,15]'>
        <!--Biểu mẫu thu nhập-->
        <div nz-col [nzXs]='12' [nzLg]='6'>
          <hbt-select-check-able
            [showAddCategory]="false"
            [urlLoadData]="getUrlCategory(categoryCode.THUE_LOAI_THU_NHAP)" keyLabel="name"
            [serviceName]="microService.ADMIN"
            placeholder="{{'pit.incomeItemMasters.table.typeIncome' | translate}}"
            labelText="{{'pit.incomeItemMasters.table.typeIncome' | translate}}"
            formControlName='listType'
          ></hbt-select-check-able>
        </div>
        <!--Kỳ kê khai-->
        <div nz-col [nzXs]='12' [nzLg]='6'>
          <hbt-date-picker
            mode="month"
            formControlName="taxPeriodDate"
            labelText="{{ 'pit.incomeItemMasters.table.taxPeriodDate' | translate }}"
            placeholderText="{{ 'pit.incomeItemMasters.table.taxPeriodDate' | translate }}"
          ></hbt-date-picker>
        </div>
        <!--Khoản thu nhập-->
        <div nz-col [nzXs]='12' [nzLg]='6'>
          <hbt-input-text formControlName='incomeName' maxLength='50'
                          placeholderText="{{'pit.incomeItemMasters.table.incomeName' | translate}}"
                          labelText="{{'pit.incomeItemMasters.table.incomeName' | translate}}"></hbt-input-text>
        </div>

        <!--Trạng thái-->
        <div nz-col [nzXs]='12' [nzLg]='6'>
          <hbt-select-check-able
            [showAddCategory]="false"
            placeholder="{{'pit.incomeItemMasters.table.status' | translate}}"
            [urlLoadData]="getUrlCategory(categoryCode.PIT_TRANG_THAI_TNCN)" keyLabel="name"
            [serviceName]="microService.ADMIN"
            labelText="{{'pit.incomeItemMasters.table.status' | translate}}"
            formControlName='listStatus'></hbt-select-check-able>
        </div>
        <div nz-col [nzXs]="24" [nzLg]="24" style="text-align: center">
          <hbt-button
            class="staff__research__btn__search"
            buttonSize="LARGE"
            buttonAvailableStyle="SEARCH"
            buttonText="{{'common.button.search' | translate}}"
            (click)="search()"
          ></hbt-button>
        </div>
      </div>
    </div>
  </div>

  <div class='search__content--group'>
    <hbt-table-wrap>
      <hbt-table
        (changePageNum)="search($event)"
        [tableConfig]="tableConfig" [dataList]="tableData"></hbt-table>
    </hbt-table-wrap>
  </div>

  <ng-template #actionTmpl let-data="data">
    <btn-more-action [model]="[data]" [setting]="actionSchema">
    </btn-more-action>
  </ng-template>

  <ng-template #attachFileTmpl let-attachFileList='attachFileList'>
    <div *ngFor="let file of attachFileList">
      <a class="attach-file" (click)="doDownLoadFile(file); $event.stopPropagation();">{{ file.fileName }}</a>
    </div>
  </ng-template>

  <ng-template #footerTmpl>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.save' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </ng-template>
</form>


<hbt-import-file *ngIf="isImportData" [showContent]='isImportData'
                 [isGetData]="true"
                 (getData)="onCalTax($event)"
                 (onCloseModal)='doCloseImport($event)'
                 [importApi]='importApi'
                 [formImport]="formImport"
                 [nzWidth]="'50%'"
                 [downLoadTemplateApi]="downLoadTemplateApi"
                 title="{{'pit.incomeItemMasters.button.import' | translate}}"
                 [fileTemplateName]="fileTemplateName"
                 [doDownloadFileByNameApi]='doDownloadFileByNameApi'
                 (isSubmittedImport)="changeSubmittedImport($event)">
  <div class="formImport" style="margin-bottom: 30px;">
    <form nz-form [formGroup]="formImport">
      <div nz-row [nzGutter]='[24,24]'>
        <!--Kỳ lương-->
        <div nz-col [nzXs]='12' [nzLg]='12'>
          <hbt-date-picker mode="month"
                           formControlName="salaryPeriodDate"
                           [type]="isSubmittedImport && formImport.controls['salaryPeriodDate']?.errors ? 'error' : 'default'"
                           [showError]="isSubmittedImport && formImport.controls['salaryPeriodDate']?.errors != null"
                           [errors]="formImport.controls['salaryPeriodDate']?.errors"
                           [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'pit.incomeItemMasters.table.import.salaryPeriodDate' | translate }}]"
                           (ngModelChange)="onChangeSalaryPeriodDate($event)"
                           labelText="{{ 'pit.incomeItemMasters.table.import.salaryPeriodDate' | translate }} <span class='label__required'> *</span>"
                           placeholderText="{{ 'pit.incomeItemMasters.table.import.salaryPeriodDate' | translate }}"
          ></hbt-date-picker>
        </div>
        <!--Khoản thu nhập-->
        <div nz-col [nzXs]="12" [nzLg]="9">
          <hbt-select formControlName="incomeItemId"
                      [type]="isSubmittedImport && formImport.controls['incomeItemId']?.errors ? 'error' : 'default'"
                      [showError]="isSubmittedImport && formImport.controls['incomeItemId']?.errors != null"
                      [errors]="formImport.controls['incomeItemId']?.errors"
                      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'pit.incomeItemMasters.table.import.income' | translate }}]"
                      [dataSelects]="listIncome" keyValue="incomeItemId" keyLabel="name"
                      (ngModelChange)="onChangeIncome($event)"
                      labelText="{{'pit.incomeItemMasters.table.import.income' | translate}} <span class='label__required'> *</span>"
                      placeholder="{{'pit.incomeItemMasters.table.import.income' | translate}}"
          >
          </hbt-select>
        </div>
        <!--Thêm mới-->
        <div nz-col [nzXs]='12' [nzLg]='3'  style="margin-top: auto;">
          <hbt-button
            (click)="openModal(Mode.ADD)"
            nz-tooltip
            nzTooltipPlacement="top"
            nzTooltipTitle="{{'pit.incomeItemMasters.table.import.addNew' | translate}}"
            buttonIconType="AWESOME" prefixIcon="far fa-plus-circle"
            buttonSize="VERY_LARGE"
            [buttonTextColor]="_variable.$neutral_100"
            [buttonBgColor]="_variable.$purple_800" buttonType="NO_BORDER">
          </hbt-button>
        </div>

        <!--Kỳ kê khai-->
        <div nz-col [nzXs]='12' [nzLg]='12'>
          <hbt-date-picker
            mode="month"
            formControlName="taxPeriodDate"
            [type]="isSubmittedImport && formImport.controls['salaryPeriodDate']?.errors ? 'error' : 'default'"
            [showError]="isSubmittedImport && formImport.controls['salaryPeriodDate']?.errors != null"
            [errors]="formImport.controls['salaryPeriodDate']?.errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'pit.incomeItemMasters.table.import.salaryPeriodDate' | translate }}]"
            labelText="{{ 'pit.incomeItemMasters.table.import.taxPeriodDate' | translate }} <span class='label__required'> *</span>"
            placeholderText="{{ 'pit.incomeItemMasters.table.import.taxPeriodDate' | translate }}"
          ></hbt-date-picker>
        </div>

        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select formControlName="isCalculated"
                      [showAddCategory]="false"
                      [urlLoadData]="getUrlCategory(categoryCode.THU_NHAP_DA_TINH_THUE)"
                      [serviceName]="microService.ADMIN"
                      keyLabel="name"
                      labelText="{{'pit.incomeItemMasters.table.import.isCalculated' | translate}}"
                      placeholder="{{'pit.incomeItemMasters.table.import.isCalculated' | translate}}"
          >
          </hbt-select>
        </div>
      </div>
    </form>
  </div>
</hbt-import-file>

<ng-template #statusTmpl let-statusCode='status'>
  <ng-container *ngFor='let item of statusCodeList'>
    <nz-tag [nzColor]="item.bgColor" [ngStyle]="{'color': item.color, width: '130px', 'text-align': 'center'}" *ngIf='statusCode === item.code'>{{item.name}}</nz-tag>
  </ng-container>
</ng-template>