@import "../../../../../core/global-style/variable";

.menu__item--btn {
  font-size: 16px;
  padding: 3px;
  color: $error-500;

  &:hover {
    cursor: pointer;
  }
}

.menu__item--btn1 {
  font-size: 16px;
  padding: 3px;
  color: $bg-default;

  &:hover {
    cursor: pointer;
  }
}

.text-center {
  text-align: center;
}

.label__required {
  color: $error-default-color;
}

.parameters__title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: $input-body-color;
}