<div [ngClass]="{'app-card' : isPage}">
  <div class="content" *ngIf="isPage">
    <hbt-button buttonType="NO_BORDER" (click)="save()" buttonAvailableStyle="SAVE"
                buttonText="{{'common.button.save' | translate}}" type='SUBMIT'></hbt-button>
  </div>
  <form nz-form [formGroup]="form">
    <div class="app-row" nz-row [nzGutter]='[20,15]'>
      <div nz-col nzXs="24" nzLg="12">
        <hbt-select formControlName="templateType"
                    [urlLoadData]="getUrlCategory(categoryCode.LOAI_BIEU_MAU)"
                    keyValue="value"
                    keyLabel="name"
                    labelText="{{'admin.cardTemplates.templateTypeName' | translate}} <span class='label__required'>*</span>"
                    placeholder="{{'admin.cardTemplates.templateTypeName' | translate}}"
                    [type]="isSubmitted && form.controls['templateType'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['templateType'].errors !== null"
                    [errors]="form.controls['templateType'].errors"
                    [errorDefs]="[
                      { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.cardTemplates.templateTypeName' | translate }}
                    ]"
        >
        </hbt-select>
      </div>

      <div nz-col nzXs="24" nzLg="12">
        <hbt-select formControlName="isApplyAll"
                    [urlLoadData]="getUrlCategory(categoryCode.CHOOSE_YES_NO)"
                    keyValue="value"
                    keyLabel="name"
                    labelText="{{'admin.cardTemplates.isApplyAll' | translate}}"
                    placeholder="{{'admin.cardTemplates.isApplyAll' | translate}}"
                    [type]="isSubmitted && form.controls['isApplyAll'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['isApplyAll'].errors !== null"
                    [errors]="form.controls['isApplyAll'].errors"
                    [errorDefs]="[
                      { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.cardTemplates.isApplyAll' | translate }}
                    ]"
        >
        </hbt-select>
      </div>

      <div nz-col nzXs="24" nzLg="24">
        <hbt-input-text formControlName="title"
                        [maxLength]="255"
                        [defaultInput]="true"
                        [type]="isSubmitted && form.controls['title'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['title'].errors !== null"
                        [errors]="form.controls['title'].errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '255' }},
                          { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.cardTemplates.title' | translate }}
                        ]"
                        placeholderText="{{'admin.cardTemplates.title' | translate}}"
                        labelText="{{'admin.cardTemplates.title' | translate}} <span class='label__required'>*</span>">
        </hbt-input-text>
      </div>

      <div nz-col nzXs="24" nzLg="24">
        <p class="parameters__title">{{'admin.cardTemplates.defaultParameters' | translate}}</p>
        <nz-table
          nzBordered
          [nzData]="[1]"
          [nzShowPagination]="false"
        >
          <thead>
          <tr>
            <th nzWidth='40%'>{{ 'admin.cardTemplates.code' | translate }}</th>
            <th nzWidth='54%'>{{ 'admin.cardTemplates.name' | translate }}</th>
            <th nzWidth='6%'></th>
          </tr>
          </thead>
          <tbody>
          <ng-container formArrayName="defaultParameters">
            <ng-container *ngFor="let defaultParameter of defaultParameters.controls; let i = index" [formGroupName]="i">
              <tr>
                <td>
                  <hbt-input-text formControlName="code" [maxLength]="255"
                                  [defaultInput]="true"
                                  [type]="isSubmitted && defaultParameter.get('code')?.errors ? 'error' : 'default'"
                                  [showError]="isSubmitted && defaultParameter.get('code')?.errors !== null"
                                  [errors]="defaultParameter.get('code')?.errors"
                                  [errorDefs]="[
                                    { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '255' }},
                                    { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.cardTemplates.code' | translate }},
                                    {errorName: 'duplicate', errorDescription: 'hrm.validate.duplicatePosition' | translate: {'param': 'admin.cardTemplates.code' | translate}},
                                  ]"
                                  placeholderText="{{'admin.cardTemplates.code' | translate}}"
                                  (ngModelChange)="changeDefaultParameter(i)"
                  >
                  </hbt-input-text>
                </td>
                <td>
                  <hbt-input-text formControlName="name" [maxLength]="255"
                                  [defaultInput]="true"
                                  [type]="isSubmitted && defaultParameter.get('name')?.errors ? 'error' : 'default'"
                                  [showError]="isSubmitted && defaultParameter.get('name')?.errors !== null"
                                  [errors]="defaultParameter.get('name')?.errors"
                                  [errorDefs]="[
                                    { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '255' }},
                                    { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.cardTemplates.name' | translate }},
                                    {errorName: 'duplicate', errorDescription: 'hrm.validate.duplicatePosition' | translate: {'param': 'admin.cardTemplates.name' | translate}},
                                  ]"
                                  placeholderText="{{'admin.cardTemplates.name' | translate}}"
                                  (ngModelChange)="changeDefaultParameter(i)"
                  >

                  </hbt-input-text>
                </td>
                <td class="text-center">
                  <em class="menu__item--btn1" nz-icon nzType="plus-circle" nzTheme="outline"
                      nzTooltipTitle="{{'common.title.add' | translate}}" (click)="addNewDefaultParameter()"
                      nzTooltipPlacement="left" nz-button nz-tooltip></em>
                  <em class="menu__item--btn" nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="{{'common.title.delete' | translate}}"
                      nzTooltipPlacement="right" nz-button nz-tooltip (click)="deleteDefaultParameter(i)"></em></td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </nz-table>
      </div>

      <div nz-col nzXs="24" nzLg="24">
        <p class="parameters__title">{{'admin.cardTemplates.parameters' | translate}}</p>
        <nz-table
          nzBordered
          [nzData]="[1]"
          [nzShowPagination]="false"
        >
          <thead>
          <tr>
            <th nzWidth='20%'>{{ 'admin.cardTemplates.code' | translate }}</th>
            <th nzWidth='20%'>{{ 'admin.cardTemplates.name' | translate }} </th>
            <th nzWidth='54%'>{{ 'admin.cardTemplates.defaultValue' | translate }}</th>
            <th nzWidth='6%'></th>
          </tr>
          </thead>
          <tbody>
          <ng-container formArrayName="parameters">
            <ng-container *ngFor="let parameter of parameters.controls; let i = index" [formGroupName]="i">
              <tr>
                <td>
                  <hbt-input-text formControlName="code"
                                  [maxLength]="255"
                                  [defaultInput]="true"
                                  [type]="isSubmitted && parameter.get('code')?.errors ? 'error' : 'default'"
                                  [showError]="isSubmitted && parameter.get('code')?.errors !== null"
                                  [errors]="parameter.get('code')?.errors"
                                  [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '255' }},
                                  { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.cardTemplates.code' | translate }}]"
                                  placeholderText="{{'admin.cardTemplates.code' | translate}}"
                                  (ngModelChange)="changeParameter(i)"
                  >

                  </hbt-input-text>
                </td>
                <td>
                  <hbt-input-text formControlName="name" [maxLength]="255"
                                  [defaultInput]="true"
                                  [type]="isSubmitted && parameter.get('name')?.errors ? 'error' : 'default'"
                                  [showError]="isSubmitted && parameter.get('name')?.errors !== null"
                                  [errors]="parameter.get('name')?.errors"
                                  [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '255' }},
                                  { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.cardTemplates.name' | translate }}]"
                                  placeholderText="{{'admin.cardTemplates.name' | translate}}"
                                  (ngModelChange)="changeParameter(i)"
                  >
                  </hbt-input-text>
                </td>
                <td>
                  <hbt-input-text formControlName="defaultValue" [maxLength]="255"
                                   [isTextAre]="true"
                                   [defaultInput]="true"
                                   [type]="isSubmitted && parameter.get('defaultValue')?.errors ? 'error' : 'default'"
                                   [showError]="isSubmitted && parameter.get('defaultValue')?.errors !== null"
                                   [errors]="parameter.get('defaultValue')?.errors"
                                   [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': '255' }},
                                    { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'admin.cardTemplates.defaultValue' | translate }}]"
                                   placeholderText="{{'admin.cardTemplates.defaultValue' | translate}}"
                                   (ngModelChange)="changeParameter(i)"
                >
                </hbt-input-text>
                </td>
                <td class="text-center">
                  <em class="menu__item--btn1" nz-icon nzType="plus-circle" nzTheme="outline"
                      nzTooltipTitle="{{'common.title.add' | translate}}" (click)="addNewParameter()"
                      nzTooltipPlacement="left" nz-button nz-tooltip></em>
                  <em class="menu__item--btn" nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="{{'common.title.delete' | translate}}"
                      nzTooltipPlacement="right" nz-button nz-tooltip (click)="deleteParameter(i)"></em></td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </nz-table>
      </div>

      <!-- File đính kèm -->
      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <hbt-upload
          [fileList]="f['files'].value"
          [required]="true"
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpeg', 'jpg', 'png', 'doc', 'docx']"
          [multiple]="true"
          labelText="{{'admin.cardTemplates.templateFile' | translate}}"
          (fileListChange)="onFileListChange($event, 'files', true)"
          (docIdsDeleteChange)="removeFile($event, 'files')"
          [serviceName]='microService.ADMIN'
          [showError]="isSubmitted"
          [maxSize]="20"
          [disable]="mode === modeConst.VIEW"
        ></hbt-upload>
      </div>
    </div>
  </form>
</div>
