<form nz-form [formGroup]="form" class="roles-index" (keyup.enter)="search(1)">
  <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
    <div nz-row class="button__action-left">
      <hbt-button
        buttonSize="MEDIUM"
        buttonType="BORDER"
        (click)="export()">
        <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
      </hbt-button>
    </div>
    <div class="search__page-right">
      <hbt-select
        [showAddCategory]="false"
        [urlLoadData]="getUrlCategory(categoryCode.LOAI_PHAN_ANH)"
        [serviceName]="microService.ADMIN"
        formControlName='type'
        keyLabel="name"
        keyValue="value"
        placeholder="{{'admin.feedbacks.type' | translate}}">
      </hbt-select>

      <hbt-select
        [showAddCategory]="false"
        [urlLoadData]="getUrlCategory(categoryCode.SYS_TRANG_THAI_PHAN_ANH)"
        [serviceName]="microService.ADMIN"
        formControlName='status'
        keyLabel="name"
        keyValue="value"
        placeholder="{{'admin.feedbacks.status' | translate}}">
      </hbt-select>

      <hbt-button
        style="margin-left: -20px"
        buttonIconType="AWESOME"
        [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
        buttonSize="VERY_LARGE"
        [buttonTextColor]="_variable.$neutral_100"
        [buttonBorderColor]="_variable.$purple_800"
        [buttonBgColor]="_variable.$purple_800"
        (click)="isShowAdvSearch = !isShowAdvSearch"
      >
      </hbt-button>
    </div>
  </div>

  <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
    <div class="form-search">
      <div nz-row [nzGutter]='[20,15]'>

        <div nz-col [nzXs]="12" [nzLg]="6">
          <hbt-input-text
            formControlName='keySearch'
            placeholderText="{{'admin.feedbacks.keySearch' | translate}}"
            labelText="{{'admin.feedbacks.employee' | translate}}"
            [maxLength]='100'
          >
          </hbt-input-text>
        </div>

        <div nz-col [nzXs]="12" [nzLg]="12" style="display: flex">
          <hbt-date-picker
            style="width: 50%; margin-right: 10px"
            placeholderText="{{'admin.feedbacks.startDate' | translate}}"
            labelText="{{'admin.feedbacks.createdDate' | translate}}"
            [type]="isSubmitted && (form.controls['startDate'].errors || form.errors?.rangeDateError) ? 'error' : 'default'"
            [showError]="isSubmitted && (form.controls['startDate'].errors || form.errors?.rangeDateError) !== null"
            [errors]="form.errors?.rangeDateError ? form.errors : form.controls['startDate'].errors"
            [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'common.validate.rangeDate.pareDate' | translate:
                      {'fromDate': 'admin.feedbacks.startDate' | translate, 'toDate': 'admin.feedbacks.endDate' | translate}}
            ]"
            formControlName="startDate">
          </hbt-date-picker>

          <hbt-date-picker
            style="flex: 1; margin-top: 25px"
            placeholderText="{{'admin.feedbacks.endDate' | translate}}"
            formControlName="endDate">
          </hbt-date-picker>
        </div>
      </div>
    </div>

    <div nz-row class="btn__row-search">
      <div nz-col nzSpan="24">
        <div style="text-align: center">
          <hbt-button
            class="staff__research__btn__search"
            buttonSize="MEDIUM"
            buttonAvailableStyle="SEARCH"
            buttonText="{{'common.button.search' | translate}}"
            (click)="search()"
          ></hbt-button>
        </div>
      </div>
    </div>
  </div>

  <div class="search__content--group" [ngClass]="{'search__content-mrb-3': !isShowAdvSearch}">
    <div nz-row [nzGutter]='[20,20]' class="card__content">
      <ng-container *ngFor="let data of tableData">
        <div nz-col [nzMd]="12" [nzLg]="8" [nzXXl]="6" class="card__item" (dblclick)="doOpenFormDetail(data)">
          <nz-card [nzTitle]="customTitle" [nzExtra]="extraTemplate" class="full-height-card">
            <p class="card__item-content">
              {{ data.content }}
            </p>
          </nz-card>

          <ng-template #customTitle>
            <div class="card__title">
              <p class="card__title-emp">{{ data.employeeCode }} - {{ data.fullName }}</p>
              <p class="card__title-job">{{ data.jobName }} - {{ data.orgName }}</p>
              <p class="card__title-time">
                <span style="opacity: 0.7">{{ data.createdTime }} - </span>
                <span
                  [ngClass]="{'color__primary': data.status === 'NEW', 'color__yellow': data.status === 'PROCESSING', 'color__green': data.status === 'CLOSED'}">
                  {{ data.statusName }}
                </span>
                <span *ngIf="data.typeName">
                 <span style="opacity: 0.7"> - </span><span ngClass="color__primary">
                  {{ data.typeName }}</span>
                </span>
              </p>
            </div>
          </ng-template>

          <ng-template #extraTemplate>
            <btn-more-action [model]="[data]" [setting]="actionSchema">
            </btn-more-action>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
  <div nz-row [nzGutter]='[0,0]' style="margin-top: 10px">
    <div nz-col [nzXs]="24" [nzLg]="24" class="flex" *ngIf="tableConfig.total > 0">
      <div class="group__total--table">
        <img style="margin-right: 5px" src="assets/icon/common/light.svg"
             alt=""> {{ 'common.paging.rangePage' | translate: { 'result': tableConfig.total } }} {{ (tableConfig.pageIndex - 1) * 12 + 1 }}
        - {{ (tableConfig.pageIndex - 1) * 20 + tableData?.length }}
      </div>
      <div>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="tableConfig.total" [nzPageSize]="20"
                       (nzPageIndexChange)="search($event)" nzShowQuickJumper></nz-pagination>
      </div>
    </div>
  </div>

  <ng-template #actionTmpl let-data="data">
    <btn-more-action [model]="[data]" [setting]="actionSchema">
    </btn-more-action>
  </ng-template>

  <ng-template #footerTmpl>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.save' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </ng-template>
</form>