<form nz-form [formGroup]="form" class="mts-index">
  <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
    <div nz-row class="button__action-left">
      <hbt-button
        class="staff__research__btn__search"
        buttonSize="LARGE"
        style="margin-right: 20px"
        [buttonTextColor]="_variable.$neutral_100"
        [buttonBorderColor]="_variable.$purple_800"
        [buttonBgColor]="_variable.$purple_800"
        buttonText="{{'common.button.add' | translate}}"
        (click)="doOpenForm(modeConst.ADD)"
      ></hbt-button>

      <hbt-button buttonSize="LARGE" buttonText="{{'common.button.uploadFile' | translate}}"
                  [buttonTextColor]="_variable.$purple_800" (click)="doImportData()" *ngIf="visibleActionsCount < 2"></hbt-button>
      <hbt-button
        style="margin-left: 20px"
        buttonSize="MEDIUM"
        buttonType="BORDER"
        (click)="export()"
        *ngIf="visibleActionsCount < 2">
        <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
      </hbt-button>
      <btn-more-action *ngIf="visibleActionsCount >= 2" [setting]="actionSchemaHeader" [isBtn]="true">
      </btn-more-action>
    </div>

    <div class="search__page-right">
      <hbt-input-text formControlName='keySearch'
                      [maxLength]='255'
                      placeholderText="{{'common.label.keySearchEmpCodeAndName' | translate}}"></hbt-input-text>
      <hbt-button
        buttonIconType="AWESOME"
        [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
        buttonSize="VERY_LARGE"
        [buttonTextColor]="_variable.$neutral_100"
        [buttonBorderColor]="_variable.$purple_800"
        [buttonBgColor]="_variable.$purple_800"
        (click)="isShowAdvSearch = !isShowAdvSearch"
      >
      </hbt-button>
    </div>
  </div>
  <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
    <div class="form-search">
      <div nz-row [nzGutter]='[20,15]'>
        <!--Đơn vị-->
        <div nz-col [nzXs]='12' [nzLg]='6'>
          <tree-data-picker
            [isExpand]="true"
            [functionCode]="functionCode"
            [scope]="scope"
            labelText="{{'common.organization.org' | translate}}"
            placeholder="{{'common.organization.org' | translate}}"
            formControlName='orgId'
          >
          </tree-data-picker>
        </div>

        <!--Từ kỳ-->
        <div nz-col [nzXs]='12' [nzLg]='8'>
          <hbt-date-picker
            mode="month"
            formControlName="startDate"
            labelText="{{ 'pit.taxCommitments.table.startDate' | translate }}"
            placeholderText="{{ 'pit.taxCommitments.table.startDate' | translate }}"
          ></hbt-date-picker>
        </div>

        <!--Đến kỳ-->
        <div nz-col [nzXs]='12' [nzLg]='8'>
          <hbt-date-picker
            mode="month"
            formControlName="endDate"
            labelText="{{ 'pit.taxCommitments.table.endDate' | translate }}"
            placeholderText="{{ 'pit.taxCommitments.table.endDate' | translate }}"
            [type]="(form.controls['endDate'].errors || form.errors?.rangeDateError) ? 'error' : 'default'"
            [showError]="(form.controls['endDate'].errors || form.errors?.rangeDateError) !== null"
            [errors]="form.errors?.rangeDateError ? form.errors : form.controls['endDate'].errors"
            [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'pit.validate.rangeDate.pareDateMore' | translate:
             {'fromDate': 'pit.taxCommitments.table.startDate' | translate, 'toDate': 'pit.taxCommitments.table.endDate' | translate}}]"
          ></hbt-date-picker>
        </div>

        <div nz-col [nzXs]="24" [nzLg]="24" style="text-align: center">
          <hbt-button
            class="staff__research__btn__search"
            buttonSize="LARGE"
            buttonAvailableStyle="SEARCH"
            buttonText="{{'common.button.search' | translate}}"
            (click)="search()"
          ></hbt-button>
        </div>
      </div>
    </div>
  </div>

  <div class='search__content--group'>
    <hbt-table-wrap>
      <hbt-table
        (changePageNum)="search($event)"
        [tableConfig]="tableConfig" [dataList]="tableData"></hbt-table>
    </hbt-table-wrap>
  </div>

  <ng-template #actionTmpl let-data="data">
    <btn-more-action [model]="[data]" [setting]="actionSchema">
    </btn-more-action>
  </ng-template>

  <hbt-import-file [showContent]='isImportData'
                   (onCloseModal)='doCloseImport($event)'
                   [importApi]='importApi'
                   [downLoadTemplateApi]="downLoadTemplateApi"
                   [fileTemplateName]="fileTemplateName"
                   [doDownloadFileByNameApi]='doDownloadFileByNameApi'>
  </hbt-import-file>
  <ng-template #attachFileTmpl let-attachFileList='attachFileList'>
    <div *ngFor="let file of attachFileList">
      <a class="attach-file" (click)="doDownLoadFile(file); $event.stopPropagation();">{{ file.fileName }}</a>
    </div>
  </ng-template>

  <ng-template #footerTmpl>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="modalRef.destroy()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.save' | translate }}"
      (click)="modalRef.getContentComponent().save()">
    </hbt-button>
  </ng-template>

</form>