
<form nz-form [formGroup]="form" class="cps">
  <div class='admin'>
    <div class="search__custom-common remove__mr__bt-40">
      <div nz-row class="button__action-left">
        <hbt-button
          class="staff__research__btn__search"
          buttonSize="LARGE"
          buttonAvailableStyle="ADD"
          buttonText="{{'common.button.add' | translate}}"
          *ngIf="objFunction?.create"
          (click)="doOpenForm(modeConst.ADD)"
        ></hbt-button>

      </div>
      <div class="search__page-right">
        <hbt-input-text formControlName='keySearch'
                        [maxLength]='255'
                        placeholderText="{{'admin.configPages.label.keySearch'| translate}}"></hbt-input-text>
      </div>
    </div>

    <div class='search__content--group'>
      <hbt-table-wrap>
        <div>
          <p *ngIf="listId.length > 0" style="margin: 0">{{'common.label.selected' | translate}}
            : {{listId.length}}</p>
        </div>
        <hbt-table
          (changePageNum)='search($event)'
          [tableConfig]='tableConfig' [dataList]="tableData" (amountSelectedRowsChange)="listId = $event"
        ></hbt-table>
      </hbt-table-wrap>
    </div>


    <ng-template #actionTmpl let-data="data">
      <btn-more-action [model]="[data]" [setting]="actionSchema">
      </btn-more-action>
    </ng-template>


    <ng-template #footerTmpl>
      <hbt-button
        buttonAvailableStyle="CANCEL"
        buttonText="{{ 'common.button.cancel' | translate }}"
        (click)="modalRef.destroy()">
      </hbt-button>
      <hbt-button
        buttonAvailableStyle="SAVE"
        buttonText="{{ 'common.button.saveS' | translate }}"
        (click)="modalRef.getContentComponent().save()">
      </hbt-button>
    </ng-template>

    <hbt-import-file [showContent]='isImportData'
                     (onCloseModal)='doCloseImport($event)'
                     [importApi]='importApi'
                     [downLoadTemplateApi]="downLoadTemplateApi"
                     [fileTemplateName]="fileTemplateName"
                     [doDownloadFileByNameApi]='doDownloadFileByNameApi'>
    </hbt-import-file>




  </div>
</form>
