@import "../../../../../core/global-style/variable";

::ng-deep .book__layout .costume__search .ant-btn {
  position: absolute;
  right: 0;
  z-index: 9;
}

.content__home {
  margin-top: 30px;
}

::ng-deep nz-tree-node {
  border-radius: 10px !important;
  padding: 8px 5px !important;
}

.org__name {
  font-weight: bold;
  font-size: 22px;
}

::ng-deep .scale-effect {
  transform: scale(1.1) !important;
  transition: transform 0.3s ease !important;
}

.item__home--left {
  max-height: 100vh;
  overflow-y: auto;
}


.book__type-header {
  font-weight: bold;
  font-size: 22px;
}

.icon__caret-down {
  cursor: pointer;
  margin-right: 8px;
  margin-left: -5px;
}

.display__none-tree {
  display: none;
}


::ng-deep .book__layout .ant-tabs-tab {
  padding: 10px 35px !important;
  margin-right: 10px !important;
  border-radius: 5px !important;
}

::ng-deep .book__layout .ant-tabs-tab-active {
  background-color: $primary-400 !important;

  .ant-tabs-tab-btn {
    color: $bg-form-default !important;
  }
}
