<div class='customer-form'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <!--tên khách hàng-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-input-text formControlName="fullName" maxLength="255"
                        [type]="isSubmitted && form.controls['fullName']?.errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['fullName']?.errors != null"
                        [errors]="form.controls['fullName']?.errors"
                        [errorDefs]="[ { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.familyRelationships.table.fullName' | translate }},
          { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                        placeholderText="{{'crm.customers.table.fullName' | translate}}"
                        labelText="{{'crm.customers.table.fullName' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <!--số điện thoại-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-input-text formControlName="mobileNumber"
                        appNumberInput
                        [maxLength]="10"
                        (ngModelChange)="mode === modeConst.ADD ? form.controls['loginName'].setValue(form.controls['mobileNumber'].value) : null"
                        [type]="isSubmitted && form.controls['mobileNumber']?.errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['mobileNumber']?.errors != null"
                        [errors]="form.controls['mobileNumber']?.errors"
                        [errorDefs]="[
                          { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.familyRelationships.table.mobileNumber' | translate }},
                          { errorName: 'phoneMobile', errorDescription: 'crm.validate.mobileNumber' | translate},
                        ]"
                        placeholderText="{{'crm.customers.table.mobileNumber' | translate}}"
                        labelText="{{'crm.customers.table.mobileNumber' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>


      <!--Tài khoản đăng nhập-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-input-text formControlName="loginName" maxLength="255"
                        [disable]="isDisabledValue"
                        [type]="isSubmitted && form.controls['loginName']?.errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['loginName']?.errors != null"
                        [errors]="form.controls['loginName']?.errors"
                        [errorDefs]="[]"
                        placeholderText="{{'crm.customers.table.loginName' | translate}}"
                        labelText="{{'crm.customers.table.loginName' | translate}} <span class='label__required'>*</span>"
                        [labelText]="getLabelText('crm.customers.table.loginName', !isDisabledValue)"
        ></hbt-input-text>
      </div>

      <!--Mật khẩu-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-input-text formControlName="password" maxLength="255"
                        [disable]="isDisabledValue"
                        [type]="isSubmitted && form.controls['password']?.errors ? 'error' : 'default'"
                        inputType="password"
                        [defaultInput]="true"
                        [inputType]="isFocus ? 'text':'password'"
                        [showError]="isSubmitted && form.controls['password']?.errors != null"
                        [errors]="form.controls['password']?.errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                        placeholderText="{{'crm.customers.table.password' | translate}}"
                        labelText="{{'crm.customers.table.password' | translate}} <span class='label__required'>*</span>"
                        [labelText]="getLabelText('crm.customers.table.password', !isDisabledValue)"
        ></hbt-input-text>
        <label class="pass-eye" (click)="onLabelClick()"><i *ngIf="isFocus" class="fa fa-eye"></i><i *ngIf="!isFocus"
                                                                                                     class="fa fa-eye-slash"></i></label>
      </div>

      <!--Giới tính-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.GIOI_TINH)" keyLabel="name"
                    formControlName="genderId"
                    [type]="isSubmitted && form.controls['genderId']?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['genderId']?.errors != null"
                    [errors]="form.controls['genderId']?.errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.customers.table.genderId' | translate }}]"
                    placeholder="{{'crm.customers.table.genderId' | translate}}"
                    labelText="{{'crm.customers.table.genderId' | translate}}"
        ></hbt-select>
      </div>

      <!--Ngày sinh-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-date-picker
          [type]="isSubmitted && form.controls['dateOfBirth']?.errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['dateOfBirth']?.errors != null"
          [errors]="form.controls['dateOfBirth']?.errors"
          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
          placeholderText="{{'crm.customers.table.dateOfBirth' | translate}}"
          labelText="{{'crm.customers.table.dateOfBirth' | translate}}"
          formControlName="dateOfBirth"></hbt-date-picker>
      </div>

      <!--địa chỉ email-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-input-text formControlName="email" maxLength="255"
                        [type]="isSubmitted && form.controls['email']?.errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['email']?.errors != null"
                        [errors]="form.controls['email']?.errors"
                        [errorDefs]="[
            { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}},
            { errorName: 'email', errorDescription: 'crm.validate.format' | translate: {'param': 'email'}},
          ]"
                        placeholderText="{{'crm.customers.table.email' | translate}}"
                        labelText="{{'crm.customers.table.email' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Tài khoản zalo-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-input-text formControlName="zaloAccount" maxLength="255"
                        [type]="isSubmitted && form.controls['zaloAccount']?.errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['zaloAccount']?.errors != null"
                        [errors]="form.controls['zaloAccount']?.errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                        placeholderText="{{'crm.customers.table.zaloAccount' | translate}}"
                        labelText="{{'crm.customers.table.zaloAccount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Người giới thiệu-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-select urlLoadData="/customers/pageable"
                    [isLoadMore]="true"
                    [serviceName]="serviceName"
                    keyValue="customerId"
                    keyLabel="phoneAndName"
                    formControlName="introducerId"
                    [type]="isSubmitted && form.controls['introducerId']?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['introducerId']?.errors != null"
                    [errors]="form.controls['introducerId']?.errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.customers.table.introducerId' | translate }}]"
                    placeholder="{{'crm.customers.table.introducerId' | translate}}"
                    labelText="{{'crm.customers.table.introducerId' | translate}}"
        ></hbt-select>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-select urlLoadData="/customers/pageable"
                    [isLoadMore]="true"
                    [serviceName]="serviceName"
                    keyValue="customerId"
                    keyLabel="phoneAndName"
                    formControlName="receiverId"
                    [type]="isSubmitted && form.controls['receiverId']?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['receiverId']?.errors != null"
                    [errors]="form.controls['receiverId']?.errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.customers.table.receiverId' | translate }}]"
                    placeholder="{{'crm.customers.table.receiverId' | translate}}"
                    labelText="{{'crm.customers.table.receiverId' | translate}}"
        ></hbt-select>
      </div>

      <!--Người chăm sóc-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-select urlLoadData="/customers/pageable"
                    [isLoadMore]="true"
                    [serviceName]="serviceName"
                    keyValue="customerId"
                    keyLabel="phoneAndName"
                    formControlName="userTakeCareId"
                    [type]="isSubmitted && form.controls['userTakeCareId']?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['userTakeCareId']?.errors != null"
                    [errors]="form.controls['userTakeCareId']?.errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.customers.table.userTakeCareId' | translate }}]"
                    placeholder="{{'crm.customers.table.userTakeCareId' | translate}}"
                    labelText="{{'crm.customers.table.userTakeCareId' | translate}}"
        ></hbt-select>
      </div>

      <!--Nghề nghiệp-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-input-text formControlName="job" maxLength="255"
                        [type]="isSubmitted && form.controls['job']?.errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['job']?.errors != null"
                        [errors]="form.controls['job']?.errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                        placeholderText="{{'crm.customers.table.job' | translate}}"
                        labelText="{{'crm.customers.table.job' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Đơn vị công tác-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-input-text formControlName="departmentName" maxLength="255"
                        [type]="isSubmitted && form.controls['departmentName']?.errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['departmentName']?.errors != null"
                        [errors]="form.controls['departmentName']?.errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                        placeholderText="{{'crm.customers.table.departmentName' | translate}}"
                        labelText="{{'crm.customers.table.departmentName' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Số tài khoản-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-input-text formControlName="bankAccount" maxLength="255"
                        [type]="isSubmitted && form.controls['bankAccount']?.errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['bankAccount']?.errors != null"
                        [errors]="form.controls['bankAccount']?.errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                        placeholderText="{{'crm.customers.table.bankAccount' | translate}}"
                        labelText="{{'crm.customers.table.bankAccount' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Ngân hàng-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-input-text formControlName="bankName" maxLength="255"
                        [type]="isSubmitted && form.controls['bankName']?.errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['bankName']?.errors != null"
                        [errors]="form.controls['bankName']?.errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                        placeholderText="{{'crm.customers.table.bankName' | translate}}"
                        labelText="{{'crm.customers.table.bankName' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Chi nhánh-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-input-text formControlName="bankBranch" maxLength="255"
                        [type]="isSubmitted && form.controls['bankBranch']?.errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['bankBranch']?.errors != null"
                        [errors]="form.controls['bankBranch']?.errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                        placeholderText="{{'crm.customers.table.bankBranch' | translate}}"
                        labelText="{{'crm.customers.table.bankBranch' | translate}}"
        ></hbt-input-text>
      </div>

      <!--Trạng thái-->
      <div nz-col [nzXs]="12" [nzLg]="6">
        <hbt-select [urlLoadData]="getUrlCategory(categoryCode.CRM_TRANG_THAI_KHACH_HANG)" keyValue="value"
                    keyLabel="name"
                    formControlName="status"
                    [type]="isSubmitted && form.controls['status']?.errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['status']?.errors != null"
                    [errors]="form.controls['status']?.errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'crm.customers.table.status' | translate }}]"
                    placeholder="{{'crm.customers.table.status' | translate}}"
                    labelText="{{'crm.customers.table.status' | translate}}"
        ></hbt-select>
      </div>

      <ng-container formArrayName="listAttributes">
        <ng-container *ngFor="let attributes of attributesFormArray.controls; let idx = index" [formGroupName]="idx">
          <div nz-col [nzXs]="attributes.get('nzXs')?.value ? attributes.get('nzXs')?.value : 12" 
          [nzLg]="attributes.get('nzLg')?.value ? attributes.get('nzLg')?.value : 6">
            <input-attribute-common
              [controlName]="getAttributeControl(idx, 'attributeValue')"
              [dataType]="attributes.get('dataType')?.value"
              [urlLoadData]="attributes.get('urlLoadData')?.value"
              [type]="isSubmitted && attributes.get('attributeValue')?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && attributes.get('attributeValue')?.errors != null"
              [errors]="attributes.get('attributeValue')?.errors"
              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': attributes.get('attributeName')?.value | translate }}]"
              [placeholderText]="attributes.get('attributeName')?.value"
              [labelText]="getLabelText(attributes.get('attributeName')?.value, attributes.get('isRequired')?.value)"
            >
            </input-attribute-common>
          </div>
        </ng-container>
      </ng-container>

      <div nz-col [nzXs]="24" [nzLg]="24">
        <div nz-col [nzXs]="24" [nzLg]="24">
          <diV class="relationship-title">
            <div
              class="save-form-crm__title">{{ 'crm.customers.label.informationAboutFamilyRelationship' | translate }}
            </div>
            <div style="display: flex; justify-content: right">
              <span class="add" (click)="doOpenForm(modeConst.ADD)">{{ 'common.button.add' | translate }}</span>
            </div>
          </diV>
          <div nz-menu-divider></div>
        </div>
        <div nz-col [nzXs]="24" [nzLg]="24">
          <div nz-row [nzGutter]='[20,15]'>
            <ng-container *ngFor="let familyRelationship of listFamilyRelationshipData; let idx = index">
              <div nz-col [nzXs]="24" [nzLg]="8">
                <div class="relationship-card">
                  <div class="relationship-card__content">
                    <span
                      class="text-bold">{{ familyRelationship.relationTypeName }}</span>: {{ familyRelationship.fullName }}
                    | <span class="text-bold">{{ 'crm.customers.table.dateOfBirth' | translate }}
                    :</span> {{ familyRelationship.dateOfBirth }}
                  </div>
                  <div class="relationship-card__action">
                    <em class="menu__item--btn1" nz-icon nzType="edit" nzTheme="outline"
                        nzTooltipTitle="{{'common.title.edit' | translate}}" (click)="doOpenForm(modeConst.EDIT, idx)"
                        nzTooltipPlacement="left" nz-button nz-tooltip></em>
                    <em class="menu__item--btn" nz-icon nzType="delete" nzTheme="outline"
                        nzTooltipTitle="{{'common.title.delete' | translate}}"
                        nzTooltipPlacement="right" nz-button nz-tooltip (click)="removeFamilyRelationship(idx)"></em>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>

<ng-template #footerTmpl>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef.destroy()">
  </hbt-button>
  <hbt-button
    buttonAvailableStyle="SAVE"
    buttonText="{{ 'common.button.saveS' | translate }}"
    (click)="modalRef.getContentComponent().save()">
  </hbt-button>
</ng-template>
