@import "src/app/core/global-style/variable";
.save-form-crm__title {
  font-family: avertaB, sans-serif;
  font-size: 16px;
}

.relationship-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.relationship-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid $bd-default;
  &__content {
    border-radius: 10px;
    border: 1px solid $bd-default;
    height: 45px;
    align-content: center;
    width: 100%;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__action {
    display: flex;
    align-items: center;
    padding: 5px;
  }
}

.menu__item--btn {
  font-size: 16px;
  padding: 5px;
  color: $error-500;

  &:hover ,&1{
    cursor: pointer;
  }
}

.pass-eye {
  position: absolute;
  top: 45px;
  right: 24px;
  font-size: 16px;
  cursor: pointer;
}

.family-relationship-add {
  margin-left: 25px;
  cursor: pointer;
  color: $primary-500;
}

.family-relationship-info{
  display: flex;
}

.text-wrap{
  margin-bottom: 0;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 85%;
}

.customer-form .add{
  font-size: 16px;
  color: $primary-500;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 10px;
}

.button-action{
  margin-left: auto;
  display: contents;
}

.btn-edit{
  cursor: pointer;
  color: blue;
  font-size: large;
}

.btn-removed{
  color: #EB2D4B;
  font-size: large;
  cursor: pointer;
  z-index: 1;
  position: relative;
  margin-left: 10px;
}

.text-bold{
  font-weight: 600;
  color: black;
}

.input__label{
  font-size: 16px;
  font-weight: 600;
}

.family-relationship-info {
  margin: 30px 15px 20px 17px;
  display: flex;
  background-color: #f2f3f7;
  transition: ease 0.2s;
  border: 1.5px solid #f2f3f7;
}

.family-relationship-info:hover {
  background-color: #d3ddf1;
  border: 1.5px solid #1677ff;
}