@import 'src/app/core/global-style/variable';

.salary-rank .menu__item--btn {
  font-size: 16px;
  padding: 3px;
  color: $error-500;

  &:hover {
    cursor: pointer;
  }
}

.salary-rank .menu__item--btn1 {
  font-size: 16px;
  padding: 3px;
  color: $bg-default;

  &:hover {
    cursor: pointer;
  }
}

.salary-rank .text-center {
  text-align: center;
}

.salary-rank .label__required {
  color: $error-default-color;
}

::ng-deep .salary-rank .ant-card-head {
  margin-top: -40px !important;
}

::ng-deep .salary-rank .ant-pagination {
  display: none;
}


.salary-rank .hbt-select {
  position: relative;
  z-index: 1;
}