<loading-page></loading-page>
<div class="pytago">
  <div class="pytago__header">
    <img src="assets/images/crm/logo.png" style="max-width: 200px; height: auto">
    <div class="pytago__header__action">
      <button *ngIf="!userLogin" (click)="openFormLogin()"> Đăng nhập</button>
      <div *ngIf="userLogin">
        <div style="margin-right: 10px;font-size: 20px;font-weight: bolder; margin-bottom: 10px;">
          ID - {{userLogin?.loginName}} | <span style="cursor: pointer;" (click)="onLogout()">Đăng xuất</span>
        </div>
        <div style="margin-right: 10px;font-size: 17px;">
          <span
            style="padding: 3px 20px;background-color: {{_variable.$error_500}};border: 1px solid beige;">Đã xuất: {{(state.shudData?.totalExported ?? 0).toLocaleString('en-US')}}</span>
          <span
            style="padding: 3px 20px;background-color: #ffffff;border: 1px solid beige;">Còn lại: {{((state.shudData?.totalExport ?? 0) - (state.shudData?.totalExported ?? 0))?.toLocaleString('en-US')}}</span>
        </div>
      </div>
    </div>
  </div>
  <div nz-row class="pytago__form">
    <div nz-col class="pytago__form__left" nzLg="13" nzSm="24">
      <div class="pytago__form__left__title">SỐ HỌC ỨNG DỤNG PYTAGO</div>
      <div nz-row class="pytago__form__left__content">
        <div nz-col nzSpan="24" class="pytago__form__left__content__input">
          <nz-select [(ngModel)]="state.user.person_type">
            <nz-option nzValue="NGUOI_LON" nzLabel="DÀNH CHO NGƯỜI LỚN"></nz-option>
            <nz-option nzValue="TRE_EM" nzLabel="DÀNH CHO TRẺ EM 0 - 13 TUỔI"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="24" class="pytago__form__left__content__input">
          <nz-input-group [nzPrefix]="prefixTemplateName">
            <input [(ngModel)]="state.user.name" type="text" nz-input
                   [placeholder]="state.user.person_type === 'TRE_EM' ? 'Họ tên bé' : 'Họ tên'"/>
          </nz-input-group>
          <ng-template #prefixTemplateName><span nz-icon nzType="user"></span></ng-template>
        </div>
        <div nz-col nzSpan="24" class="pytago__form__left__content__input">
          <nz-input-group [nzPrefix]="prefixTemplateBirthday">
<!--            <input [(ngModel)]="state.user.birthday" type="text" nz-input placeholder="Ngày/Tháng/NămSinh"/>-->
            <nz-date-picker [(ngModel)]="state.user.birthday" nzFormat="dd/MM/yyyy" nzPlaceHolder="Ngày/Tháng/NămSinh"></nz-date-picker>
          </nz-input-group>
          <ng-template #prefixTemplateBirthday><span nz-icon nzType="calendar"></span></ng-template>
        </div>
        <div nz-col nzSpan="24" class="pytago__form__left__content__input" *ngIf="state.user.person_type === 'TRE_EM'">
          <nz-input-group [nzPrefix]="prefixTemplateParentName">
            <input [(ngModel)]="state.user.parent_name" type="text" nz-input placeholder="Họ tên phụ huynh"/>
          </nz-input-group>
          <ng-template #prefixTemplateParentName><span nz-icon nzType="user-switch"></span></ng-template>
        </div>
        <div nz-col nzSpan="24" class="pytago__form__left__content__input">
          <nz-input-group [nzPrefix]="prefixTemplateMobile">
            <input [(ngModel)]="state.user.mobile" type="text" nz-input placeholder="Số điện thoại"/>
          </nz-input-group>
          <ng-template #prefixTemplateMobile><span nz-icon nzType="phone"></span></ng-template>
        </div>
        <div nz-col nzSpan="24" class="pytago__form__left__content__input">
          <nz-input-group [nzPrefix]="prefixTemplateEmail">
            <input [(ngModel)]="state.user.email" type="text" nz-input placeholder="Email"/>
          </nz-input-group>
          <ng-template #prefixTemplateEmail><span nz-icon nzType="mail"></span></ng-template>
        </div>
        <div nz-col nzSpan="24" class="pytago__form__left__content__input">
          <nz-input-group [nzPrefix]="prefixTemplateAddress">
            <input [(ngModel)]="state.user.address" type="text" nz-input placeholder="Địa chỉ"/>
          </nz-input-group>
          <ng-template #prefixTemplateAddress><span nz-icon nzType="home"></span></ng-template>
        </div>
      </div>
      <div class="pytago__form__left__action">
        <button (click)="onFinish(state.user)"> Tra cứu</button>
        <button [ngClass]="{'disable-export': disableExport}" (click)="!disableExport && printBook()"> In sách</button>
      </div>
    </div>
    <div nz-col class="pytago__form__right" nzLg="11" nzSm="24">
      <div style="align-content: center;">
        <img src="/assets/images/crm/ceo2.jpg">
      </div>
    </div>
  </div>
  <div nz-row class="pytago__result-header">
    <div nz-col class="pytago__result-header__title" nzLg="12" nzSm="24">
      <p>Bài phân tích</p>
      <p>số học của bạn</p>
    </div>
    <div nz-col class="pytago__result-header__data-detail" nzLg="2" nzSm="24">
    </div>
    <div nz-col class="pytago__result-header__data-detail" nzLg="10" nzSm="24">
      <div *ngIf="state?.shud?.fullname" class="pytago__result-header__data-detail__item">
        <span nz-icon nzType="user"></span> {{state?.shud?.fullname}}
      </div>
      <div *ngIf="state?.shud?.birthday" class="pytago__result-header__data-detail__item">
        <span nz-icon nzType="calendar"></span> {{state?.shud?.birthday}} <span nz-icon nzType="edit"></span> {{state?.shud?.age_with_year}}
      </div>
      <div *ngIf="state?.shud?.email" class="pytago__result-header__data-detail__item">
        <span nz-icon nzType="mail"></span> {{state?.shud?.email}}
      </div>
      <div *ngIf="state?.shud?.mobile" class="pytago__result-header__data-detail__item">
        <span nz-icon nzType="phone"></span> {{state?.shud?.mobile}}
      </div>
    </div>
  </div>
  <div nz-row class="pytago__table">
    <table class="pytago__table__result">
      <tr>
        <td>Trưởng thành</td>
        <td class="res_truongThanh">{{state?.shud?.HK_truong_thanh}}</td>
        <td>Nội tâm</td>
        <td class="res_noiTam">{{state?.shud?.HK_noi_tam}}</td>
      </tr>
      <tr>
        <td>Sứ mệnh</td>
        <td class="res_sumenh">{{state?.shud?.HK_su_menh}}</td>
        <td>Nội cảm</td>
        <td class="res_noiCam">{{state?.shud?.HK_noi_cam?.join(",")}}</td>
      </tr>
      <tr>
        <td>Đường đời</td>
        <td class="res_duongdoi">{{state?.shud?.HK_duong_doi}}</td>
        <td>Ngày sinh</td>
        <td class="res_soNgaySinh">{{state?.shud?.HK_ngay_sinh}}</td>
      </tr>
      <tr>
        <td>Đỉnh cao I</td>
        <td class="dinh1">{{state?.shud?.dinhcao1}}</td>
        <td>Tương tác</td>
        <td class="res_tuongTac">{{state?.shud?.HK_tuong_tac}}</td>
      </tr>
      <tr>
        <td>Đỉnh cao II</td>
        <td class="dinh2">{{state?.shud?.dinhcao2}}</td>
        <td>Thái độ</td>
        <td class="res_thaiDo">{{state?.shud?.HK_thai_do}}</td>
      </tr>
      <tr>
        <td>Đỉnh cao III</td>
        <td class="dinh3">{{state?.shud?.dinhcao3}}</td>
        <td>Số lặp</td>
        <td class="res_soLap">{{state?.shud?.HK_so_lap?.join(",")}}</td>
      </tr>
      <tr>
        <td>Đỉnh cao IV</td>
        <td class="dinh4">{{state?.shud?.dinhcao4}}</td>
        <td id="td-special01">Kết nối nội tâm<br/>và tương tác</td>
        <td class="res_noitamAndTuongtac">{{state?.shud?.HK_ket_noi_noi_tam_va_tuong_tac}}</td>
      </tr>
      <tr>
        <td>Năm cá nhân</td>
        <td class="res_namCaNhan">{{state?.shud?.HK_nam_ca_nhan}}</td>
        <td>Cân bằng</td>
        <td class="res_soCanBang">{{state?.shud?.HK_can_bang}}</td>
      </tr>
      <tr>
        <td id="td-special02">Kết nối sứ mệnh<br/>và đường đời</td>
        <td class="res_sumenhAndDuongdoi">{{state?.shud?.HK_ket_noi_duong_doi_va_su_menh}}</td>
        <td>Bổ sung</td>
        <td class="res_soBoSung">{{state?.shud?.HK_bo_sung?.join(",")}}</td>
      </tr>
      <tr>
        <td>Trải nghiệm</td>
        <td class="res_trainghiem">{{state?.shud?.HK_trai_nghiem}}</td>
        <td>Trực giác</td>
        <td class="res_trucgiac">{{state?.shud?.HK_truc_giac}}</td>
      </tr>
      <tr>
        <td>Cảm xúc</td>
        <td class="res_camxuc">{{state?.shud?.HK_cam_xuc}}</td>
        <td>Logic</td>
        <td class="res_logic">{{state?.shud?.HK_logic}}</td>
      </tr>
      <tr>
        <td>Thách thức</td>
        <td class="res_thuthach">{{state?.shud?.HK_thach_thuc?.join(",")}}</td>
        <td></td>
        <td class=""></td>
      </tr>
    </table>
  </div>
  <div nz-row class="pytago__chart">
    <div nz-col nzXXl="12" nzXl="13" nzLg="24" nzSm="24" class="pytago__chart__birth">
      <img src="/assets/images/crm/chart-birth.jpg" style="width: 600px;"/>
      <img src="/assets/images/crm/line-quyettam.png" class="img-square" *ngIf="state?.linedate?.date159"/>
      <img src="/assets/images/crm/line-tamlinh.png" class="img-square" *ngIf="state?.linedate?.date357"/>
      <img src="/assets/images/crm/line-kehoachtochuc.png" class="img-square" *ngIf="state?.linedate?.date123"/>
      <img src="/assets/images/crm/line-ychikhatvong.png" class="img-square" *ngIf="state?.linedate?.date456"/>
      <img src="/assets/images/crm/line-hanhdongchudong.png" class="img-square" *ngIf="state?.linedate?.date789"/>
      <img src="/assets/images/crm/line-tritue.png" class="img-square" *ngIf="state?.linedate?.date369"/>
      <img src="/assets/images/crm/line-tamhon.png" class="img-square" *ngIf="state?.linedate?.date258"/>
      <img src="/assets/images/crm/line-thechat3.png" class="img-square" *ngIf="state?.linedate?.date147"/>

      <span class="square-text"
            style="margin-left: 8px;margin-top: 133px;">{{state?.shud?.HK_bieu_do_ngay_sinh[3]}}</span>
      <span class="square-text"
            style="margin-left: 128px;margin-top: 133px;">{{state?.shud?.HK_bieu_do_ngay_sinh[6]}}</span>
      <span class="square-text"
            style="margin-left: 244px;margin-top: 133px;">{{state?.shud?.HK_bieu_do_ngay_sinh[9]}}</span>

      <span class="square-text"
            style="margin-left: 8px;margin-top: 251px;">{{state?.shud?.HK_bieu_do_ngay_sinh[2]}}</span>
      <span class="square-text"
            style="margin-left: 128px;margin-top: 251px;">{{state?.shud?.HK_bieu_do_ngay_sinh[5]}}</span>
      <span class="square-text"
            style="margin-left: 244px;margin-top: 251px;">{{state?.shud?.HK_bieu_do_ngay_sinh[8]}}</span>

      <span class="square-text"
            style="margin-left: 8px;margin-top: 371px;">{{state?.shud?.HK_bieu_do_ngay_sinh[1]}}</span>
      <span class="square-text"
            style="margin-left: 128px;margin-top: 371px;">{{state?.shud?.HK_bieu_do_ngay_sinh[4]}}</span>
      <span class="square-text"
            style="margin-left: 244px;margin-top: 371px;">{{state?.shud?.HK_bieu_do_ngay_sinh[7]}}</span>
    </div>
    <div nz-col nzXXl="4" nzXl="0" nzLg="0">
    </div>
    <div nz-col nzXXl="8" nzXl="11" nzLg="24" class="pytago__chart__name">
      <img src="/assets/images/crm/chart-name.jpg" style="width: 400px;"/>
      <img src="/assets/images/crm/linename-quyettam.png" class="img-name" *ngIf="state?.linename?.name159"/>
      <img src="/assets/images/crm/linename-tamlinh.png" class="img-name" *ngIf="state?.linename?.name357"/>
      <img src="/assets/images/crm/linename-kehoachtochuc.png" class="img-name" *ngIf="state?.linename?.name123"/>
      <img src="/assets/images/crm/linename-ychikhatvong.png" class="img-name" *ngIf="state?.linename?.name456"/>
      <img src="/assets/images/crm/linename-hanhdongchudong.png" class="img-name" *ngIf="state?.linename?.name789"/>
      <img src="/assets/images/crm/linename-tritue.png" class="img-name" *ngIf="state?.linename?.name369"/>
      <img src="/assets/images/crm/linename-tamhon.png" class="img-name" *ngIf="state?.linename?.name258"/>
      <img src="/assets/images/crm/linename-thechat.png" class="img-name" *ngIf="state?.linename?.name147"/>

      <span class="square-text" style="margin-left: 13px;margin-top: 67px;">{{state?.shud?.HK_bieu_do_ho_ten[3]}}</span>
      <span class="square-text"
            style="margin-left: 133px;margin-top: 67px;">{{state?.shud?.HK_bieu_do_ho_ten[6]}}</span>
      <span class="square-text"
            style="margin-left: 255px;margin-top: 67px;">{{state?.shud?.HK_bieu_do_ho_ten[9]}}</span>

      <span class="square-text"
            style="margin-left: 13px;margin-top: 188px;">{{state?.shud?.HK_bieu_do_ho_ten[2]}}</span>
      <span class="square-text"
            style="margin-left: 133px;margin-top: 188px;">{{state?.shud?.HK_bieu_do_ho_ten[5]}}</span>
      <span class="square-text"
            style="margin-left: 255px;margin-top: 188px;">{{state?.shud?.HK_bieu_do_ho_ten[8]}}</span>

      <span class="square-text"
            style="margin-left: 13px;margin-top: 312px;">{{state?.shud?.HK_bieu_do_ho_ten[1]}}</span>
      <span class="square-text"
            style="margin-left: 133px;margin-top: 312px;">{{state?.shud?.HK_bieu_do_ho_ten[4]}}</span>
      <span class="square-text"
            style="margin-left: 255px;margin-top: 312px;">{{state?.shud?.HK_bieu_do_ho_ten[7]}}</span>
    </div>

  </div>
  <div nz-row class="pytago__triangle">
    <img src="/assets/images/crm/point2.jpg" style="width: 90%;"/>
    <!--    DINH 1     -->
    <span class="pytago__triangle__text"
          style="color: #ffffff;margin-left: 7.7vw;margin-top: 23.55vw;">{{state?.triangle?.top1?.age_top}}</span>
    <span class="pytago__triangle__text"
          style="color: {{_variable.$purple_900}};margin-left: 7.7vw;margin-top: 26.55vw;">{{state?.triangle?.top1?.age}}</span>
    <span class="pytago__triangle__text"
          style="color: {{_variable.$purple_900}};margin-left: 7.7vw;margin-top: 28.55vw;">{{state?.triangle?.top1?.year}}</span>

    <!--    DINH 2     -->
    <span class="pytago__triangle__text"
          style="color: #ffffff;margin-left: 19.8vw;margin-top: 17.45vw;">{{state?.triangle?.top2?.age_top}}</span>
    <span class="pytago__triangle__text"
          style="color: {{_variable.$purple_900}};margin-left: 21vw;margin-top: 20vw;">{{state?.triangle?.top2?.age}}</span>
    <span class="pytago__triangle__text"
          style="color: {{_variable.$purple_900}};margin-left: 22.5vw;margin-top: 22vw;">{{state?.triangle?.top2?.year}}</span>

    <!--    DINH 3     -->
    <span class="pytago__triangle__text"
          style="color: #ffffff;margin-left: 31.15vw;margin-top: 11.25vw;">{{state?.triangle?.top3?.age_top}}</span>
    <span class="pytago__triangle__text"
          style="color: {{_variable.$purple_900}};margin-left: 32.5vw;margin-top: 14vw;">{{state?.triangle?.top3?.age}}</span>
    <span class="pytago__triangle__text"
          style="color: {{_variable.$purple_900}};margin-left: 34.1vw;margin-top: 16vw;">{{state?.triangle?.top3?.year}}</span>

    <!--    DINH 4     -->
    <span class="pytago__triangle__text"
          style="color: #ffffff;margin-left: 42.75vw;margin-top: 4.75vw;">{{state?.triangle?.top4?.age_top}}</span>
    <span class="pytago__triangle__text"
          style="color: {{_variable.$purple_900}};margin-left: 44.5vw;margin-top: 7.7vw;">{{state?.triangle?.top4?.age}}</span>
    <span class="pytago__triangle__text"
          style="color: {{_variable.$purple_900}};margin-left: 45.8vw;margin-top: 9.7vw;">{{state?.triangle?.top4?.year}}</span>
  </div>
  <div nz-row class="pytago__helper">
    <p nz-col nzSpan="24" class="pytago__helper__title">VIDEO GIẢI NGHĨA</p>
    <ng-container *ngFor="let video of videoExplain">
      <div nz-col nzSpan="22" nzLg="14" nzSm="22" class="pytago__helper__video-box">
        <img src="/assets/images/crm/flower.png">
        <span>{{video.name}}</span>
        <span><a [href]="video.url" target="Blank">Xem ngay</a></span>
      </div>
    </ng-container>
  </div>
  <div nz-row class="pytago__contract">
    <div nz-col nzSpan="22" nzLg="14" nzSm="22" class="title">HỌC VIỆN NÂNG TẦM VIỆT NAM</div>
    <div nz-col nzSpan="22" nzLg="14" nzSm="22" class="info-footer">
      <h2><em nz-icon nzType="global" nzTheme="outline" style="margin-right: 10px"></em>Website: <a href="#"> hocviennangtam.vn</a></h2>
      <h2><em nz-icon nzType="mail" nzTheme="outline" style="margin-right: 10px"></em>Email: <a href="#"> hocviennangtamvietnam@gmail.com</a></h2>
      <h2><em nz-icon nzType="file-text" nzTheme="outline" style="margin-right: 10px"></em>MST: 0318663834</h2>
      <h2><em nz-icon nzType="environment" nzTheme="outline" style="margin-right: 10px">
      </em>Trụ sở chính: 42 Lê Trung Nghĩa, Phường 12, Quận Tân Bình, Tp. Hồ Chí Minh, Việt Nam
      </h2>
    </div>
  </div>
</div>


<ng-template>

</ng-template>