<!--<div class="banner__cnt&#45;&#45;block">-->
<!--  <div class='content__banner' *ngIf='data.length > 0'>-->
<!--    <swiper #swiperComponent [slidesPerView]='1' [loop]='false' [virtual]='true'-->
<!--            (slideChange)='slideChangeEvent()'>-->
<!--      <ng-template swiperSlide *ngFor='let slide of data; index as i'>-->
<!--        <a class='banner__item' href='#'>-->
<!--          <img alt='' src='{{slide.url}}' style='width: 100%; object-fit: cover; height: 130px; border-radius: 16px;'>-->
<!--        </a>-->
<!--      </ng-template>-->
<!--    </swiper>-->
<!--  </div>-->
<!--  <div class="group__prev__next">-->
<!--    <span *ngIf='activeIndex != 0' (click)='swipePrev()' class='icon__sw icon__sw&#45;&#45;prev'><em class='far fa-angle-left'></em></span>-->
<!--    <span *ngIf='activeIndex != data.length - 1' (click)='swipeNext()' class='icon__sw icon__sw&#45;&#45;next'><em-->
<!--      class='far fa-angle-right'></em></span>-->
<!--  </div>-->
<!--</div>-->

