<div class='save-form-mat' [ngClass]="{'app-card' : isPage}">
  <div class="btn__across-no-page" *ngIf="isPage" style="margin-right: 20px">
    <hbt-button buttonType="NO_BORDER" *ngIf="mode !== modeConst.VIEW" (click)="save()" buttonAvailableStyle="SAVE"
                buttonText="{{'common.button.save' | translate}}" type='SUBMIT'></hbt-button>
    <hbt-button
      buttonAvailableStyle="DEFAULT"
      buttonText="{{ 'common.button.back' | translate }}"
      (click)="back()">
    </hbt-button>
  </div>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[20,15]">
      <!--id kho xuất-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select
          urlLoadData="/warehouses"
          [serviceName]="serviceName"
          keyValue="warehouseId"
          keyLabel="name"
          formControlName="warehouseId"
          [type]="isSubmitted && form.controls['warehouseId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['warehouseId'].errors != null"
          [errors]="form.controls['warehouseId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matOutgoingShipments.table.warehouseId' | translate }}]"
          placeholder="{{'mat.matOutgoingShipments.table.warehouseId' | translate}}"
          labelText="{{'mat.matOutgoingShipments.table.warehouseId' | translate}}"
        ></hbt-select>
      </div>

      <!--ngày xuất kho-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          [type]="isSubmitted && form.controls['outgoingDate'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['outgoingDate'].errors != null"
          [errors]="form.controls['outgoingDate'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matOutgoingShipments.table.outgoingDate' | translate }}]"
          placeholderText="{{'mat.matOutgoingShipments.table.outgoingDate' | translate}}"
          labelText="{{'mat.matOutgoingShipments.table.outgoingDate' | translate}}"
          formControlName="outgoingDate"></hbt-date-picker>
      </div>

      <!--số phiếu xuất kho-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="pickingNo" maxLength="50"
          [type]="isSubmitted && form.controls['pickingNo'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['pickingNo'].errors != null"
          [errors]="form.controls['pickingNo'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matOutgoingShipments.table.pickingNo' | translate }},
          { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 50}}]"
          placeholderText="{{'mat.matOutgoingShipments.table.pickingNo' | translate}}"
          labelText="{{'mat.matOutgoingShipments.table.pickingNo' | translate}}"
        ></hbt-input-text>
      </div>

      <!--id người xuất kho-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <employee-data-picker status='WORKING'
          formControlName="pickingEmployeeId"
          [type]="isSubmitted && form.controls['pickingEmployeeId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['pickingEmployeeId'].errors != null"
          [errors]="form.controls['pickingEmployeeId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matOutgoingShipments.table.pickingEmployeeId' | translate }}]"
          labelText="{{'mat.matOutgoingShipments.table.pickingEmployeeId' | translate}} "
        >
        </employee-data-picker>
      </div>

      <!--id người nhận-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <employee-data-picker status='WORKING'
          formControlName="receiverId"
          [type]="isSubmitted && form.controls['receiverId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['receiverId'].errors != null"
          [errors]="form.controls['receiverId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matOutgoingShipments.table.receiverId' | translate }}]"
          labelText="{{'mat.matOutgoingShipments.table.receiverId' | translate}} "
        >
        </employee-data-picker>
      </div>

      <!--mô tả-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="note" isTextAre
                        maxLength="1000"
                        placeholderText="{{'mat.matOutgoingShipments.table.note' | translate}}"
                        labelText="{{'mat.matOutgoingShipments.table.note' | translate}}"
        ></hbt-input-text>
      </div>

      <ng-container *ngIf="f['type'].value === 'DIEU_CHUYEN'">
        <!-- số phiếu xuất-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="incomingTransferPickingNo" maxLength="50"
                          [type]="isSubmitted && form.controls['incomingTransferPickingNo'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['incomingTransferPickingNo'].errors != null"
                          [errors]="form.controls['incomingTransferPickingNo'].errors"
                          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matOutgoingShipments.table.incomingTransferPickingNo' | translate }},
                          { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 50}}]"
                          placeholderText="{{'mat.matOutgoingShipments.table.incomingTransferPickingNo' | translate}}"
                          labelText="{{'mat.matOutgoingShipments.table.incomingTransferPickingNo' | translate}}"
          ></hbt-input-text>
        </div>

        <!--kho nhập-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select [dataSelects]="[]"
            formControlName="incomingWarehouseId"
            [type]="isSubmitted && form.controls['incomingWarehouseId'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && form.controls['incomingWarehouseId'].errors != null"
            [errors]="form.controls['incomingWarehouseId'].errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matOutgoingShipments.table.incomingWarehouseId' | translate }}]"
            placeholder="{{'mat.matOutgoingShipments.table.incomingWarehouseId' | translate}}"
            labelText="{{'mat.matOutgoingShipments.table.incomingWarehouseId' | translate}}"
          ></hbt-select>
        </div>
      </ng-container>

      <ng-container *ngIf="mode === modeConst.VIEW">
        <!--người phê duyệt-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="approvedName" maxLength="50"
            [type]="isSubmitted && form.controls['approvedName'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && form.controls['approvedName'].errors != null"
            [errors]="form.controls['approvedName'].errors"
            [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 50}}]"
            placeholderText="{{'mat.matOutgoingShipments.table.approvedName' | translate}}"
            labelText="{{'mat.matOutgoingShipments.table.approvedName' | translate}}"
          ></hbt-input-text>
        </div>


        <!--Loại phiếu-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select [serviceName]="microService.ADMIN"
                      [urlLoadData]="getUrlCategory(categoryCode.MAT_OUTGOING_SHIPMENT_TYPE)"
                      keyLabel="name"
                      formControlName="type"
                      [type]="isSubmitted && form.controls['type'].errors ? 'error' : 'default'"
                      [showError]="isSubmitted && form.controls['type'].errors != null"
                      [errors]="form.controls['type'].errors"
                      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matOutgoingShipments.table.type' | translate }}]"
                      placeholder="{{'mat.matOutgoingShipments.table.type' | translate}}"
                      labelText="{{'mat.matOutgoingShipments.table.type' | translate}}"
          ></hbt-select>
        </div>

        <!--ngày phê duyệt-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-date-picker
            placeholderText="{{'mat.matOutgoingShipments.table.approvedTime' | translate}}"
            labelText="{{'mat.matOutgoingShipments.table.approvedTime' | translate}}"
            formControlName="approvedTime"></hbt-date-picker>
        </div>

        <!--trạng thái-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select [serviceName]="microService.ADMIN"
                      [urlLoadData]="getUrlCategory(categoryCode.MAT_STATUS)"
                      keyLabel="name"
                      formControlName="statusId"
                      [type]="isSubmitted && form.controls['statusId'].errors ? 'error' : 'default'"
                      [showError]="isSubmitted && form.controls['statusId'].errors != null"
                      [errors]="form.controls['statusId'].errors"
                      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matOutgoingShipments.table.statusId' | translate }}]"
                      placeholder="{{'mat.matOutgoingShipments.table.statusId' | translate}}"
                      labelText="{{'mat.matOutgoingShipments.table.statusId' | translate}}"
          ></hbt-select>
        </div>

        <!--Ghi chú phê duyệt-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="approvedNote" isTextAre
            maxLength="500"
            placeholderText="{{'mat.matOutgoingShipments.table.approvedNote' | translate}}"
            labelText="{{'mat.matOutgoingShipments.table.approvedNote' | translate}}"
          ></hbt-input-text>
        </div>
      </ng-container>


      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <hbt-upload
          [disable]="mode === modeConst.VIEW"
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpg', 'png', 'pdf', 'doc', 'docx']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          [fileList]="f['files'].value"
          (fileListChange)="onFileListChange($event, 'files', true)"
          (docIdsDeleteChange)="removeFile($event, 'files')"
          [serviceName]='serviceName'
        ></hbt-upload>
      </div>
      <div nz-col [nzXs]='12' [nzLg]='12' class="mis-title">
        {{'mat.matOutgoingShipments.table.listEquipmentIds' | translate}}
      </div>
      <div nz-col [nzXs]='12' [nzLg]='4' *ngIf="mode !== modeConst.VIEW">
        <hbt-button buttonSize="LARGE"
                    class="staff__research__btn__search"
                    buttonText="{{'common.button.uploadFile' | translate}}"
                    [isDisable]="!form.controls['warehouseId'].value"
                    [buttonTextColor]="_variable.$purple_800" (click)="doImportData()"></hbt-button>
      </div>
      <div nz-col [nzXs]='12' [nzLg]='8' *ngIf="mode !== modeConst.VIEW">
        <hbt-data-picker
          [disable]="!form.controls['warehouseId'].value"
          formControlName="listEquipmentIds"
          keyLabel="name"
          keyValue="equipmentId"
          [style]="'width: 95%'"
          [urlLoadData]="urlLoadData"
          [serviceName]="serviceName"
          [formMode]="mode"
          [isMulti]="true"
          [inputParam]="{warehouseId: form.controls['warehouseId'].value}"
          [isRequiredInputParam]="true"
          labelSearch="{{'mat.matOutgoingShipments.listEquipments.table.code' | translate}}"
          [tableSetting]="[{label: 'mat.matOutgoingShipments.listEquipments.table.code' | translate, value: 'code'}, {label: 'mat.matOutgoingShipments.listEquipments.table.name' | translate, value: 'name'}]"
          [type]="isSubmitted && form.controls['listEquipmentIds'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['listEquipmentIds'].errors != null"
          [errors]="form.controls['listEquipmentIds'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matOutgoingShipments.table.listEquipmentIds' | translate }}]"
          placeholder="{{'mat.matOutgoingShipments.table.listEquipmentIds' | translate}}"
          (selectedChange)="selectEquipments($event)"
        >
        </hbt-data-picker>
      </div>
      <div nz-col [nzXs]='24' [nzLg]='24'>
        <app-mos-equipment-list [isDisabled]="mode === modeConst.VIEW" (listEquipmentIdsChange)="listEquipmentIdsChange($event)"></app-mos-equipment-list>
      </div>
    </div>
  </form>
</div>

<hbt-import-file
  [isGetData]="true"
  (getData)="updateList($event)"
  [showContent]="isImportData"
  (onCloseModal)="doCloseImport()"
  [importApi]="importApi"
  [downLoadTemplateApi]="downLoadTemplateApi"
  [fileTemplateName]="fileTemplateName"
  [doDownloadFileByNameApi]="doDownloadFileByNameApi"
>
</hbt-import-file>