<div class='save-form-icn'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[30,30]">

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text
          placeholderText="{{'icn.employeeChanges.table.employeeCode' | translate}}"
          labelText="{{'icn.employeeChanges.table.employeeCode' | translate}}"
          formControlName="employeeCode"></hbt-input-text>
      </div>

      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text
          placeholderText="{{'icn.employeeChanges.table.fullName' | translate}}"
          labelText="{{'icn.employeeChanges.table.fullName' | translate}}"
          formControlName="fullName"></hbt-input-text>
      </div>


      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select
          formControlName="changeType"
          [urlLoadData]="getUrlCategory(CATEGORY_CODE.LOAI_THAY_DOI)"
          [serviceName]="MICRO_SERVICE.ADMIN"
          keyValue="value"
          keyLabel="name"
          placeholder="{{'icn.employeeChanges.label.changeType' | translate}}"
          labelText="{{'icn.employeeChanges.label.changeType' | translate}}"

        >
        </hbt-select>
      </div>


      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select
          formControlName="contributionType"
          [urlLoadData]="getUrlCategory(CATEGORY_CODE.TRANG_THAI_TRICH_NOP)"
          [serviceName]="MICRO_SERVICE.ADMIN"
          keyValue="value"
          keyLabel="name"
          placeholder="{{'icn.employeeChanges.label.contributionType' | translate}}"
          labelText="{{'icn.employeeChanges.label.contributionType' | translate}}"

        >

        </hbt-select>
      </div>



    </div>
  </form>
</div>

