@import "src/app/core/global-style/variable";

.add-ics .scale {
  color: $input-label-color;
  font-size: 14px;
  font-family: avertaB, sans-serif;
  margin-bottom: 4px;
}

.add-ics .text-bold {
  font-weight: bold;
}

.add-ics .center {
  text-align: center;
  font-size: 18px;
}

.add-ics .flex-box {
  display: flex;
  align-items: center;
}

.add-ics .flex-box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-ics .btn-create {
  color: $bg-checkbox-inner;
  font-size: 25px;
  cursor: pointer;
  margin-top: 25px;
}
