::ng-deep .book-loan {
  .ant-btn {
    width: 300px !important;
    height: 75px;
    margin-bottom: 40px;
  }
  .ant-btn span {
    font-size: 13pt;
  }

  .content__item {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}