@import "../../../core/global-style/variable";

.input__group {
  &--upload {
    position: relative;
    height: 44px;
    input::placeholder {
      padding-left: 160px;
    }
  }
  div.input__label {
    color: $input-label-color;
    font-size: 14px;
    font-family: avertaB, sans-serif;

    ::ng-deep .label__required {
      color: $error-default-color;
    }
    ::ng-deep .font-family-none {
      font-family: avertaR, sans-serif;
    }
  }
  .input__message {
    font-size: 12px;
    margin-top: 8px;
    color: $input-label-color;

    em {
      margin-right: 8px;
    }

    .text__message {
      font-family: avertaL, sans-serif;
    }
  }

  .input__message--warning {
    em, span {
      color: $bg-warning-default;
    }
  }

  .input__message--error {
    em, span {
      color: $error-default-color;
    }
  }

  .input__message--success {
    em, span {
      color: $bg-success-default;
    }
  }

  .input__text {
    font-size: 14px;
    color: $input-body-color;
    outline: none;
    box-shadow: none;
    resize: none;
    @include placeholder {
      color: $input-placeholder-color;
      font-size: 14px;
    }

    &:active, &:focus {
      &:enabled {
        @include placeholder {
          color: $bd-default;
        }
      }
    }
  }
  ::ng-deep {
    .ng-star-inserted.ant-upload.ant-upload-select.ant-upload-select-text {
      width: 100%;
    }
  }
}

::ng-deep.input__group--upload .btn-upload button {
  min-height: 40px !important;
  border-radius: 8px !important;
  width: 160px;
  position: absolute;
  left: 1px;
  top: 1px;
  margin: 0;
}

::ng-deep.input__group--upload {
  cursor: pointer;
  input {
    cursor: pointer;
  }
}


  //Input no icon
.input__group.input__group--no-icon {
  .input__text {
    border-radius: 8px;
    margin-top: 4px;

    ::ng-deep .ant-upload.ant-upload-drag {
      border: 1px solid $bd-default !important;
      border-radius: 4px;
      margin-top: 4px;
    }
  }

  //Default
  .input__text--default {
    ::ng-deep .ant-upload.ant-upload-drag {
      border: 1px solid $bd-default !important;
      background-color: white;

      &:hover, &:focus {
        border-color: $bd-default-hover !important;
      }
    }

    border-color: $bd-default;

    &:hover, &:focus {
      border-color: $bd-default-hover;
    }

    &:disabled {
      background: $bg-default-disabled;

      &:hover, &:focus {
        border-color: $bd-default-disabled-hover;
      }
    }
  }

  //Warning
  .input__text--warning {
    ::ng-deep .ant-upload.ant-upload-drag {
      border: 1px solid $bd-warning !important;
      background-color: white;

      &:hover, &:focus {
        border-color: $bd-warning-hover !important;
      }
    }

    border-color: $bd-warning;

    &:hover, &:focus {
      border-color: $bd-warning-hover;
    }

    &:disabled {
      background: $bg-warning-disabled;

      &:hover, &:focus {
        border-color: $bd-warning-disabled-hover;
      }
    }
  }

  //Error
  .input__text--error {
    ::ng-deep .ant-upload.ant-upload-drag {
      border: 1px solid $bd-error !important;
      background-color: white;

      &:hover, &:focus {
        border-color: $bd-error-hover !important;
      }
    }

    border-color: $bd-error;

    &:hover, &:focus {
      border-color: $bd-error-hover;
    }

    &:disabled {
      background: $bg-error-disabled;

      &:hover, &:focus {
        border-color: $bd-error-disabled-hover;
      }
    }
  }

  //Success
  .input__text--success {
    ::ng-deep .ant-upload.ant-upload-drag {
      border: 1px solid $bd-success !important;
      background-color: white;

      &:hover, &:focus {
        border-color: $bd-success-hover !important;
      }
    }

    &:hover, &:focus {
      border-color: $bd-success-hover;
    }

    &:disabled {
      background: $bg-success-disabled;

      &:hover, &:focus {
        border-color: $bd-success-disabled-hover;
      }
    }
  }
}

::ng-deep.ant-upload-disabled .ant-upload.ant-upload-select.ant-upload-select-text {
  display: none;
}

::ng-deep.ant-upload-list-item-list-type-text {
  cursor: pointer;
}

::ng-deep.ant-upload-disabled .ant-upload-list-item-card-actions {
  button:has(>.anticon-delete) {
    display: none;
  }
}

::ng-deep.ant-upload-list-item-card-actions button {
  opacity: 1;
}

.ant-upload-disabled {
  .ant-upload.ant-upload-select.ant-upload-select-text {
    display: none;
  }
  ::ng-deep.ant-upload.ant-upload-drag {
    background: $bg-default-disabled !important;
  }

  background: $bg-default-disabled !important;

  //::ng-deep .ant-btn {
  //  opacity: 0.7;
  //  cursor: not-allowed !important;
  //}
}

.file-available {
  margin-left: 5px;
  margin-bottom: -5px;
  color: $error-default-color !important;
}


::ng-deep {
  .ant-upload-list-item-name {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
  }
}

.label__required {
  color: $error-default-color;
}