<div class='save-form-mat' [ngClass]="{'app-card' : isPage}">
  <div class="btn__across-no-page" *ngIf="isPage" style="margin-right: 20px">
    <hbt-button buttonType="NO_BORDER" *ngIf="mode !== modeConst.VIEW" (click)="save()" buttonAvailableStyle="SAVE"
                buttonText="{{'common.button.save' | translate}}" type='SUBMIT'></hbt-button>
    <hbt-button
      buttonAvailableStyle="DEFAULT"
      buttonText="{{ 'common.button.back' | translate }}"
      (click)="back()">
    </hbt-button>
  </div>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]="[20,15]">

      <!--mã phiếu kiểm kê-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-input-text formControlName="inventoryAdjustmentNo" maxLength="50" [disable]="true"
                        [type]="isSubmitted && form.controls['inventoryAdjustmentNo'].errors ? 'error' : 'default'"
                        [showError]="isSubmitted && form.controls['inventoryAdjustmentNo'].errors != null"
                        [errors]="form.controls['inventoryAdjustmentNo'].errors"
                        [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 50}}]"
                        placeholderText="{{'mat.matInventoryAdjustments.table.inventoryAdjustmentNo' | translate}}"
                        labelText="{{'mat.matInventoryAdjustments.table.inventoryAdjustmentNo' | translate}} <span class='label__required'>*</span>"
        ></hbt-input-text>
      </div>

      <!--id kho-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select
          urlLoadData="/warehouses"
          [serviceName]="serviceName"
          keyValue="warehouseId"
          keyLabel="name"
          formControlName="warehouseId"
          [type]="isSubmitted && form.controls['warehouseId'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['warehouseId'].errors != null"
          [errors]="form.controls['warehouseId'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matInventoryAdjustments.table.warehouseId' | translate }}]"
          placeholder="{{'mat.matInventoryAdjustments.table.warehouseId' | translate}}"
          labelText="{{'mat.matInventoryAdjustments.table.warehouseId' | translate}} <span class='label__required'>*</span>"
          (eventEmit)="clearEquipment()"
        ></hbt-select>
      </div>

      <!--Loại điều chỉnh-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-select [serviceName]="microService.ADMIN"
                    [urlLoadData]="getUrlCategory(categoryCode.MAT_INVENTORY_ADJUSTMENT_TYPE)"
                    keyLabel="name"
                    formControlName="type"
                    [type]="isSubmitted && form.controls['type'].errors ? 'error' : 'default'"
                    [showError]="isSubmitted && form.controls['type'].errors != null"
                    [errors]="form.controls['type'].errors"
                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matInventoryAdjustments.table.type' | translate }}]"
                    placeholder="{{'mat.matInventoryAdjustments.table.type' | translate}}"
                    labelText="{{'mat.matInventoryAdjustments.table.type' | translate}} <span class='label__required'>*</span>"
                    (eventEmit)="clearEquipment()"
        ></hbt-select>
      </div>

      <!--id người kiểm kê-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <employee-data-picker status='WORKING'
                              formControlName="checkedEmployeeId"
                              [type]="isSubmitted && form.controls['checkedEmployeeId'].errors ? 'error' : 'default'"
                              [showError]="isSubmitted && form.controls['checkedEmployeeId'].errors != null"
                              [errors]="form.controls['checkedEmployeeId'].errors"
                              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'common.label.employeeName' | translate }}]"
                              labelText="{{'mat.matInventoryAdjustments.table.checkedEmployeeId' | translate}} <span class='label__required'>*</span>"
        >
        </employee-data-picker>
      </div>

      <!--từ ngày-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'mat.matInventoryAdjustments.table.startDate' | translate}}"
          labelText="{{'mat.matInventoryAdjustments.table.startDate' | translate}} <span class='label__required'>*</span>"
          [type]="isSubmitted && (form.errors || form.controls['startDate'].errors) ? 'error' : 'default'"
          [showError]="isSubmitted && (form.errors || form.controls['startDate'].errors ) != null"
          [errors]="form.errors?.rangeDateError ? form.errors : form.controls['startDate'].errors"
          [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'staffManager.validate.rangeDate.pareDate' | translate:
        {'startDate': 'mat.matInventoryAdjustments.table.startDate' | translate, 'toDate': 'mat.matInventoryAdjustments.table.toDate' | translate}},
             { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matInventoryAdjustments.table.startDate' | translate }}
          ]"
          formControlName="startDate"></hbt-date-picker>
      </div>

      <!--đến ngày-->
      <div nz-col [nzXs]="12" [nzLg]="12">
        <hbt-date-picker
          placeholderText="{{'mat.matInventoryAdjustments.table.endDate' | translate}}"
          labelText="{{'mat.matInventoryAdjustments.table.endDate' | translate}}"
          formControlName="endDate"></hbt-date-picker>
      </div>

      <ng-container *ngIf="mode === modeConst.VIEW && (form.get('statusId').value == 'PHE_DUYET' || form.get('statusId').value == 'TU_CHOI')">
        <!--người phê duyệt-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-input-text formControlName="approvedName" maxLength="255"
                          [type]="isSubmitted && form.controls['approvedName'].errors ? 'error' : 'default'"
                          [showError]="isSubmitted && form.controls['approvedName'].errors != null"
                          [errors]="form.controls['approvedName'].errors"
                          [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
                          placeholderText="{{'mat.matInventoryAdjustments.table.approvedName' | translate}}"
                          labelText="{{'mat.matInventoryAdjustments.table.approvedName' | translate}}"
          ></hbt-input-text>
        </div>

        <!--ngày phê duyệt-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-date-picker
            placeholderText="{{'mat.matInventoryAdjustments.table.approvedTime' | translate}}"
            labelText="{{'mat.matInventoryAdjustments.table.approvedTime' | translate}}"
            formControlName="approvedTime"></hbt-date-picker>
        </div>

        <!---->
        <div nz-col [nzXs]="24" [nzLg]="24">
          <hbt-input-text formControlName="approvedNote" isTextAre
                          maxLength="500"
                          placeholderText="{{'mat.matInventoryAdjustments.table.approvedNote' | translate}}"
                          labelText="{{'mat.matInventoryAdjustments.table.approvedNote' | translate}}"
          ></hbt-input-text>
        </div>
      </ng-container>

      <ng-container  *ngIf="mode === modeConst.VIEW">
        <!--trạng thái-->
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select [serviceName]="microService.ADMIN"
                      [urlLoadData]="getUrlCategory(categoryCode.MAT_STATUS)"
                      keyLabel="name"
                      formControlName="statusId"
                      [type]="isSubmitted && form.controls['statusId'].errors ? 'error' : 'default'"
                      [showError]="isSubmitted && form.controls['statusId'].errors != null"
                      [errors]="form.controls['statusId'].errors"
                      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matInventoryAdjustments.table.statusId' | translate }}]"
                      placeholder="{{'mat.matInventoryAdjustments.table.statusId' | translate}}"
                      labelText="{{'mat.matInventoryAdjustments.table.statusId' | translate}}"
          ></hbt-select>
        </div>

        <!---->
        <div nz-col [nzXs]="12" [nzLg]="12" *ngIf="form.get('statusId').value == 'TU_CHOI'">
          <hbt-input-text formControlName="approvedNote" isTextAre
                          maxLength="500"
                          placeholderText="{{'mat.matInventoryAdjustments.table.approvedNote' | translate}}"
                          labelText="{{'mat.matInventoryAdjustments.table.approvedNote' | translate}}"
          ></hbt-input-text>
        </div>
      </ng-container>

      <!---->
      <div nz-col [nzXs]="24" [nzLg]="24">
        <hbt-input-text formControlName="note" isTextAre
                        maxLength="500"
                        placeholderText="{{'mat.matInventoryAdjustments.table.note' | translate}}"
                        labelText="{{'mat.matInventoryAdjustments.table.note' | translate}}"
        ></hbt-input-text>
      </div>
      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <hbt-upload
          [disable]="mode === modeConst.VIEW"
          [(docIdsDelete)]="docIdsDelete"
          [typeFileAvailable]="['jpg', 'png', 'pdf', 'doc', 'docx']"
          [multiple]="true"
          labelText="{{'common.label.attachFile' | translate}}"
          [fileList]="f['files'].value"
          (fileListChange)="onFileListChange($event, 'files', true)"
          (docIdsDeleteChange)="removeFile($event, 'files')"
          [serviceName]='serviceName'
          [showError]="isSubmitted"
        ></hbt-upload>
      </div>
      <div nz-col [nzXs]='12' [nzLg]='12' class="mis-title">
        {{'mat.matInventoryAdjustments.table.listEquipmentIds' | translate}}
      </div>
      <div nz-col [nzXs]='12' [nzLg]='4' *ngIf="mode !== modeConst.VIEW">
        <hbt-button buttonSize="LARGE"
                    class="staff__research__btn__search"
                    buttonText="{{'common.button.uploadFile' | translate}}"
                    [isDisable]="!form.controls['warehouseId'].value"
                    [buttonTextColor]="_variable.$purple_800" (click)="doImportData()"></hbt-button>
      </div>
      <div nz-col [nzXs]='12' [nzLg]='8' *ngIf="mode !== modeConst.VIEW">
        <hbt-data-picker
          [disable]="!form.controls['warehouseId'].value"
          formControlName="listEquipmentIds"
          keyLabel="name"
          keyValue="equipmentId"
          [style]="'width: 95%'"
          [urlLoadData]="urlLoadData"
          [serviceName]="serviceName"
          [formMode]="mode"
          [isMulti]="true"
          [inputParam]="{
            warehouseId: form.controls['warehouseId'].value,
            isIncrease: form.controls['type'].value == 'TANG' ? 'Y' : 'N'
          }"
          [isRequiredInputParam]="true"
          labelSearch="{{'mat.matInventoryAdjustments.listEquipments.table.code' | translate}}"
          [tableSetting]="[{label: 'mat.matInventoryAdjustments.listEquipments.table.code' | translate, value: 'code'}, {label: 'mat.matInventoryAdjustments.listEquipments.table.name' | translate, value: 'name'}]"
          [type]="isSubmitted && form.controls['listEquipmentIds'].errors ? 'error' : 'default'"
          [showError]="isSubmitted && form.controls['listEquipmentIds'].errors != null"
          [errors]="form.controls['listEquipmentIds'].errors"
          [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matInventoryAdjustments.table.listEquipmentIds' | translate }}]"
          placeholder="{{'mat.matInventoryAdjustments.table.listEquipmentIds' | translate}}"
          (selectedChange)="selectEquipments($event)"
        >
        </hbt-data-picker>
      </div>
      <div nz-col [nzXs]='24' [nzLg]='24'>
        <app-mia-equipment-list [isDisabled]="mode === modeConst.VIEW" (listEquipmentIdsChange)="listEquipmentIdsChange($event)"></app-mia-equipment-list>
      </div>
    </div>
  </form>
</div>

<hbt-import-file
  [isGetData]="true"
  (getData)="updateList($event)"
  [showContent]="isImportData"
  (onCloseModal)="doCloseImport()"
  [importApi]="importApi"
  [downLoadTemplateApi]="downLoadTemplateApi"
  [fileTemplateName]="fileTemplateName"
  [doDownloadFileByNameApi]="doDownloadFileByNameApi"
>
</hbt-import-file>