<div class='save-form-abs'>
    <form nz-form [formGroup]="form" style="margin-top: 20px">
        <div nz-row [nzGutter]='[20,15]'>
            <!--tên lịch làm việc-->
            <div nz-col [nzXs]="12" [nzLg]="12">
                <hbt-input-text formControlName="name" maxLength="200"
                                [type]="isSubmitted && form.controls['name']?.errors ? 'error' : 'default'"
                                [showError]="isSubmitted && form.controls['name']?.errors != null"
                                [errors]="form.controls['name']?.errors"
                                [errorDefs]="[
                                { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.workCalendars.table.name' | translate }},
                                { errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 200}}]"
                                placeholderText="{{'abs.workCalendars.table.name' | translate}}"
                                labelText="{{'abs.workCalendars.table.name' | translate}} <span class='label__required'>*</span>"
                ></hbt-input-text>
            </div>

            <!--lịch làm ngày thứ 2-->
            <div nz-col [nzXs]="12" [nzLg]="12">
                <hbt-select [dataSelects]="workTimeList"
                            keyLabel="name"
                            formControlName="monWorkTimeId"
                            [type]="isSubmitted && form.controls['monWorkTimeId']?.errors ? 'error' : 'default'"
                            [showError]="isSubmitted && form.controls['monWorkTimeId']?.errors != null"
                            [errors]="form.controls['monWorkTimeId']?.errors"
                            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.workCalendars.table.monWorkTimeId' | translate }}]"
                            placeholder="{{'abs.workCalendars.table.monWorkTimeId' | translate}}"
                            labelText="{{'abs.workCalendars.table.monWorkTimeId' | translate}} <span class='label__required'>*</span>"
                ></hbt-select>
            </div>

            <!--lịch làm ngày thứ 3-->
            <div nz-col [nzXs]="12" [nzLg]="12">
                <hbt-select [dataSelects]="workTimeList"
                            keyLabel="name"
                            formControlName="tueWorkTimeId"
                            [type]="isSubmitted && form.controls['tueWorkTimeId']?.errors ? 'error' : 'default'"
                            [showError]="isSubmitted && form.controls['tueWorkTimeId']?.errors != null"
                            [errors]="form.controls['tueWorkTimeId']?.errors"
                            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.workCalendars.table.tueWorkTimeId' | translate }}]"
                            placeholder="{{'abs.workCalendars.table.tueWorkTimeId' | translate}}"
                            labelText="{{'abs.workCalendars.table.tueWorkTimeId' | translate}} <span class='label__required'>*</span>"
                ></hbt-select>
            </div>

            <!--lịch làm ngày thứ 4-->
            <div nz-col [nzXs]="12" [nzLg]="12">
                <hbt-select [dataSelects]="workTimeList"
                            keyLabel="name"
                            formControlName="wedWorkTimeId"
                            [type]="isSubmitted && form.controls['wedWorkTimeId']?.errors ? 'error' : 'default'"
                            [showError]="isSubmitted && form.controls['wedWorkTimeId']?.errors != null"
                            [errors]="form.controls['wedWorkTimeId']?.errors"
                            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.workCalendars.table.wedWorkTimeId' | translate }}]"
                            placeholder="{{'abs.workCalendars.table.wedWorkTimeId' | translate}}"
                            labelText="{{'abs.workCalendars.table.wedWorkTimeId' | translate}} <span class='label__required'>*</span>"
                ></hbt-select>
            </div>

            <!--lịch làm ngày thứ 5-->
            <div nz-col [nzXs]="12" [nzLg]="12">
                <hbt-select [dataSelects]="workTimeList"
                            keyLabel="name"
                            formControlName="thuWorkTimeId"
                            [type]="isSubmitted && form.controls['thuWorkTimeId']?.errors ? 'error' : 'default'"
                            [showError]="isSubmitted && form.controls['thuWorkTimeId']?.errors != null"
                            [errors]="form.controls['thuWorkTimeId']?.errors"
                            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.workCalendars.table.thuWorkTimeId' | translate }}]"
                            placeholder="{{'abs.workCalendars.table.thuWorkTimeId' | translate}}"
                            labelText="{{'abs.workCalendars.table.thuWorkTimeId' | translate}} <span class='label__required'>*</span>"
                ></hbt-select>
            </div>

            <!--lịch làm ngày thứ 6-->
            <div nz-col [nzXs]="12" [nzLg]="12">
                <hbt-select [dataSelects]="workTimeList"
                            keyLabel="name"
                            formControlName="friWorkTimeId"
                            [type]="isSubmitted && form.controls['friWorkTimeId']?.errors ? 'error' : 'default'"
                            [showError]="isSubmitted && form.controls['friWorkTimeId']?.errors != null"
                            [errors]="form.controls['friWorkTimeId']?.errors"
                            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.workCalendars.table.friWorkTimeId' | translate }}]"
                            placeholder="{{'abs.workCalendars.table.friWorkTimeId' | translate}}"
                            labelText="{{'abs.workCalendars.table.friWorkTimeId' | translate}} <span class='label__required'>*</span>"
                ></hbt-select>
            </div>

            <!--lịch làm ngày thứ 7-->
            <div nz-col [nzXs]="12" [nzLg]="12">
                <hbt-select [dataSelects]="workTimeList"
                            keyLabel="name"
                            formControlName="satWorkTimeId"
                            [type]="isSubmitted && form.controls['satWorkTimeId']?.errors ? 'error' : 'default'"
                            [showError]="isSubmitted && form.controls['satWorkTimeId']?.errors != null"
                            [errors]="form.controls['satWorkTimeId']?.errors"
                            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.workCalendars.table.satWorkTimeId' | translate }}]"
                            placeholder="{{'abs.workCalendars.table.satWorkTimeId' | translate}}"
                            labelText="{{'abs.workCalendars.table.satWorkTimeId' | translate}} <span class='label__required'>*</span>"
                ></hbt-select>
            </div>

            <!--lịch làm ngày cn-->
            <div nz-col [nzXs]="12" [nzLg]="12">
                <hbt-select [dataSelects]="workTimeList"
                            keyLabel="name"
                            formControlName="sunWorkTimeId"
                            [type]="isSubmitted && form.controls['sunWorkTimeId']?.errors ? 'error' : 'default'"
                            [showError]="isSubmitted && form.controls['sunWorkTimeId']?.errors != null"
                            [errors]="form.controls['sunWorkTimeId']?.errors"
                            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.workCalendars.table.sunWorkTimeId' | translate }}]"
                            placeholder="{{'abs.workCalendars.table.sunWorkTimeId' | translate}}"
                            labelText="{{'abs.workCalendars.table.sunWorkTimeId' | translate}} <span class='label__required'>*</span>"
                ></hbt-select>
            </div>

            <!--các ngày nghỉ lễ mặc định trong năm-->
            <div nz-col [nzXs]="24" [nzLg]="24">
                <hbt-input-text formControlName="defaultHolidayDate"
                                maxLength="2000"
                                [type]="isSubmitted && form.controls['defaultHolidayDate']?.errors ? 'error' : 'default'"
                                [showError]="isSubmitted && form.controls['defaultHolidayDate']?.errors != null"
                                [errors]="form.controls['defaultHolidayDate']?.errors"
                                [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'abs.workCalendars.table.defaultHolidayDate' | translate }}]"
                                placeholderText="{{'abs.workCalendars.table.defaultHolidayDate' | translate}}"
                                labelText="{{'abs.workCalendars.table.defaultHolidayDate' | translate}} <span class='label__required'>*</span>"
                ></hbt-input-text>
            </div>

            <!--Thời gian áp dụng từ ngày-->
            <div nz-col [nzXs]="12" [nzLg]="12">
                <hbt-date-picker
                        formControlName="startDate"
                        [type]="isSubmitted && (f['startDate'].errors || form.errors?.rangeDateError) ? 'error' : 'default'"
                        [showError]="isSubmitted && (f['startDate'].errors || form.errors?.rangeDateError) !== null"
                        [errors]="form.errors?.rangeDateError ? form.errors : f['startDate'].errors"
                        [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'common.validate.rangeDate.pareDate' | translate:
                      {'fromDate': 'abs.workCalendars.table.startDate' | translate, 'toDate': 'abs.workCalendars.table.endDate' | translate}}]"
                        placeholderText="{{'abs.workCalendars.table.startDate' | translate}}"
                        labelText="{{'abs.workCalendars.table.startDate' | translate}}"
                ></hbt-date-picker>
            </div>

            <!--Thời gian áp dụng đến ngày-->
            <div nz-col [nzXs]="12" [nzLg]="12">
                <hbt-date-picker
                        formControlName="endDate"
                        [type]="isSubmitted && (f['endDate'].errors || form.errors?.rangeDateError) ? 'error' : 'default'"
                        [showError]="isSubmitted && (f['endDate'].errors || form.errors?.rangeDateError ) !== null"
                        [errors]="form.errors?.rangeDateError ? form.errors : f['endDate'].errors"
                        placeholderText="{{'abs.workCalendars.table.endDate' | translate}}"
                        labelText="{{'abs.workCalendars.table.endDate' | translate}} "
                ></hbt-date-picker>
            </div>
        </div>
    </form>
</div>
