@import "src/app/core/global-style/variable";

::ng-deep .save-form-employee .ant-tabs-tab {
  margin-right: 10px !important;
  border-radius: 5px !important;
  position: relative;
  z-index: 20;
}

#pes-form {
  height: calc(100vh - 192px);
  overflow-y: auto;
}

::ng-deep#pes-form {
  .ant-collapse-header {
    margin-bottom: 0 !important;
  }
}

.text {
  font-size: 18px;
  color: $primary-500;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 10px;
}

::ng-deep .save-form-employee .ant-tabs-nav {
  padding-top: 10px !important;
}

::ng-deep .save-form-employee .ant-card {
  margin-top: -30px;
}

.label__required {
  color: $error-500;
}

.save-form-employee .bold-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.save-form-employee .ct-text {
  font-size: 16px;
}

.save-form-employee .edit-icon {
  margin-left: 10px;
}

.save-form-employee .edit-icon:hover {
  color: $primary-500;
}

.save-form-employee .delete-icon {
  margin-right: 0;
}

.save-form-employee .delete-icon:hover {
  color: $primary-500;
}

.save-form-employee .icon-group {
  display: none;
}

.save-form-employee .tab-title:hover .icon-group {
  display: inline-block;
}

::ng-deep .save-form-employee .ant-tabs-tab-active .icon-group {
  display: inline-block !important;
}

::ng-deep {
  hbt-scroll-tabs {
    .tab--wrap {
      background: $bg-form-default;
      position: sticky;
      z-index: 999;
      top: 0;
    }
  }
}

::ng-deep .pes-form .ant-collapse-header {
  display: none!important;
}

::ng-deep .pes-form .ant-table.ant-table-small {
  td {
    padding: 3px !important;
  }
}

.brief__des--item {

  ::ng-deep .input__group {
    width: 75%;
  }
}

.sub-title {
  font-size: 22px;
  font-weight: 300;
}

.title {
  font-size: 24px;
  font-weight: bold;
}


.download-info {
  color: $text-primary;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  font-style: italic;
}

.position-title {
  font-size: 16px;
  color: $black-500;
}