<div class="datepicker__group datepicker__group--icon">
  <div *ngIf="labelText != null" class="input__label" [innerHTML]="labelText"></div>
  <span *ngIf="required" class='label__required'> *</span>
  <div class="datetimework">
    <div [class]="inputGroupGroupClass">
      <em *ngIf="datePickerIcon != null" nz-icon [nzType]="datePickerIcon" nzTheme="outline"></em>
      <nz-date-picker maskDate nzAllowClear nzBackdrop [nzAutoFocus]="autofocus" [nzDisabled]="disabled"
                      [nzInputReadOnly]="inputReadOnly" [nzMode]="mode" [nzPlaceHolder]="placeholderText"
                      [nzSuffixIcon]="suffixIcon" [nzInline]="inline" [nzDisabledDate]="disabledDate"
                      [(ngModel)]="value" [nzShowToday]="showToday"
                      [nzDisabledTime]="disabledTime" [nzDateRender]="dateRender"
                      [nzRenderExtraFooter]="renderExtraFooter" (nzOnOpenChange)="openChange($event)"
                      (nzOnOk)="_onOk($event)" (ngModelChange)="onInputChange($event)">
      </nz-date-picker>
    </div>
    <div class="select-time">
      <hbt-select [dataSelects]="isStartTime ? timeStart : timeEnd" [type]="type"
                  [showClear]="false"
                  [placeholder]="placeholderTime"
                  [optionHeightPx]="56" [optionOverflowSize]="2"
                  dropdownClassName="datetime-work"
                  (eventEmit)="changeTime($event)" [(ngModel)]="selectedTime">
      </hbt-select>
    </div>
  </div>
  <div *ngIf="textMessageValue != null && showError" [class]="inputMessageClass">
    <em *ngIf="showIconMessage" nz-icon [nzType]="iconType" nzTheme="outline"></em>
    <span class="text__message">{{textMessageValue}}</span>
  </div>

</div>
