<form nz-form [formGroup]="form" class="iss-index">
  <div class="lms">
    <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
      <div nz-row class="button__action-left">
        <hbt-button
          class="staff__research__btn__search"
          buttonSize="LARGE"
          buttonAvailableStyle="ADD"
          style="margin-right: 20px"
          buttonText="{{'common.button.add' | translate}}"
          (click)="doOpenForm(modeConst.ADD)"
        ></hbt-button>
        <hbt-button
          style="margin-left: 20px"
          buttonSize="MEDIUM"
          buttonType="BORDER"
          (click)="export()">
          <img src="/assets/icon/staff-manager/export_excel.svg" alt="" />
        </hbt-button>
      </div>

      <div class="search__page-right">
        <hbt-input-text formControlName='keySearch'
                        [maxLength]='255'
                        placeholderText="{{'common.label.keySearch' | translate}}"></hbt-input-text>
        <hbt-button
          buttonIconType="AWESOME"
          [prefixIcon]="isShowAdvSearch ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"
          buttonSize="VERY_LARGE"
          [buttonTextColor]="_variable.$neutral_100"
          [buttonBorderColor]="_variable.$purple_800"
          [buttonBgColor]="_variable.$purple_800"
          (click)="isShowAdvSearch = !isShowAdvSearch"
        >
        </hbt-button>
      </div>
    </div>
    <div *ngIf="isShowAdvSearch" class="content__item content__item--border bg__content--default">
      <div class="form-search">
        <div nz-row [nzGutter]='[20,15]'>

          <div nz-col [nzXs]="24" [nzLg]="6">
            <hbt-select
              formControlName="warehouseId"
              [serviceName]="microService.ADMIN"
              [urlLoadData]="getUrlCategory(categoryCode.LMS_INTERN_TRUONG_DAO_TAO)"
              keyLabel="name"
              placeholder="{{'mat.matInventoryAdjustments.table.warehouseId' | translate}}"
              labelText="{{'mat.matInventoryAdjustments.table.warehouseId' | translate}}"
            >
            </hbt-select>
          </div>

          <div nz-col [nzXs]="24" [nzLg]="6">
            <hbt-select
              formControlName="statusId"
              [serviceName]="microService.ADMIN"
              [urlLoadData]="getUrlCategory(categoryCode.MAT_STATUS)"
              keyLabel="name"
              placeholder="{{'mat.matInventoryAdjustments.table.statusId' | translate}}"
              labelText="{{'mat.matInventoryAdjustments.table.statusId' | translate}}"
            >
            </hbt-select>
          </div>

          <div nz-col [nzXs]="24" [nzLg]="6">
            <hbt-input-text
              formControlName="inventoryAdjustmentNo"
              [type]="isSubmitted && form.controls['inventoryAdjustmentNo']?.errors ? 'error' : 'default'"
              [showError]="isSubmitted && form.controls['inventoryAdjustmentNo']?.errors != null"
              [errors]="form.controls['inventoryAdjustmentNo']?.errors"
              [errorDefs]="[{ errorName: 'maxlength', errorDescription: 'common.validate.maxLength' | translate: {'numberLength': 255}}]"
              placeholderText="{{'mat.matInventoryAdjustments.table.inventoryAdjustmentNo' | translate}}"
              labelText="{{'mat.matInventoryAdjustments.table.inventoryAdjustmentNo' | translate}}"
            >
            </hbt-input-text>
          </div>

          <div nz-col [nzXs]="24" [nzLg]="6">
            <hbt-select
              formControlName="type"
              [serviceName]="microService.ADMIN"
              [urlLoadData]="getUrlCategory(categoryCode.LMS_INTERN_TRUONG_DAO_TAO)"
              keyLabel="name"
              placeholder="{{'mat.matInventoryAdjustments.table.type' | translate}}"
              labelText="{{'mat.matInventoryAdjustments.table.type' | translate}}"
            >
            </hbt-select>
          </div>
          <!--Thời gian áp dụng từ ngày-->
          <div nz-col  [nzXs]="24" [nzLg]="6">
            <hbt-date-picker
              placeholderText="{{'mat.matInventoryAdjustments.table.fromDate' | translate}}"
              labelText="{{'mat.matInventoryAdjustments.table.fromDate' | translate}}"
              [type]="isSubmitted && (form.errors || form.controls['fromDate'].errors) ? 'error' : 'default'"
              [showError]="isSubmitted && (form.errors || form.controls['fromDate'].errors ) != null"
              [errors]="form.errors?.rangeDateError ? form.errors : form.controls['fromDate'].errors"
              [errorDefs]="[{ errorName: 'rangeDateError', errorDescription: 'mat.validate.rangeDate.pareDate' | translate:
        {'fromDate': 'mat.matInventoryAdjustments.table.fromDate' | translate, 'toDate': 'mat.matInventoryAdjustments.table.toDate' | translate}},
             { errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'mat.matInventoryAdjustments.table.fromDate' | translate }}
          ]"
              formControlName="fromDate"></hbt-date-picker>
          </div>

          <!--Thời gian áp dụng đến ngày-->
          <div nz-col  [nzXs]="24" [nzLg]="6">
            <hbt-date-picker
              placeholderText="{{'mat.matInventoryAdjustments.table.toDate' | translate}}"
              labelText="{{'mat.matInventoryAdjustments.table.toDate' | translate}}"
              formControlName="toDate"></hbt-date-picker>
          </div>
          <div nz-col [nzXs]="24" [nzLg]="24" style="text-align: center">
            <hbt-button
              class="staff__research__btn__search"
              buttonSize="LARGE"
              buttonAvailableStyle="SEARCH"
              buttonText="{{'common.button.search' | translate}}"
              (click)="search()"
            ></hbt-button>
          </div>
        </div>
      </div>
    </div>

    <div class="search__content--group" [ngClass]="{'search__content--group-hidden-header': isShowAdvSearch}">
      <hbt-table-wrap>
        <hbt-table
          (changePageNum)="search($event)"
          [tableConfig]="tableConfig"
          [dataList]="tableData"
        ></hbt-table>
      </hbt-table-wrap>
    </div>

  </div>
</form>

<ng-template #actionTmpl let-data="data">
  <btn-more-action [model]="[data]" [setting]="actionSchema">
  </btn-more-action>
</ng-template>


<ng-template #footerTmpl>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef.destroy()">
  </hbt-button>
  <hbt-button
    buttonAvailableStyle="SAVE"
    buttonText="{{ 'common.button.save' | translate }}"
    (click)="modalRef.getContentComponent().save()">
  </hbt-button>
</ng-template>
