<form nz-form [formGroup]="form">

  <div class="search__custom-common {{isShowAdvSearch ? 'add__mr__bt-10' : 'remove__mr__bt-40'}}">
    <div nz-row class="button__action-left">
    </div>

    <div class="search__page-right">
      <hbt-select formControlName="evaluationPeriodId"
                  [dataSelects]="evaluationPeriodList"
                  keyValue="evaluationPeriodId"
                  keyLabel="name"
                  placeholder="{{'kpi.kpiEvaluations.organizations.label.period' | translate}}"
      >
      </hbt-select>
      <hbt-input-text style="margin-left: 20px" formControlName='keySearch'
                      [maxLength]='255'
                      placeholderText="{{'kpi.indicators.table.name' | translate}}"></hbt-input-text>
    </div>
  </div>
</form>
<div class="org-evaluation-level1">
  <form nz-form [formGroup]="formTable" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <div nz-col [nzXs]='24' [nzLg]='24' class="input__group">
        <nz-table nzBordered [nzData]="[1]" nzSize="small" [nzShowPagination]="false"
                  [nzScroll]="{ x: '1000px', y: '60vh' }"
                  [nzWidthConfig]="['70px', '350px','200px','200px','200px', '100px', '100px', '100px', '100px', '100px', '150px', '300px', '300px', '200px', '50px']">
          <thead>
          <tr>
            <th rowSpan="2" class="text-center" nzLeft>STT</th>
            <th rowSpan="2" nzLeft
                class="text-center">{{ 'kpi.kpiEvaluations.organizations.table.kpi' | translate }}
              <span class='label__required'>*</span>
            </th>
            <th [colSpan]="listTarget.length > 0 ? listTarget.length : 1"
                [rowSpan]="listTarget.length > 0 ? 1 : 2"
                [ngStyle]="{width: listTarget.length * 200 + 'px'}"
                class="text-center">{{ 'kpi.kpiEvaluations.organizations.table.target' | translate }}
            </th>
            <th [colSpan]="listConversion.length > 0 ? listConversion.length : 1"
                [rowSpan]="listConversion.length > 0 ? 1 : 2"
                [ngStyle]="{width: listConversion.length * 100 + 'px'}"
                class="text-center">{{ 'kpi.kpiEvaluations.organizations.table.levelOfCompletion' | translate }}
            </th>
            <th rowSpan="2" [ngStyle]="{width: '150px'}"
                class="text-center">{{ 'kpi.kpiEvaluations.organizations.table.measureUnit' | translate }}
            </th>
            <th rowSpan="2" [ngStyle]="{width: '300px'}" class="text-center">
              {{ 'kpi.kpiEvaluations.organizations.table.leaderName' | translate }}
            </th>
            <th rowSpan="2" [ngStyle]="{width: '300px'}" class="text-center">
              {{ 'kpi.kpiEvaluations.organizations.table.collaboratorName' | translate }}
            </th>
            <th rowSpan="2" [ngStyle]="{width: '200px'}" class="text-center">
              {{ 'kpi.indicatorConversions.table.note' | translate }}
            </th>
            <th rowSpan="2" [ngStyle]="{width: '50px'}" nzRight></th>
          </tr>
          <tr>
            <th *ngFor="let column of listTarget" [ngStyle]="{width: '100px'}" class="text-center">{{ column.name }}
            </th>
            <th *ngFor="let column of listConversion" [ngStyle]="{width: '100px'}"
                class="text-center">{{ column.name }}
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container [formArrayName]="FORM_ARRAY_NAME">
            <ng-container *ngFor="let item of formArray.controls; let i = index" [formGroupName]="i">
              <tr [style]="item.get('isChildren').value ? 'font-weight: bold' : null">
                <td style="text-align: center; font-weight: bold" nzLeft>
                  {{ item.get('key').value }}
                </td>
                <td nzLeft>
                  <!--                  <hbt-select formControlName="indicatorConversionId" class="eca-input"-->
                  <!--                              [dataSelects]="listDataSelect"-->
                  <!--                              [disable]="isDetail"-->
                  <!--                              keyValue="indicatorConversionId"-->
                  <!--                              keyLabel="name"-->
                  <!--                              placeholder="{{'kpi.kpiEvaluations.organizations.table.kpi' | translate}}"-->
                  <!--                              [type]="isSubmitted && item.get('indicatorConversionId')?.errors ? 'error' : 'default'"-->
                  <!--                              [showError]="isSubmitted && item.get('indicatorConversionId')?.errors !== null"-->
                  <!--                              [errors]="item.get('indicatorConversionId')?.errors"-->
                  <!--                              [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.table.kpi' | translate }}]"-->
                  <!--                              (eventEmit)="getData($event, i)">-->
                  <!--                  </hbt-select>-->
                  <span [class]=" item.get('isChildren').value ? 'parent-text' : 'click-text'"
                        (click)="item.get('isChildren').value ? null : openIndicatorDetail(item.value)">{{ item.get('indicatorName').value ? item.get('indicatorName').value : '-' }}</span>
                  <ng-container *ngFor='let itemChild of statusCodeList'>
                    <div *ngIf="item.get('statusLevel1').value === itemChild.code"
                         style="width: 100%; margin-top: 15px">
                      <nz-tag [nzColor]="itemChild.bgColor"
                              [ngStyle]="{'color': itemChild.color, width: '120px', 'text-align': 'center'}">{{ item.get('statusNameLevel1').value }}
                      </nz-tag>
                    </div>
                  </ng-container>
                </td>
                <ng-container *ngIf="item.get('isChildren').value">
                  <td [colSpan]="listTarget.length + listConversion.length + 5"></td>
                </ng-container>
                <ng-container *ngIf="!item.get('isChildren').value">
                  <ng-container *ngIf="listTarget.length > 0">
                    <td *ngFor="let column of listTarget">
                      <hbt-select [dataSelects]="item.get('dataSelect').value"
                                  *ngIf="item.get('isSelected').value && !item.get('isChildren').value"
                                  dropdownClassName="data-select-pane-custom"
                                  [formControlName]="column.code"
                                  [placeholder]="column.name"
                                  [type]="isSubmitted && item.get(column.code)?.errors ? 'error' : 'default'"
                                  [showError]="isSubmitted && item.get(column.code)?.errors !== null"
                                  [errors]="item.get(column.code)?.errors"
                                  [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': column.name | translate }}]"
                      >
                      </hbt-select>
                      <hbt-input-text [formControlName]="column.code" class="eca-input" [maxLength]="255"
                                      *ngIf="!item.get('isSelected').value  && !item.get('isChildren').value"
                                      [placeholderText]="column.name"
                                      appExpression
                                      [decimals]="5"
                                      [num]="8"
                                      [defaultInput]="true"
                                      [type]="isSubmitted && item.get(column.code)?.errors ? 'error' : 'default'"
                                      [showError]="isSubmitted && item.get(column.code)?.errors !== null"
                                      [errors]="item.get(column.code)?.errors"
                                      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': column.name | translate }}]"
                      >
                      </hbt-input-text>
                    </td>
                    <!--                  <ng-container formArrayName="target">-->
                    <!--                    <ng-container *ngFor="let itemChild of item.get('target').controls; let i = index"-->
                    <!--                                  [formGroupName]="i">-->
                    <!--                      <td *ngFor="let column of listTarget">-->
                    <!--                        <hbt-select [dataSelects]="item.get('dataSelect').value"-->
                    <!--                                    *ngIf="item.get('isSelected').value && !isDetail"-->
                    <!--                                    dropdownClassName="data-select-pane-custom"-->
                    <!--                                    [formControlName]="+column.value"-->
                    <!--                                    [placeholder]="column.name"-->
                    <!--                                    [type]="isSubmitted && itemChild.get(column.value)?.errors ? 'error' : 'default'"-->
                    <!--                                    [showError]="isSubmitted && itemChild.get(column.value)?.errors !== null"-->
                    <!--                                    [errors]="itemChild.get(column.value)?.errors"-->
                    <!--                                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': column.name | translate }}]"-->
                    <!--                        >-->
                    <!--                        </hbt-select>-->
                    <!--                        <span-->
                    <!--                          *ngIf="item.get('isSelected').value && isDetail">{{ itemChild.get(column.value).value ? getValueSelect(item.get('dataSelect').value, itemChild.get(column.value).value) : '-' }}</span>-->
                    <!--                        <hbt-input-text [formControlName]="column.value" class="eca-input" [maxLength]="255"-->
                    <!--                                        *ngIf="!item.get('isSelected').value && !isDetail"-->
                    <!--                                        [placeholderText]="column.name"-->
                    <!--                                        appExpression-->
                    <!--                                        [num]="5"-->
                    <!--                                        [defaultInput]="true"-->
                    <!--                                        [type]="isSubmitted && itemChild.get(column.value)?.errors ? 'error' : 'default'"-->
                    <!--                                        [showError]="isSubmitted && itemChild.get(column.value)?.errors !== null"-->
                    <!--                                        [errors]="itemChild.get(column.value)?.errors"-->
                    <!--                                        [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': column.name | translate }}]"-->
                    <!--                        >-->
                    <!--                        </hbt-input-text>-->
                    <!--                        <span-->
                    <!--                          *ngIf="!item.get('isSelected').value && isDetail">{{ itemChild.get(column.value).value ? itemChild.get(column.value).value : '-' }}</span>-->
                    <!--                      </td>-->
                    <!--                    </ng-container>-->
                    <!--                  </ng-container>-->
                  </ng-container>
                  <!--                <ng-container *ngIf="listTarget.length == 0">-->
                  <!--                  <td>-->
                  <!--                    <hbt-input-text formControlName="target" class="eca-input" [maxLength]="255"-->
                  <!--                                    [disable]="isDetail"-->
                  <!--                                    placeholderText="{{'kpi.kpiEvaluations.organizations.table.target' | translate}}"-->
                  <!--                                    [type]="isSubmitted && item.get('target')?.errors ? 'error' : 'default'"-->
                  <!--                                    [showError]="isSubmitted && item.get('target')?.errors !== null"-->
                  <!--                                    [errors]="item.get('target')?.errors"-->
                  <!--                                    [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.table.target' | translate }}]">-->
                  <!--                    </hbt-input-text>-->
                  <!--                  </td>-->
                  <!--                </ng-container>-->
                  <ng-container *ngIf="listConversion.length > 0">
                    <td style="text-align: center" *ngFor="let column of listConversion">
                      <span>{{ item.get(column.value).value ? item.get(column.value).value : '-' }}</span>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="listConversion.length == 0">
                    <td style="text-align: center">
                      <span>-</span>
                    </td>
                  </ng-container>
                  <td style="text-align: center">
                    <span>{{ item.get('measureUnit').value ? item.get('measureUnit').value : '-' }}</span>
                  </td>
                  <!--                <td>-->
                  <!--                  <ng-container-->
                  <!--                    *ngFor="let data of ((item.get('relatedNames').value ? item.get('relatedNames').value : '-')?.split('\n') ?? [])">-->
                  <!--                    <div [innerHTML]="strReplaceSpace(data)"></div>-->
                  <!--                  </ng-container>-->
                  <!--                </td>-->
                  <td>
                    <span>{{ item.get('leaderName').value ? item.get('leaderName').value : '-' }}</span>
                  </td>
                  <td>
                    <span>{{ item.get('collaboratorName').value ? item.get('collaboratorName').value : '-' }}</span>
                  </td>
                  <td>
                    <span>{{ item.get('note').value ? item.get('note').value : '-' }}</span>
                  </td>
                  <td class="text-center" nzRight>
                    <btn-more-action [model]="[item, {key: i}]" [setting]="actionSchema">
                    </btn-more-action>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="formArray.length == 0">
            <tr>
              <td colspan="2" style="color: red; font-weight: bold" nzLeft>{{ 'kpi.label.noValue' | translate }}</td>
              <td [colSpan]="15"></td>
            </tr>
          </ng-container>
          </tbody>
        </nz-table>
      </div>
    </div>
  </form>
</div>

<ng-template #footerCancelTmpl>
  <hbt-button
    buttonAvailableStyle="CANCEL"
    buttonText="{{ 'common.button.cancel' | translate }}"
    (click)="modalRef.destroy()">
  </hbt-button>
</ng-template>

