<form nz-form [formGroup]="form">
  <div class="search__custom-common remove__mr__bt-40">
    <div nz-row class="button__action-left">
      <hbt-button
        class="staff__research__btn__search"
        buttonSize="LARGE"
        style="margin-right: 20px"
        buttonAvailableStyle="ADD"
        buttonText="{{'common.button.add' | translate}}"
        *ngIf="objFunction?.create"
        (click)="doOpenForm(modeConst.ADD)"
      ></hbt-button>
    </div>

    <div class="search__page-right">
      <hbt-input-text formControlName='keySearch'
                      [maxLength]='255'
                      placeholderText="{{'kpi.workPlanningTemplates.table.name' | translate}}"></hbt-input-text>
    </div>
  </div>

  <div class='search__content--group'>
    <hbt-table-wrap>
      <hbt-table
        (changePageNum)='search($event)'
        [tableConfig]='tableConfig' [dataList]="tableData"
      ></hbt-table>
    </hbt-table-wrap>
  </div>


  <ng-template #actionTmpl let-data="data">
    <btn-more-action [model]="[data]" [setting]="actionSchema">
    </btn-more-action>
  </ng-template>
</form>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'kpi.button.registerExport' | translate" nzWidth="60%"
          (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formExport">
      <div nz-row [nzGutter]='[20,15]'>
        <div nz-col [nzXs]="12" [nzLg]="12">
          <hbt-select formControlName="periodId"
                      [dataSelects]="listPeriod"
                      keyValue="evaluationPeriodId"
                      keyLabel="name"
                      placeholder="{{'kpi.kpiEvaluations.organizations.label.period' | translate}}"
                      labelText="{{'kpi.kpiEvaluations.organizations.label.period' | translate}} <span class='label__required'>*</span>"
                      [type]="isSubmitted && formExport.controls['periodId'].errors ? 'error' : 'default'"
                      [showError]="isSubmitted && formExport.controls['periodId'].errors != null"
                      [errors]="formExport.controls['periodId'].errors"
                      [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.label.period' | translate }}]"
          >
          </hbt-select>
        </div>
        <div nz-col [nzXs]="12" [nzLg]="12">
          <tree-data-picker
            [isMultiSelect]="true"
            [isExpand]="true"
            labelText="{{'kpi.kpiEvaluations.organizations.label.org' | translate}} <span class='label__required'>*</span>"
            placeholder="{{'kpi.kpiEvaluations.organizations.label.org' | translate}}"
            formControlName="organizationIds"
            [type]="isSubmitted && formExport.controls['organizationIds'].errors ? 'error' : 'default'"
            [showError]="isSubmitted && formExport.controls['organizationIds'].errors != null"
            [errors]="formExport.controls['organizationIds'].errors"
            [errorDefs]="[{ errorName: 'required', errorDescription: 'common.validate.required' | translate: {'param': 'kpi.kpiEvaluations.organizations.label.org' | translate }}]"
            [functionCode]="functionCode"
            [scope]="scope">
          </tree-data-picker>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-template [nzModalFooter]>
    <hbt-button
      buttonAvailableStyle="CANCEL"
      buttonText="{{ 'common.button.cancel' | translate }}"
      (click)="handleCancel()">
    </hbt-button>
    <hbt-button
      buttonAvailableStyle="SAVE"
      buttonText="{{ 'common.button.export' | translate }}"
      (click)="exportById(workPlanningTemplateId, true)">
    </hbt-button>
  </ng-template>
</nz-modal>

